<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.msp.FormCommWriteMapper">

    <insert id="insertAbuseImeiHist" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.AbuseImeiHistDto">
        INSERT INTO NMCP_ABUSE_IMEI_HIST@DL_MCP (
        HIST_SEQ
        , IMEI
        , ACCESS_IP
        , USER_ID
        , SYS_DT
        , SYS_RDATE
        ) VALUES (
        SQ_ABUSE_IMEI_HIST.NEXTVAL@DL_MCP
        , #{imei}
        , #{accessIp}
        , #{userId}
        , TO_CHAR(SYSDATE, 'YYYYMMDD')
        , SYSDATE
        )
    </insert>

    <insert id="mergeMcpRequest" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.McpRequestOsstRequest" >
        MERGE INTO MCP_REQUEST@DL_MCP
        USING DUAL
            ON (REQUEST_KEY = #{requestKey})
            WHEN MATCHED THEN
        UPDATE SET
            REQ_WANT_NUMBER = #{reqWantNumber}
            WHEN NOT MATCHED THEN
                INSERT    (
                    REQUEST_KEY,
                    MANAGER_CODE,
                    AGENT_CODE,
                    SERVICE_TYPE,
                    OPER_TYPE,
                    CSTMR_TYPE,
                    PSTATE,
                    ON_OFF_TYPE,
                    REQ_WANT_NUMBER
                )
                VALUES    (
                     #{requestKey}
                    ,#{managerCode}
                    ,#{agentCode}
                    ,#{serviceType}
                    ,#{operType}
                    ,#{cstmrType}
                    ,#{pstate}
                    ,#{onOffType}
                    ,#{reqWantNumber}
                )
    </insert>

    <insert id="insertMcpRequestOsst" parameterType="com.ktmmobile.msf.domains.form.common.dto.McpRequestOsstDto" >

    </insert>

    <update id="updateMcpRequest" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.McpRequestCondition" >
        UPDATE /*AppformMapper.updateMcpRequest   */
        MCP_REQUEST@DL_MCP
        SET
             RVISN_DTTM = SYSDATE
            ,SYS_RDATE = SYSDATE  -- 개통요청 시점으로 등록 시간 변경
            <!--<if test="reqModelName != null and reqModelName != ''">
                , REQ_MODEL_NAME = #{reqModelName}
            </if>-->
            <!--<if test="reqUsimSn != null and reqUsimSn != ''">
                , REQ_USIM_SN = #{reqUsimSn}
            </if>-->
            <!--<if test="reqPayType != null and reqPayType != ''">
                , REQ_PAY_TYPE = #{reqPayType}
            </if>-->
            <!--<if test="reqAddition != null and reqAddition != ''">
                , REQ_ADDITION = #{reqAddition}
            </if>-->
            <if test="reqWantNumber != null and reqWantNumber != ''">
                , PSTATE = '00' <!-- 희망번호 조회 시 해당 컬럼을 확인하여 임시로 강제 추가함. -->
                , REQ_WANT_NUMBER = #{reqWantNumber}
            </if>
            <!--<if test="reqWantNumber2 != null and reqWantNumber2 != ''">
                , REQ_WANT_NUMBER2 = #{reqWantNumber2}
            </if>-->
            <!--<if test="reqWantNumber3 != null and reqWantNumber3 != ''">
                , REQ_WANT_NUMBER3 = #{reqWantNumber3}
            </if>-->
            <!--<if test="insrProdCd != null and insrProdCd != ''">
                , INSR_PROD_CD = #{insrProdCd}
            </if>-->
            <!--<if test="clauseInsrProdFlag != null and clauseInsrProdFlag != ''">
                , CLAUSE_INSR_PROD_FLAG = #{clauseInsrProdFlag}
            </if>-->
            <!--<if test="insrAuthInfo != null and insrAuthInfo != ''">
                , INSR_AUTH_INFO = #{insrAuthInfo}
            </if>-->
            <!--<if test="rwdProdCd != null and rwdProdCd != ''">
                , RWD_PROD_CD = #{rwdProdCd}
            </if>-->
            <!--<if test="clauseRwdFlag != null and clauseRwdFlag != ''">
                , CLAUSE_RWD_FLAG = #{clauseRwdFlag}
            </if>-->
            <!--<if test="rwdAuthInfo != null and rwdAuthInfo != ''">
                , RWD_AUTH_INFO = #{rwdAuthInfo}
            </if>-->
            <!--<if test="scanId != null and scanId != ''">
                , SCAN_ID = #{scanId}
            </if>-->
            <!--<if test="combineSoloType != null and combineSoloType != ''">
                , COMBINE_SOLO_TYPE = #{combineSoloType}
            </if>-->
            <!--<if test="combineSoloFlag != null and combineSoloFlag != ''">
                , COMBINE_SOLO_FLAG = #{combineSoloFlag}
            </if>-->
        WHERE REQUEST_KEY = #{requestKey}
    </update>
</mapper>
