<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.msp.FormCommMapper">

  <resultMap id="AgentInfoResultMap" type="com.ktmmobile.msf.domains.form.form.newchange.dto.AgentInfoDto">
    <constructor>
      <arg column="KT_ORG_ID" javaType="java.lang.String" />
      <arg column="ORGN_ID" javaType="java.lang.String" />
      <arg column="ORGN_NM" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <select id="generateResNo" resultType="java.lang.String">
    SELECT MCP_MNG.SQ_RCP_RES_NO_01.NEXTVAL@DL_MCP FROM DUAL
  </select>

  <select id="generateRequestKey" resultType="java.lang.Long">
    SELECT MCP_MNG.SQ_RCP_REQUEST_KEY_01.NEXTVAL@DL_MCP FROM DUAL
  </select>

  <select id="getCustRequestSeq" resultType="java.lang.Long">
    SELECT TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD') || TRIM(TO_CHAR(MCP_MNG.NMCP_CUST_REQUEST_SEQ.NEXTVAL@DL_MCP, '00000'))) FROM DUAL
  </select>

  <select id="selectAgentInfo" parameterType="string" resultMap="AgentInfoResultMap">
    SELECT
        KT_ORG_ID /* KT조직ID */
        , ORGN_ID /* 조직 ID */
        , ORGN_NM /* 조직명 */
    FROM ORG_ORGN_INFO_MST
    WHERE ORGN_ID IN (
        SELECT B.AGNCY_ORGN_ID
        FROM ORG_ORGN_INFO_MST A, ORG_AGNCY_SHOP_REL B
        WHERE A.ORGN_ID = B.SHOP_ORGN_ID
        AND B.REL_END_DT = '99991231235959' AND B.REL_STAT_CD = 'CFM'
        AND B.SHOP_ORGN_ID = #{cntpntCd} -- 파라미터 : 로그인 사용자 조직 ( ex. V000001083 )
    )
        AND ORGN_STAT_CD = '4' -- /* CMN0005 - 1 : 등록, 2 : 폐기, 3 : 청산, 4 : 가동, 5 : 정리 */
        AND TYPE_CD = '20' -- /* CMN0003 - 10 : 본사조직, 20 : 대리점, 30 : 판매점 */
        AND ORGN_LVL_CD = '10' -- /* CMN0006 - 1 : 본사, 2 : 사업부, 3 : 지원부, 4 : 파트, 5 : 영업, 10 : 대리점, 20 : 판매점 */
  </select>

</mapper>