<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.msp.McpRequestAdditionWriteMapper">
  <insert id="insertMcpRequestAddition" parameterType="java.util.List">
    INSERT INTO MCP_REQUEST_ADDITION@DL_MCP
    (
    REQUEST_KEY
    , ADDITION_KEY
    , ADDITION_NAME
    , RANTAL
    , PROC_YN
    )
    <foreach collection="mcpRequestAdditionVoList" item="item" index="additionIdx" separator="UNION ALL">
      SELECT
      #{item.requestKey}
      , #{item.additionKey}
      , #{item.additionName}
      , #{item.rantal}
      , #{item.procYn}
      FROM DUAL
    </foreach>
  </insert>

</mapper>