<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">


    <select id="selectHpImgPath" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.NmcpProdImgDtlDto">
        SELECT
            PROD_ID
            , HNDSET_MODEL_ID
              , NVL((SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL WHERE PROD_ID = A.PROD_ID AND ROWNUM = 1),'') IMG_PATH
        FROM
            NMCP_SNTY_PROD_BAS A
        WHERE
            HNDSET_MODEL_ID = #{modelId}
            AND ROWNUM = 1
    </select>

    <select id="selectCodeList" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.CodeVO">
        SELECT B.DTL_CD, B.DTL_CD_NM, B.EXPNSN_STR_VAL1, B.EXPNSN_STR_VAL2, B.EXPNSN_STR_VAL3
            FROM NMCP_CD_GROUP_BAS A
               , NMCP_CD_DTL B
           WHERE A.CD_GROUP_ID = #{key}
             AND A.CD_GROUP_ID = B.CD_GROUP_ID
    </select>

    <select id="selectUser" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
     SELECT A.USERID AS USERID,
            A.PASSWORD AS PASSWORD,
            A.NAME AS NAME,
            A.AUTH_CODE AS AUTHCODE,
            A.PIN AS PIN,
            REGEXP_SUBSTR (A.EMAIL, '[^@]+', 1, 1 ) AS EMAIL1,
            REGEXP_SUBSTR (A.EMAIL, '[^@]+', 1, 2 ) AS EMAIL2,
            A.POST AS POST1,
            A.ADDRESS AS ADDRESS1,
            A.ADDRESS_DTL AS ADDRESS2,
            A.MOBILE_NO AS MOBILENO,
            A.CONTACT_NO AS CONTRACTNO,
            A.BIRTHDAY AS BIRTHDAY,
            A.LOGIN_COUNT AS LOGINCOUNT,
            A.USER_DIVISION AS USERDIVISION,
            A.GENDER AS GENDER,
            A.STATUS AS STATUS,
            A.SMS_RCV_YN,
            A.EMAIL_RCV_YN,
            B.WITHD_CODE AS SECEDEREASON,
            B.WITHD_DESC AS SECEDEREASONDESC,
            A.PERSONAL_INFO_COLLECT_AGREE,
            A.OTHERS_TRNS_AGREE,
            A.CLAUSE_PRI_AD_FLAG,
              (SELECT C.CODE_NAME
                   FROM MCP_CODE C
                WHERE C.CODE = B.WITHD_CODE
                  AND C.CODE_SYS = 'RFS'
               ) AS RECDESC
             FROM MCP_USER A
           , MCP_REC_USER B
       WHERE A.USERID = B.USERID(+)
         AND  UPPER(A.USERID) = UPPER(#{value})
    </select>

    <select id="pwCheck" parameterType="java.util.HashMap" resultType="int">
        SELECT COUNT(*)
               FROM MCP_USER A
             , MCP_REC_USER B
         WHERE A.USERID = B.USERID(+)
           AND UPPER(A.USERID) = UPPER(#{id})
           AND UPPER(A.PASSWORD) = UPPER(#{pw})
    </select>

    <update id="pwUpdate" parameterType="java.util.HashMap">
        UPDATE MCP_USER SET PASSWORD = #{pwChange}, PWD_CHG_DT = SYSDATE
         WHERE UPPER(USERID) = UPPER(#{id})
    </update>

    <update id="userUpdate">
     UPDATE MCP_USER SET
            <if test="mobileNo != '' and mobileNo != null">
                MOBILE_NO = #{mobileNo},
            </if>
            <if test="email != '' and email != null">
                EMAIL = #{email},
            </if>
            <if test="post != '' and post != null">
                POST = #{post},
            </if>
            <if test="address1 != '' and address1 != null">
                ADDRESS = #{address1},
            </if>
            <if test="address2 != '' and address2 != null">
                ADDRESS_DTL = #{address2},
            </if>
            <if test="password != '' and password != null">
                PASSWORD = #{password},
                PWD_CHG_DT = SYSDATE,
            </if>
            <if test="smsRcvYn != '' and smsRcvYn != null">
                SMS_RCV_YN = #{smsRcvYn},
            </if>
            <if test="emailRcvYn != '' and smsRcvYn != null">
                EMAIL_RCV_YN = #{emailRcvYn},
            </if>
            <if test="personalInfoCollectAgree != '' and personalInfoCollectAgree != null">
                PERSONAL_INFO_COLLECT_AGREE = #{personalInfoCollectAgree},
            </if>
            <if test="othersTrnsAgree != '' and othersTrnsAgree != null">
                OTHERS_TRNS_AGREE = #{othersTrnsAgree},
            </if>
            <if test="clausePriAdFlag != '' and clausePriAdFlag != null">
                CLAUSE_PRI_AD_FLAG = #{clausePriAdFlag},
            </if>
            <if test="userDivision != '' and userDivision != null">
                USER_DIVISION = #{userDivision},
            </if>
            <if test="customerId != '' and customerId != null">
                CUSTOMER_ID = #{customerId},
            </if>
            <if test="authTelCode != '' and authTelCode != null">
                AUTH_TEL_CODE = #{authTelCode},
            </if>
            <if test="sysCdate != '' and sysCdate != null">
                SYS_CDATE = #{sysCdate},
            </if>

            SYS_UDATE = SYSDATE
      WHERE UPPER(USERID) = UPPER(#{userid})
    </update>

    <update id="userRegularUpdate" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
     UPDATE MCP_USER SET
        MOBILE_NO = #{mobileNo},
        <if test="smsRcvYn != '' and smsRcvYn != null">
            SMS_RCV_YN = #{smsRcvYn},
        </if>
        <if test="emailRcvYn != '' and smsRcvYn != null">
            EMAIL_RCV_YN = #{emailRcvYn},
        </if>
        <if test="customerId != '' and customerId != null">
            CUSTOMER_ID = #{customerId},
        </if>
        USER_DIVISION = '01',
        SYS_UDATE = SYSDATE
      WHERE UPPER(USERID) = UPPER(#{userid})
    </update>

    <select id="userRegularCheck"  resultType="java.lang.String">
    SELECT USER_DIVISION
      FROM MCP_USER
     WHERE UPPER(USERID) = UPPER(#{userid})
      AND MOBILE_NO = #{mobileNo}
    </select>


    <insert id="insertRegularUpdate" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        INSERT INTO MCP_USER_CNTR_MNG
        (USERID, CNTR_MOBILE_NO, SYS_RDATE, SVC_CNTR_NO
        <if test="repNo != null and repNo != ''">
        ,REP_NO
        </if>
        <if test="customerId != null and customerId != ''">
        ,CUSTOMER_ID
        </if>
        )
        VALUES
        (#{userid},#{mobileNo},sysdate,#{contractNo}
        <if test="repNo != null and repNo != ''">
        ,#{repNo}
        </if>
        <if test="customerId != null and customerId != ''">
        ,#{customerId}
        </if>
        )
    </insert>

    <update id="userChange">
        UPDATE MCP_USER SET MOBILE_NO = #{phone}
     WHERE UPPER(USERID) = UPPER(#{userId})
    </update>

    <update id="userRepChange">
        UPDATE MCP_USER_CNTR_MNG 
        SET REP_NO = DECODE(#{phone},CNTR_MOBILE_NO,'R','')
            , SYS_UDATE = SYSDATE
         WHERE UPPER(USERID) = UPPER(#{userId})
          AND CUSTOMER_ID = #{customerId}
    </update>


    <update id="updateUserCntrMng" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpUserCntrMngDto" >
        UPDATE MCP_USER_CNTR_MNG
        SET  SYS_UDATE = SYSDATE
            <if test="subscriberNo != null and subscriberNo != ''">
                ,CNTR_MOBILE_NO = #{subscriberNo}
            </if>
            <if test="contractNum != null and contractNum != ''">
                ,SVC_CNTR_NO = #{contractNum}
            </if>
        WHERE 1=1
        <if test="customerId != null and customerId != ''">
            AND CUSTOMER_ID = #{customerId}
        </if>
        <if test="userid != null and userid != ''">
            AND USERID = #{userid}
        </if>
        <if test="svcCntrNo != null and svcCntrNo != ''">
            AND SVC_CNTR_NO = #{svcCntrNo}
        </if>
        <if test="cntrMobileNo != null and cntrMobileNo != ''">
            AND CNTR_MOBILE_NO = #{cntrMobileNo}
        </if>
    </update>

    <select id="retvRstrtn"  resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRetvRststnDto">
         SELECT SVC_CNTR_NO
              , CONN_DATE
              , TMSCNT
              , CODE
              , AMD_DT
             FROM NMCP_RETV_RSTRTN
            WHERE CODE = #{cd}
              AND SVC_CNTR_NO = #{ncn}
    </select>

    <insert id="retvRstrtnInsert">
             INSERT INTO NMCP_RETV_RSTRTN
             (SVC_CNTR_NO, CONN_DATE, CODE)
             VALUES
             (#{ncn}, TO_CHAR(SYSDATE,'YYYYMMDD'), #{cd})
    </insert>

    <update id="retvRstrtnUpSysDate">
             UPDATE NMCP_RETV_RSTRTN SET CONN_DATE = TO_CHAR(SYSDATE,'YYYYMMDD'), AMD_DT = SYSDATE, TMSCNT = 50
            WHERE CODE = #{cd}
              AND SVC_CNTR_NO = #{ncn}
    </update>

    <update id="retvRstrtnUpCnt" >
             UPDATE NMCP_RETV_RSTRTN SET TMSCNT = TMSCNT-1
            WHERE CODE = #{cd}
              AND SVC_CNTR_NO = #{ncn}
    </update>



    <update id="insertRec" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        INSERT INTO MCP_REC_USER (
            USERID,
            PASSWORD,
            NAME,
            AUTH_CODE,
            PIN,
            EMAIL,
            POST,
            ADDRESS,
            ADDRESS_DTL,
            MOBILE_NO,
            CONTACT_NO,
            USER_DIVISION,
            BIRTHDAY,
            GENDER,
            LOGIN_COUNT,
            REVOCATION_DATE,
            STATUS,
            WITHD_CODE,
            WITHD_DESC
        )
        SELECT USERID, PASSWORD, NAME, AUTH_CODE, PIN, EMAIL, POST, ADDRESS, ADDRESS_DTL, MOBILE_NO
             , CONTACT_NO, USER_DIVISION, BIRTHDAY, GENDER, LOGIN_COUNT, SYSDATE, '3'
             , #{secedeReason}, #{secedeReasonDesc}
        FROM MCP_USER
        WHERE UPPER(USERID) = UPPER(#{userid})
    </update>

    <update id="updateRec">
        UPDATE MCP_USER SET
             PASSWORD = ''
            ,NAME = '탈퇴회원'
            ,AUTH_CODE = 'USER_ROLE'
            ,CUST_NUM = ''
            ,AUTH_KEY = ''
            ,PIN = ''
            ,USER_DIVISION = ''
            ,EMAIL = ''
            ,EMAIL_CODE = ''
            ,POST = ''
            ,ADDRESS = ''
            ,ADDRESS_DTL = ''
            ,ADDRESS_BJD = ''
            ,MOBILE_NO = ''
            ,CONTACT_NO  = ''
            ,BIRTHDAY = ''
            ,GENDER = ''
            ,LOGIN_COUNT = '0'
            ,STATUS = '3'
            ,REVOCATION_DATE = SYSDATE
        WHERE UPPER(USERID) = UPPER(#{userid})
    </update>

    <delete id="deleteUserCntr">
        DELETE FROM MCP_USER_CNTR_MNG WHERE USERID= #{userid}
    </delete>

    <select id="selectUserByUseridAndPassword" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
         SELECT USERID AS userid
            , NAME AS name
            , AUTH_CODE AS authCode
               , PIN AS pin
               , EMAIL AS email
               , POST AS post
               , ADDRESS AS address1
               , ADDRESS_DTL AS address2
               , MOBILE_NO AS mobileNo
               , CONTACT_NO AS contractNo
               , BIRTHDAY AS birthday
               , GENDER AS gender
               , STATUS AS status
               , USER_DIVISION AS userDivision
            FROM MCP_USER
           WHERE UPPER(USERID) = UPPER(#{id})
          AND PASSWORD = #{pw}
    </select>

    <select id="checkDatHst" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO" resultType="java.lang.String">
        SELECT
            NM AS NAME
        FROM
            NMCP_USER_HST
        WHERE
            USER_ID = #{userid}
            AND USER_STTUS != '4'
    </select>

    <delete id="deleteUserHst" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        DELETE FROM NMCP_USER_HST WHERE USER_ID = #{userid}
    </delete>

    <delete id="deleteDormancyUserHst" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        DELETE FROM NMCP_USER_HST WHERE USER_ID = #{userid} AND USER_STTUS = '4' AND HST_CHG_DT IS NULL
    </delete>

    <update id="insertUserHst" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        INSERT INTO NMCP_USER_HST(
                    HST_CRET_DT,
                    USER_ID,
                    LOGIN_PWD,
                    NM,
                    AUT_CODE,
                    PIN,
                    EMAIL,
                    ZIPCD,
                    ADDRESS,
                    ADDRESS_DTL,
                    MOBILE_NO,
                    CTN,
                    BIRTHDAY,
                    GENDER,
                    CRET_DT,
                    LOGIN_DT,
                    LOGIN_CNT,
                    USER_STTUS,
                    CUST_NO,
                    AUTH_KEY,
                    USER_DIV,
                    EMAIL_CODE,
                    REVOCATION_DATE,
                    PWD_CHG_LAST_DT,
                    EMAIL_RCV_YN,
                    SMS_RCV_YN,
                    LOGIN_FAIL_CNT,
                    PWD_CHG_DELAY_DT,
                    CLAUSE_PERSONAL_AD_YN,
                    CUSTOMER_ID
                )
                SELECT
                    SYSDATE,
                    USERID,
                    PASSWORD,
                    NAME,
                    AUTH_CODE,
                    PIN,
                    EMAIL,
                    POST,
                    ADDRESS,
                    ADDRESS_DTL,
                    MOBILE_NO,
                    CONTACT_NO,
                    BIRTHDAY,
                    GENDER,
                    SYSDATE,
                    SYS_LDATE,
                    LOGIN_COUNT,
                    STATUS,
                    CUST_NUM,
                    AUTH_KEY,
                    USER_DIVISION,
                    EMAIL_CODE,
                    REVOCATION_DATE,
                    PWD_CHG_DT,
                    EMAIL_RCV_YN,
                    SMS_RCV_YN,
                    LOGIN_FAIL_COUNT,
                    PWD_CHG_DELAY_DT,
                    CLAUSE_PRI_AD_FLAG,
                    CUSTOMER_ID
                FROM
                    MCP_USER
                WHERE
                    USERID = #{userid}

    </update>

    <update id="updateUserHst" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        UPDATE NMCP_USER_HST
            SET(
                HST_CHG_DT,
                LOGIN_PWD,
                EMAIL,
                ZIPCD,
                ADDRESS,
                ADDRESS_DTL,
                AMD_DT,
                LOGIN_DT,
                LOGIN_CNT,
                USER_STTUS,
                USER_DIV,
                PWD_CHG_LAST_DT,
                EMAIL_RCV_YN,
                SMS_RCV_YN,
                LOGIN_FAIL_CNT,
                PWD_CHG_DELAY_DT,
                CLAUSE_PERSONAL_AD_YN
            ) = (
                SELECT
                    SYSDATE, PASSWORD, EMAIL, POST, ADDRESS, ADDRESS_DTL,
                    SYSDATE, SYS_LDATE, LOGIN_COUNT, STATUS, USER_DIVISION,
                    PWD_CHG_DT, EMAIL_RCV_YN, SMS_RCV_YN, LOGIN_FAIL_CNT,
                    PWD_CHG_DELAY_DT, CLAUSE_PRI_AD_FLAG
                FROM
                    MCP_USER
                WHERE
                    USERID = #{userid}
            )
            WHERE
                USER_ID = #{userid}
                AND HST_CRET_DT = (
                    SELECT HST_CRET_DT
                    FROM (
                    SELECT HST_CRET_DT
                    FROM NMCP_USER_HST
                    WHERE USER_ID = #{userid} AND USER_STTUS='1'
                    ORDER BY HST_CRET_DT DESC)
                    WHERE ROWNUM = 1
                )
    </update>


    <select id="selectJejuid" parameterType="java.lang.String" resultType="java.lang.String">
         SELECT  ''  POINT_ID  FROM DUAL
    </select>


    <select id="selectCertHist" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            SEQ_DATE||LPAD(SEQ_NUM, 5, '0') AS seqSr
            , SEQ_DATE AS seqDate
            , SEQ_NUM AS seqNum
            , CTN
            , NAME
            , ACT_DATE AS actDate
            , BIRTHDAY
            , MODEL_NM AS modelNm
            , MODEL_SR AS modelSr
            , CRET_DT AS cretDt
            , USER_ID AS userId
        FROM
            NMCP_CERT_HIST A WHERE USER_ID=#{userId}
        AND SEQ_DATE = (SELECT MAX(SEQ_DATE) FROM NMCP_CERT_HIST WHERE USER_ID = #{userId})
        AND SEQ_NUM = (SELECT MAX(SEQ_NUM) FROM NMCP_CERT_HIST WHERE USER_ID = #{userId} AND SEQ_DATE = A.SEQ_DATE)
    </select>

    <update id="insertCertHist" parameterType="java.util.Map">
        INSERT INTO NMCP_CERT_HIST (
            SEQ_DATE
            , SEQ_NUM
            , CTN
            , NAME
            , ACT_DATE
            , BIRTHDAY
            , MODEL_NM
            , MODEL_SR
            , CRET_DT
            , USER_ID
            , OUTPUT_DIV_CD
        ) VALUES (
            TO_CHAR(SYSDATE, 'YYYYMMDD')
            , (SELECT NVL(MAX(SEQ_NUM), 0)+1 FROM NMCP_CERT_HIST WHERE SEQ_DATE = TO_CHAR(SYSDATE, 'YYYYMMDD'))
            , #{ctn}
            , #{name}
            , #{actDate}
            , #{birthday}
            , #{modelNm}
            , #{modelSr}
            , SYSDATE
            , #{userId}
            , #{outputDivCd}
        )
    </update>

    <select id="selectModelSaleInfo" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT TO_NUMBER(NVL(B.MODEL_MONTHLY, '0')) MODEL_MONTHLY
                , NVL(B.MODEL_INSTALLMENT, 0) MODEL_INSTALLMENT
                , NVL(B.REAL_MDL_INSTAMT, 0) REAL_MDL_INSTAMT
                , NVL(B.MODEL_DISCOUNT2, 0) MODEL_DISCOUNT2
                , NVL(B.MAX_DISCOUNT3, 0) MAX_DISCOUNT3
          FROM MCP_REQUEST A
              , MCP_REQUEST_SALEINFO B
          WHERE A.CONTRACT_NUM = #{ncn}
              AND A.REQUEST_KEY = B.REQUEST_KEY
    </select>



    <!-- userId 기준 마케팅 수신 동의 여부 히스토리 저장 프로시져 호출 -->
    <select id="callMcpMrktAgr" statementType="CALLABLE" parameterType="java.util.HashMap">
        {CALL P_MCP_MRKT_AGR(#{userId},#{emailAgrYn},#{smsAgrYn})}
    </select>


       <!-- ID기준 마케팅 수신/거부 날짜 조회 -->
       <select id="selectMcpMrkthist" parameterType="java.lang.String" resultType="java.util.Map">
           SELECT
               GUBUN,
               TO_CHAR(MAX(TO_DATE(STRT_DTTM, 'YYYYMMDDHH24MISS')), 'YYYY.MM.DD') AS REGST_DTTM,
               TO_CHAR(MAX(RVISN_DTTM), 'YYYY.MM.DD') AS RVISN_DTTM
           FROM
               MCP_MRKT_HIST
        WHERE
            USERID = #{userId}
        GROUP BY GUBUN
       </select>

    <!-- 요금제 변경 처리상태 저장  -->
       <insert id="inertNmcpRateChg" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto">
           <selectKey keyProperty="chgSeq" resultType="Integer" order="BEFORE">
               SELECT NMCP_RATE_CHG_SEQ.NEXTVAL FROM DUAL
           </selectKey>
           INSERT INTO NMCP_RATE_CHG (
               CHG_SEQ,
               CONTRACT_NUM,
               CSTMR_NAME,
               RES_NO,
               RATE_CD,
            FILE_PATH,
            EXT,
            FILE_NM,
            CREATE_YN,
            REGST_ID,
            REGST_DTTM
           ) VALUES (
               #{chgSeq, jdbcType=NUMERIC},
               #{contractNum},
               #{cstmrName},
               #{resNo},
               #{rateCd},
            #{filePath},
            #{ext},
            #{fileNm},
            #{createYn},
            #{regstId},
            SYSDATE
        )
       </insert>

       <!-- 금융제휴상품요금제 변경 이력 업데이트 -->
       <update id="updateNmcpRateChg" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto">
        UPDATE /*Mypage.selectNmcpRateChg  */
            NMCP_RATE_CHG
        SET
            FILE_PATH = #{filePath},
            EXT = #{ext},
            FILE_NM = #{fileNm},
            CREATE_YN = #{createYn},
            RVISN_ID = #{rvisnId},
            RVISN_DTTM = SYSDATE,
            ERROR_DESC = #{errorDesc}
        WHERE
            CHG_SEQ = #{chgSeq}
        AND
            CONTRACT_NUM = #{contractNum}
    </update>

    <!-- 금융제휴상품요금제 변경 이력 조회 -->
    <select id="selectNmcpRateChg" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto">
        SELECT /*Mypage.selectNmcpRateChg  */
            CHG_SEQ,
               CONTRACT_NUM,
               CSTMR_NAME,
               RES_NO,
               RATE_CD,
            FILE_PATH,
            EXT,
            FILE_NM,
            CREATE_YN,
            TO_CHAR(REGST_DTTM, 'YYYYMMDD') AS REGST_DTTM
        FROM
            NMCP_RATE_CHG
        WHERE
            CHG_SEQ = #{chgSeq}
        AND
            CONTRACT_NUM = #{contractNum}
    </select>

    <!-- 금융제휴상품요금제 변경 서식지 이미지 합본 프로시져 -->
    <select id="callMcpRateChgImg" statementType="CALLABLE" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto" resultType="java.util.Map">
        {CALL P_MCP_RATE_CHG(#{chgSeq}, #{contractNum})}
    </select>

    <!-- 금융제휴상품요금제 변경 이력 목록 조회 -->
    <select id="selectNmcpRateChgList" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpRateChgDto">
        SELECT
            CHG_SEQ,
               CONTRACT_NUM,
               CSTMR_NAME,
               RES_NO,
               RATE_CD,
            FILE_PATH,
            EXT,
            FILE_NM,
            CREATE_YN,
            TO_CHAR(REGST_DTTM, 'YYYYMMDD') AS REGST_DTTM
        FROM
            NMCP_RATE_CHG
            <where>
                 <if test="createYn != '' and createYn != null">
                     AND CREATE_YN  = #{createYn}
                 </if>
            </where>
    </select>

    <!-- 사용량 조회 2시간 20회 제한 카운트 -->
    <select id="selectCallSvcLimitCount" parameterType="java.util.HashMap" resultType="int">
        SELECT
            COUNT(*)
        FROM
            MCP_SELFCARE_STATISTIC
        WHERE
            CONTRACT_NUM = #{contractNum}
            AND EVENT_CD = #{eventCd}
            AND SYS_RDATE > SYSDATE + INTERVAL '-2' HOUR
    </select>

    <!-- 사용량조회 서비스 로그 저장 -->
    <insert id="insertMcpSelfcareStatistic" parameterType="java.util.HashMap">
        INSERT INTO MCP_SELFCARE_STATISTIC (
            CONTRACT_NUM
            ,EVENT_CD
            ,SYS_RDATE
        ) VALUES (
            #{contractNum}
            ,#{eventCd}
            ,SYSDATE
        )
    </insert>


    <insert id="insertMcpRequestArm" parameterType="com.ktmmobile.msf.domains.form.common.dto.db.McpRequestAgrmDto" >
        INSERT INTO /*Mypage.insertMcpRequestArm 재약정 정보 저장  */
         MCP_REQUEST_AGRM (
              CONTRACT_NUM             --계약번호
            , SEQ                      --일련번호
            , GLOBAL_NO                --mplatform 연동 globalNo
            , DLVRY_NAME               --배송정보_이름
            , DLVRY_MOBILE_FN          --배송정보_휴대폰번호_앞자리
            , DLVRY_MOBILE_MN          --배송정보_휴대폰번호_중간자리
            , DLVRY_MOBILE_RN          --배송정보_휴대폰번호_뒷자리
            , DLVRY_POST               --배송정보_우편번호
            , DLVRY_ADDR               --배송정보_주소
            , DLVRY_ADDR_DTL           --배송정보_상세주소
            , PRESENT_CODE             --사은품 상품 코드_공통코드_presentCode
            , REGST_DTTM               --등록일
            , RVISN_DTTM               --수정일
            , ORDER_TYPE				-- 진입방법
        ) VALUES (
              #{contractNum}
            , NVL((SELECT MAX(SEQ+1) FROM MCP_REQUEST_AGRM WHERE CONTRACT_NUM = #{contractNum}), 1 )
            , #{globalNo}
            , #{dlvryName}
            , #{dlvryMobileFn}
            , #{dlvryMobileMn}
            , #{dlvryMobileRn}
            , #{dlvryPost}
            , #{dlvryAddr}
            , #{dlvryAddrDtl}
            , #{presentCode}
            , SYSDATE
            , SYSDATE
            , #{orderType}
        )
    </insert>

    <select id="getCommendId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            COMMEND_ID
        FROM
            MCP_COMMEND_ID_MNG
        WHERE CONTRACT_NUM =#{contractNum}
    </select>


    <select id="selectSuspenChgTmp" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        SELECT *
        FROM (
            SELECT
                SVC_CNTR_NO,
                CUST_ID,
                CNTR_MOBILE_NO,
                EVENT_CD,
                EX_COLUM1,
                EX_COLUM2,
                EX_COLUM3
            FROM SUSPENCHGTMP
            WHERE EVENT_CD = #{eventCd}
              AND ERRCODE IS NULL
            ORDER BY EX_COLUM1
        )
        WHERE ROWNUM <![CDATA[<=]]> 300
    </select>

    <update id="suspenChgUpdate" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        UPDATE SUSPENCHGTMP SET ERRCODE = #{errcode}, GN_NO = #{gnNo}, SYS_RDATE =SYSDATE, MSG=#{msg}
         WHERE 1=1
         AND EVENT_CD = #{eventCd}
         AND EX_COLUM1 = #{exColum1}
         AND SVC_CNTR_NO = #{svcCntrNo}
    </update>



    <select id="selectSuspenChgTmpList" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        SELECT
            SVC_CNTR_NO
            , CUST_ID
            , CNTR_MOBILE_NO
            , GN_NO
            , ERRCODE
            , SYS_RDATE
            , MSG
        FROM SUSPENCHGTMP

    </select>



    <select id="selectUserList" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            SNS_CD
        FROM
            NMCP_SNS_LOGIN_TXN
        WHERE
            USER_ID = #{value}
            AND USE_YN = 'Y'
    </select>

    <update id="deleteUserSns" parameterType="com.ktmmobile.msf.domains.form.common.legacy.join.dto.JoinDto">
        UPDATE NMCP_SNS_LOGIN_TXN
        SET USE_YN = 'N'
        WHERE USER_ID = #{userId} AND SNS_CD = #{snsCd}
    </update>

    <update id="insertServiceAlterTrace" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpServiceAlterTraceDto">
        INSERT INTO /*Mypage.insertServiceAlterTrace 서비스 변경 이력 저장  */
           MCP_SERVICE_ALTER_TRACE (
              NCN                      --New 계약번호
            , CONTRACT_NUM             --계약번호
            , SEQ                      --일련번호
            , GLOBAL_NO
            , SUBSCRIBER_NO            --전화번호 CTN
            , EVENT_CODE               --이벤트 코드
            , PRCS_MDL_IND             --처리 모듈 구분
            , TRTM_RSLT_SMST           --호출 내용
            , PRCS_SBST                --처리 결과 내용
            , RSLT_CD                  --처리결과코드
            , A_SOC_CODE               --이전 코드 값
            , T_SOC_CODE               --이후 코드 값
            , A_SOC_AMNT               --변경전 요금제 할인 월정액
            , T_SOC_AMNT               --변경후 요금제 할인 월정액
            , PARAMETER                --인자값 설정값
            , ACCESS_IP                --접속 IP
            , ACCESS_URL               --REFERER URL
            , USER_ID                  --아이디
            , SYS_DT                   --등록일
            , SYS_RDATE                --등록일시
        ) VALUES (
              #{ncn}
            , #{contractNum}
            , (SELECT NVL(MAX(SEQ), 0)+1 FROM MCP_SERVICE_ALTER_TRACE WHERE NCN=#{ncn} AND SYS_DT = TO_CHAR(SYSDATE, 'YYYYMMDD'))
            , #{globalNo}
            , #{subscriberNo}
            , #{eventCode}
            , #{prcsMdlInd}
            , #{trtmRsltSmst}
            , #{prcsSbst}
            , #{rsltCd}
            , #{aSocCode}
            , #{tSocCode}
            , #{aSocAmnt}
            , #{tSocAmnt}
            , #{parameter}
            , #{accessIp}
            , #{accessUrl}
            , #{userId}
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            , SYSDATE
        )
    </update>

    <select id="checkAllreadPlanchgCount" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpServiceAlterTraceDto"  resultType="java.lang.Integer">
        SELECT /*MypageMapper.checkAllreadPlanchgCount 최근 60분 내 요금제 변경 이력 확인 */
            COUNT(1)
        FROM MCP_SERVICE_ALTER_TRACE
        WHERE 1=1
          AND NCN = #{ncn}
          AND T_SOC_CODE = #{tSocCode}
          AND SYS_RDATE > (SYSDATE-1/24)                 -- 1시간
          AND EVENT_CODE = 'FIN'                         -- 최종
          AND TRTM_RSLT_SMST = 'SUCCESS'                 -- 완료 성공
          AND SYS_DT =TO_CHAR(SYSDATE,'YYYYMMDD')        -- INDEX 위한
    </select>

    <insert id="insertMcpBillwayResend" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.BillWayChgDto">
        INSERT INTO NMCP_BILLCHRG_RESEND
            (
            SEQ
            , GLOBAL_NO
            , CONTRACT_NUM
            , MOBILE_NO
            , USER_ID
            , USER_NM
            , SUB_LINK_NM
            , GENDER
            , AGE
            , LST_COM_ACTV_DATE
            , OPEN_AGNT_CD
            , ON_OFF_TYPE
            , ORG_ID
            , BILL_TYPE_CD
            , BILL_AD_INFO
            , SUCCESS_YN
            , ERR_MSG
            , RDATE
            , RDT
            )
        VALUES
            (
            NMCP_BILLCHRG_RESEND_SEQ.NEXTVAL
            , #{globalNo}
            , #{contractNum}
            , #{mobileNo}
            , #{userId}
            , #{userNm}
            , #{subLinkNm}
            , #{gender}
            , #{age}
            , #{lstComActvDate}
            , #{openAgntCd}
            , #{onOffType}
            , #{orgId}
            , #{billTypeCd}
            , #{billAdInfo}
            , #{successYn}
            , #{errMsg}
            , TO_CHAR(SYSDATE ,'YYYYMMDD')
            , SYSDATE
        )

    </insert>

    <!--    수정-->
    <select id="selectExistingConsent" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.common.dto.db.McpMrktHistDto">
        SELECT USERID,
               GUBUN,
               STRT_DTTM,
               END_DTTM,
               AGR_YN,
               REGST_ID,
               REGST_DTTM,
               RVISN_ID,
               RVISN_DTTM
        FROM (
                 SELECT USERID,
                        GUBUN,
                        STRT_DTTM,
                        END_DTTM,
                        AGR_YN,
                        REGST_ID,
                        REGST_DTTM,
                        RVISN_ID,
                        RVISN_DTTM,
                        ROW_NUMBER() OVER (PARTITION BY GUBUN ORDER BY STRT_DTTM DESC) AS RN
                 FROM MCP_MRKT_HIST
                 WHERE USERID = #{userId}
             )
        WHERE RN = 1
    </select>


    <select id="getMrktHistInfo" parameterType="com.ktmmobile.msf.domains.form.common.dto.db.McpMrktHistDto" resultType="com.ktmmobile.msf.domains.form.common.dto.db.McpMrktHistDto">
        SELECT STRT_DTTM FROM (
            SELECT STRT_DTTM FROM MCP_MRKT_HIST
            WHERE 1=1
            <if test="userid !=null and userid != ''" >
                AND USERID = #{userid}
            </if>
            <if test="endDttm !=null and endDttm != ''" >
                AND END_DTTM = #{endDttm}
            </if>
            <if test="agrYn !=null and agrYn != ''" >
                AND AGR_YN = #{agrYn}
            </if>
            <if test="gubun !=null and gubun != ''" >
                AND GUBUN =  #{gubun}
            </if>
            ORDER BY STRT_DTTM DESC
        )
        WHERE ROWNUM =1
    </select>

    <delete id="deleteSnsLoginTxn" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        DELETE FROM NMCP_SNS_LOGIN_TXN WHERE USER_ID = #{userid}
    </delete>

    <update id="updateLoginHistory" parameterType="com.ktmmobile.msf.domains.form.common.mplatform.vo.UserVO">
        UPDATE NMCP_LOGIN_HISTORY SET NAME = '탈퇴회원', PHONE = '00000000000' WHERE USERID = #{userid}
    </update>

    <update id="updateRemindYn">
        UPDATE MCP_USER_CNTR_MNG 
        SET REMIND_YN = #{remindYn}
            , SYS_UDATE = SYSDATE
        WHERE SVC_CNTR_NO = #{svcCntrNo}
    </update>

    <select id="getAgentInfo"  resultType="map">
        SELECT MINOR_AGENT_CI
        FROM MCP_USER_AGENT
        WHERE UPPER(USERID) = UPPER(#{userid})
    </select>

    <select id="getRegularCnt" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM MCP_USER_CNTR_MNG A,
             MCP_USER B
        WHERE A.USERID = B.USERID
          AND A.SVC_CNTR_NO= #{ncn}
          AND UPPER(A.USERID) = UPPER(#{userId})
    </select>

    <select id="selectChrgPrmtCheckTmp" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        SELECT SVC_CNTR_NO
               ,RATE_CD
               ,EX_COLUM2
               ,EX_COLUM3
               ,EX_COLUM4
               ,EX_COLUM5
               ,EX_COLUM6
        FROM TMP_CHRG_PRMT_CHECK
        WHERE ERRCODE IS NULL
    </select>

    <update id="updateChrgPrmtCheckTmp" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        UPDATE TMP_CHRG_PRMT_CHECK
        SET ERRCODE = #{errcode}
            ,MSG = #{msg}
            ,SYS_RDATE = SYSDATE
            <if test="gnNo !=null and gnNo != ''" >
                ,GN_NO = #{gnNo}
            </if>
        WHERE SVC_CNTR_NO = #{svcCntrNo}
    </update>

    <update id="insertSuspenChgTmp" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.SuspenChgTmlDto">
        INSERT INTO SUSPENCHGTMP (
              SVC_CNTR_NO
            , CUST_ID
            , CNTR_MOBILE_NO
            , EVENT_CD
            , EX_COLUM1
            , SYS_RDATE
        ) VALUES (
              #{svcCntrNo}
            , #{custId}
            , #{cntrMobileNo}
            , #{eventCd}
            , #{exColum1}
            , SYSDATE
        )
    </update>


    <select id="selectRateMst" resultType="java.util.Map"  parameterType="java.lang.String" >
        SELECT QOS_DATA_CNT_DESC, CALL_CNT
        FROM NMCP_RATE_MST
        WHERE 1=1
          AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN PSTNG_START_DATE AND PSTNG_END_DATE
          AND RATE_CD = #{rateCd}
          AND ROWNUM= 1
    </select>




</mapper>
