<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SvcChgPageMapper">

  <insert id="insertServiceAlterTrace" parameterType="com.ktmmobile.msf.domains.form.common.dto.McpServiceAlterTraceDto">
    INSERT INTO MSF_SERVICE_ALTER_TRACE (
        NCN
      , CONTRACT_NUM
      , SEQ
      , GLOBAL_NO
      , SUBSCRIBER_NO
      , EVENT_CODE
      , PRCS_MDL_IND
      , TRTM_RSLT_SMST
      , PRCS_SBST
      , RSLT_CD
      , A_SOC_CODE
      , T_SOC_CODE
      , A_SOC_AMNT
      , T_SOC_AMNT
      , PARAMETER
      , ACCESS_IP
      , ACCESS_URL
      , USER_ID
      , SYS_DT
      , SYS_RDATE
    ) VALUES (
        #{ncn}
      , #{contractNum}
      , (
          SELECT COALESCE(MAX(SEQ), 0) + 1
          FROM MSF_SERVICE_ALTER_TRACE
          WHERE NCN = #{ncn}
            AND SYS_DT = TO_CHAR(NOW(), 'YYYYMMDD')
        )
      , #{globalNo}
      , #{subscriberNo}
      , #{eventCode}
      , #{prcsMdlInd}
      , #{trtmRsltSmst}
      , #{prcsSbst}
      , #{rsltCd}
      , #{aSocCode}
      , #{tSocCode}
      , #{aSocAmnt}
      , #{tSocAmnt}
      , #{parameter}
      , #{accessIp}
      , #{accessUrl}
      , #{userId}
      , TO_CHAR(NOW(), 'YYYYMMDD')
      , NOW()
    )
  </insert>

  <select id="checkAllreadPlanchgCount"
          parameterType="com.ktmmobile.msf.domains.form.common.dto.McpServiceAlterTraceDto"
          resultType="java.lang.Integer">
    SELECT COUNT(1)
    FROM MSF_SERVICE_ALTER_TRACE
    WHERE NCN = #{ncn}
      AND T_SOC_CODE = #{tSocCode}
      AND CRET_DT > (NOW() - INTERVAL '1 hour')
      AND EVENT_CD = 'FIN'
      AND TRTM_RSLT_SBST = 'SUCCESS'
      AND REG_DATE = TO_CHAR(NOW(), 'YYYYMMDD')
  </select>

</mapper>
