<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.appform_d.adapter.repository.mybatis.msp.mapper.NmcpCdMapper">

  <select id="selectList"
          resultType="com.ktmmobile.msf.domains.form.form.appform_d.domain.entity.NmcpCd">
    SELECT
    cd_group_id
    , dtl_cd
    , dtl_cd_nm
    , use_yn
    FROM NMCP_CD_DTL@DL_MCP
    <where>
      <if test='@org.springframework.util.StringUtils@hasText(cdGroupId)'>
        AND CD_GROUP_ID LIKE CONCAT(#{cdGroupId}, '%')
      </if>
      <if test='@org.springframework.util.StringUtils@hasText(useYn)'>
        AND USE_YN LIKE CONCAT(#{useYn}, '%')
      </if>
    </where>
    ORDER BY cd_group_id
  </select>

</mapper>