<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AppMobilePpsMapper">


    <select id="pAppSms" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_SMS(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{subscriberNo, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{userName, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{smsAuthCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{appType, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{appVer, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{smsSeq, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>
    
    <select id="pAppUserInfo" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_USER_INFO(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{contractNum, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{sessionId, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>
    
    <select id="pAppChgVac" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_CHG_VAC(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{contractNum, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{bankCd, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{sessionId, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>
    
    <select id="pAppPpReq" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_PP_REQ(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{contractNum, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{pinNo, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{mngCd, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdNo, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdExpire, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdPW, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdBirth, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdRcgAmt, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{ccdPayAmt, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{sessionId, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>
    
    <select id="pAppPpRes" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_PP_RES(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{contractNum, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{rcgReq, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{rcgAmt, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{payAmt, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardPayCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardErrMsg, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardOrderNum, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardAmount, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardDouTrx, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardAuthNo, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardAuthDate, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardNointFlag, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardCpName, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardCpUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardDouRsv1, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{cardDouRsv2, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{sessionId, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>
    
    <select id="pAppPpRst" statementType="CALLABLE" parameterType="java.util.Map" resultType="java.util.Map">
        	call P_APP_PP_RST(
				#{opCode, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{rcgReq, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{LANG, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{TMP, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{appType, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{appVer, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{iUrl, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{accessIp, mode=IN, jdbcType=VARCHAR, javaType=string}
				,#{O_CODE, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_MSG, mode=INOUT, jdbcType=VARCHAR, javaType=string}
				,#{O_DATA, mode=INOUT, jdbcType=VARCHAR, javaType=string}
        	)
    </select>

</mapper>