<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.mcp.usim.mapper.ReplaceUsimMapper">

  <select id="selectCustomerIdByConnInfo" parameterType="com.ktmmobile.mcp.usim.dto.ReplaceUsimDto" resultType="String">
    SELECT CUSTOMER_ID
    FROM MSP_JUO_CUS_INFO@DL_MSP CUS
    WHERE NVL(CUS.SELF_CSTMR_CI, CUS.IPIN_CI) = #{connInfo}
      AND UPPER(REPLACE(CUS.CUSTOMER_LINK_NAME, ' ', '')) = UPPER(REPLACE(#{cstmrName}, ' ', ''))
      AND CUS.CUSTOMER_TYPE = 'I'
      AND EXISTS (SELECT 1 FROM MSP_JUO_SUB_INFO@DL_MSP WHERE SUB_STATUS != 'C' AND PPPO = 'PO' AND CUSTOMER_ID = CUS.CUSTOMER_ID)
      AND FN_GET_AGE_JAVA@DL_MSP(CRYPTO_AES256.DEC_AES@DL_MSP(CUS.CUSTOMER_SSN)) <![CDATA[>=]]> 19
  </select>

  <select id="selectReplaceUsimSubInfo" parameterType="String" resultType="com.ktmmobile.mcp.usim.dto.ReplaceUsimDto">
    SELECT
       SUB.CONTRACT_NUM
      ,SUB.SUBSCRIBER_NO
      ,SUB.SUB_STATUS
      ,SUB.SVC_CNTR_NO
      ,SUB.CUSTOMER_ID
      ,NVL(SUB.USIM_TYPE, 'U') AS USIM_TYPE
      ,NVL(DTL.SEQ, 0) AS SEQ
      ,NVL(DTL.SUB_SEQ, 0) AS SUB_SEQ
      ,DTL.PRE_CHK_RSLT_CD
      ,DTL.APPLY_RSLT_CD
    FROM MSP_JUO_SUB_INFO@DL_MSP SUB
        ,NMCP_FREE_USIM_REQ_DTL DTL
    WHERE SUB.CONTRACT_NUM = DTL.CONTRACT_NUM(+)
      AND SUB.CUSTOMER_ID = #{customerId}
      AND SUB.SUB_STATUS != 'C'
      AND SUB.PPPO = 'PO'
    ORDER BY SUB.LST_COM_ACTV_DATE
  </select>

  <select id="selectContractInfoForReplaceUsim" parameterType="com.ktmmobile.mcp.usim.dto.ReplaceUsimDto" resultType="com.ktmmobile.mcp.mypage.dto.McpUserCntrMngDto">
    SELECT
       B.CUSTOMER_ID
      ,A.SVC_CNTR_NO
      ,A.OPEN_AGNT_CD
      ,A.SUBSCRIBER_NO AS CNTR_MOBILE_NO
    FROM MSP_JUO_SUB_INFO@DL_MSP A
        ,MSP_JUO_CUS_INFO@DL_MSP B
    WHERE A.CUSTOMER_ID = B.CUSTOMER_ID
      AND A.SUBSCRIBER_NO = TRIM(#{cstmrTel})
      AND UPPER(REPLACE(A.SUB_LINK_NAME, ' ', '')) = UPPER(REPLACE(#{cstmrName}, ' ', ''))
      AND A.SUB_STATUS != 'C'
      AND A.PPPO = 'PO'
      AND B.CUSTOMER_TYPE = 'I'
  </select>

  <select id="selectReplaceUsimSendList" parameterType="java.util.Map" resultType="com.ktmmobile.mcp.usim.dto.ReplaceUsimSendDto">
    SELECT
       SEQ
      ,OSST_NO
      ,SUB_SEQ
      ,CONTRACT_NUM
      ,CUSTOMER_ID
      ,SVC_CNTR_NO
      ,SUBSCRIBER_NO
      ,SUB_STATUS
      ,REQ_IN_DAY
      ,CHNL_CD
      ,DELIVERY_TYPE
    FROM ( SELECT A.SEQ
                 ,NVL(A.OSST_NO, 0) AS OSST_NO
                 ,B.SUB_SEQ
                 ,B.CONTRACT_NUM
                 ,C.CUSTOMER_ID
                 ,C.SVC_CNTR_NO
                 ,C.SUBSCRIBER_NO
                 ,C.SUB_STATUS
                 ,TO_CHAR(A.REQ_IN_DAY, 'YYYYMMDDHH24MISS') AS REQ_IN_DAY
                 ,D.EXPNSN_STR_VAL2 AS CHNL_CD
                 ,D.EXPNSN_STR_VAL3 AS DELIVERY_TYPE
           FROM NMCP_FREE_USIM_REQ_MST A
               ,NMCP_FREE_USIM_REQ_DTL B
               ,MSP_JUO_SUB_INFO@DL_MSP C
               ,NMCP_CD_DTL D
           WHERE A.SEQ = B.SEQ
             AND B.CONTRACT_NUM = C.CONTRACT_NUM
             AND A.CHNL_CD = D.DTL_CD
             AND D.CD_GROUP_ID = 'UsimReqChnlCd'
             AND A.REQ_IN_DAY BETWEEN TRUNC(SYSDATE - #{offsetDays}) AND TRUNC(SYSDATE + 1)
             AND B.PRE_CHK_RSLT_CD = '00'
             AND B.APPLY_RSLT_CD IS NULL
           ORDER BY A.REQ_IN_DAY, A.SEQ, B.SUB_SEQ
         )
    WHERE ROWNUM <![CDATA[ <= ]]> #{procCnt}
  </select>

  <select id="selectNfcUsimYn" parameterType="String" resultType="com.ktmmobile.mcp.usim.dto.ReplaceUsimDto">
    SELECT
      NFC_USIM_YN
      ,PRDT_CODE AS USIM_MODEL_CD
      ,PRDT_ID AS USIM_MODEL_ID
    FROM
        CMN_INTM_MDL@DL_MSP CIM
    WHERE
        CIM.PRDT_ID = #{intmMdlId}
  </select>

</mapper>