<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.mcp.storeusim.mapper.StoreUsimMapper">

     <parameterMap id="p0001" type="com.ktmmobile.mcp.storeusim.dto.KtRcgDto">
        <parameter property="iReqType" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
        <parameter property="iSubscriberNo" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
        <parameter property="iReqIp"  jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
        <parameter property="oRcgSeq" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="oRetCode"  jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="oRetMsg"  jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
     </parameterMap>

     <parameterMap type="hashmap" id="p0002">
        <parameter property="I_RCG_SEQ" jdbcType="VARCHAR" javaType="java.lang.String" mode="IN"/>
        <parameter property="O_RES_CODE" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_AMOUNT" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_OLD_REMAINS" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_REMAINS" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_OLD_EXPIRE" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_EXPIRE" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_RET_CODE" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
        <parameter property="O_RET_MSG" jdbcType="VARCHAR" javaType="java.lang.String" mode="OUT"/>
     </parameterMap>



    <select id="selectKtRcgSeq" statementType="CALLABLE" parameterMap="p0001">
        <![CDATA[
           {call P_REMAINS_QUERY_B2C@DL_MSP(?,?,?,?,?,?)}
          ]]>
    </select>

    <select id="selectRcg" statementType="CALLABLE" parameterMap="p0002">
        <![CDATA[
           {call P_RCG_QUERY_B2C@DL_MSP(?,?,?,?,?,?,?,?,?)}
          ]]>
    </select>

    <select id="selectModelList" parameterType="com.ktmmobile.mcp.usim.dto.UsimBasDto" resultType="com.ktmmobile.mcp.usim.dto.UsimBasDto">
        SELECT
            A.PRDT_ID,
            PRDT_CODE,
            PRDT_NM
        FROM 	MSP_SALE_PRDT_MST@DL_MSP A
                ,CMN_INTM_MDL@DL_MSP B
        WHERE 	SALE_PLCY_CD = #{salePlcyCd}
            AND 	A.PRDT_ID = B.PRDT_ID
    </select>

    <select id="selectJoinUsimPriceNew" parameterType="String" resultType="com.ktmmobile.mcp.storeusim.dto.UsimMspRateDto">
        SELECT 	DECODE(ETC3,'Y',ETC4,ETC1) AS JOIN_PRICE
                , DECODE(ETC3,'Y',ETC5,ETC2) AS USIM_PRICE
        from 	CMN_GRP_CD_MST@dl_msp
        WHERE 	GRP_ID = 'RCP0053'
        AND 	CD_VAL = #{gubun}
        AND ROWNUM =1
    </select>

    <select id="selectUsimDcamt" parameterType="String" resultType="com.ktmmobile.mcp.storeusim.dto.UsimMspRateDto">
        SELECT DC_AMT
        FROM MSP_RATE_SPEC@DL_MSP F
        WHERE RATE_CD =#{rateCd}
        AND AGRM_TRM ='0'
        AND ROWNUM =1
        ORDER BY APPL_STRT_DTTM DESC
    </select>

    <select id="selectAgreeDcAmt" parameterType="com.ktmmobile.mcp.storeusim.dto.UsimMspRateDto" resultType="com.ktmmobile.mcp.storeusim.dto.UsimMspRateDto">
        SELECT
            AGRM_TRM,
            DC_AMT
        FROM MSP_RATE_SPEC@DL_MSP
        WHERE RATE_CD = #rateCd#
        AND AGRM_TRM IN
        (
            SELECT AGRM.AGRM_TRM
            FROM
                MSP_SALE_PLCY_MST@DL_MSP PLCY,
                MSP_SALE_ORGN_MST@DL_MSP ORNG,
                MSP_SALE_AGRM_MST@DL_MSP AGRM

            WHERE PLCY.SALE_PLCY_CD = #salePlcyCd#
            AND PLCY.SALE_PLCY_CD = AGRM.SALE_PLCY_CD
            AND PLCY.SALE_PLCY_CD = ORNG.SALE_PLCY_CD
            AND ORNG.SALE_PLCY_CD = AGRM.SALE_PLCY_CD
            AND ORNG.ORGN_ID = #orgnId#
            AND     TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN PLCY.SALE_STRT_DTTM AND PLCY.SALE_END_DTTM
            AND     PLCY.CNFM_YN = 'Y'
        )
        AND AGRM_TRM !='0'
        ORDER BY AGRM_TRM ASC
    </select>

    <select id="selectUserChargeInfo" parameterType="com.ktmmobile.mcp.common.dto.AuthSmsDto" resultType="com.ktmmobile.mcp.common.dto.AuthSmsDto">
        <![CDATA[
        SELECT DISTINCT RATE_CD
              ,RATE_NM
        FROM MSP_RATE_MST@DL_MSP A,
             MSP_JUO_FEATURE_INFO@DL_MSP B
        WHERE 1=1
            AND B.CONTRACT_NUM = (SELECT CONTRACT_NUM FROM MSP_JUO_SUB_INFO@DL_MSP WHERE SUBSCRIBER_NO=#{phoneNum} AND SUB_LINK_NAME=#{memberName} AND SUB_STATUS<>'C' )
            AND A.RATE_CD = B.SOC
            AND A.SERVICE_TYPE = 'P'
            AND ROWNUM=1
         ]]>
    </select>

    <select id="selectUsimSalePlcyCdList" parameterType="com.ktmmobile.mcp.storeusim.dto.MspSalePlcyMstDto" resultType="com.ktmmobile.mcp.storeusim.dto.MspSalePlcyMstDto">
        SELECT/*상품정보로 유효한 정책정보를 들고온다.(약정포함)*/
            DISTINCT
            C.SALE_PLCY_CD,
            C.SALE_PLCY_NM,
            AG.AGRM_TRM,
            RA.PAY_CL_CD,
            C.PRDT_SCTN_CD,
            ORG.ORGN_ID
        FROM
            MSP_SALE_PRDT_MST@DL_MSP A -- 정책
            , CMN_INTM_MDL@DL_MSP B
            , MSP_SALE_PLCY_MST@DL_MSP C
            , MSP_RATE_MST@DL_MSP RA
            , MSP_SALE_RATE_MST@DL_MSP SA
            , MSP_SALE_ORGN_MST@DL_MSP ORG
            , MSP_SALE_AGRM_MST@DL_MSP AG
        WHERE 	1=1
                AND C.CNFM_YN ='Y'
                AND C.PLCY_SCTN_CD = 02
                AND A.PRDT_ID = B.PRDT_ID
                AND SA.SALE_PLCY_CD = AG.SALE_PLCY_CD
                AND A.SALE_PLCY_CD = C.SALE_PLCY_CD
                AND A.SALE_PLCY_CD = SA.SALE_PLCY_CD
                AND RA.RATE_CD = SA.RATE_CD
                AND C.SALE_PLCY_CD = ORG.SALE_PLCY_CD
                AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN C.SALE_STRT_DTTM AND C.SALE_END_DTTM
                AND A.PRDT_ID = #{prdtId}
                AND RA.PAY_CL_CD = #{payClCd}
                <if test="prdtSctnCd != null and prdtSctnCd != ''">
                   AND C.PRDT_SCTN_CD = #{prdtSctnCd}
                </if>
                AND ORG.ORGN_ID = #{orgnId}
                ORDER BY AGRM_TRM ASC
    </select>

    <select id="selectPlcyOperTypeList" parameterType="com.ktmmobile.mcp.storeusim.dto.MspSalePlcyMstDto" resultType="com.ktmmobile.mcp.storeusim.dto.MspPlcyOperTypeDto">
        SELECT 	SALE_PLCY_CD,
                CASE
                    WHEN LVL=1 THEN 'NAC3'
                    WHEN LVL=2 THEN 'MNP3'
                    WHEN LVL=3 THEN 'HCN3' END  OPER_TYPE,
                CASE
                    WHEN LVL=1 THEN '신규가입'
                    WHEN LVL=2 THEN '번호이동'
                    WHEN LVL=3 THEN '기기변경' END  OPER_NAME
        FROM	(
                SELECT 	A.SALE_PLCY_CD
                        ,(B.NEW_YN||B.MNP_YN||B.HCN_YN) BIT_MASK
                FROM 	MSP_SALE_ORGN_MST@DL_MSP A
                        ,MSP_SALE_PLCY_MST@DL_MSP B
                        ,MSP_SALE_PRDT_MST@DL_MSP C
                WHERE 	1=1
                 AND 	A.ORGN_ID = #{orgnId}
                 AND A.SALE_PLCY_CD = #{salePlcyCd}
                AND 	A.SALE_PLCY_CD = B.SALE_PLCY_CD
                AND 	TO_CHAR(SYSDATE,'yyyymmddhh24miss') BETWEEN B.SALE_STRT_DTTM AND B.SALE_END_DTTM
                AND 	B.CNFM_YN = 'Y'
                AND 	A.SALE_PLCY_CD = C.SALE_PLCY_CD
                GROUP BY A.SALE_PLCY_CD
                        ,(B.NEW_YN||B.MNP_YN||B.HCN_YN)
                ) PLCY,
                (SELECT LEVEL LVL FROM DUAL CONNECT BY LEVEL <![CDATA[<=]]> 3 ) LVL
        WHERE 	SUBSTR(BIT_MASK, LVL,1)='Y' ORDER BY OPER_NAME ASC
    </select>

    <select id="selectRateListMoreTwoRows" parameterType="com.ktmmobile.mcp.usim.dto.UsimBasDto" resultType="com.ktmmobile.mcp.storeusim.dto.UsimMspRateDto">
        SELECT
            RATE_CD,   						--요금제 코드
            RATE_NM, 						--요금제명
            PAY_CL_CD, 						--선후불코드
            CD_DSC, 						--선후불명
            RATE_TYPE, 						--요금타입
            RATE_DESC, 						--요금설명
            VAT, 							-- 세금
            BASE_AMT, 						--요금
            DATA_TYPE AS DATA_TYPE_CODE,		--데이터 타입
            FREE_CALL_CNT,					-- 무료통화
            NW_IN_CALL_CNT,					-- 망내통화
            NW_OUT_CALL_CNT,				-- 망외통화
            FREE_SMS_CNT,					-- SMS
            FREE_DATA_CNT,					-- 데이터
            SPRT_TP,						--할인유형
            GET_CODE_NM('F002',SPRT_TP)AS SPRT_TP_NM --할인유형이름
            ,SALE_PLCY_CD
        FROM (
            SELECT 	D.RATE_CD, D.RATE_NM, PAY_CL_CD, CD_DSC, D.RATE_TYPE
                      , NVL(D.RMK, 0) AS RATE_DESC , D.BASE_AMT, (BASE_AMT*0.1) VAT, D.DATA_TYPE , D.FREE_CALL_CNT
                      ,D.NW_IN_CALL_CNT,D.NW_OUT_CALL_CNT,D.FREE_SMS_CNT,D.FREE_DATA_CNT , B.SPRT_TP , B.SALE_PLCY_CD
            FROM	MSP_SALE_ORGN_MST@DL_MSP A
                    ,MSP_SALE_PLCY_MST@DL_MSP B
                    ,MSP_SALE_RATE_MST@DL_MSP C
                    ,MSP_RATE_MST@DL_MSP D
                    ,CMN_GRP_CD_MST@DL_MSP E
                      ,MSP_SALE_AGRM_MST@DL_MSP G
            WHERE 	TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN B.SALE_STRT_DTTM AND B.SALE_END_DTTM
            and 	A.SALE_PLCY_CD  IN
                    <foreach item="item" collection="salePlcyCdList" open="(" separator="," close=")">
                        #{item}
                    </foreach>
            AND   	A.ORGN_ID       = #{orgnId}
            AND   	B.CNFM_YN        = 'Y'
            AND		A.SALE_PLCY_CD = B.SALE_PLCY_CD
            AND		A.SALE_PLCY_CD = C.SALE_PLCY_CD
            AND 	C.RATE_CD = D.RATE_CD
            AND 	D.APPL_END_DT = '99991231'
            AND 	E.GRP_ID = 'CMN0032'
            AND 	D.PAY_CL_CD = E.CD_VAL
            AND 	G.SALE_PLCY_CD = A.SALE_PLCY_CD
        )
          GROUP BY 	RATE_CD, RATE_NM, PAY_CL_CD, CD_DSC, RATE_TYPE, RATE_DESC, VAT,
                    BASE_AMT, DATA_TYPE , FREE_CALL_CNT, NW_IN_CALL_CNT, NW_OUT_CALL_CNT,
                    FREE_SMS_CNT, FREE_DATA_CNT , SPRT_TP , SALE_PLCY_CD
        ORDER BY BASE_AMT ASC
    </select>

    <select id="selectUsimBasList" parameterType="com.ktmmobile.mcp.usim.dto.UsimBasDto" resultType="com.ktmmobile.mcp.usim.dto.UsimBasDto">
         SELECT/*관리자에서 등록한 상품정보를 가져온다.*/
           DATA_TYPE
           ,PAY_CL_CD
           ,IMG_PATH
           ,BEST_RATE
           ,PRDT_ID
           ,PRDT_NM
           ,USIM_DESC
         FROM NMCP_USIM_BAS
         WHERE
             PAY_CL_CD = #{payClCd}
             AND DATA_TYPE = #{dataType}
             AND VIEW_YN = 'Y'
             <choose>
                <when test="prdtIndCd == '10'">
                    AND PRDT_IND_CD = 10
                </when>
                 <when test="prdtIndCd == '11'">
                     AND PRDT_IND_CD = 11
                 </when>
                <otherwise>
                    <![CDATA[
                    AND NVL(PRDT_IND_CD,'99') NOT IN ('10','11')
                    ]]>
                </otherwise >
            </choose>
         ORDER BY PRDT_NM ASC
    </select>


    <!--  불량 유심 조회  -->
    <select id="selectFailUsims" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM NMCP_FAIL_USIM
        WHERE 1=1
          AND USIM_NO = #{iccId}
    </select>


    <update id="updateFailUsim" parameterType="com.ktmmobile.mcp.appform.dto.JuoSubInfoDto">
        UPDATE NMCP_FAIL_USIM
        SET AMD_DT = SYSDATE,
            AMD_ID = #{customerId}
        WHERE USIM_NO = #{iccId}
    </update>
</mapper>
