<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="McpOrderMapper">

  <!-- /order/selectOrderGroupListCount - API 설명 (SELECT(MCP) : MCP_REQUEST@DL_MCP, MCP_REQUEST_CSTMR@DL_MCP, MCP_REQUEST_STATE@DL_MCP, MCP_REQUEST_SALEINFO@DL_MCP, MCP_REQUEST_DLVRY@DL_MCP, NMCP_PROD_BAS@DL_MCP, NMCP_REQUEST_APD@DL_MCP, NMCP_REQUEST_APD@DL_MCP_STATE, NMCP_REQUEST_APD@DL_MCP_SALEINFO, MCP_REQUEST_DLVRY@DL_MCP, NMCP_PROD_BAS@DL_MCP) -->
  <select id="selectOrderGroupListCount" parameterType="com.ktmmobile.msf.domains.form.common.dto.OrderDto" resultType="java.lang.Integer">
    SELECT /* /order/selectOrderGroupListCount : McpOrderMapper.selectOrderGroupListCount */
    COUNT(*)
    FROM
    (
    SELECT
    A.REQUEST_KEY
    FROM
    MCP_REQUEST@DL_MCP A
    , MCP_REQUEST_CSTMR@DL_MCP B
    , MCP_REQUEST_STATE@DL_MCP C
    , MCP_REQUEST_SALEINFO@DL_MCP D
    , MCP_REQUEST_DLVRY@DL_MCP E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND( (B.CSTMR_NAME = #{cstmrName} AND B.CSTMR_MOBILE_FN || B.CSTMR_MOBILE_MN || B.CSTMR_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn} )
      OR ( E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}  ))
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    <if test="reqBuyType !=null and reqBuyType !=''">
      AND A.REQ_BUY_TYPE = #{reqBuyType}
    </if>
    AND A.REQUEST_KEY = B.REQUEST_KEY
    AND B.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')
    UNION
    SELECT
    A.REQUEST_KEY
    FROM
    NMCP_REQUEST_APD@DL_MCP A
    , NMCP_REQUEST_APD@DL_MCP_STATE C
    , NMCP_REQUEST_APD@DL_MCP_SALEINFO D
    , MCP_REQUEST_DLVRY@DL_MCP   E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    AND A.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')

    ) UNION_GROUP
  </select>


  <!-- /order/selectOrderGroupList - API 설명 (SELECT(MCP) : MCP_REQUEST@DL_MCP, MCP_REQUEST_CSTMR@DL_MCP, MCP_REQUEST_STATE@DL_MCP, MCP_REQUEST_SALEINFO@DL_MCP, MCP_REQUEST_DLVRY@DL_MCP, NMCP_PROD_BAS@DL_MCP, NMCP_REQUEST_APD@DL_MCP, NMCP_REQUEST_APD@DL_MCP_STATE, NMCP_REQUEST_APD@DL_MCP_SALEINFO, MCP_REQUEST_DLVRY@DL_MCP, NMCP_PROD_BAS@DL_MCP) -->
  <select id="selectOrderGroupList" parameterType="com.ktmmobile.msf.domains.form.common.dto.OrderDto" resultType="com.ktmmobile.msf.domains.form.common.dto.OrderDto">
    SELECT /* /order/selectOrderGroupList : McpOrderMapper.selectOrderGroupList */
    *
    FROM
    (
    SELECT
    '1' AS GROUP_TYPE
    , A.REQUEST_KEY
    , A.RES_NO
    , A.REQ_BUY_TYPE
    , A.PROD_ID
    , A.OPER_TYPE
    , A.ON_OFF_TYPE
    , D.SOC_CODE
    , B.CSTMR_NAME
    , B.CSTMR_MOBILE_FN
    , B.CSTMR_MOBILE_MN
    , B.CSTMR_MOBILE_RN
    , C.TB_CD
    , C.DLVRY_NO
    , A.REQUEST_STATE_CODE
    , A.PSTATE
    , TO_CHAR(C.SYS_RDATE,'YYYY.MM.DD') AS SYS_RDATE
    , NVL(D.MODEL_PRICE,0) AS MODEL_PRICE
    , NVL(D.SETTL_AMT,0) AS SETTL_AMT
    , DECODE(A.REQ_BUY_TYPE,'MM', NVL(F.PROD_NM,A.REQ_MODEL_NAME) ,'UU','유심')AS PROD_NM
    , DECODE(A.REQ_BUY_TYPE,'MM',F.LIST_SHOW_TEXT,
    'UU',
    (SELECT RATE_NM FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)
    ) AS LIST_SHOW_TEXT
    , A.SNTY_COLOR_CD
    , DECODE(A.REQ_BUY_TYPE,'MM',
    NVL((SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL@DL_MCP WHERE PROD_ID = F.PROD_ID AND A.SNTY_COLOR_CD = SNTY_COLOR_CD AND IMG_TYPE_CD='01')
    ,(SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL@DL_MCP WHERE PROD_ID = F.PROD_ID AND IMG_TYPE_CD='01' AND ROWNUM =1) )
    ,'UU',
    (SELECT IMG_PATH FROM NMCP_USIM_BAS WHERE DATA_TYPE = (SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE) AND ROWNUM = 1)
    )AS IMG_PATH
    , (SELECT RATE_NM FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS RATE_NM
    , (SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS PRDT_SCTN_CD
    , NVL(A.PROD_TYPE,'01')AS PROD_TYPE
    , NVL((SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.ATRIB_VAL_CD_1 = A.SNTY_COLOR_CD AND ROWNUM = 1)
    , (SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_ONE
    , NVL((SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.HNDSET_MODEL_ID = D.MODEL_ID AND ROWNUM = 1)
    , (SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_TWO
    , 'N' AS SELF_YN
    , DECODE(NVL(F.SESPLS_YN,'N'),'Y','자급제',DECODE(F.PROD_TYPE,'04','중고폰','공시지원금 단말') )  AS PHONE_CTG_LABEL
    , (SELECT CD_DTL.DTL_CD_DESC FROM NMCP_CD_DTL@DL_MCP CD_DTL WHERE CD_DTL.CD_GROUP_ID = 'PERCEL' AND CD_DTL.USE_YN = 'Y' AND CD_DTL.DTL_CD = C.TB_CD) AS PERCEL_URL
    , (SELECT NVL(BASE_AMT,0) FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE) AS BASE_AMT
    , NVL(D.SPRT_TP,'KD') AS SPRT_TP
    , MODEL_SALE_POLICY_CODE
    , NVL(D.MODEL_INSTALLMENT,0) AS MODEL_INSTALLMENT
    , NVL(D.MODEL_PRICE_VAT,0) AS MODEL_PRICE_VAT
    , NVL(D.MODEL_DISCOUNT1,0) AS MODEL_DISCOUNT1
    , NVL(D.MODEL_DISCOUNT2,0) AS MODEL_DISCOUNT2
    , NVL(D.MODEL_DISCOUNT3,0) AS MODEL_DISCOUNT3
    , NVL(D.MAX_DISCOUNT3,0) AS MAX_DISCOUNT3
    , NVL(D.MODEL_MONTHLY,0) AS MODEL_MONTHLY
    , NVL(D.DC_AMT,0) AS DC_AMT
    , NVL(D.ADD_DC_AMT,0) AS ADD_DC_AMT
    FROM
    MCP_REQUEST@DL_MCP A
    , MCP_REQUEST_CSTMR@DL_MCP B
    , MCP_REQUEST_STATE@DL_MCP C
    , MCP_REQUEST_SALEINFO@DL_MCP D
    , MCP_REQUEST_DLVRY@DL_MCP E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND( (B.CSTMR_NAME = #{cstmrName} AND B.CSTMR_MOBILE_FN || B.CSTMR_MOBILE_MN || B.CSTMR_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn} )
      OR ( E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}  ))
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    <if test="reqBuyType !=null and reqBuyType !=''">
      AND A.REQ_BUY_TYPE = #{reqBuyType}
    </if>
    AND A.REQUEST_KEY = B.REQUEST_KEY
    AND B.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')

    UNION ALL

    SELECT
    '2' AS GROUP_TYPE
    , A.REQUEST_KEY
    , A.RES_NO
    , 'MM' AS REQ_BUY_TYPE
    , A.PROD_ID
    , A.OPER_TYPE
    , A.ON_OFF_TYPE
    , D.SOC_CODE
    , '' AS CSTMR_NAME
    , '' AS CSTMR_MOBILE_FN
    , '' AS CSTMR_MOBILE_MN
    , '' AS CSTMR_MOBILE_RN
    , C.TB_CD
    , C.DLVRY_NO
    , NVL(A.REQUEST_STATE_CODE,(SELECT REQUEST_STATE_CODE FROM MCP_REQUEST@DL_MCP TMP WHERE TMP.REQUEST_KEY = A.REQUEST_KEY )) AS REQUEST_STATE_CODE
    , NVL(A.PSTATE,(SELECT PSTATE FROM MCP_REQUEST@DL_MCP TMP WHERE TMP.REQUEST_KEY = A.REQUEST_KEY )) AS PSTATE
    , TO_CHAR(C.SYS_RDATE,'YYYY.MM.DD') AS SYS_RDATE
    , NVL(D.MODEL_PRICE,0) AS MODEL_PRICE
    , NVL(D.HNDSET_SALE_PRICE,0) - NVL(D.USE_POINT,0)- NVL(D.CARD_DC_AMT,0) AS SETTL_AMT
    , NVL(F.PROD_NM,A.REQ_MODEL_NAME) AS PROD_NM
    , F.LIST_SHOW_TEXT AS LIST_SHOW_TEXT
    , A.SNTY_COLOR_CD
    , NVL((SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL@DL_MCP WHERE PROD_ID = F.PROD_ID AND A.SNTY_COLOR_CD = SNTY_COLOR_CD AND IMG_TYPE_CD='01')
    ,(SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL@DL_MCP WHERE PROD_ID = F.PROD_ID AND IMG_TYPE_CD='01' AND ROWNUM =1) ) AS IMG_PATH
    ,(SELECT RATE_NM FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS RATE_NM
    ,(SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS PRDT_SCTN_CD
    , NVL(A.PROD_TYPE,'01')AS PROD_TYPE
    , NVL((SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.ATRIB_VAL_CD_1 = A.SNTY_COLOR_CD AND ROWNUM = 1)
    ,(SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_ONE
    , NVL((SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.HNDSET_MODEL_ID = D.MODEL_ID AND ROWNUM = 1)
    , (SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_TWO
    , 'Y' AS SELF_YN
    , '자급제' AS PHONE_CTG_LABEL
    , (SELECT CD_DTL.DTL_CD_DESC FROM NMCP_CD_DTL@DL_MCP CD_DTL WHERE CD_DTL.CD_GROUP_ID = 'PERCEL' AND CD_DTL.USE_YN = 'Y' AND CD_DTL.DTL_CD = C.TB_CD) AS PERCEL_URL
    , (SELECT NVL(BASE_AMT,0) FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE) AS BASE_AMT
    , NVL(D.SPRT_TP,'KD') AS SPRT_TP
    , MODEL_SALE_POLICY_CODE
    , NVL(D.MODEL_INSTALLMENT,0) AS MODEL_INSTALLMENT
    , NVL(D.MODEL_PRICE_VAT,0) AS MODEL_PRICE_VAT
    , NVL(D.MODEL_DISCOUNT1,0) AS MODEL_DISCOUNT1
    , NVL(D.MODEL_DISCOUNT2,0) AS MODEL_DISCOUNT2
    , NVL(D.MODEL_DISCOUNT3,0) AS MODEL_DISCOUNT3
    , NVL(D.MAX_DISCOUNT3,0) AS MAX_DISCOUNT3
    , NVL(D.MODEL_MONTHLY,0) AS MODEL_MONTHLY
    , NVL(D.DC_AMT,0) AS DC_AMT
    , NVL(D.ADD_DC_AMT,0) AS ADD_DC_AMT
    FROM
    NMCP_REQUEST_APD@DL_MCP A
    , NMCP_REQUEST_APD@DL_MCP_STATE C
    , NMCP_REQUEST_APD@DL_MCP_SALEINFO D
    , MCP_REQUEST_DLVRY@DL_MCP   E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    AND A.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')
    ORDER BY REQUEST_KEY DESC
    ) TEMP_GROUP
    WHERE TEMP_GROUP.REQUEST_KEY IN
    (
    SELECT NUM_GROUP.REQUEST_KEY FROM (
    SELECT UNION_GROUP.REQUEST_KEY
    , ROW_NUMBER() OVER (ORDER BY UNION_GROUP.REQUEST_KEY DESC) AS RNUM
    FROM
    (
    SELECT
    A.REQUEST_KEY
    FROM
    MCP_REQUEST@DL_MCP A
    , MCP_REQUEST_CSTMR@DL_MCP B
    , MCP_REQUEST_STATE@DL_MCP C
    , MCP_REQUEST_SALEINFO@DL_MCP D
    , MCP_REQUEST_DLVRY@DL_MCP E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND( (B.CSTMR_NAME = #{cstmrName} AND B.CSTMR_MOBILE_FN || B.CSTMR_MOBILE_MN || B.CSTMR_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn} )
      OR ( E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}  ))
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    <if test="reqBuyType !=null and reqBuyType !=''">
      AND A.REQ_BUY_TYPE = #{reqBuyType}
    </if>
    AND A.REQUEST_KEY = B.REQUEST_KEY
    AND B.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')
    UNION
    SELECT
    A.REQUEST_KEY
    FROM
    NMCP_REQUEST_APD@DL_MCP A
    , NMCP_REQUEST_APD@DL_MCP_STATE C
    , NMCP_REQUEST_APD@DL_MCP_SALEINFO D
    , MCP_REQUEST_DLVRY@DL_MCP   E
    , NMCP_PROD_BAS@DL_MCP F
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    AND A.REQUEST_KEY = C.REQUEST_KEY
    AND A.REQUEST_KEY = D.REQUEST_KEY
    AND A.REQUEST_KEY = E.REQUEST_KEY
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.REQ_IN_DAY BETWEEN  TO_DATE(#{searchStart}||'000000', 'YYYYMMDDHH24MISS') AND TO_DATE(#{searchEnd}||'235959', 'YYYYMMDDHH24MISS')

    ) UNION_GROUP
    ) NUM_GROUP WHERE 1 = 1
    AND NUM_GROUP.RNUM <![CDATA[>]]> #{apiParam1} AND NUM_GROUP.RNUM <![CDATA[<=]]> #{apiParam2}
    )
    ORDER BY REQUEST_KEY DESC , GROUP_TYPE  DESC
  </select>


  <!-- /order/selectOrderTempListCount - API 설명 (SELECT(MCP) : NMCP_REQUEST_TEMP@DL_MCP, NMCP_REQUEST_CSTMR_TEMP@DL_MCP, MCP_REQUEST_STATE@DL_MCP, NMCP_REQUEST_SALEINFO_TEMP@DL_MCP, NMCP_REQUEST_DLVRY_TEMP@DL_MCP, NMCP_PROD_BAS@DL_MCP, NMCP_REQUEST_APD_TEMP@DL_MCP, NMCP_REQUEST_APD_SALEINFO_TEMP@DL_MCP) -->
  <select id="selectOrderTempListCount" parameterType="com.ktmmobile.msf.domains.form.common.dto.OrderDto" resultType="java.lang.Integer">
    SELECT /* /order/selectOrderTempListCount : McpOrderMapper.selectOrderTempListCount */
    COUNT(*)
    FROM
    NMCP_REQUEST_TEMP@DL_MCP A
    , NMCP_REQUEST_CSTMR_TEMP@DL_MCP B
    , MCP_REQUEST_STATE@DL_MCP C
    , NMCP_REQUEST_SALEINFO_TEMP@DL_MCP D
    , NMCP_REQUEST_DLVRY_TEMP@DL_MCP E
    , NMCP_PROD_BAS@DL_MCP F
    , NMCP_REQUEST_APD_TEMP@DL_MCP G
    , NMCP_REQUEST_APD_SALEINFO_TEMP@DL_MCP H
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND( (B.CSTMR_NAME = #{cstmrName} AND B.CSTMR_MOBILE_FN || B.CSTMR_MOBILE_MN || B.CSTMR_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn} )
      OR ( E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}  ))
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    AND A.REQUEST_KEY = B.REQUEST_KEY(+)
    AND B.REQUEST_KEY = C.REQUEST_KEY(+)
    AND A.REQUEST_KEY = D.REQUEST_KEY(+)
    AND A.REQUEST_KEY = E.REQUEST_KEY(+)
    AND A.REQUEST_KEY = G.REQUEST_KEY(+)
    AND A.REQUEST_KEY = H.REQUEST_KEY(+)
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.TMP_STEP <![CDATA[<>]]> '00'
  </select>


  <!-- /order/selectOrderTempPageList - API 설명 (SELECT(MCP) : NMCP_REQUEST_TEMP@DL_MCP, NMCP_REQUEST_CSTMR_TEMP@DL_MCP, NMCP_REQUEST_SALEINFO_TEMP@DL_MCP, NMCP_REQUEST_DLVRY_TEMP@DL_MCP, NMCP_PROD_BAS@DL_MCP, NMCP_REQUEST_APD_TEMP@DL_MCP, NMCP_REQUEST_APD_SALEINFO_TEMP@DL_MCP) -->
  <select id="selectOrderTempList" parameterType="com.ktmmobile.msf.domains.form.common.dto.OrderDto" resultType="com.ktmmobile.msf.domains.form.common.dto.OrderDto">
    SELECT /* /order/selectOrderTempList : McpOrderMapper.selectOrderTempPageList */
    NVL2(G.REQUEST_KEY,'SELF','UM') AS TEMP_TYPE
    , A.REQUEST_KEY
    , A.RES_NO
    , A.REQ_BUY_TYPE
    , A.PROD_ID
    , B.CSTMR_NAME
    , B.CSTMR_MOBILE_FN
    , B.CSTMR_MOBILE_MN
    , B.CSTMR_MOBILE_RN
    , NVL(A.REQUEST_STATE_CODE,(SELECT REQUEST_STATE_CODE FROM NMCP_REQUEST_TEMP@DL_MCP TMP WHERE TMP.REQUEST_KEY = A.REQUEST_KEY )) AS REQUEST_STATE_CODE
    , NVL(A.PSTATE,(SELECT PSTATE FROM NMCP_REQUEST_TEMP@DL_MCP TMP WHERE TMP.REQUEST_KEY = A.REQUEST_KEY )) AS PSTATE
    , TO_CHAR(A.SYS_RDATE,'YYYY.MM.DD') AS SYS_RDATE
    , NVL(D.MODEL_PRICE,0) AS MODEL_PRICE
    , NVL(D.SETTL_AMT,0) AS SETTL_AMT
    , DECODE(A.REQ_BUY_TYPE,'MM',F.PROD_NM ,'UU','유심')AS PROD_NM
    , DECODE(A.REQ_BUY_TYPE,'MM',F.LIST_SHOW_TEXT,
    'UU',
    (SELECT RATE_NM FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)
    ) AS LIST_SHOW_TEXT
    , A.SNTY_COLOR_CD
    , DECODE(A.REQ_BUY_TYPE,'MM',
    (SELECT IMG_PATH FROM NMCP_PROD_IMG_DTL@DL_MCP WHERE PROD_ID = F.PROD_ID AND A.SNTY_COLOR_CD = SNTY_COLOR_CD AND IMG_TYPE_CD='01')
    ,'UU',
    (SELECT IMG_PATH FROM NMCP_USIM_BAS WHERE DATA_TYPE = (SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE) AND ROWNUM = 1)
    ) AS IMG_PATH
    , (SELECT RATE_NM FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS RATE_NM
    , (SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD=D.SOC_CODE)AS PRDT_SCTN_CD
    , NVL(A.PROD_TYPE,'01')AS PROD_TYPE
    , NVL((SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND BAS.HNDSET_MODEL_ID = D.MODEL_ID AND ROWNUM =1)
    , (SELECT BAS.ATRIB_VAL_NM_1 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_ONE
    , NVL((SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND BAS.HNDSET_MODEL_ID = D.MODEL_ID AND ROWNUM =1)
    , (SELECT BAS.ATRIB_VAL_NM_2 FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND ROWNUM =1)) AS ATRIB_VAL_NM_TWO
    , A.TMP_STEP
    , 'N' AS SELF_YN
    , A.ON_OFF_TYPE
    , DECODE(NVL(F.SESPLS_YN,'N'),'Y','자급제',DECODE(F.PROD_TYPE,'04','중고폰','공시지원금 단말') )  AS PHONE_CTG_LABEL
    , DECODE(A.REQ_BUY_TYPE, 'UU', 'Y'
    , DECODE((SELECT COUNT(*) FROM NMCP_SNTY_PROD_BAS@DL_MCP BAS WHERE BAS.PROD_ID = A.PROD_ID AND BAS.HNDSET_MODEL_ID = D.MODEL_ID AND BAS.SALE_YN = 'Y' AND NVL(BAS.SDOUT_YN,'Y') <![CDATA[<>]]> 'N'),0,'N','Y')
    ) AS PHONE_SALE_YN
    , NVL2(G.REQUEST_KEY, F.PROD_NM, '') AS SELF_PROD_NM
    , A.USIM_KINDS_CD
    FROM
    NMCP_REQUEST_TEMP@DL_MCP A
    , NMCP_REQUEST_CSTMR_TEMP@DL_MCP B
    , NMCP_REQUEST_SALEINFO_TEMP@DL_MCP D
    , NMCP_REQUEST_DLVRY_TEMP@DL_MCP E
    , NMCP_PROD_BAS@DL_MCP F
    , NMCP_REQUEST_APD_TEMP@DL_MCP G
    , NMCP_REQUEST_APD_SALEINFO_TEMP@DL_MCP H
    WHERE 1=1
    <if test="cretId ==null or cretId ==''">
      AND( (B.CSTMR_NAME = #{cstmrName} AND B.CSTMR_MOBILE_FN || B.CSTMR_MOBILE_MN || B.CSTMR_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn} )
      OR ( E.DLVRY_NAME =  #{cstmrName} AND E.DLVRY_MOBILE_FN || E.DLVRY_MOBILE_MN || E.DLVRY_MOBILE_RN = #{cstmrMobileFn}||#{cstmrMobileMn}||#{cstmrMobileRn}  ))
    </if>
    <if test="cretId !=null and cretId !=''">
      AND A.CRET_ID = #{cretId}
    </if>
    AND A.REQUEST_KEY = B.REQUEST_KEY(+)
    AND A.REQUEST_KEY = D.REQUEST_KEY(+)
    AND A.REQUEST_KEY = E.REQUEST_KEY(+)
    AND A.REQUEST_KEY = G.REQUEST_KEY(+)
    AND A.REQUEST_KEY = H.REQUEST_KEY(+)
    AND A.PROD_ID = F.PROD_ID(+)
    AND A.TMP_STEP <![CDATA[<>]]> '00'
    ORDER BY REQUEST_KEY DESC
  </select>

</mapper>
