<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="McpPhoneMapper">

  <!-- /phone/phoneProdBasForFrontOneQuery - 상품리스트 조회 (SELECT(MSP/MCP) : CMN_HNDST_AMT, CMN_MNFCT_AMT, NMCP_PROD_BAS@DL_MCP, ORG_MNFCT_MST, NMCP_SNTY_PROD_BAS@DL_MCP, NMCP_PROD_IMG_DTL@DL_MCP, MSP_SALE_PLCY_MST, PLN_PRDT_INFO@DL_MCP) -->
  <!-- SQL 메소드 변경 : listPhoneProdBasForFrontOneQuery2 -> selectPhoneProdBas2 -->
  <select id="selectPhoneProdBas2" parameterType="com.ktmmobile.msf.domains.form.common.dto.CommonSearchDto" resultType="com.ktmmobile.msf.domains.form.common.dto.PhoneProdBasDto">
    SELECT /* /phone/phoneProdBasForFrontOneQuery : McpPhoneMapper.selectPhoneProdBas2 상품리스트 조회 시작 */
    A.PROD_ID,                --상품아이디
    A.PROD_ID as prodId,      -- 상품 아이디
    A.PROD_CTG_ID,            --상품분류아이디 (lte,3g)
    A.PROD_NM,                --상품명
    A.MAKR_CD,                --제조사코드
    A.RPRS_PRDT_ID,           --대표모델ID
    A.SHOW_YN,                --노출여부
    A.SALE_YN,                --판매여부
    A.OFW_DATE,               --출고일자
    A.LIST_SHOW_TEXT,         --목록노출텍스트
    A.LIST_SHOW_OPTN,         --목록노출옵션
    A.APD_DESC_1,             --추가설명1
    A.APD_DESC_2,             --추가설명2
    A.APD_DESC_3,             --추가설명3
    A.STCK_TYPE_TOP,          --스티커노출(상)
    A.STCK_TYPE_TAIL,         --스티커노출(하)
    A.LAYER_YN,               --레이어팝업 노출여부
    A.LAYER_IMAGE_URL,        --레이어이미지URL
    A.SHOW_ODRG,              --노출순서
    A.SNTY_PROD_DESC,         --단말기상품설명
    A.SNTY_NET,               --단말기네트워크
    A.SNTY_DISP,              --단말기디스플레이
    A.SNTY_SIZE,              --단말기크기
    A.SNTY_WEIGHT,            --단말기무게
    A.SNTY_MEMR,              --단말기메모리
    A.SNTY_BTRY,              --단말기배터리
    A.SNTY_OS,                --단말기OS
    A.SNTY_WAIT_TIME,         --단말기대기시간
    A.SNTY_CAM,               --단말기카메라
    A.SNTY_VIDE_TLK,          --단말기영상통화
    A.SNTY_PROD_NM,           --단말기명
    A.SNTY_REL_MONTH,         --출시월
    A.SNTY_COLOR,             --단말기색상
    A.SNTY_MAKER,             --단말기제조사/브랜드명
    A.SNTY_MODEL_ID,          --단말기모델번호
    A.CRET_ID,                --생성자아이디
    A.AMD_ID,                 --수정자아이디
    A.CRET_DT,                --생성일시
    A.AMD_DT,                 --수정일시
    B.MNFCT_NM,               --제조사명
    A.MAKR_NM,                --제조사명 중고폰에서만사용
    A.INVENTORY_AMT,          --중고폰 재고수량
    A.SALE_PRICE,             --중고폰 판매가격
    A.PROD_GRADE,             --종고폰 등급
    A.SHAND_TYPE,             --중고폰type 구분(중고폰,외산폰)
    A.RECOMMEND_RATE,         --추천요금제
    A.USED_WARRANTY,          --중고폰 워런티
    NVL(A.OFW_DATE,'') as ORDER_CRET_DT,
    IMG.SNTY_COLOR_CD,        --색상코드
    IMG.IMG_TYPE_CD,          --이미지유형구분(앞,뒤..)
    IMG.IMG_PATH,             --이미지경로
    PD_SALE.SALE_PLCY_CD,     --정책코드
    NVL(SESPLS_YN,'N') AS SESPLS_YN, --자급제여부 구분(Y, N)
    A.REP_RATE, --대표요금제 코드
    A.AGRM_TRM_BASE           -- 약정유형
    ,(SELECT LISTAGG(SNTY.ATRIB_VAL_CD_1, ',') WITHIN GROUP(ORDER BY SNTY.PROD_ID) FROM NMCP_SNTY_PROD_BAS@DL_MCP SNTY WHERE SNTY.PROD_ID = A.PROD_ID AND NVL(SNTY.SDOUT_YN,'N') <![CDATA[<>]]> 'Y' GROUP BY SNTY.PROD_ID) AS COLOR_CODES
    , (
    SELECT CHA.OUT_UNIT_PRIC
    FROM CMN_HNDST_AMT CHA
    WHERE CHA.RPRS_PRDT_ID = A.RPRS_PRDT_ID
    AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CHA.UNIT_PRIC_APPL_DTTM AND CHA.UNIT_PRIC_EXPR_DTTM
    AND ROWNUM = 1
    ) AS OUT_UNIT_PRIC
    , (
    SELECT IN_UNIT_PRIC
    FROM CMN_MNFCT_AMT CMN
    WHERE
    RPRS_PRDT_ID = A.RPRS_PRDT_ID
    AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CMN.UNIT_PRIC_APPL_DTTM AND CMN.UNIT_PRIC_EXPR_DTTM
    AND ROWNUM = 1
    ) AS IN_UNIT_PRIC
    FROM
    NMCP_PROD_BAS@DL_MCP A,
    ORG_MNFCT_MST B,
    NMCP_SNTY_PROD_BAS@DL_MCP SNTY,
    NMCP_PROD_IMG_DTL@DL_MCP IMG,
    (SELECT DISTINCT PRDT_SCTN_CD, SALE_PLCY_CD --DISTINCT SALE_PLCY_CD AS SALE_PLCY_CD
    FROM MSP_SALE_PLCY_MST PL
    WHERE SALE_PLCY_CD IN (SELECT SALE_PLCY_CD FROM MSP_SALE_ORGN_MST WHERE ORGN_ID = 'V000019481')
    AND TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') BETWEEN PL.SALE_STRT_DTTM AND PL.SALE_END_DTTM AND ROWNUM = 1) PD_SALE
    WHERE
    A.SHOW_YN ='Y'
    AND A.SALE_YN ='Y'
    AND A.MAKR_CD = B.MNFCT_ID
    <if test="shandYn != null and shandYn != ''">
      AND A.SHAND_YN = #{shandYn}
    </if>
    AND A.PROD_ID  = SNTY.PROD_ID
    <if test="prodCtgId != null and prodCtgId != ''">
      AND A.PROD_CTG_ID = #{prodCtgId}
    </if>
    AND SNTY.RPRS_PRDT_YN = 'Y'
    AND A.PROD_ID = IMG.PROD_ID
    AND SNTY.PROD_ID = IMG.PROD_ID
    AND SNTY.ATRIB_VAL_CD_1 = IMG.SNTY_COLOR_CD
    AND IMG_TYPE_CD='01'
    <if test="makrCd != null and makrCd != ''">
      AND A.MAKR_CD = #{makrCd}
    </if>
    <choose>
      <when test=" (sesplsYn != null and sesplsYn.equals('Y')) or (prodType == null or prodType.equals('')) ">
        AND A.PROD_TYPE IN('01','04','05')
      </when>
      <otherwise>
        AND PROD_TYPE =#{prodType}
      </otherwise>
    </choose>
    <if test="sesplsYn != null and sesplsYn != ''">
      AND NVL(SESPLS_YN,'N') = #{sesplsYn}
    </if>
    <if test="prodId != null and prodId != ''">
      AND A.PROD_ID = #{prodId}
    </if>
  </select>


  <!-- /phone/phoneProdBasForFrontOneQuery - 상품리스트 조회 (SELECT(MSP/MCP) : CMN_HNDST_AMT, CMN_MNFCT_AMT, NMCP_PROD_BAS@DL_MCP, ORG_MNFCT_MST, NMCP_SNTY_PROD_BAS@DL_MCP, NMCP_PROD_IMG_DTL@DL_MCP, MSP_SALE_PLCY_MST, PLN_PRDT_INFO@DL_MCP) -->
  <!-- SQL 메소드 변경 : listPhoneProdBasForFrontOneQuery2 -> selectPhoneProdBas -->
  <select id="selectPhoneProdBas" parameterType="com.ktmmobile.msf.domains.form.common.dto.CommonSearchDto" resultType="com.ktmmobile.msf.domains.form.common.dto.PhoneProdBasDto">
    SELECT /* /phone/phoneProdBasForFrontOneQuery : McpPhoneMapper.selectPhoneProdBas 상품리스트 조회 시작 */
    A.PROD_ID,                --상품아이디
    A.PROD_ID as prodId,      -- 상품 아이디
    A.PROD_CTG_ID,            --상품분류아이디 (lte,3g)
    A.PROD_NM,                --상품명
    A.MAKR_CD,                --제조사코드
    A.RPRS_PRDT_ID,           --대표모델ID
    A.SHOW_YN,                --노출여부
    A.SALE_YN,                --판매여부
    A.OFW_DATE,               --출고일자
    A.LIST_SHOW_TEXT,         --목록노출텍스트
    A.LIST_SHOW_OPTN,         --목록노출옵션
    A.APD_DESC_1,             --추가설명1
    A.APD_DESC_2,             --추가설명2
    A.APD_DESC_3,             --추가설명3
    A.STCK_TYPE_TOP,          --스티커노출(상)
    A.STCK_TYPE_TAIL,         --스티커노출(하)
    A.LAYER_YN,               --레이어팝업 노출여부
    A.LAYER_IMAGE_URL,        --레이어이미지URL
    <choose>
      <when test="ctgCd != null and ctgCd!= ''">
        T1.INDC_ODRG  AS SHOW_ODRG ,  -- 노출 순서
      </when>
      <otherwise>
        A.SHOW_ODRG,              --노출순서
      </otherwise>
    </choose>
    A.SNTY_PROD_DESC,         --단말기상품설명
    A.SNTY_NET,               --단말기네트워크
    A.SNTY_DISP,              --단말기디스플레이
    A.SNTY_SIZE,              --단말기크기
    A.SNTY_WEIGHT,            --단말기무게
    A.SNTY_MEMR,              --단말기메모리
    A.SNTY_BTRY,              --단말기배터리
    A.SNTY_OS,                --단말기OS
    A.SNTY_WAIT_TIME,         --단말기대기시간
    A.SNTY_CAM,               --단말기카메라
    A.SNTY_VIDE_TLK,          --단말기영상통화
    A.SNTY_PROD_NM,           --단말기명
    A.SNTY_REL_MONTH,         --출시월
    A.SNTY_COLOR,             --단말기색상
    A.SNTY_MAKER,             --단말기제조사/브랜드명
    A.SNTY_MODEL_ID,          --단말기모델번호
    A.CRET_ID,                --생성자아이디
    A.AMD_ID,                 --수정자아이디
    A.CRET_DT,                --생성일시
    A.AMD_DT,                 --수정일시
    B.MNFCT_NM,               --제조사명
    A.MAKR_NM,                --제조사명 중고폰에서만사용
    A.INVENTORY_AMT,          --중고폰 재고수량
    A.SALE_PRICE,             --중고폰 판매가격
    A.PROD_GRADE,             --종고폰 등급
    A.SHAND_TYPE,             --중고폰type 구분(중고폰,외산폰)
    A.RECOMMEND_RATE,         --추천요금제
    A.USED_WARRANTY,          --중고폰 워런티
    NVL(A.OFW_DATE,'') as ORDER_CRET_DT,
    IMG.SNTY_COLOR_CD,        --색상코드
    IMG.IMG_TYPE_CD,          --이미지유형구분(앞,뒤..)
    IMG.IMG_PATH,             --이미지경로
    PD_SALE.SALE_PLCY_CD,     --정책코드
    NVL(SESPLS_YN,'N') AS SESPLS_YN,--자급제여부 구분(Y, N)
    A.REP_RATE,  --대표요금제 코드
    A.AGRM_TRM_BASE-- 약정유형
    , (SELECT LISTAGG(SNTY.ATRIB_VAL_CD_1, ',') WITHIN GROUP(ORDER BY SNTY.PROD_ID) FROM NMCP_SNTY_PROD_BAS@DL_MCP SNTY WHERE SNTY.PROD_ID = A.PROD_ID AND NVL(SNTY.SDOUT_YN,'N') <![CDATA[<>]]> 'Y' GROUP BY SNTY.PROD_ID) AS COLOR_CODES
    , (
    SELECT CHA.OUT_UNIT_PRIC
    FROM CMN_HNDST_AMT CHA
    WHERE CHA.RPRS_PRDT_ID = A.RPRS_PRDT_ID
    AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CHA.UNIT_PRIC_APPL_DTTM AND CHA.UNIT_PRIC_EXPR_DTTM
    AND ROWNUM = 1
    ) AS OUT_UNIT_PRIC
    , (
    SELECT IN_UNIT_PRIC
    FROM CMN_MNFCT_AMT CMN
    WHERE
    RPRS_PRDT_ID = A.RPRS_PRDT_ID
    AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CMN.UNIT_PRIC_APPL_DTTM AND CMN.UNIT_PRIC_EXPR_DTTM
    AND ROWNUM = 1
    ) AS IN_UNIT_PRIC,
    A.LAYER_YN,     --레이어이미지 노출여부
    A.LAYER_IMAGE_URL -- 레이어이미지경로
    FROM
    NMCP_PROD_BAS@DL_MCP A,
    ORG_MNFCT_MST B,
    NMCP_SNTY_PROD_BAS@DL_MCP SNTY,
    NMCP_PROD_IMG_DTL@DL_MCP IMG,
    (
    SELECT
    PRDT_ID
    , MAX(SALE_PLCY_CD) AS SALE_PLCY_CD
    FROM
    MSP_SALE_PRDT_MST
    WHERE
    SALE_PLCY_CD IN
    <foreach item="prdt" index="index" collection="listMspSaleDto"
             open="(" separator="," close=")">
      #{prdt.salePlcyCd}
    </foreach>
    GROUP BY PRDT_ID
    ) PD_SALE
    <if test="ctgCd != null and ctgCd != ''">
      , (
      SELECT /* 기획전 상품 리스트 */
      PROD_ID
      ,INDC_ODRG
      FROM PLN_PRDT_INFO@DL_MCP
      WHERE 1=1
      AND CTG_CD = #{ctgCd}
      AND USE_YN = 'Y'
      AND SYSDATE BETWEEN TO_DATE(PSTNG_START_DATE,'YYYYMMDDHH24MISS') AND
      TO_DATE(PSTNG_END_DATE,'YYYYMMDDHH24MISS')
      ) T1
    </if>
    WHERE
    A.SHOW_YN ='Y'
    AND A.RPRS_PRDT_ID = PD_SALE.PRDT_ID
    AND A.SALE_YN ='Y'
    AND A.MAKR_CD = B.MNFCT_ID
    <if test="shandYn != null and shandYn != ''">
      AND A.SHAND_YN = #{shandYn}
    </if>
    AND A.PROD_ID  = SNTY.PROD_ID
    <if test="prodCtgId != null and prodCtgId != ''">
      AND A.PROD_CTG_ID = #{prodCtgId}
    </if>
    AND SNTY.RPRS_PRDT_YN = 'Y'
    AND A.PROD_ID = IMG.PROD_ID
    AND SNTY.PROD_ID = IMG.PROD_ID
    AND SNTY.ATRIB_VAL_CD_1 = IMG.SNTY_COLOR_CD
    AND IMG_TYPE_CD='01'
    <if test="makrCd != null and makrCd != ''">
      AND A.MAKR_CD = #{makrCd}
    </if>
    <choose>
      <when test="ctgCd != null and ctgCd!= ''">
        AND A.PROD_ID = T1.PROD_ID
      </when>
      <when test="(sesplsYn != null and sesplsYn.equals('Y')) or (prodType == null or prodType.equals(''))">
        AND A.PROD_TYPE IN('01','04','05','06')
      </when>
      <otherwise>
        AND PROD_TYPE =#{prodType}
      </otherwise>
    </choose>

    <if test="sesplsYn != null and sesplsYn != ''">
      AND NVL(SESPLS_YN,'N') = #{sesplsYn}
    </if>
    <if test="prodId != null and prodId != ''">
      AND A.PROD_ID = #{prodId}
    </if>
  </select>


  <!-- /phone/nmcpProdBas - 핸드폰 상품관리 상세 조회 (SELECT(MSP/MCP) : CMN_HNDST_AMT, CMN_MNFCT_AMT CMN, NMCP_PROD_BAS@DL_MCP, ORG_MNFCT_MST) -->
  <!-- SQL 메소드 변경 : findNmcpProdBas -> selectNmcpProdBas -->
  <select id="selectNmcpProdBas" parameterType="com.ktmmobile.msf.domains.form.common.dto.PhoneProdBasDto"  resultMap="findPhoneMapForCollection">
        SELECT /* /phone/nmcpProdBas : McpPhoneMapper.selectNmcpProdBas 핸드폰 상품관리 상세 조회 */
            A.PROD_ID,                 --상품아이디
            A.PROD_ID as prodId,       -- 상품 아이디
            A.PROD_CTG_ID,            --상품분류아이디 (lte,3g)
            A.PROD_NM,                --상품명
            A.MAKR_CD,                --제조사코드
            A.RPRS_PRDT_ID,           --대표모델ID
            A.SHOW_YN,                --노출여부
            A.SALE_YN,                --판매여부
            A.OFW_DATE,               --출고일자
            A.LIST_SHOW_TEXT,         --목록노출텍스트
            A.LIST_SHOW_OPTN,         --목록노출옵션
            A.APD_DESC_1,             --추가설명1
            A.APD_DESC_2,             --추가설명2
            A.APD_DESC_3,             --추가설명3
            A.STCK_TYPE_TOP,          --스티커노출(상)
            A.STCK_TYPE_TAIL,         --스티커노출(하)
            A.LAYER_YN,               --레이어팝업 노출여부
            A.LAYER_IMAGE_URL,        --레이어이미지URL
            A.SHOW_ODRG,              --노출순서
            A.SNTY_PROD_DESC,         --단말기상품설명
            A.SNTY_NET,               --단말기네트워크
            A.SNTY_DISP,              --단말기디스플레이
            A.SNTY_SIZE,              --단말기크기
            A.SNTY_WEIGHT,            --단말기무게
            A.SNTY_MEMR,              --단말기메모리
            A.SNTY_BTRY,              --단말기배터리
            A.SNTY_OS,                --단말기OS
            A.SNTY_WAIT_TIME,         --단말기대기시간
            A.SNTY_CAM,               --단말기카메라
            A.SNTY_VIDE_TLK,          --단말기영상통화
            A.SNTY_PROD_NM,           --단말기명
            A.SNTY_REL_MONTH,         --출시월
            A.SNTY_COLOR,             --단말기색상
            A.SNTY_MAKER,             --단말기제조사/브랜드명
            A.SNTY_MODEL_ID,          --단말기모델번호
            A.CRET_ID,                --생성자아이디
            A.AMD_ID,                 --수정자아이디
            A.CRET_DT,                --생성일시
            A.AMD_DT,                 --수정일시
            B.MNFCT_NM,               --제조사명
            A.SNTY_DETAIL_SPEC,       --휴대폰상세기능
            A.MAKR_NM,              --제조사명 중고폰에서만사용
            A.INVENTORY_AMT,            --중고폰 재고수량
            A.SALE_PRICE,               --중고폰 판매가격
            A.PROD_GRADE,               --종고폰 등급
            A.SHAND_TYPE,               --중고폰type 구분(중고폰,외산폰)
            A.RECOMMEND_RATE,       --추천요금제
            A.USED_WARRANTY,
            NVL(A.OFW_DATE,'') as ORDER_CRET_DT,
            A.RINK_URL,                --링크유알엘
            A.PROD_TYPE,            --상품 분류 (일반 :01, 0원 상품 :02)
            A.RENTAL_BASE_AMT,        --렌탈 기본료 금액
            A.RENTAL_BASE_DC_AMT,    --렌탈 기본료 할인 금액
            A.RENTAL_MODEL_CP_AMT,    -- 단말기 배상 금액
            NVL(A.SETTL_YN,'N') as SETTL_YN,  -- 결제여부(Y, N)
            NVL(A.SESPLS_YN,'N') AS SESPLS_YN --자급제여부 구분(Y, N)
                , (
                SELECT CHA.OUT_UNIT_PRIC * 1.1
                FROM CMN_HNDST_AMT CHA
                WHERE CHA.RPRS_PRDT_ID = A.RPRS_PRDT_ID
                  AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CHA.UNIT_PRIC_APPL_DTTM AND CHA.UNIT_PRIC_EXPR_DTTM
                  AND ROWNUM = 1
            ) AS OUT_UNIT_PRIC
                , (
                SELECT IN_UNIT_PRIC * 1.1
                FROM CMN_MNFCT_AMT CMN
                WHERE
                    RPRS_PRDT_ID = A.RPRS_PRDT_ID
                  AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CMN.UNIT_PRIC_APPL_DTTM AND CMN.UNIT_PRIC_EXPR_DTTM
                  AND ROWNUM = 1
            ) AS IN_UNIT_PRIC
            , A.RECOMMEND_RATE_NOARGM    -- 무약정추천요금
            , A.AGRM_TRM_BASE            -- 기본 약정
            , A.REP_RATE                -- 대표요금제
            , (SELECT DATA_TYPE FROM MSP_RATE_MST WHERE RATE_CD = A.REP_RATE) AS REP_RATE_DATA_TYPE
        FROM
            NMCP_PROD_BAS@DL_MCP A,
            ORG_MNFCT_MST B
        WHERE
            A.MAKR_CD = B.MNFCT_ID(+)
          AND B.MNFCT_YN(+) = 'Y' --제조사 여부 N 일경우 공급사
          AND PROD_ID = #{prodId}
    </select>

</mapper>
