<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CancelPageMapper">
    <select id="nextRequestKey" resultType="java.lang.Long">
        SELECT nextval('SQ_REQUEST_KEY')
    </select>

    <insert id="insertRequestCancel" parameterType="com.ktmmobile.msf.domains.form.form.termination.dto.TerminationApplyReqDto">
        INSERT INTO MSF_REQUEST_CANCEL (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            AGENT_CD,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CNTPNT_SHOP_CD,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            CANCEL_MOBILE_NO,
            CONTRACT_NUM,
            SCAN_ID,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            DRIVE_LICNS_NO,
            RECEIVE_WAY_CD,
            CANCEL_USE_COMPANY_CD,
            PAY_AMT,
            PNLT_AMT,
            LAST_SUM_AMT,
            INSTAMT_MNTH_CNT,
            INSTAMT_MNTH_AMT,
            BENEFIT_AGREE_YN,
            CLAUSE_CNTR_DEL_YN,
            ETC_AGREE_YN,
            MEMO,
            REG_DATE,
            REGST_ID,
            REG_DT,
            PROC_CD,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{agentCd},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cntpntShopCd},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{cancelMobileNo},
            #{contractNum},
            #{scanId},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{driveLicnsNo},
            #{receiveWayCd},
            #{cancelUseCompanyCd},
            #{payAmt},
            #{pnltAmt},
            #{lastSumAmt},
            #{instamtMnthCnt},
            #{instamtMnthAmt},
            #{benefitAgreeYn},
            #{clauseCntrDelYn},
            #{etcAgreeYn},
            #{memo},
            TO_CHAR(NOW(), 'YYYYMMDD'),
            #{regstId},
            NOW(),
            #{procCd},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm}
        )
    </insert>
</mapper>
