<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChangPageMapper">
    <select id="selectMspAddInfo" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.MspJuoAddInfoDto">
        SELECT CONTRACT_NUM
             , DVC_OFW_AMNT
             , INST_ORGIN_AMNT
             , INST_MNTH_CNT
             , ENGG_MNTH_CNT
             , MODEL_NAME
             , MODEL_ID
        FROM (
            SELECT CONTRACT_NUM
                 , DVC_OFW_AMNT
                 , INST_ORGIN_AMNT
                 , INST_MNTH_CNT
                 , ENGG_MNTH_CNT
                 , MODEL_NAME
                 , MODEL_ID
                 , ROW_NUMBER() OVER (ORDER BY EVNT_TRTM_DT DESC) AS RNUM
            FROM MSP_JUO_ADD_INFO
            WHERE CONTRACT_NUM = #{svcCntrNo}
              AND APP_END_DATE > TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        )
        WHERE RNUM = 1
    </select>

  <select id="selectCntrList" parameterType="java.util.HashMap" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpUserCntrMngDto">
    SELECT
    A.USERID
    , A.CNTR_MOBILE_NO
    , A.SYS_RDATE
    , B.SVC_CNTR_NO
    , B.CONTRACT_NUM
    , A.REP_NO
    , B.CUSTOMER_ID AS CUST_ID
    , B.MODEL_NAME
    , B.MODEL_ID
    , B.SUB_STATUS
    , A.CNTR_MOBILE_NO AS unSvcNo
    , B.USER_SSN AS unUserSSn
    , (SELECT CUSTOMER_TYPE FROM MSP_JUO_CUS_INFO@DL_MSP WHERE CUSTOMER_ID = B.CUSTOMER_ID AND ROWNUM = 1) AS CSTMR_TYPE
    , (SELECT CUSTOMER_LINK_NAME FROM MSP_JUO_CUS_INFO@DL_MSP WHERE CUSTOMER_ID = B.CUSTOMER_ID AND ROWNUM = 1) AS userName
    , B.OPEN_AGNT_CD
    , B.LST_COM_ACTV_DATE
    , B.PPPO
    FROM MCP_USER_CNTR_MNG@DL_MCP A, MSP_JUO_SUB_INFO B
    WHERE UPPER(A.USERID) = UPPER(#{userId})
    AND A.SVC_CNTR_NO = B.CONTRACT_NUM
    <if test="customerId != null and customerId != ''">
      AND A.CUSTOMER_ID = #{customerId}
    </if>
    AND B.SUB_STATUS <![CDATA[<>]]> 'C'
    ORDER BY A.REP_NO ASC
  </select>

  <select id="selectCntrListNoLogin" parameterType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpUserCntrMngDto" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.McpUserCntrMngDto">
    SELECT
    A.SVC_CNTR_NO
    , A.CONTRACT_NUM
    , A.CUSTOMER_ID AS CUST_ID
    , A.MODEL_NAME
    , A.MODEL_ID
    , A.SUBSCRIBER_NO AS CNTR_MOBILE_NO
    , A.SUB_STATUS
    , A.DOBYYYYMMDD
    , A.SUB_LINK_NAME AS USER_NAME
    , A.USER_SSN AS unUserSSn
    , A.LST_COM_ACTV_DATE
    , B.CUSTOMER_ID
    , B.CUSTOMER_TYPE
    , A.PPPO
    FROM MSP_JUO_SUB_INFO A, MSP_JUO_CUS_INFO B
    WHERE A.CUSTOMER_ID = B.CUSTOMER_ID
    <if test="svcCntrNo != null and svcCntrNo != ''">
      AND A.SVC_CNTR_NO = #{svcCntrNo}
    </if>
    <if test="cntrMobileNo != null and cntrMobileNo != ''">
      AND A.SUBSCRIBER_NO= TRIM(#{cntrMobileNo})
    </if>
    <if test="subLinkName != null and subLinkName != ''">
      AND UPPER(REPLACE(A.SUB_LINK_NAME,' ','')) = UPPER(REPLACE(#{subLinkName},' ',''))
    </if>
    AND SUB_STATUS <![CDATA[<>]]> 'C'
  </select>

</mapper>


