<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ChangPageApiMapper">
    <select id="selectMspAddInfo" parameterType="java.lang.String" resultType="com.ktmmobile.msf.domains.form.form.servicechange.dto.MspJuoAddInfoDto">
        SELECT CONTRACT_NUM
             , DVC_OFW_AMNT
             , INST_ORGIN_AMNT
             , INST_MNTH_CNT
             , ENGG_MNTH_CNT
             , MODEL_NAME
             , MODEL_ID
        FROM (
            SELECT CONTRACT_NUM
                 , DVC_OFW_AMNT
                 , INST_ORGIN_AMNT
                 , INST_MNTH_CNT
                 , ENGG_MNTH_CNT
                 , MODEL_NAME
                 , MODEL_ID
                 , ROW_NUMBER() OVER (ORDER BY EVNT_TRTM_DT DESC) AS RNUM
            FROM MSP_JUO_ADD_INFO
            WHERE CONTRACT_NUM = #{svcCntrNo}
              AND APP_END_DATE > TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
        )
        WHERE RNUM = 1
    </select>
</mapper>

