<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.eformsign.adapter.repository.mybatis.smartform.mapper.EformMapper">

  <select id="verifyFormPw" resultType="boolean">
    SELECT EXISTS (
      SELECT 1
      FROM ${requestResource} mr
      INNER JOIN msf_request_cstmr mrc
      ON mr.request_key = mrc.request_key
      WHERE mr.request_key::text = #{request.requestKey}
      <choose>
        <when test='authField == "cstmr_native_birth"'>
          AND SUBSTRING(mrc.cstmr_native_birth::text, 3, 6) = #{request.password}
        </when>
        <when test='authField == "cstmr_foreigner_birth"'>
          AND SUBSTRING(mrc.cstmr_foreigner_birth::text, 3, 6) = #{request.password}
        </when>
        <when test='authField == "cstmr_juridical_rrn"'>
          AND LEFT(mrc.cstmr_juridical_rrn::text, 10) = #{request.password}
        </when>
        <when test='authField == "cstmr_private_biz_no"'>
          AND LEFT(mrc.cstmr_private_biz_no::text, 10) = #{request.password}
        </when>
      </choose>
    )
  </select>
</mapper>