<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.common.repository.msp.ProductInfoReadMapper">

    <select id="selectMspSaleAgrmMstList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.MspSaleAgrmMstInfoDto">
        /* 요금제 약정기간 조회 : 해당정책코드에 해당하는 약정개월정보(무약정 포함) 리스트 조회 */
        SELECT
            RA.SALE_PLCY_CD,
            RA.AGRM_TRM,
            RA.REGST_ID,
            RA.REGST_DTTM,
            RA.RVISN_ID,
            RA.RVISN_DTTM
        FROM MSP_SALE_AGRM_MST RA
        WHERE RA.SALE_PLCY_CD = #{salePlcyCd}
        ORDER BY RA.AGRM_TRM
    </select>

    <select id="selectModelMonthlyList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneInfoDto">
        /* 휴대폰 할부개월 조회 : AppformMapper.selectModelMonthlyList */
        SELECT
        INST_NOM AS MODEL_MONTHLY
        FROM ORG_INST_NOM_MST
        WHERE SALE_PLCY_CD = #{modelSalePolicyCode}
        GROUP BY INST_NOM
    </select>

    <select id="selectMspSalePlcyMstList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.MspSalePlcyMstInfoDto">
        /* 판매정책조회 : MspMapper.findMspSaleOrgnMst */
        SELECT
            PL.SALE_PLCY_CD , --판매정책코드
            PL.SALE_PLCY_NM, --판매정책명
            PL.SALE_STRT_DTTM, --판매시작일시
            PL.SALE_END_DTTM, --판매종료일시
            PL.PLCY_TYPE_CD, --정책유형코드 M:오프라인, O:온라인
            PL.ORGN_TYPE, --조직유형
            PL.PLCY_SCTN_CD, --정책구분코드 01:단말, 02:USIM
            PL.PRDT_SCTN_CD, --제품구분코 02:3G, 03:LTE
            PL.APPL_SCTN_CD, --적용구분코드 O:개통일, R:접수일
            PL.INST_RATE, --할부이자율
            PL.NEW_YN, --신규여부
            PL.MNP_YN, --번호이동여부
            PL.HCN_YN, --기변여부
            PL.HDN_YN, --우수기변여부
            PL.CNFM_YN, --확정여부
            PL.CNFM_ID, --확정자ID
            PL.CNFM_DTTM, --확정일시
            PL.REGST_ID, --등록자ID
            PL.REGST_DTTM, --등록일시
            PL.RVISN_ID, --수정자ID
            PL.RVISN_DTTM, --수정일시
            PL.SPRT_TP, --할인유형
            (SELECT DTL_CD_NM FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID='F002' AND USE_YN='Y' AND PL.SPRT_TP=DTL_CD) AS SPRT_NM, --할인유형명
            ORG.ORGN_ID, --조직
            PRDT.PRDT_ID -- 단말아이디
        FROM
            MSP_SALE_PLCY_MST PL,
            MSP_SALE_ORGN_MST ORG,
            MSP_SALE_PRDT_MST PRDT
        WHERE PL.CNFM_YN='Y' -- 결제 YN (필수)
            AND PL.SALE_PLCY_CD = ORG.SALE_PLCY_CD
            AND PL.SALE_PLCY_CD = PRDT.SALE_PLCY_CD
            AND ORG.SALE_PLCY_cD = PRDT.SALE_PLCY_CD
            AND TO_CHAR(SYSDATE,'yyyymmddhh24miss') BETWEEN PL.SALE_STRT_DTTM AND PL.SALE_END_DTTM --판매기간 (필수)
            AND PL.PLCY_TYPE_CD = #{plcyTypeCd} -- 온라인:O , 오프라인:M , 직영온라인 : D
            AND PL.PLCY_SCTN_CD = #{plcySctnCd} -- 01:단말,02:유심
            AND ORG.ORGN_ID = #{orgnId} -- 조직코드
            <if test="prdtSctnCd != null and prdtSctnCd != ''">
                AND PL.PRDT_SCTN_CD = #{prdtSctnCd} -- LTE,3G
            </if>
            <if test="prdtId != null and prdtId != ''">
                AND PRDT.PRDT_ID = #{prdtId} -- 단말기ID (자급제인 경우는 SKIP 처리)
            </if>
            <if test="sprtTp != null and sprtTp != ''">
                AND PL.SPRT_TP = #{sprtTp} -- KD:단말할인,PM:요금할인
            </if>
            <if test="salePlcyNm != null and salePlcyNm != ''">
                AND PL.SALE_PLCY_NM LIKE #{salePlcyNm}
            </if>
            <if test="salePlcyCd != null and salePlcyCd != ''">
                AND PL.SALE_PLCY_CD = #{salePlcyCd}
            </if>
    </select>

    <select id="selectSaleTypeList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.MspSalePlcyMstInfoDto">
        /* 할인유형조회 */
        SELECT DISTINCT
            PL.SPRT_TP, --할인유형
            (SELECT DTL_CD_NM FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID='F002' AND USE_YN='Y' AND PL.SPRT_TP=DTL_CD) AS SPRT_NM --할인유형명
        FROM
            MSP_SALE_PLCY_MST PL,
            MSP_SALE_ORGN_MST ORG,
            MSP_SALE_PRDT_MST PRDT
        WHERE PL.CNFM_YN='Y' -- 결제 YN (필수)
            AND PL.SALE_PLCY_CD = ORG.SALE_PLCY_CD
            AND PL.SALE_PLCY_CD = PRDT.SALE_PLCY_CD
            AND ORG.SALE_PLCY_cD = PRDT.SALE_PLCY_CD
            AND TO_CHAR(SYSDATE,'yyyymmddhh24miss') BETWEEN PL.SALE_STRT_DTTM AND PL.SALE_END_DTTM --판매기간 (필수)
            AND PL.PLCY_TYPE_CD = #{plcyTypeCd} -- 온라인:O , 오프라인:M , 직영온라인 : D
            AND PL.PLCY_SCTN_CD = #{plcySctnCd} -- 01:단말,02:유심
            AND ORG.ORGN_ID = #{orgnId} -- 조직코드
            AND PRDT.PRDT_ID = #{prdtId} -- 단말기ID (자급제인 경우는 SKIP 처리)
            AND PL.SALE_PLCY_CD = #{salePlcyCd}
            <if test="prdtSctnCd != null and prdtSctnCd != ''">
                AND PL.PRDT_SCTN_CD = #{prdtSctnCd} -- LTE,3G
            </if>
    </select>

    <select id="selectPhoneList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneInfoDto">
        /* 휴대폰 목록 조회 PhoneMapper.listPhoneProdBasForFrontOneQuery */
        SELECT
            A.PROD_ID, -- 상품 아이디
            A.PROD_CTG_ID, --상품분류아이디 (lte,3g)
            A.PROD_NM, --상품명
            A.MAKR_CD, --제조사코드
            A.RPRS_PRDT_ID, --대표모델ID
            A.SHOW_YN, --노출여부
            A.SALE_YN, --판매여부
            A.OFW_DATE, --출고일자
            A.LIST_SHOW_TEXT, --목록노출텍스트
            A.LIST_SHOW_OPTN, --목록노출옵션
            A.SNTY_OS, --단말기OS
            A.SNTY_PROD_NM, --단말기명
            A.SNTY_REL_MONTH, --출시월
            A.SNTY_COLOR, --단말기색상
            A.SNTY_MAKER, --단말기제조사/브랜드명
            A.SNTY_MODEL_ID, --단말기모델번호
            B.MNFCT_NM, --제조사명
            A.MAKR_NM, --제조사명 중고폰에서만사용
            A.INVENTORY_AMT, --중고폰 재고수량
            A.SALE_PRICE, --중고폰 판매가격
            A.PROD_GRADE, --종고폰 등급
            A.SHAND_TYPE, --중고폰type 구분(중고폰,외산폰)
            A.RECOMMEND_RATE, --추천요금제
            A.USED_WARRANTY, --중고폰 워런티
            NVL(A.OFW_DATE,'') as ORDER_CRET_DT,
            PD_SALE.SALE_PLCY_CD, --정책코드
            NVL(SESPLS_YN,'N') AS SESPLS_YN,--자급제여부 구분(Y,N)
            A.REP_RATE AS , --대표요금제 코드
            A.AGRM_TRM_BASE -- 약정유형
            ,(
                SELECT LISTAGG(SNTY.ATRIB_VAL_CD_1, ',') WITHIN GROUP(ORDER BY SNTY.PROD_ID)
                FROM NMCP_SNTY_PROD_BAS@DL_MCP SNTY
                WHERE SNTY.PROD_ID = A.PROD_ID AND NVL(SNTY.SDOUT_YN,'N') <![CDATA[<>]]> 'Y' GROUP BY SNTY.PROD_ID
            ) AS COLOR_CODES
            , (
                SELECT CHA.OUT_UNIT_PRIC
                FROM CMN_HNDST_AMT CHA
                WHERE CHA.RPRS_PRDT_ID = A.RPRS_PRDT_ID
                AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CHA.UNIT_PRIC_APPL_DTTM AND CHA.UNIT_PRIC_EXPR_DTTM
                AND ROWNUM = 1
            ) AS OUT_UNIT_PRIC
            , (
                SELECT IN_UNIT_PRIC
                FROM CMN_MNFCT_AMT CMN
                WHERE
                RPRS_PRDT_ID = A.RPRS_PRDT_ID
                AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN CMN.UNIT_PRIC_APPL_DTTM AND CMN.UNIT_PRIC_EXPR_DTTM
                AND ROWNUM = 1
            ) AS IN_UNIT_PRIC
        FROM
            NMCP_PROD_BAS@DL_MCP A,
            ORG_MNFCT_MST B,
            NMCP_SNTY_PROD_BAS@DL_MCP SNTY,
            (
                SELECT PRDT_ID, MAX(SALE_PLCY_CD) AS SALE_PLCY_CD
                FROM
                MSP_SALE_PRDT_MST
                WHERE
                SALE_PLCY_CD IN
                    <foreach item="prdt" index="index" collection="listMspSaleDto"
                             open="(" separator="," close=")">
                        #{prdt.salePlcyCd}
                    </foreach>
                GROUP BY PRDT_ID
            ) PD_SALE
        WHERE
            A.SHOW_YN ='Y'
            AND A.RPRS_PRDT_ID = PD_SALE.PRDT_ID
            AND A.SALE_YN ='Y'
            AND A.MAKR_CD = B.MNFCT_ID
            <!--AND A.PROD_ID IN
                <foreach item="phone" index="index" collection="listPhoneDto"
                         open="(" separator="," close=")">
                    #{phone.prodId}
                </foreach>-->  <!--스마트가 관리하는 해당 대리점의 보유 단말의 PROD_ID 로 검색조건 추가-->
            <if test="shandYn != null and shandYn != ''">
                AND A.SHAND_YN = #{shandYn}
            </if>
            AND A.PROD_ID = SNTY.PROD_ID
            <if test="prodCtgId != null and prodCtgId != ''">
                AND A.PROD_CTG_ID = #{prodCtgId}
            </if>
            AND SNTY.RPRS_PRDT_YN = 'Y'
            <if test="makrCd != null and makrCd != ''">
                AND A.MAKR_CD = #{makrCd}
            </if>
            <choose>
                <when test="ctgCd != null and ctgCd!= ''">
                    AND A.PROD_ID = T1.PROD_ID
                </when>
                <when test="(sesplsYn != null and sesplsYn.equals('Y')) or (prodType == null or prodType.equals(''))">
                    AND A.PROD_TYPE IN('01','04','05','06')
                </when>
                <otherwise>
                    AND PROD_TYPE =#{prodType}
                </otherwise>
            </choose>
            <if test="sesplsYn != null and sesplsYn != ''">
                AND NVL(SESPLS_YN,'N') = #{sesplsYn}
            </if>
            <if test="prodId != null and prodId != ''">
                AND A.PROD_ID = #{prodId}
            </if>
    </select>

    <select id="selectPrdtColorList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneInfoDto">
        /* 핸드폰 색상 목록 조회 AppformMapper.selectPrdtColorList */
        SELECT
            A.PRDT_COLR_CD AS MODEL_COLOR_CD
            ,B.CD_DSC AS MODEL_COLOR_NM
            ,PRDT_ID
            ,PRDT_NM
        FROM
            CMN_INTM_MDL A
            , CMN_GRP_CD_MST B
        WHERE A.RPRS_YN = 'N'
            AND A.PRDT_COLR_CD = B.CD_VAL
            AND A.RPRS_PRDT_ID = #{rprsPrdtId}
            AND B.GRP_ID = 'CMN0044'
    </select>

    <select id="selectPrdtCapacityList"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneInfoDto">
        /* 휴대폰 용량 목록 조회 PhoneMapper.triggerSelectProdBasImgDtlList */
        SELECT
            A.PROD_ID AS PRDT_ID
            ,A.ATRIB_VAL_CD_2 AS MODEL_CAPACITY_CD
            ,A.ATRIB_VAL_NM_2 AS MODEL_CAPACITY_NM
        FROM
            NMCP_SNTY_PROD_BAS@DL_MCP A
            , NMCP_PROD_ATRIB_VAL_DTL@DL_MCP B
        WHERE PROD_ID = #{prodId}
            AND A.ATRIB_VAL_CD_2 = A.ATRIB_VAL_CD_2
            AND B.ATRIB_CD='P0'
        GROUP BY A.PROD_ID,A.ATRIB_VAL_CD_2,A.ATRIB_VAL_NM_2
    </select>

    <select id="selectRateList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.RateInfoDto">
        /* 요금제 목록 조회 MspMapper.listRateByOrgnInfos */
        SELECT DISTINCT
            RATE_MST.RATE_CD,
            RATE_MST.RATE_NM,
            RATE_MST.RATE_GRP_CD,
            RATE_MST.PAY_CL_CD,
            RATE_MST.RATE_TYPE,
            RATE_MST.DATA_TYPE,
            RATE_MST.BASE_AMT,
            RATE_MST.FREE_CALL_CL_CD,
            RATE_MST.FREE_CALL_CNT,
            RATE_MST.NW_IN_CALL_CNT,
            RATE_MST.NW_OUT_CALL_CNT,
            RATE_MST.FREE_SMS_CNT,
            RATE_MST.FREE_DATA_CNT,
            RATE_MST.RMK,
            RATE_MST.ONLINE_TYPE_CD,
            RATE_MST.AL_FLAG,
            RATE_MST.CMNT, -- 요금제혜택
            RATE_MST.SERVICE_TYPE,
            RATE_MST.JEHU_PROD_TYPE, --요금제제휴처
            (SELECT DTL_CD_NM FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID='JehuProdType' AND DTL_CD=RATE_MST.JEHU_PROD_TYPE AND ROWNUM=1) AS JEHU_PROD_NM, -- 요금제 제휴처명
            PLCY.SPRT_TP,
            PLCY.PLCY_SCTN_CD, --정책구분코드 01:단말, 02:USIM
            PLCY.PRDT_SCTN_CD, --제품구분코   02:3G, 03:LTE
            PLCY.PLCY_TYPE_CD  --CMN0050 정책유형코드 : W 도매
        FROM
            MSP_SALE_ORGN_MST ORGN,
            MSP_SALE_PLCY_MST PLCY,
            MSP_SALE_RATE_MST RATE,
            MSP_RATE_MST RATE_MST
        WHERE PLCY.CNFM_YN = 'Y'
            AND ORGN.SALE_PLCY_CD = PLCY.SALE_PLCY_CD
            AND PLCY.SALE_PLCY_CD = RATE.SALE_PLCY_CD
            AND RATE_MST.RATE_CD = RATE.RATE_CD
            AND TO_CHAR(SYSDATE,'yyyymmddhh24miss') BETWEEN PLCY.SALE_STRT_DTTM AND PLCY.SALE_END_DTTM /* 판매기간 */
            AND RATE_MST.PAY_CL_CD = #{payClCd} -- 후불
            AND RATE_MST.SERVICE_TYPE = #{serviceType} -- 요금제유형
            AND RATE_MST.RATE_CD IN ('PL241F504') -- 요금제코드
            <!--AND RATE_MST.RATE_CD in
                <foreach item="rate" index="index" collection="listRateDto"
                         open="(" separator="," close=")">
                    #{rate.prodId}
                </foreach>-->
            AND ORGN.ORGN_ID = #{orgnId} /* 조직코드 */
            AND PLCY.PLCY_SCTN_CD = #{plcySctnCd} /* 정책유형코드 */
            AND ORGN.SALE_PLCY_CD = #{salePlcyCd} /* 판매정책코드 */
            AND RATE_TYPE = #{rateType} /* 요금제유형 : 01(휴대폰), 02(유심) */
            <!--AND RATE_TYPE != '02'--> -- 02 아닌게 데이타가...흠
            <if test="sprtTp != null and sprtTp != ''">
                AND SPRT_TP = #{sprtTp} /* 할인유형 */
            </if>
            <if test="prdtSctnCd != null and prdtSctnCd != ''">
                AND PLCY.PRDT_SCTN_CD = #{prdtSctnCd}   -- 02:LTE, 03:3G
            </if>

        ORDER BY RATE_MST.RATE_NM
    </select>

    <select id="selectMspOfficialNoticeSupport"
            parameterType="com.ktmmobile.msf.domains.form.form.common.dto.ProductSearchCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneInfoDto">
        /* 공시지원금 조회 : MspMapper.listMspOfficialNoticeSupport */
        SELECT
            DECODE(B.PRDT_IND_CD , '03', '3G' , '04', 'LTE', '45', '5G', '08', '5G') AS PRDT_IND_CD -- 단말구분
            ,B.PRDT_NM -- 모델명
            ,A.RATE_NM -- 요금제
            ,D.OUT_UNIT_PRIC -- 출고가
            ,C.SUBSD_AMT -- 공시지원금
            ,CASE
            WHEN D.OUT_UNIT_PRIC - C.SUBSD_AMT<![CDATA[<]]> 0 THEN 0
            ELSE D.OUT_UNIT_PRIC - C.SUBSD_AMT
            END AS PRIC_AMT -- 판매가
            ,C.APPL_STRT_DT -- 공시일
        FROM
            MSP_RATE_MST A
            ,CMN_INTM_MDL B
            ,(
                SELECT
                    A.RATE_CD,
                    A.PRDT_ID,
                    A.OLD_YN,
                    A.SUBSD_AMT,
                    A.APPL_STRT_DT,
                    A.APPL_END_DT
                FROM MSP_OFCL_SUBSD_MST A
                WHERE to_char(sysdate, 'yyyymmdd') BETWEEN A.APPL_STRT_DT AND A.APPL_END_DT
                    AND A.PRDT_ID NOT IN (
                            SELECT DTL_CD
                            FROM NMCP_CD_DTL@DL_MCP
                            WHERE CD_GROUP_ID ='OFCLLIST' AND USE_YN ='Y'
                        )
                GROUP BY A.RATE_CD, A.PRDT_ID, A.OLD_YN, A.SUBSD_AMT, A.APPL_STRT_DT, A.APPL_END_DT
            ) C
            , (
                SELECT
                    RPRS_PRDT_ID, OUT_UNIT_PRIC * 1.1 AS OUT_UNIT_PRIC
                FROM CMN_HNDST_AMT A
                WHERE to_char(sysdate, 'yyyymmddHH24MISS') BETWEEN A.UNIT_PRIC_APPL_DTTM AND A.UNIT_PRIC_EXPR_DTTM
            ) D
        WHERE
            A.RATE_CD = C.RATE_CD
            AND B.PRDT_ID = C.PRDT_ID
            AND C.PRDT_ID = D.RPRS_PRDT_ID
            AND B.PRDT_DT > to_char(sysdate, 'yyyymmdd')
            AND A.RATE_CD NOT IN (SELECT CD_VAL FROM CMN_GRP_CD_MST WHERE GRP_ID = 'RCP9019' AND USG_YN = 'Y')
            <choose>
                <when test="prdtIndCd !=null and prdtIndCd != ''">
                    <if test="prdtIndCd == '45'">
                        AND B.PRDT_IND_CD in ('45', '08')
                    </if>
                    <if test="prdtIndCd != '45'">
                        AND B.PRDT_IND_CD = #{prdtIndCd} -- 단말유형 : LTE, 3G
                    </if>
                    <choose>
                        <when test='prdtIndCd == "03"'>
                            AND A.DATA_TYPE = '3G'
                        </when>
                        <when test='prdtIndCd == "04"'>
                            AND A.DATA_TYPE = 'LTE'
                        </when>
                        <when test="prdtIndCd == '45'">
                            AND A.DATA_TYPE = '5G'
                        </when>
                    </choose>
                </when>
                <otherwise>
                    AND A.DATA_TYPE = DECODE(B.PRDT_IND_CD,'45', '5G', '08', '5G')
                </otherwise>
            </choose>
            AND A.RATE_CD = #{rateCd} -- 요금제
            AND D.RPRS_PRDT_ID = #{rprsPrdtId} -- 핸드폰 대표단말코드
        ORDER BY B.PRDT_IND_CD DESC , B.PRDT_NM, A.RATE_NM
    </select>

    <select id="selectMsfAdditionList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.MsfRequestAdditionRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.MspAdditionDto">
        /** 부가서비스 상세 정보 조회 **/
        SELECT A.RATE_CD, A.RATE_NM, A.BASE_AMT
        FROM  MSP_RATE_MST A LEFT JOIN MSP_SALE_RATE_MST B ON A.RATE_CD = B.RATE_CD
        WHERE 1=1
            AND A.SERVICE_TYPE = 'R' AND B.SALE_PLCY_CD IS NULL  <!--부가서비스 구분코드 R 과 판매정책 없는 항목으로 조회해야함.-->
            AND A.RATE_CD IN
                <foreach item="addRate" index="index" collection="listProductCategoryDto"
                         open="(" separator="," close=")">
                    #{addRate.prodId}
                </foreach>
    </select>



</mapper>
