<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper">

  <insert id="insertMsfRequest" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestVo">
    INSERT INTO MSF_REQUEST_TEMP
    (REQUEST_KEY,
    TMP_STEP_CD,
    MANAGER_CD,
    AGENT_CD,
    SHOP_CD,
    SHOP_NM,
    REAL_SHOP_NM,
    CPNT_ID,
    CNTPNT_SHOP_CD,
    REQ_BUY_TYPE_CD,
    SERVICE_TYPE_CD,
    OPER_TYPE_CD,
    CSTMR_TYPE_CD,
    IDENTITY_CERT_TYPE_CD,
    KNOTE_IDENTITY_SCAN_CSTMR_NM,
    KNOTE_IDENTITY_ESS_NO,
    KNOTE_IDENTITY_TYPE_CD,
    KNOTE_IDENTITY_SCAN_DT,
    KNOTE_SCAN_ID,
    SCAN_ID,
    FATH_TRG_YN,
    FATH_TRG_IDENTITY_CERT_TYPE_CD,
    FATH_TRANSAC_ID,
    FATH_CMPLT_NTFY_DATE,
    FATH_TEL_NO,
    FATH_MOBILE_FN_NO,
    FATH_MOBILE_MN_NO,
    FATH_MOBILE_RN_NO,
    AUTH_INFO,
    IDENTITY_TYPE_CD,
    IDENTITY_ISSU_DATE,
    IDENTITY_ISSU_REGION,
    DRIVE_LICNS_NO,
    OPEN_NO,
    CONTRACT_NUM,
    PROD_TYPE_CD,
    PROD_ID,
    PROD_NM,
    REQ_PHONE_SN,
    REQ_MODEL_NM,
    SNTY_CAPAC_CD,
    SNTY_COLOR_CD,
    REQ_MODEL_COLOR,
    SHOP_USM_ID,
    USIM_KINDS_CD,
    REQ_USIM_SN,
    REQ_USIM_NM,
    EID,
    IMEI1,
    IMEI2,
    ESIM_PHONE_ID,
    UPLOAD_PHONE_SRL_NO,
    REQ_WANT_FN_NO,
    REQ_WANT_MN_NO,
    REQ_WANT_RN_NO,
    PRNTS_CONTRACT_NUM,
    PRNTS_MOBILE_NO,
    JEHU_PARTNER_TYPE_CD,
    JEHU_PROD_TYPE_CD,
    REQ_ADDITION_LIST_NM,
    REQ_ADDITION_PRICE,
    PHONE_PAYMENT_YN,
    ON_OFF_TYPE_CD,
    SO_CD,
    OPEN_REQ_DT,
    REQ_IN_DAY,
    CLAUSE_PRI_COLLECT_YN,
    CLAUSE_PRI_OFFER_YN,
    CLAUSE_ESS_COLLECT_YN,
    CLAUSE_PRI_TRUST_YN,
    CLAUSE_PRI_AD_YN,
    CLAUSE_CONFIDENCE_YN,
    CLAUSE_FATH_YN,
    NW_BLCK_AGRM_YN,
    APP_BLCK_AGRM_YN,
    BLCK_APP_DIV_CD,
    SO_TRNS_AGRM_YN,
    CLAUSE_JEHU_YN,
    CLAUSE_RENTAL_MODEL_CP_YN,
    CLAUSE_RENTAL_MODEL_CP_PR_YN,
    CLAUSE_RENTAL_SERVICE_YN,
    CLAUSE_MPPS35_YN,
    CLAUSE_FINANCE_YN,
    CLAUSE_5G_COVERAGE_YN,
    PERSONAL_INFO_COLLECT_AGREE_YN,
    OTHERS_TRNS_AGREE_YN,
    CLAUSE_SENSI_COLLECT_YN,
    CLAUSE_SENSI_OFFER_YN,
    CLAUSE_PARTNER_OFFER_YN,
    OTHERS_TRNS_KT_AGREE_YN,
    OTHERS_AD_RECEIVE_AGREE_YN,
    KT_COUNSEL_AGREE_YN,
    COMBINE_SOLO_TYPE_YN,
    COMBINE_SOLO_YN,
    ETC_SPECIAL_SBST,
    MEMO,
    REC_YN,
    RES_CD,
    RES_MSG,
    RES_NO,
    PRO_STTUS_CD,
    SBSC_PRO_CD,
    APP_FORM_YN,
    APP_FORM_XML_YN,
    FILE_NM,
    FILE_MASK_NM,
    FAX_YN,
    FAX_NO
    )
    VALUES(#{requestKey}
    , #{tmpStepCd}
    , #{managerCd}
    , #{agentCd}
    , #{shopCd}
    , #{shopNm}
    , #{realShopNm}
    , #{cpntId}
    , #{cntpntShopCd}
    , #{reqBuyTypeCd}
    , #{serviceTypeCd}
    , #{operTypeCd}
    , #{cstmrTypeCd}
    , #{identityCertTypeCd},#{knoteIdentityScanCstmrNm}
    , #{knoteIdentityEssNo}
    , #{knoteIdentityTypeCd}
    , #{knoteIdentityScanDt}
    , #{knoteScanId}
    , #{scanId}
    , #{fathTrgYn}
    , #{fathTrgIdentityCertTypeCd}
    , #{fathTransacId}
    , #{fathCmpltNtfyDate}
    , #{fathTelNo},#{fathMobileFnNo}
    , #{fathMobileMnNo}
    , #{fathMobileRnNo}
    , #{authInfo}
    , #{identityTypeCd}
    , #{identityIssuDate}
    , #{identityIssuRegion}
    , #{driveLicnsNo}
    , #{openNo}
    , #{contractNum},#{prodTypeCd}
    , #{prodId}
    , #{prodNm}
    , #{reqPhoneSn}
    , #{reqModelNm}
    , #{sntyCapacCd}
    , #{sntyColorCd}
    , #{reqModelColor}
    , #{shopUsmId}
    , #{usimKindsCd}
    , #{reqUsimSn}
    , #{reqUsimNm}
    , #{eid}
    , #{imei1}
    , #{imei2}
    , #{esimPhoneId}
    , #{uploadPhoneSrlNo}
    , #{reqWantFnNo}
    , #{reqWantMnNo}
    , #{reqWantRnNo},#{prntsContractNum}
    , #{prntsMobileNo}
    , #{jehuPartnerTypeCd}
    , #{jehuProdTypeCd}
    , #{reqAdditionListNm}
    , #{reqAdditionPrice}
    , #{phonePaymentYn}
    , #{onOffTypeCd}
    , #{soCd}
    , #{openReqDt}
    , #{reqInDay}
    , #{clausePriCollectYn}
    , #{clausePriOfferYn}
    , #{clauseEssCollectYn}
    , #{clausePriTrustYn}
    , #{clausePriAdYn}
    , #{clauseConfidenceYn}
    , #{clauseFathYn}
    , #{nwBlckAgrmYn}
    , #{appBlckAgrmYn}
    , #{blckAppDivCd}
    , #{soTrnsAgrmYn}
    , #{clauseJehuYn}
    , #{clauseRentalModelCpYn}
    , #{clauseRentalModelCpPrYn}
    , #{clauseRentalServiceYn}
    , #{clauseMpps35Yn}
    , #{clauseFinanceYn}
    , #{clause5gCoverageYn}
    , #{personalInfoCollectAgreeYn}
    , #{othersTrnsAgreeYn}
    , #{clauseSensiCollectYn}
    , #{clauseSensiOfferYn}
    , #{clausePartnerOfferYn}
    , #{othersTrnsKtAgreeYn}
    , #{othersAdReceiveAgreeYn}
    , #{ktCounselAgreeYn}
    , #{combineSoloTypeYn}
    , #{combineSoloYn}
    , #{etcSpecialSbst}
    , #{memo}
    , #{recYn}
    , #{resCd}
    , #{resMsg}
    , #{resNo}
    , #{proSttusCd}
    , #{sbscProCd}
    , #{appFormYn}
    , #{appFormXmlYn}
    , #{fileNm}
    , #{fileMaskNm}
    , #{faxYn}
    , #{faxNo}
    )
  </insert>

  <insert id="insertMsfRequestAgent" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestAgentVo">
    INSERT INTO MSF_REQUEST_AGENT_TEMP
    (REQUEST_KEY
    , FORM_TYPE_CD
    , MINOR_AGENT_NM
    , MINOR_AGENT_RRN
    , MINOR_AGENT_REL_TYPE_CD
    , MINOR_AGENT_TEL_FN_NO
    , MINOR_AGENT_TEL_MN_NO
    , MINOR_AGENT_TEL_RN_NO
    , MINOR_AGENT_AGRM_YN
    , MINOR_AGENT_SELF_INQRY_AGRM_YN
    , MINOR_AGENT_SELF_CERT_TYPE_CD
    , MINOR_AGENT_CI_INFO
    , MINOR_AGENT_SELF_ISSU_EXPR_DATE
    , MINOR_AGENT_SELF_ISSU_NO
    , JRDCL_AGENT_NM
    , JRDCL_AGENT_RRN
    , JRDCL_AGENT_TEL_FN_NO
    , JRDCL_AGENT_TEL_MN_NO
    , JRDCL_AGENT_TEL_RN_NO)
    VALUES(#{requestKey}
    , #{formTypeCd}
    , #{minorAgentNm}
    , #{minorAgentRrn}
    , #{minorAgentRelTypeCd}
    , #{minorAgentTelFnNo}
    , #{minorAgentTelMnNo}
    , #{minorAgentTelRnNo}
    , #{minorAgentAgrmYn}
    , #{minorAgentSelfInqryAgrmYn}
    , #{minorAgentSelfCertTypeCd}
    , #{minorAgentCiInfo}
    , #{minorAgentSelfIssuExprDate}
    , #{minorAgentSelfIssuNo}
    , #{jrdclAgentNm}
    , #{jrdclAgentRrn}
    , #{jrdclAgentTelFnNo}
    , #{jrdclAgentTelMnNo}
    , #{jrdclAgentTelRnNo})
  </insert>

  <insert id="insertMsfRequestCstmr" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestCstmrVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_CSTMR_TEMP
    (REQUEST_KEY
    , FORM_TYPE_CD
    , CSTMR_NM
    , CSTMR_NATIVE_RRN
    , CSTMR_NATIVE_BIRTH
    , CSTMR_PRIVATE_CNAME
    , CSTMR_PRIVATE_BIZ_NO
    , CSTMR_FOREIGNER_RRN
    , CSTMR_FOREIGNER_BIRTH
    , CSTMR_FOREIGNER_PN
    , CSTMR_FOREIGNER_COUNTRY_CD
    , CSTMR_FOREIGNER_NATION
    , CSTMR_FOREIGNER_VISA_NO
    , CSTMR_FOREIGNER_VDATE_START_DATE
    , CSTMR_FOREIGNER_VDATE_END_DATE
    , CSTMR_JURIDICAL_CNAME
    , CSTMR_JURIDICAL_RRN
    , CSTMR_JURIDICAL_BIZ_NO
    , CSTMR_JURIDICAL_REP_NM
    , UPJN_CD
    , BCU_SBST
    , CSTMR_JURIDICAL_USER_NM
    , CSTMR_JURIDICAL_BIRTH
    , CSTMR_VISIT_TYPE_CD
    , CSTMR_TEL_FN_NO
    , CSTMR_TEL_MN_NO
    , CSTMR_TEL_RN_NO
    , CSTMR_MOBILE_FN_NO
    , CSTMR_MOBILE_MN_NO
    , CSTMR_MOBILE_RN_NO
    , CSTMR_ZIPCD
    , CSTMR_ADR
    , CSTMR_ADR_DTL
    , CSTMR_ADR_BJD
    , CSTMR_EMAIL_ADR
    , CSTMR_EMAIL_RECEIVE_YN
    , CSTMR_RECEIVE_TEL_FN_NO
    , CSTMR_RECEIVE_TEL_NM_NO
    , CSTMR_RECEIVE_TEL_RN_NO)
    VALUES(#{requestKey}
    , #{formTypeCd}
    , #{cstmrNm}
    , #{cstmrNativeRrn}
    , #{cstmrNativeBirth}
    , #{cstmrPrivateCname}
    , #{cstmrPrivateBizNo}
    , #{cstmrForeignerRrn}
    , #{cstmrForeignerBirth}
    , #{cstmrForeignerPn}
    , #{cstmrForeignerCountryCd}
    , #{cstmrForeignerNation}
    , #{cstmrForeignerVisaNo}
    , #{cstmrForeignerVdateStartDate}
    , #{cstmrForeignerVdateEndDate}
    , #{cstmrJuridicalCname}
    , #{cstmrJuridicalRrn}
    , #{cstmrJuridicalBizNo}
    , #{cstmrJuridicalRepNm}
    , #{upjnCd}
    , #{bcuSbst}
    , #{cstmrJuridicalUserNm}
    , #{cstmrJuridicalBirth}
    , #{cstmrVisitTypeCd}
    , #{cstmrTelFnNo}
    , #{cstmrTelMnNo}
    , #{cstmrTelRnNo}
    , #{cstmrMobileFnNo}
    , #{cstmrMobileMnNo}
    , #{cstmrMobileRnNo}
    , #{cstmrZipcd}
    , #{cstmrAdr}
    , #{cstmrAdrDtl}
    , #{cstmrAdrBjd}
    , #{cstmrEmailAdr}
    , #{cstmrEmailReceiveYn}
    , #{cstmrReceiveTelFnNo}
    , #{cstmrReceiveTelNmNo}
    , #{cstmrReceiveTelRnNo})
  </insert>

  <insert id="insertMsfRequestSale" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestSaleVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_SALE_TEMP
    (REQUEST_KEY
    , FORM_TYPE_CD
    , MODEL_ID
    , MODEL_MONTHLY
    , MODEL_INSTAMT
    , MODEL_SALE_POLICY_CD
    , MODEL_PRICE_VAT
    , MODEL_DISCOUNT1
    , MODEL_SPRT
    , MODEL_PRICE
    , MODEL_DISCOUNT3
    , REAL_MDL_INSTAMT
    , HNDSET_SALE_PRICE
    , SPRT_TYPE_CD
    , DC_AMT
    , MAX_APD_SPRT
    , ADD_DC_AMT
    , ENGG_MNTH_CNT
    , RECYCLE_YN
    , USIM_PRICE_TYPE_CD
    , USIM_PRICE
    , USIM_PAY_MTHD_CD
    , SESPLS_YN
    , JOIN_PRICE_TYPE_CD
    , JOIN_PAY_MTHD_CD
    , JOIN_PRICE
    , SOC_CODE
    , SOC_NM
    , SOC_BASE_CHRG_AMT)
    VALUES(#{requestKey}
    , #{formTypeCd}
    , #{modelId}
    , #{modelMonthly}
    , #{modelInstamt}
    , #{modelSalePolicyCd}
    , #{modelPriceVat}
    , #{modelDiscount1}
    , #{modelSprt}
    , #{modelPrice}
    , #{modelDiscount3}
    , #{realMdlInstamt}
    , #{hndsetSalePrice}
    , #{sprtTypeCd}
    , #{dcAmt}
    , #{maxApdSprt}
    , #{addDcAmt}
    , #{enggMnthCnt}
    , #{recycleYn}
    , #{usimPriceTypeCd}
    , #{usimPrice}
    , #{usimPayMthdCd}
    , #{sesplsYn}
    , #{joinPriceTypeCd}
    , #{joinPayMthdCd}
    , #{joinPrice}
    , #{socCode}
    , #{socNm}
    , #{socBaseChrgAmt})
  </insert>

  <insert id="insertMsfRequestBillReq" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestBillReqVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_BILL_REQ_TEMP
    (REQUEST_KEY
    , FORM_TYPE_CD
    , REQ_PAY_TYPE_CD
    , REQ_BANK_CD
    , REQ_ACCOUNT_NM
    , REQ_ACCOUNT_RRN
    , REQ_ACCOUNT_REL_TYPE_CD
    , REQ_ACCOUNT_NO
    , REQ_CARD_NM
    , REQ_CARD_RRN
    , REQ_CARD_COMPANY_CD
    , REQ_CARD_NO
    , REQ_CARD_YY
    , REQ_CARD_MM
    , REQ_WIRE_TYPE_CD
    , OTHERS_PAYMENT_YN
    , OTHERS_PAYMENT_TEL_FN_NO
    , OTHERS_PAYMENT_TEL_MN_NO
    , OTHERS_PAYMENT_TEL_RN_NO
    , OTHERS_PAYMENT_NM
    , OTHERS_PAYMENT_RRN
    , OTHERS_PAYMENT_REL_TYPE_CD
    , OTHERS_PAYMENT_REQ_NM
    , PRNTS_BILL_NO
    , CSTMR_BILL_SEND_TYPE_CD
    , CSTMR_EMAIL_ADR)
    VALUES(#{requestKey}
    , #{formTypeCd}
    , #{reqPayTypeCd}
    , #{reqBankCd}
    , #{reqAccountNm}
    , #{reqAccountRrn}
    , #{reqAccountRelTypeCd}
    , #{reqAccountNo}
    , #{reqCardNm}
    , #{reqCardRrn}
    , #{reqCardCompanyCd}
    , #{reqCardNo}
    , #{reqCardYy}
    , #{reqCardMm}
    , #{reqWireTypeCd}
    , #{othersPaymentYn}
    , #{othersPaymentTelFnNo}
    , #{othersPaymentTelMnNo}
    , #{othersPaymentTelRnNo}
    , #{othersPaymentNm}
    , #{othersPaymentRrn}
    , #{othersPaymentRelTypeCd}
    , #{othersPaymentReqNm}
    , #{prntsBillNo}
    , #{cstmrBillSendTypeCd}
    , #{cstmrEmailAdr})
  </insert>


  <update id="updateMsfRequest" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestVo">
    UPDATE MSF_REQUEST_TEMP
    SET
    MANAGER_CD='M0002'
    WHERE REQUEST_KEY = #{requestKey}
  </update>
  <update id="updateMsfRequestAgent" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestAgentVo">
    UPDATE MSF_REQUEST_AGENT_TEMP
    SET
    MINOR_AGENT_AGRM_YN='Y'
    WHERE REQUEST_KEY = #{requestKey} AND FORM_TYPE_CD = #{formTypeCd}
  </update>
  <update id="updateMsfRequestCstmr" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestCstmrVo">
    UPDATE MSF_REQUEST_CSTMR_TEMP
    SET
    CSTMR_RECEIVE_TEL_FN_NO='010'
    WHERE REQUEST_KEY = #{requestKey} AND FORM_TYPE_CD = #{formTypeCd}
  </update>
  <update id="updateMsfRequestSale" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestSaleVo">
    UPDATE MSF_REQUEST_SALE_TEMP
    SET
    MODEL_ID='K7777777'
    WHERE REQUEST_KEY = #{requestKey} AND FORM_TYPE_CD = #{formTypeCd}
  </update>
  <update id="updateMsfRequestBillReq" parameterType="com.ktmmobile.msf.domains.form.form.newchange.vo.MsfRequestBillReqVo">
    UPDATE MSF_REQUEST_BILL_REQ_TEMP
    SET
    REQ_PAY_TYPE_CD='C'
    WHERE REQUEST_KEY = #{requestKey} AND FORM_TYPE_CD = #{formTypeCd}
  </update>


</mapper>