<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper">

  <insert id="insertMsfRequestTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestVo">
    INSERT INTO MSF_REQUEST_TEMP
    (
        REQUEST_KEY
      , TMP_STEP_CD
      , <include refid="smartIdentityColumns"/>
      , <include refid="smartRequestColumns"/>
      , OPEN_REQ_DT
      , REQ_IN_DT
    )
    VALUES(#{requestKey}
    , #{tmpStepCd}
    , #{knoteIdentityScanCstmrNm}
    , #{knoteIdentityEssNo}
    , #{knoteIdentityTypeCd}
    , #{knoteIdentityScanDt}
    , #{knoteScanId}
    , COALESCE(#{fathTrgYn},'N')
    , #{fathTrgIdentityCertTypeCd}
    , #{fathTransacId}
    , #{fathCmpltNtfyDate}
    , #{fathTelNo}
    , #{fathMobileFnNo}
    , #{fathMobileMnNo}
    , #{fathMobileRnNo}
    , #{authInfo}
    , #{identityTypeCd}
    , #{identityIssuDate}
    , #{identityIssuRegion}
    , #{selfIssuNo}
    , #{driveLicnsNo}
    , COALESCE(#{identityCertTypeCd},'S')
    , #{managerCd}
    , #{managerNm}
    , #{agentCd}
    , #{agentNm}
    , #{shopCd}
    , #{shopNm}
    , #{realShopNm}
    , #{cpntId}
    , #{cpntNm}
    , #{cntpntShopCd}
    , #{cntpntShopNm}
    , #{reqBuyTypeCd}
    , #{openTypeCd}
    , #{serviceTypeCd}
    , #{operTypeCd}
    , #{cstmrTypeCd}
    , #{openNo}
    , #{contractNum}
    , #{custId}
    , #{billAcntNo}
    , #{prodTypeCd}
    , #{prodId}
    , #{prodNm}
    , #{reqPhoneSn}
    , #{reqModelNm}
    , #{sntyCapacCd}
    , #{sntyColorCd}
    , #{reqModelColor}
    , #{shopUsmId}
    , #{usimKindsCd}
    , #{reqUsimSn}
    , #{reqUsimNm}
    , #{eid}
    , #{imei1}
    , #{imei2}
    , #{esimPhoneId}
    , #{uploadPhoneSrlNo}
    , #{reqWantFnNo}
    , #{reqWantMnNo}
    , #{reqWantRnNo}
    , #{insrCd}
    , #{insrProdCd}
    , COALESCE(#{clauseInsuranceYn},'N')
    , COALESCE(#{clauseInsrProdYn},'N')
    , #{insrAuthInfo}
    , #{prntsContractNum}
    , #{prntsMobileNo}
    , #{jehuPartnerTypeCd}
    , #{jehuProdTypeCd}
    , #{reqAdditionListNm}
    , COALESCE(#{reqAdditionPrice},0)
    , #{phonePaymentYn}
    , #{onOffTypeCd}
    , #{soCd}
    , COALESCE(#{clausePriCollectYn},'N')
    , COALESCE(#{clausePriOfferYn},'N')
    , COALESCE(#{clauseEssCollectYn},'N')
    , COALESCE(#{clausePriTrustYn},'N')
    , COALESCE(#{clausePriAdYn},'N')
    , COALESCE(#{clauseConfidenceYn},'N')
    , COALESCE(#{clauseFathYn},'N')
    , COALESCE(#{nwBlckAgrmYn},'N')
    , COALESCE(#{appBlckAgrmYn},'N')
    , #{blckAppDivCd}
    , COALESCE(#{soTrnsAgrmYn},'N')
    , COALESCE(#{clauseJehuYn},'N')
    , COALESCE(#{clauseRentalModelCpYn},'N')
    , COALESCE(#{clauseRentalModelCpPrYn},'N')
    , COALESCE(#{clauseRentalServiceYn},'N')
    , COALESCE(#{clauseMpps35Yn},'N')
    , COALESCE(#{clauseFinanceYn},'N')
    , COALESCE(#{clause5gCoverageYn},'N')
    , COALESCE(#{personalInfoCollectAgreeYn},'N')
    , COALESCE(#{othersTrnsAgreeYn},'N')
    , COALESCE(#{clauseSensiCollectYn},'N')
    , COALESCE(#{clauseSensiOfferYn},'N')
    , COALESCE(#{clausePartnerOfferYn},'N')
    , COALESCE(#{othersTrnsKtAgreeYn},'N')
    , COALESCE(#{othersAdReceiveAgreeYn},'N')
    , COALESCE(#{ktCounselAgreeYn},'N')
    , COALESCE(#{combineSoloTypeYn},'N')
    , COALESCE(#{combineSoloYn},'N')
    , #{etcSpecialSbst}
    , #{memo}
    , #{recYn}
    , #{resCd}
    , #{resMsg}
    , #{resNo}
    , #{procDt}
    , #{procCd}
    , #{proSttusCd}
    , #{sbscProCd}
    , #{scanId}
    , #{appFormYn}
    , #{appFormXmlYn}
    , #{fileNm}
    , #{fileMaskNm}
    , #{faxYn}
    , #{faxNo}
    , #{parentScanId}
    , #{clauseMoveCode}
    , #{othersTrnsAllAgreeYn}
    , #{indvLocaPrvAgreeYn}
    , #{disPrmtId}
    , #{volumeMobileNoQnty}
    , #{volumeRepMobileNoYn}
    , #{volumeRepMobileNo}
    , #{openReqDt}
    , #{reqInDt}
    )
  </insert>

  <insert id="insertMsfRequestAgentTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAgentVo">
    INSERT INTO MSF_REQUEST_AGENT_TEMP
    (
      REQUEST_KEY
      , <include refid="smartRequestAgentColumns"/>)
    VALUES(#{requestKey}
    , #{minorAgentNm}
    , #{minorAgentRrn}
    , #{minorAgentBirth}
    , #{minorAgentGenderCd}
    , #{minorAgentRelTypeCd}
    , #{minorAgentTelFnNo}
    , #{minorAgentTelMnNo}
    , #{minorAgentTelRnNo}
    , #{minorAgentAgrmYn}
    , #{minorAgentSelfInqryAgrmYn}
    , #{minorAgentSelfCertTypeCd}
    , #{minorAgentCiInfo}
    , #{jrdclAgentNm}
    , #{jrdclAgentRrn}
    , #{jrdclAgentRelTypeCd}
    , #{jrdclAgentTelFnNo}
    , #{jrdclAgentTelMnNo}
    , #{jrdclAgentTelRnNo})
  </insert>

  <insert id="insertMsfRequestCstmrTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCstmrVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_CSTMR_TEMP
    (REQUEST_KEY
    , <include refid="smartRequestCstmrColumns"/>)
    VALUES(#{requestKey}
    , #{cstmrNm}
    , #{cstmrNativeRrn}
    , #{cstmrNativeBirth}
    , #{cstmrNativeGenderCd}
    , #{cstmrPrivateCname}
    , #{cstmrPrivateBizNo}
    , #{cstmrForeignerRrn}
    , #{cstmrForeignerBirth}
    , #{cstmrForeignerGenderCd}
    , #{cstmrForeignerPn}
    , #{cstmrForeignerCountryCd}
    , #{cstmrForeignerNation}
    , #{cstmrForeignerVisaNo}
    , #{cstmrForeignerVdateStartDate}
    , #{cstmrForeignerVdateEndDate}
    , #{cstmrJuridicalCname}
    , #{cstmrJuridicalRrn}
    , #{cstmrJuridicalBizNo}
    , #{cstmrJuridicalRepNm}
    , #{upjnCd}
    , #{bcuSbst}
    , #{cstmrJuridicalUserNm}
    , #{cstmrJuridicalBirth}
    , #{cstmrVisitTypeCd}
    , #{cstmrTelFnNo}
    , #{cstmrTelMnNo}
    , #{cstmrTelRnNo}
    , #{cstmrMobileFnNo}
    , #{cstmrMobileMnNo}
    , #{cstmrMobileRnNo}
    , #{cstmrZipcd}
    , #{cstmrAdr}
    , #{cstmrAdrDtl}
    , #{cstmrAdrBjd}
    , #{cstmrEmailAdr}
    , #{cstmrEmailReceiveYn}
    , #{cstmrReceiveTelFnNo}
    , #{cstmrReceiveTelNmNo}
    , #{cstmrReceiveTelRnNo}
    , #{cstmrPrivateBizNoIssuDate}
    , #{cstmrJuridicalBizNoIssuDate})
  </insert>

  <insert id="insertMsfRequestSaleTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSaleVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_SALE_TEMP
    (REQUEST_KEY
    , <include refid="smartRequestSaleColumns"/>)
    VALUES(#{requestKey}
    , #{modelId}
    , #{modelMonthly}
    , #{modelInstamt}
    , #{modelSalePolicyCd}
    , #{modelPriceVat}
    , #{modelDiscount1}
    , #{modelSprt}
    , #{modelPrice}
    , #{modelDiscount3}
    , #{realMdlInstamt}
    , #{hndsetSalePrice}
    , #{sprtTypeCd}
    , #{dcAmt}
    , #{maxApdSprt}
    , #{addDcAmt}
    , #{enggMnthCnt}
    , #{recycleYn}
    , #{usimPriceTypeCd}
    , #{usimPrice}
    , #{usimPayMthdCd}
    , #{sesplsYn}
    , #{joinPriceTypeCd}
    , #{joinPayMthdCd}
    , #{joinPrice}
    , #{socCode}
    , #{socNm}
    , #{socBaseChrgAmt}
    , #{disPrmtAmt})
  </insert>

  <insert id="insertMsfRequestBillReqTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestBillReqVo">
    INSERT INTO SMARTFORM.MSF_REQUEST_BILL_REQ_TEMP
    (REQUEST_KEY
    , <include refid="smartRequestBillReqColumns"/>)
    VALUES(#{requestKey}
    , #{reqPayTypeCd}
    , #{reqBankCd}
    , #{reqAccountNm}
    , #{reqAccountRrn}
    , #{reqAccountRelTypeCd}
    , #{reqAccountNo}
    , #{reqCardNm}
    , #{reqCardRrn}
    , #{reqCardCompanyCd}
    , #{reqCardNo}
    , #{reqCardYy}
    , #{reqCardMm}
    , #{reqWireTypeCd}
    , #{othersPaymentYn}
    , #{othersPaymentTelFnNo}
    , #{othersPaymentTelMnNo}
    , #{othersPaymentTelRnNo}
    , #{othersPaymentNm}
    , #{othersPaymentRrn}
    , #{othersPaymentRelTypeCd}
    , #{othersPaymentReqNm}
    , COALESCE(#{othersPaymentAgrYn},'N')
    , #{prntsBillNo}
    , #{cstmrBillSendTypeCd}
    , #{cstmrEmailAdr})
  </insert>

  <insert id="insertMsfRequestMoveTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMoveVo">
    INSERT INTO MSF_REQUEST_MOVE_TEMP
    (REQUEST_KEY
    , <include refid="smartRequestMoveColumns"/>)
    VALUES(#{requestKey}
    , #{moveCompanyCd}
    , #{moveMobileFnNo}
    , #{moveMobileMnNo}
    , #{moveMobileRnNo}
    , #{moveAuthTypeCd}
    , #{moveAuthNo}
    , #{moveThismonthPayTypeCd}
    , #{moveAllotmentSttusCd}
    , COALESCE(#{moveRefundAgreeYn},'N')
    , COALESCE(#{reqGuideYn},'N')
    , #{reqGuideFnNo}
    , #{reqGuideRnNo}
    , #{reqGuideMnNo}
    , #{osstPayDate}
    , #{osstPayTypeCd}
    , COALESCE(#{movePenalty},0))
  </insert>

  <insert id="insertMsfRequestDvcChgTemp"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDvcChgVo">
    INSERT INTO MSF_REQUEST_DVC_CHG_TEMP (
        REQUEST_KEY, <include refid="smartRequestDvcChgColumns"/>
    ) VALUES (
        #{requestKey},
        #{dvcChgTypeCd},
        #{dvcChgRsnCd},
        #{dvcChgRsnDtlCd},
        #{instamtPayMthdCd}
    )
  </insert>

  <update id="updateMsfRequestTempClose" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
    UPDATE MSF_REQUEST_TEMP
    SET
    <if test='requestClose == "Y"'>
      TMP_STEP_CD = #{tmpStepCd}
    </if>
    <if test='requestClose == "N"'>
       SCAN_ID = #{scanId}
      , FILE_NM = #{fileNm}
      , FILE_MASK_NM = #{fileMaskNm}
      , REC_YN = #{recYn}
      , REQ_IN_DT = NOW()
    </if>
    WHERE REQUEST_KEY = #{requestKey}
  </update>

  <update id="updateMsfRequestTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestVo">
    UPDATE MSF_REQUEST_TEMP
    SET
        REQ_BUY_TYPE_CD=#{reqBuyTypeCd}
      , OPER_TYPE_CD=#{operTypeCd}
      , OPEN_TYPE_CD=#{openTypeCd}
      , SCAN_ID=#{scanId}
      , IDENTITY_CERT_TYPE_CD = #{identityCertTypeCd}
      , FATH_TRG_YN=COALESCE(#{fathTrgYn},'N')
      , FATH_TRG_IDENTITY_CERT_TYPE_CD=#{fathTrgIdentityCertTypeCd}
      , FATH_TRANSAC_ID=#{fathTransacId}
      , FATH_CMPLT_NTFY_DATE=#{fathCmpltNtfyDate}
      , FATH_TEL_NO=#{fathTelNo}
      , FATH_MOBILE_FN_NO=#{fathMobileFnNo}
      , FATH_MOBILE_MN_NO=#{fathMobileMnNo}
      , FATH_MOBILE_RN_NO=#{fathMobileRnNo}
      , AUTH_INFO=#{authInfo}
      , IDENTITY_TYPE_CD=#{identityTypeCd}
      , IDENTITY_ISSU_DATE=#{identityIssuDate}
      , IDENTITY_ISSU_REGION=#{identityIssuRegion}
      , DRIVE_LICNS_NO=#{driveLicnsNo}
      , OPEN_NO=#{openNo}
      , CONTRACT_NUM=#{contractNum}
      , CUST_ID=#{custId}
      , BILL_ACNT_NO=#{billAcntNo}
      , PROD_TYPE_CD=#{prodTypeCd}
      , PROD_ID=#{prodId}
      , PROD_NM=#{prodNm}
      , REQ_PHONE_SN=#{reqPhoneSn}
      , REQ_MODEL_NM=#{reqModelNm}
      , SNTY_CAPAC_CD=#{sntyCapacCd}
      , SNTY_COLOR_CD=#{sntyColorCd}
      , REQ_MODEL_COLOR=#{reqModelColor}
      , SHOP_USM_ID=#{shopUsmId}
      , USIM_KINDS_CD=#{usimKindsCd}
      , REQ_USIM_SN=#{reqUsimSn}
      , REQ_USIM_NM=#{reqUsimNm}
      , EID=#{eid}
      , IMEI1=#{imei1}
      , IMEI2=#{imei2}
      , ESIM_PHONE_ID=#{esimPhoneId}
      , UPLOAD_PHONE_SRL_NO=#{uploadPhoneSrlNo}
      , REQ_WANT_FN_NO=#{reqWantFnNo}
      , REQ_WANT_MN_NO=#{reqWantMnNo}
      , REQ_WANT_RN_NO=#{reqWantRnNo}
      , INSR_CD=#{insrCd}
      , INSR_PROD_CD=#{insrProdCd}
      , CLAUSE_INSURANCE_YN=COALESCE(#{clauseInsuranceYn},'N')
      , CLAUSE_INSR_PROD_YN=COALESCE(#{clauseInsrProdYn},'N')
      , INSR_AUTH_INFO=#{insrAuthInfo}
      , PRNTS_CONTRACT_NUM=#{prntsContractNum}
      , PRNTS_MOBILE_NO=#{prntsMobileNo}
      , JEHU_PARTNER_TYPE_CD=#{jehuPartnerTypeCd}
      , JEHU_PROD_TYPE_CD=#{jehuProdTypeCd}
      , REQ_ADDITION_LIST_NM=#{reqAdditionListNm}
      , REQ_ADDITION_PRICE=#{reqAdditionPrice}
      , PHONE_PAYMENT_YN=COALESCE(#{phonePaymentYn},'N')
      , ON_OFF_TYPE_CD=#{onOffTypeCd}
      , SO_CD=#{soCd}
      <!-- , OPEN_REQ_DT=#{openReqDt} 개통시점 -->
      <!--, REQ_IN_DT=#{reqInDt} 작성완료시점 -->
      , CLAUSE_PRI_COLLECT_YN=COALESCE(#{clausePriCollectYn},'N')
      , CLAUSE_PRI_OFFER_YN=COALESCE(#{clausePriOfferYn},'N')
      , CLAUSE_ESS_COLLECT_YN=COALESCE(#{clauseEssCollectYn},'N')
      , CLAUSE_PRI_TRUST_YN=COALESCE(#{clausePriTrustYn},'N')
      , CLAUSE_PRI_AD_YN=COALESCE(#{clausePriAdYn},'N')
      , CLAUSE_CONFIDENCE_YN=COALESCE(#{clauseConfidenceYn},'N')
      , CLAUSE_FATH_YN=COALESCE(#{clauseFathYn},'N')
      , NW_BLCK_AGRM_YN=COALESCE(#{nwBlckAgrmYn},'N')
      , APP_BLCK_AGRM_YN=COALESCE(#{appBlckAgrmYn},'N')
      , BLCK_APP_DIV_CD=#{blckAppDivCd}
      , SO_TRNS_AGRM_YN=COALESCE(#{soTrnsAgrmYn},'N')
      , CLAUSE_JEHU_YN=COALESCE(#{clauseJehuYn},'N')
      , CLAUSE_RENTAL_MODEL_CP_YN=COALESCE(#{clauseRentalModelCpYn},'N')
      , CLAUSE_RENTAL_MODEL_CP_PR_YN=COALESCE(#{clauseRentalModelCpPrYn},'N')
      , CLAUSE_RENTAL_SERVICE_YN=COALESCE(#{clauseRentalServiceYn},'N')
      , CLAUSE_MPPS35_YN=COALESCE(#{clauseMpps35Yn},'N')
      , CLAUSE_FINANCE_YN=COALESCE(#{clauseFinanceYn},'N')
      , CLAUSE_5G_COVERAGE_YN=COALESCE(#{clause5gCoverageYn},'N')
      , PERSONAL_INFO_COLLECT_AGREE_YN=COALESCE(#{personalInfoCollectAgreeYn},'N')
      , OTHERS_TRNS_AGREE_YN=COALESCE(#{othersTrnsAgreeYn},'N')
      , CLAUSE_SENSI_COLLECT_YN=COALESCE(#{clauseSensiCollectYn},'N')
      , CLAUSE_SENSI_OFFER_YN=COALESCE(#{clauseSensiOfferYn},'N')
      , CLAUSE_PARTNER_OFFER_YN=COALESCE(#{clausePartnerOfferYn},'N')
      , OTHERS_TRNS_KT_AGREE_YN=COALESCE(#{othersTrnsKtAgreeYn},'N')
      , OTHERS_AD_RECEIVE_AGREE_YN=COALESCE(#{othersAdReceiveAgreeYn},'N')
      , KT_COUNSEL_AGREE_YN=COALESCE(#{ktCounselAgreeYn},'N')
      , COMBINE_SOLO_TYPE_YN=COALESCE(#{combineSoloTypeYn},'N')
      , COMBINE_SOLO_YN=COALESCE(#{combineSoloYn},'N')
      , ETC_SPECIAL_SBST=#{etcSpecialSbst}
      , MEMO=#{memo}
      <!--, REC_YN=#{recYn}-->
      , RES_CD=#{resCd}
      , RES_MSG=#{resMsg}
      <!--, RES_NO=#{resNo}-->
      , PROC_DT=#{procDt}
      , PROC_CD=#{procCd}
      , PRO_STTUS_CD=#{proSttusCd}
      , SBSC_PRO_CD=#{sbscProCd}
      , APP_FORM_YN=#{appFormYn}
      , APP_FORM_XML_YN=#{appFormXmlYn}
      , PARENT_SCAN_ID=#{parentScanId}
      , CLAUSE_MOVE_CODE=COALESCE(#{clauseMoveCode},'N')
      , OTHERS_TRNS_ALL_AGREE_YN=COALESCE(#{othersTrnsAllAgreeYn},'N')
      , INDV_LOCA_PRV_AGREE_YN=COALESCE(#{indvLocaPrvAgreeYn},'N')
      , DIS_PRMT_ID=#{disPrmtId}
      <!--, FAX_NO=#{faxNo} -->
      <!--, FAX_YN=#{faxYn} -->
      , AGENT_CD=#{agentCd}
      , AGENT_NM=#{agentNm}
      , CNTPNT_SHOP_CD=#{cntpntShopCd}
      , CNTPNT_SHOP_NM=#{cntpntShopNm}
      , KNOTE_IDENTITY_ESS_NO=#{knoteIdentityEssNo}
      , KNOTE_IDENTITY_SCAN_CSTMR_NM=#{knoteIdentityScanCstmrNm}
      , KNOTE_IDENTITY_SCAN_DT=#{knoteIdentityScanDt}
      , KNOTE_IDENTITY_TYPE_CD=#{knoteIdentityTypeCd}
      , KNOTE_SCAN_ID=#{knoteScanId}
      , REC_YN=#{recYn}
      , FILE_MASK_NM=#{fileMaskNm}
      , FILE_NM=#{fileNm}
      , VOLUME_MOBILE_NO_QNTY=#{volumeMobileNoQnty}
      , VOLUME_REP_MOBILE_NO=#{volumeRepMobileNo}
      , VOLUME_REP_MOBILE_NO_YN=#{volumeRepMobileNoYn}
      , TMP_STEP_CD=#{tmpStepCd}
  WHERE REQUEST_KEY = #{requestKey}
</update>
<update id="updateMsfRequestAgentTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAgentVo">
UPDATE MSF_REQUEST_AGENT_TEMP
SET
    MINOR_AGENT_NM=#{minorAgentNm}
    , MINOR_AGENT_RRN=#{minorAgentRrn}
    , MINOR_AGENT_REL_TYPE_CD=#{minorAgentRelTypeCd}
    , MINOR_AGENT_TEL_FN_NO=#{minorAgentTelFnNo}
    , MINOR_AGENT_TEL_MN_NO=#{minorAgentTelMnNo}
    , MINOR_AGENT_TEL_RN_NO=#{minorAgentTelRnNo}
    , MINOR_AGENT_AGRM_YN=#{minorAgentAgrmYn}
    , MINOR_AGENT_SELF_INQRY_AGRM_YN=#{minorAgentSelfInqryAgrmYn}
    , MINOR_AGENT_SELF_CERT_TYPE_CD=#{minorAgentSelfCertTypeCd}
    , MINOR_AGENT_CI_INFO=#{minorAgentCiInfo}
    , JRDCL_AGENT_NM=#{jrdclAgentNm}
    , JRDCL_AGENT_RRN=#{jrdclAgentRrn}
    , JRDCL_AGENT_TEL_FN_NO=#{jrdclAgentTelFnNo}
    , JRDCL_AGENT_TEL_MN_NO=#{jrdclAgentTelMnNo}
    , JRDCL_AGENT_TEL_RN_NO=#{jrdclAgentTelRnNo}
WHERE REQUEST_KEY = #{requestKey}
</update>
<update id="updateMsfRequestCstmrTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCstmrVo">
UPDATE MSF_REQUEST_CSTMR_TEMP
SET
    CSTMR_NM=#{cstmrNm}
    , CSTMR_NATIVE_RRN=#{cstmrNativeRrn}
    , CSTMR_NATIVE_BIRTH=#{cstmrNativeBirth}
    , CSTMR_NATIVE_GENDER_CD=#{cstmrNativeGenderCd}
    , CSTMR_PRIVATE_CNAME=#{cstmrPrivateCname}
    , CSTMR_PRIVATE_BIZ_NO=#{cstmrPrivateBizNo}
    , CSTMR_FOREIGNER_RRN=#{cstmrForeignerRrn}
    , CSTMR_FOREIGNER_BIRTH=#{cstmrForeignerBirth}
    , CSTMR_FOREIGNER_GENDER_CD=#{cstmrForeignerGenderCd}
    , CSTMR_FOREIGNER_PN=#{cstmrForeignerPn}
    , CSTMR_FOREIGNER_COUNTRY_CD=#{cstmrForeignerCountryCd}
    , CSTMR_FOREIGNER_NATION=#{cstmrForeignerNation}
    , CSTMR_FOREIGNER_VISA_NO=#{cstmrForeignerVisaNo}
    , CSTMR_FOREIGNER_VDATE_START_DATE=#{cstmrForeignerVdateStartDate}
    , CSTMR_FOREIGNER_VDATE_END_DATE=#{cstmrForeignerVdateEndDate}
    , CSTMR_JURIDICAL_CNAME=#{cstmrJuridicalCname}
    , CSTMR_JURIDICAL_RRN=#{cstmrJuridicalRrn}
    , CSTMR_JURIDICAL_BIZ_NO=#{cstmrJuridicalBizNo}
    , CSTMR_JURIDICAL_REP_NM=#{cstmrJuridicalRepNm}
    , UPJN_CD=#{upjnCd}
    , BCU_SBST=#{bcuSbst}
    , CSTMR_JURIDICAL_USER_NM=#{cstmrJuridicalUserNm}
    , CSTMR_JURIDICAL_BIRTH=#{cstmrJuridicalBirth}
    , CSTMR_VISIT_TYPE_CD=#{cstmrVisitTypeCd}
    , CSTMR_TEL_FN_NO=#{cstmrTelFnNo}
    , CSTMR_TEL_MN_NO=#{cstmrTelMnNo}
    , CSTMR_TEL_RN_NO=#{cstmrTelRnNo}
    , CSTMR_MOBILE_FN_NO=#{cstmrMobileFnNo}
    , CSTMR_MOBILE_MN_NO=#{cstmrMobileMnNo}
    , CSTMR_MOBILE_RN_NO=#{cstmrMobileRnNo}
    , CSTMR_ZIPCD=#{cstmrZipcd}
    , CSTMR_ADR=#{cstmrAdr}
    , CSTMR_ADR_DTL=#{cstmrAdrDtl}
    , CSTMR_ADR_BJD=#{cstmrAdrBjd}
    , CSTMR_EMAIL_ADR=#{cstmrEmailAdr}
    , CSTMR_EMAIL_RECEIVE_YN=#{cstmrEmailReceiveYn}
    , CSTMR_RECEIVE_TEL_FN_NO=#{cstmrReceiveTelFnNo}
    , CSTMR_RECEIVE_TEL_NM_NO=#{cstmrReceiveTelNmNo}
    , CSTMR_RECEIVE_TEL_RN_NO=#{cstmrReceiveTelRnNo}
    , CSTMR_PRIVATE_BIZ_NO_ISSU_DATE=#{cstmrPrivateBizNoIssuDate}
    , CSTMR_JURIDICAL_BIZ_NO_ISSU_DATE=#{cstmrJuridicalBizNoIssuDate}
WHERE REQUEST_KEY = #{requestKey}
</update>
<update id="updateMsfRequestSaleTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSaleVo">
UPDATE MSF_REQUEST_SALE_TEMP
SET
    MODEL_ID=#{modelId}
    , MODEL_MONTHLY=#{modelMonthly}
    , MODEL_INSTAMT=#{modelInstamt}
    , MODEL_SALE_POLICY_CD=#{modelSalePolicyCd}
    , MODEL_PRICE_VAT=#{modelPriceVat}
    , MODEL_DISCOUNT1=#{modelDiscount1}
    , MODEL_SPRT=#{modelSprt}
    , MODEL_PRICE=#{modelPrice}
    , MODEL_DISCOUNT3=#{modelDiscount3}
    , REAL_MDL_INSTAMT=#{realMdlInstamt}
    , HNDSET_SALE_PRICE=#{hndsetSalePrice}
    , SPRT_TYPE_CD=#{sprtTypeCd}
    , DC_AMT=#{dcAmt}
    , MAX_APD_SPRT=#{maxApdSprt}
    , ADD_DC_AMT=#{addDcAmt}
    , ENGG_MNTH_CNT=#{enggMnthCnt}
    , RECYCLE_YN=#{recycleYn}
    , USIM_PRICE_TYPE_CD=#{usimPriceTypeCd}
    , USIM_PRICE=#{usimPrice}
    , USIM_PAY_MTHD_CD=#{usimPayMthdCd}
    , SESPLS_YN=#{sesplsYn}
    , JOIN_PRICE_TYPE_CD=#{joinPriceTypeCd}
    , JOIN_PAY_MTHD_CD=#{joinPayMthdCd}
    , JOIN_PRICE=#{joinPrice}
    , SOC_CODE=#{socCode}
    , SOC_NM=#{socNm}
    , SOC_BASE_CHRG_AMT=#{socBaseChrgAmt}
WHERE REQUEST_KEY = #{requestKey}
</update>
<update id="updateMsfRequestBillReqTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestBillReqVo">
UPDATE MSF_REQUEST_BILL_REQ_TEMP
SET
    REQ_PAY_TYPE_CD=#{reqPayTypeCd}
    , REQ_BANK_CD=#{reqBankCd}
    , REQ_ACCOUNT_NM=#{reqAccountNm}
    , REQ_ACCOUNT_RRN=#{reqAccountRrn}
    , REQ_ACCOUNT_REL_TYPE_CD=#{reqAccountRelTypeCd}
    , REQ_ACCOUNT_NO=#{reqAccountNo}
    , REQ_CARD_NM=#{reqCardNm}
    , REQ_CARD_RRN=#{reqCardRrn}
    , REQ_CARD_COMPANY_CD=#{reqCardCompanyCd}
    , REQ_CARD_NO=#{reqCardNo}
    , REQ_CARD_YY=#{reqCardYy}
    , REQ_CARD_MM=#{reqCardMm}
    , REQ_WIRE_TYPE_CD=#{reqWireTypeCd}
    , OTHERS_PAYMENT_YN=#{othersPaymentYn}
    , OTHERS_PAYMENT_TEL_FN_NO=#{othersPaymentTelFnNo}
    , OTHERS_PAYMENT_TEL_MN_NO=#{othersPaymentTelMnNo}
    , OTHERS_PAYMENT_TEL_RN_NO=#{othersPaymentTelRnNo}
    , OTHERS_PAYMENT_NM=#{othersPaymentNm}
    , OTHERS_PAYMENT_RRN=#{othersPaymentRrn}
    , OTHERS_PAYMENT_REL_TYPE_CD=#{othersPaymentRelTypeCd}
    , OTHERS_PAYMENT_REQ_NM=#{othersPaymentReqNm}
    , OTHERS_PAYMENT_AGR_YN=COALESCE(#{othersPaymentAgrYn},'N')
    , PRNTS_BILL_NO=#{prntsBillNo}
    , CSTMR_BILL_SEND_TYPE_CD=#{cstmrBillSendTypeCd}
    , CSTMR_EMAIL_ADR=#{cstmrEmailAdr}
WHERE REQUEST_KEY = #{requestKey}
</update>

<update id="updateMsfRequestMoveTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMoveVo">
    UPDATE MSF_REQUEST_MOVE_TEMP
    SET
          MOVE_COMPANY_CD=#{moveCompanyCd}
        , MOVE_MOBILE_FN_NO=#{moveMobileFnNo}
        , MOVE_MOBILE_MN_NO=#{moveMobileMnNo}
        , MOVE_MOBILE_RN_NO=#{moveMobileRnNo}
        , MOVE_AUTH_TYPE_CD=#{moveAuthTypeCd}
        , MOVE_AUTH_NO=#{moveAuthNo}
        , MOVE_THISMONTH_PAY_TYPE_CD=#{moveThismonthPayTypeCd}
        , MOVE_ALLOTMENT_STTUS_CD=#{moveAllotmentSttusCd}
        , MOVE_REFUND_AGREE_YN=COALESCE(#{moveRefundAgreeYn},'N')
        , REQ_GUIDE_YN=COALESCE(#{reqGuideYn},'N')
        , REQ_GUIDE_FN_NO=#{reqGuideFnNo}
        , REQ_GUIDE_RN_NO=#{reqGuideRnNo}
        , REQ_GUIDE_MN_NO=#{reqGuideMnNo}
        , OSST_PAY_DATE=#{osstPayDate}
        , OSST_PAY_TYPE_CD=#{osstPayTypeCd}
        , MOVE_PENALTY=COALESCE(#{movePenalty},0)
    WHERE REQUEST_KEY = #{requestKey}
</update>

<update id="updateMsfRequestDvcChgTemp" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDvcChgVo">
    UPDATE MSF_REQUEST_DVC_CHG_TEMP
    SET
          DVC_CHG_TYPE_CD=#{dvcChgTypeCd}
        , DVC_CHG_RSN_CD=#{dvcChgRsnCd}
        , DVC_CHG_RSN_DTL_CD=#{dvcChgRsnDtlCd}
        , INSTAMT_PAY_MTHD_CD=#{instamtPayMthdCd}
    WHERE REQUEST_KEY = #{requestKey}
</update>

<!-- 부가서비스 저장  -->
<delete id="deleteMsfAdditionTemp" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_ADDITION_TEMP
    WHERE REQUEST_KEY = #{requestKey}
</delete>
<insert id="insertMsfAdditionInfoListTemp" parameterType="java.util.List">
    INSERT INTO MSF_REQUEST_ADDITION_TEMP
    (     REQUEST_KEY
        , REQUEST_SVC_CHG_DTL_SEQ
        , ADDITION_KEY
        , ADDITION_ID
        , ADDITION_NM
        , RANTAL
    )
    VALUES
    <foreach collection="additionDtoList" item="item" index="additionIdx" separator=",">
        (
             #{item.requestKey}
            ,0
            ,#{item.additionKey}
            ,#{item.additionId}
            ,#{item.additionNm}
            ,#{item.rantal}
        )
    </foreach>

</insert>

<!-- 구비서류 저장  -->
<delete id="deleteMsfRequestDocTemp" parameterType="java.lang.Long">
  DELETE FROM MSF_REQUEST_DOC_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</delete>
<insert id="insertMsfRequestDocListTemp" parameterType="java.util.List">
  INSERT INTO MSF_REQUEST_DOC_TEMP
  (
    REQUEST_KEY
  , REQUEST_DOC_SEQ
  , FILE_TYPE_CD
  , FILE_NM
  , FILE_PATH_NM
  , FILE_PAGE_NO
  )
  VALUES
  <foreach collection="msfRequestDocVoList" item="item" index="requestDocIdx" separator=",">
    (
      #{item.requestKey}
      , nextval('sq_request_doc_seq')
      , #{item.fileTypeCd}
      , #{item.fileNm}
      , #{item.filePathNm}
      , #{item.filePageNo}
    )
  </foreach>

</insert>

  <!-- 녹취파일 저장  -->
  <delete id="deleteMsfRequestRecTemp" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_REC_TEMP
    WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <insert id="insertMsfRequestRecListTemp" parameterType="java.util.List">
    INSERT INTO MSF_REQUEST_REC_TEMP
    (
      REQUEST_KEY
    , REC_FILE_PATH_NM
    , REC_FILE_NM
    )
    VALUES
    <foreach collection="msfRequestRecVoList" item="item" index="requestRecIdx" separator=",">
      (
        #{item.requestKey}
      , #{item.recFilePathNm}
      , #{item.recFileNm}
      )
    </foreach>
  </insert>

<update id="updateMsfRequestInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
    /** 신청서 작성완료 시 상태변경 NewChangeWriteMapper.updateMsfRequestInfo **/
    UPDATE MSF_REQUEST
    SET
        <!-- REQ_IN_DT = NOW()        -->
        <!--,SCAN_ID = #{scanId}-->
        <!--,REC_YN = #{recYn}-->
        PROC_CD = #{procCd}
        ,PRO_STTUS_CD = #{proSttusCd}
        ,SBSC_PRO_CD = #{sbscProCd}
    WHERE REQUEST_KEY = #{requestKey}
</update>

  <update id="updateMsfRequestResNo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
    /** 신청서 임시저장 진입 시 RES_NO 재발급 저장 NewChangeWriteMapper.updateMsfRequestResNo **/
    UPDATE MSF_REQUEST_TEMP
    SET RES_NO = #{resNo}
    WHERE REQUEST_KEY = #{requestKey}
  </update>

<insert id="insertMsfRequest" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST
  (
    REQUEST_KEY
    , <include refid="smartIdentityColumns"/>
    , <include refid="smartRequestColumns"/>
    , REQ_IN_DT
    <!--, OPEN_REQ_DT, REQ_IN_DT-->
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartIdentityColumns"/>
    , <include refid="smartRequestColumns"/>
    , NOW() AS REQ_IN_DT
    <!--, OPEN_REQ_DT, NOW() AS REQ_IN_DT-->
  FROM MSF_REQUEST_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestCstmr" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_CSTMR
  (
    REQUEST_KEY
    , <include refid="smartRequestCstmrColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestCstmrColumns"/>
  FROM MSF_REQUEST_CSTMR_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestAgent" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_AGENT
  (
    REQUEST_KEY
    , <include refid="smartRequestAgentColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestAgentColumns"/>
  FROM MSF_REQUEST_AGENT_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestSale" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_SALE
  (
    REQUEST_KEY
    , <include refid="smartRequestSaleColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestSaleColumns"/>
  FROM MSF_REQUEST_SALE_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestBillReq" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_BILL_REQ
  (
    REQUEST_KEY
    , <include refid="smartRequestBillReqColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestBillReqColumns"/>
  FROM MSF_REQUEST_BILL_REQ_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestMove" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_MOVE
  (
    REQUEST_KEY
    , <include refid="smartRequestMoveColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestMoveColumns"/>
  FROM MSF_REQUEST_MOVE_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestDvcChg" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_DVC_CHG
  (
    REQUEST_KEY
    , <include refid="smartRequestDvcChgColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestDvcChgColumns"/>
  FROM MSF_REQUEST_DVC_CHG_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestAddition" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_ADDITION
  (
    REQUEST_KEY
    , <include refid="smartRequestAdditionColumns"/>
  )
  SELECT
    REQUEST_KEY
    , <include refid="smartRequestAdditionColumns"/>
  FROM MSF_REQUEST_ADDITION_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestDoc" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_DOC
  (
  REQUEST_KEY
  , <include refid="smartRequestDocColumns"/>
  )
  SELECT
  REQUEST_KEY
  , <include refid="smartRequestDocColumns"/>
  FROM MSF_REQUEST_DOC_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestRec" parameterType="java.lang.Long">
  INSERT INTO MSF_REQUEST_REC
  (
    REQUEST_KEY
  , <include refid="smartRequestRecColumns"/>
  )
  SELECT
    REQUEST_KEY
  , <include refid="smartRequestRecColumns"/>
  FROM MSF_REQUEST_REC_TEMP
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertMsfRequestState" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestStateVo">
  INSERT INTO MSF_REQUEST_STATE
  ( REQUEST_STATE_KEY, REQUEST_KEY, RES_NO, SBSC_PRO_CD, OPEN_NO, MEMO, VIEW_YN )
  VALUES(#{requestStateKey}, #{requestKey}, #{resNo}, #{sbscProCd}, #{openNo}, #{memo}, COALESCE(#{viewYn},'N'))
</insert>

  <sql id="smartRequestCopyColumns">
    AUTH_INFO, IDENTITY_TYPE_CD, IDENTITY_ISSU_DATE, IDENTITY_ISSU_REGION, SELF_ISSU_NO, DRIVE_LICNS_NO
    , IDENTITY_CERT_TYPE_CD, MANAGER_CD, MANAGER_NM, AGENT_CD, AGENT_NM, SHOP_CD, SHOP_NM, REAL_SHOP_NM, CPNT_ID, CPNT_NM, CNTPNT_SHOP_CD, CNTPNT_SHOP_NM
    , REQ_BUY_TYPE_CD, OPEN_TYPE_CD, SERVICE_TYPE_CD, OPER_TYPE_CD, CSTMR_TYPE_CD
    , PROD_TYPE_CD, PROD_ID, PROD_NM, REQ_PHONE_SN, REQ_MODEL_NM, SNTY_CAPAC_CD, SNTY_COLOR_CD
    , REQ_MODEL_COLOR, SHOP_USM_ID, USIM_KINDS_CD, REQ_USIM_SN, REQ_USIM_NM, EID, IMEI1, IMEI2, ESIM_PHONE_ID, UPLOAD_PHONE_SRL_NO
    , REQ_WANT_FN_NO, REQ_WANT_MN_NO, REQ_WANT_RN_NO, INSR_CD, INSR_PROD_CD, CLAUSE_INSURANCE_YN, CLAUSE_INSR_PROD_YN, INSR_AUTH_INFO
    , PRNTS_CONTRACT_NUM, PRNTS_MOBILE_NO, JEHU_PARTNER_TYPE_CD, JEHU_PROD_TYPE_CD, REQ_ADDITION_LIST_NM, REQ_ADDITION_PRICE
    , PHONE_PAYMENT_YN, ON_OFF_TYPE_CD, SO_CD
    , CLAUSE_PRI_COLLECT_YN, CLAUSE_PRI_OFFER_YN, CLAUSE_ESS_COLLECT_YN, CLAUSE_PRI_TRUST_YN, CLAUSE_PRI_AD_YN, CLAUSE_CONFIDENCE_YN
    , CLAUSE_FATH_YN, NW_BLCK_AGRM_YN, APP_BLCK_AGRM_YN, BLCK_APP_DIV_CD, SO_TRNS_AGRM_YN, CLAUSE_JEHU_YN, CLAUSE_RENTAL_MODEL_CP_YN
    , CLAUSE_RENTAL_MODEL_CP_PR_YN, CLAUSE_RENTAL_SERVICE_YN, CLAUSE_MPPS35_YN, CLAUSE_FINANCE_YN, CLAUSE_5G_COVERAGE_YN, PERSONAL_INFO_COLLECT_AGREE_YN
    , OTHERS_TRNS_AGREE_YN, CLAUSE_SENSI_COLLECT_YN, CLAUSE_SENSI_OFFER_YN, CLAUSE_PARTNER_OFFER_YN, OTHERS_TRNS_KT_AGREE_YN, OTHERS_AD_RECEIVE_AGREE_YN
    , KT_COUNSEL_AGREE_YN, COMBINE_SOLO_TYPE_YN, COMBINE_SOLO_YN
    , ETC_SPECIAL_SBST, MEMO, RES_CD, RES_MSG
    , APP_FORM_YN, APP_FORM_XML_YN, FILE_MASK_NM, FAX_YN, FAX_NO
    , CLAUSE_MOVE_CODE, OTHERS_TRNS_ALL_AGREE_YN, INDV_LOCA_PRV_AGREE_YN, DIS_PRMT_ID
    , OPEN_NO
  </sql>

<insert id="insertCopyMsfRequest" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_TEMP
  (
      REQUEST_KEY
    , RES_NO
    , PRO_STTUS_CD
    , SBSC_PRO_CD
    , TMP_STEP_CD
    , <include refid="smartRequestCopyColumns"/>
  )
  SELECT
      #{newRequestKey}
    , #{resNo}
    , #{proSttusCd}
    , #{sbscProCd}
    , #{tmpStepCd}
    , <include refid="smartRequestCopyColumns"/>
  FROM MSF_REQUEST
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestCstmr" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_CSTMR_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestCstmrColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestCstmrColumns"/>
  FROM MSF_REQUEST_CSTMR
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestAgent" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_AGENT_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestAgentColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestAgentColumns"/>
  FROM MSF_REQUEST_AGENT
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestSale" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_SALE_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestSaleColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestSaleColumns"/>
  FROM MSF_REQUEST_SALE
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestBillReq" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_BILL_REQ_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestBillReqColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestBillReqColumns"/>
  FROM MSF_REQUEST_BILL_REQ
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestMove" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_MOVE_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestMoveColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestMoveColumns"/>
  FROM MSF_REQUEST_MOVE
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestDvcChg" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_DVC_CHG_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestDvcChgColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestDvcChgColumns"/>
  FROM MSF_REQUEST_DVC_CHG
  WHERE REQUEST_KEY = #{requestKey}
</insert>
<insert id="insertCopyMsfRequestAddition" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
  INSERT INTO MSF_REQUEST_ADDITION_TEMP
  (
    REQUEST_KEY
    , <include refid="smartRequestAdditionColumns"/>
  )
  SELECT
    #{newRequestKey}
    , <include refid="smartRequestAdditionColumns"/>
  FROM MSF_REQUEST_ADDITION
  WHERE REQUEST_KEY = #{requestKey}
</insert>
  <!--<insert id="insertCopyMsfRequestState" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestStateVo">
    INSERT INTO MSF_REQUEST_STATE
    ( REQUEST_STATE_KEY, REQUEST_KEY, RES_NO, SBSC_PRO_CD, OPEN_NO, MEMO, VIEW_YN )
    VALUES(#{requestStateKey}, #{requestKey}, #{resNo}, #{sbscProCd}, #{openNo}, #{memo}, COALESCE(#{viewYn},'N'))
  </insert>-->
  <!--<sql id="newChangeCommon">
    CRET_IP, CRET_DT, CRET_ID, AMD_IP, AMD_DT, AMD_ID
  </sql>-->
  <sql id="smartIdentityColumns">
      KNOTE_IDENTITY_SCAN_CSTMR_NM, KNOTE_IDENTITY_ESS_NO, KNOTE_IDENTITY_TYPE_CD, KNOTE_IDENTITY_SCAN_DT, KNOTE_SCAN_ID
    , FATH_TRG_YN, FATH_TRG_IDENTITY_CERT_TYPE_CD, FATH_TRANSAC_ID, FATH_CMPLT_NTFY_DATE, FATH_TEL_NO, FATH_MOBILE_FN_NO, FATH_MOBILE_MN_NO, FATH_MOBILE_RN_NO
    <!--, AUTH_INFO, IDENTITY_TYPE_CD, IDENTITY_ISSU_DATE, IDENTITY_ISSU_REGION, SELF_ISSU_NO, DRIVE_LICNS_NO-->
  </sql>
  <sql id="smartRequestColumns">
      AUTH_INFO, IDENTITY_TYPE_CD, IDENTITY_ISSU_DATE, IDENTITY_ISSU_REGION, SELF_ISSU_NO, DRIVE_LICNS_NO
    , IDENTITY_CERT_TYPE_CD, MANAGER_CD, MANAGER_NM, AGENT_CD, AGENT_NM, SHOP_CD, SHOP_NM, REAL_SHOP_NM, CPNT_ID, CPNT_NM, CNTPNT_SHOP_CD, CNTPNT_SHOP_NM
    , REQ_BUY_TYPE_CD, OPEN_TYPE_CD, SERVICE_TYPE_CD, OPER_TYPE_CD, CSTMR_TYPE_CD
    , OPEN_NO, CONTRACT_NUM, CUST_ID, BILL_ACNT_NO, PROD_TYPE_CD, PROD_ID, PROD_NM, REQ_PHONE_SN, REQ_MODEL_NM, SNTY_CAPAC_CD, SNTY_COLOR_CD
    , REQ_MODEL_COLOR, SHOP_USM_ID, USIM_KINDS_CD, REQ_USIM_SN, REQ_USIM_NM, EID, IMEI1, IMEI2, ESIM_PHONE_ID, UPLOAD_PHONE_SRL_NO
    , REQ_WANT_FN_NO, REQ_WANT_MN_NO, REQ_WANT_RN_NO, INSR_CD, INSR_PROD_CD, CLAUSE_INSURANCE_YN, CLAUSE_INSR_PROD_YN, INSR_AUTH_INFO
    , PRNTS_CONTRACT_NUM, PRNTS_MOBILE_NO, JEHU_PARTNER_TYPE_CD, JEHU_PROD_TYPE_CD, REQ_ADDITION_LIST_NM, REQ_ADDITION_PRICE
    , PHONE_PAYMENT_YN, ON_OFF_TYPE_CD, SO_CD
    , CLAUSE_PRI_COLLECT_YN, CLAUSE_PRI_OFFER_YN, CLAUSE_ESS_COLLECT_YN, CLAUSE_PRI_TRUST_YN, CLAUSE_PRI_AD_YN, CLAUSE_CONFIDENCE_YN
    , CLAUSE_FATH_YN, NW_BLCK_AGRM_YN, APP_BLCK_AGRM_YN, BLCK_APP_DIV_CD, SO_TRNS_AGRM_YN, CLAUSE_JEHU_YN, CLAUSE_RENTAL_MODEL_CP_YN
    , CLAUSE_RENTAL_MODEL_CP_PR_YN, CLAUSE_RENTAL_SERVICE_YN, CLAUSE_MPPS35_YN, CLAUSE_FINANCE_YN, CLAUSE_5G_COVERAGE_YN, PERSONAL_INFO_COLLECT_AGREE_YN
    , OTHERS_TRNS_AGREE_YN, CLAUSE_SENSI_COLLECT_YN, CLAUSE_SENSI_OFFER_YN, CLAUSE_PARTNER_OFFER_YN, OTHERS_TRNS_KT_AGREE_YN, OTHERS_AD_RECEIVE_AGREE_YN
    , KT_COUNSEL_AGREE_YN, COMBINE_SOLO_TYPE_YN, COMBINE_SOLO_YN
    , ETC_SPECIAL_SBST, MEMO, REC_YN, RES_CD, RES_MSG, RES_NO, PROC_DT, PROC_CD, PRO_STTUS_CD, SBSC_PRO_CD, SCAN_ID
    , APP_FORM_YN, APP_FORM_XML_YN, FILE_NM, FILE_MASK_NM, FAX_YN, FAX_NO, PARENT_SCAN_ID
    , CLAUSE_MOVE_CODE, OTHERS_TRNS_ALL_AGREE_YN, INDV_LOCA_PRV_AGREE_YN, DIS_PRMT_ID
    , VOLUME_MOBILE_NO_QNTY, VOLUME_REP_MOBILE_NO_YN, VOLUME_REP_MOBILE_NO
  </sql>
  <sql id="smartRequestCstmrColumns">
      CSTMR_NM, CSTMR_NATIVE_RRN, CSTMR_NATIVE_BIRTH, CSTMR_NATIVE_GENDER_CD, CSTMR_PRIVATE_CNAME, CSTMR_PRIVATE_BIZ_NO
    , CSTMR_FOREIGNER_RRN, CSTMR_FOREIGNER_BIRTH, CSTMR_FOREIGNER_GENDER_CD, CSTMR_FOREIGNER_PN, CSTMR_FOREIGNER_COUNTRY_CD
    , CSTMR_FOREIGNER_NATION, CSTMR_FOREIGNER_VISA_NO, CSTMR_FOREIGNER_VDATE_START_DATE, CSTMR_FOREIGNER_VDATE_END_DATE
    , CSTMR_JURIDICAL_CNAME, CSTMR_JURIDICAL_RRN, CSTMR_JURIDICAL_BIZ_NO, CSTMR_JURIDICAL_REP_NM, UPJN_CD, BCU_SBST
    , CSTMR_JURIDICAL_USER_NM, CSTMR_JURIDICAL_BIRTH, CSTMR_VISIT_TYPE_CD, CSTMR_TEL_FN_NO, CSTMR_TEL_MN_NO, CSTMR_TEL_RN_NO
    , CSTMR_MOBILE_FN_NO, CSTMR_MOBILE_MN_NO, CSTMR_MOBILE_RN_NO, CSTMR_ZIPCD, CSTMR_ADR, CSTMR_ADR_DTL, CSTMR_ADR_BJD
    , CSTMR_EMAIL_ADR, CSTMR_EMAIL_RECEIVE_YN, CSTMR_RECEIVE_TEL_FN_NO, CSTMR_RECEIVE_TEL_NM_NO, CSTMR_RECEIVE_TEL_RN_NO
    , CSTMR_PRIVATE_BIZ_NO_ISSU_DATE, CSTMR_JURIDICAL_BIZ_NO_ISSU_DATE
  </sql>
  <sql id="smartRequestAgentColumns">
      MINOR_AGENT_NM, MINOR_AGENT_RRN, MINOR_AGENT_BIRTH, MINOR_AGENT_GENDER_CD, MINOR_AGENT_REL_TYPE_CD
    , MINOR_AGENT_TEL_FN_NO, MINOR_AGENT_TEL_MN_NO, MINOR_AGENT_TEL_RN_NO, MINOR_AGENT_AGRM_YN, MINOR_AGENT_SELF_INQRY_AGRM_YN, MINOR_AGENT_SELF_CERT_TYPE_CD
    , MINOR_AGENT_CI_INFO, JRDCL_AGENT_NM, JRDCL_AGENT_RRN, JRDCL_AGENT_REL_TYPE_CD, JRDCL_AGENT_TEL_FN_NO, JRDCL_AGENT_TEL_MN_NO, JRDCL_AGENT_TEL_RN_NO
  </sql>
  <sql id="smartRequestSaleColumns">
      MODEL_ID, MODEL_MONTHLY, MODEL_INSTAMT, MODEL_SALE_POLICY_CD, MODEL_PRICE_VAT, MODEL_DISCOUNT1, MODEL_SPRT, MODEL_PRICE
    , MODEL_DISCOUNT3, REAL_MDL_INSTAMT, HNDSET_SALE_PRICE, SPRT_TYPE_CD, DC_AMT, MAX_APD_SPRT, ADD_DC_AMT, ENGG_MNTH_CNT, RECYCLE_YN
    , USIM_PRICE_TYPE_CD, USIM_PRICE, USIM_PAY_MTHD_CD, SESPLS_YN, JOIN_PRICE_TYPE_CD, JOIN_PAY_MTHD_CD, JOIN_PRICE
    , SOC_CODE, SOC_NM, SOC_BASE_CHRG_AMT
    , DIS_PRMT_AMT
  </sql>
  <sql id="smartRequestBillReqColumns">
      REQ_PAY_TYPE_CD, REQ_BANK_CD, REQ_ACCOUNT_NM, REQ_ACCOUNT_RRN, REQ_ACCOUNT_REL_TYPE_CD, REQ_ACCOUNT_NO, REQ_CARD_NM, REQ_CARD_RRN
    , REQ_CARD_COMPANY_CD, REQ_CARD_NO, REQ_CARD_YY, REQ_CARD_MM, REQ_WIRE_TYPE_CD
    , OTHERS_PAYMENT_YN, OTHERS_PAYMENT_TEL_FN_NO, OTHERS_PAYMENT_TEL_MN_NO, OTHERS_PAYMENT_TEL_RN_NO, OTHERS_PAYMENT_NM
    , OTHERS_PAYMENT_RRN, OTHERS_PAYMENT_REL_TYPE_CD, OTHERS_PAYMENT_REQ_NM, OTHERS_PAYMENT_AGR_YN
    , PRNTS_BILL_NO, CSTMR_BILL_SEND_TYPE_CD, CSTMR_EMAIL_ADR
  </sql>
  <sql id="smartRequestMoveColumns">
      MOVE_COMPANY_CD, MOVE_MOBILE_FN_NO, MOVE_MOBILE_MN_NO, MOVE_MOBILE_RN_NO, MOVE_AUTH_TYPE_CD, MOVE_AUTH_NO, MOVE_THISMONTH_PAY_TYPE_CD
    , MOVE_ALLOTMENT_STTUS_CD, MOVE_REFUND_AGREE_YN, REQ_GUIDE_YN, REQ_GUIDE_FN_NO, REQ_GUIDE_RN_NO, REQ_GUIDE_MN_NO, OSST_PAY_DATE
    , OSST_PAY_TYPE_CD, MOVE_PENALTY
  </sql>
  <sql id="smartRequestDvcChgColumns">
      DVC_CHG_TYPE_CD, DVC_CHG_RSN_CD, DVC_CHG_RSN_DTL_CD, INSTAMT_PAY_MTHD_CD
  </sql>
  <sql id="smartRequestAdditionColumns">
      REQUEST_SVC_CHG_DTL_SEQ, SVC_CHG_TYPE_CD
    , ADDITION_KEY, ADDITION_ID, ADDITION_NM, RANTAL
    , ADDTION_INFO, PROC_YN
  </sql>
  <sql id="smartRequestDocColumns">
    REQUEST_DOC_SEQ, FILE_TYPE_CD, FILE_PATH_NM, FILE_NM, FILE_PAGE_NO
  </sql>
  <sql id="smartRequestRecColumns">
    REC_FILE_PATH_NM, REC_FILE_NM
  </sql>

  <delete id="deleteMsfRequest" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestCstmr" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_CSTMR_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestAgent" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_AGENT_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestSale" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_SALE_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestBillReq" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_BILL_REQ_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestMove" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_MOVE_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestDvcChg" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_DVC_CHG_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestAddition" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_ADDITION_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestDoc" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_DOC_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestRec" parameterType="java.lang.Long">
    DELETE FROM MSF_REQUEST_REC_TEMP WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <update id="updateMsfRequest" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest">
    /** 어디서 쓰나 **/
    UPDATE MSF_REQUEST_TEMP
    SET CONTRACT_NUM = #{contractNum}, CUST_ID = #{custId}, BILL_ACNT_NO = #{billAcntNo}
    WHERE REQUEST_KEY = #{requestKey}
  </update>

  <select id="insertMsfUploadPhoneInfo" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfUploadPhoneInfoVo" resultType="java.lang.Integer">
    /** eSIM 단말정보 저장 : 저장 후 일련번호 넘기기 위해 select 로 처리함. **/
    INSERT INTO MSF_UPLOAD_PHONE_INFO
    (
       UPLOAD_PHONE_SRL_NO
      ,CRET_IP
      ,CRET_DT
      ,CRET_ID
      ,EID
      ,IMEI1
      ,IMEI2
      ,REQ_MODEL_NM
      ,MODEL_ID
      ,REQ_PHONE_SN
      ,UPLOAD_PHONE_IMG_NM
    )
    VALUES
    (
       (SELECT COALESCE(MAX(UPLOAD_PHONE_SRL_NO), 0) + 1 FROM MSF_UPLOAD_PHONE_INFO)
      ,#{accessIp}
      ,now()
      ,#{userId}
      ,#{eid}
      ,#{imei1}
      ,#{imei2}
      ,#{reqModelNm}
      ,#{modelId}
      ,#{reqPhoneSn}
      ,#{uploadPhoneImgNm}
    )
    RETURNING upload_phone_srl_no
  </select>

  <update id="updateMsfUploadPhoneInfo" parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfUploadPhoneInfoVo">
    UPDATE MSF_UPLOAD_PHONE_INFO
    SET REQ_PHONE_SN = #{reqPhoneSn}
    WHERE UPLOAD_PHONE_SRL_NO = #{uploadPhoneSrlNo}
  </update>


  <insert id="insertMsfRequestOsst" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.MsfRequestOsstDto" >
        INSERT INTO MSF_REQUEST_OSST (
              MVNO_ORD_NO
            , SEQ
            , OSST_ORD_NO
            , PRGR_STAT_CD
            , RSLT_CD
            , TLPH_NO_STAT_CD
            , ASGN_AGNC_ID
            , TLPH_NO_OWN_CMPN_CD
            , OPEN_SVC_IND_CD
            , ENCD_TLPH_NO
            , TLPH_NO
            , IF_TYPE_CD
            , NSTEP_GLOBAL_ID
            , RSLT_DATE
            , SVC_CNTR_NO
        ) VALUES (
              LPAD(#{mvnoOrdNo}, 14, '0')
            , COALESCE((SELECT MAX(SEQ) + 1 FROM MSF_REQUEST_OSST WHERE MVNO_ORD_NO = LPAD(#{mvnoOrdNo}, 14, '0')), 1::integer)
            , #{osstOrdNo}
            , #{prgrStatCd}
            , #{rsltCd}
            , #{tlphNoStatCd}
            , #{asgnAgncId}
            , #{tlphNoOwnCmpnCd}
            , #{openSvcIndCd}
            , #{encdTlphNo}
            , #{tlphNo}
            , COALESCE(#{ifType}, 'WEB')
            , #{nstepGlobalId}
            , TO_CHAR(NOW(),'YYYYMMDDHH24MISS')
            , #{svcCntrNo}
        )
  </insert>

  <update id="updateMsfRequestPrmtIdTemp">
    /* NewChangeWriteMapper.updateMsfRequestPrmtIdTemp */
    UPDATE MSF_REQUEST_TEMP
    SET DIS_PRMT_ID = #{disPrmtId}
    WHERE REQUEST_KEY = #{requestKey}
  </update>

  <update id="updateMsfRequestSalePrmtAmtTemp">
    /* NewChangeWriteMapper.updateMsfRequestSalePrmtAmtTemp */
    UPDATE MSF_REQUEST_SALE_TEMP
    SET DIS_PRMT_AMT = #{disPrmtAmt}
    WHERE REQUEST_KEY = #{requestKey}
  </update>
</mapper>
