<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeReadMapper">

  <select id="generateSmartResNo" resultType="java.lang.String">
    <!--SELECT NEXTVAL('SQ_REQUEST_RES_NO_KEY')-->
    SELECT ( TO_CHAR(NOW(), 'YYYYMMDD') || LPAD(NEXTVAL('SQ_REQUEST_RES_NO_KEY')::TEXT, 5, '0'))
  </select>

  <select id="generateSmartRequestKey" resultType="java.lang.Long">
    SELECT NEXTVAL('SQ_REQUEST_KEY')
    <!--    SELECT ( TO_CHAR(NOW(), 'YYYYMMDD') || LPAD(NEXTVAL('SQ_REQUEST_KEY')::TEXT, 5, '0'))-->
  </select>

  <select id="getSmartCustRequestSeq" resultType="java.lang.Long">
    <!--SELECT NEXTVAL('SQ_NFL_CHG_TRNS_SEQ')-->
    SELECT ( TO_CHAR(NOW(), 'YYYYMMDD') || LPAD(NEXTVAL('SQ_NFL_CHG_TRNS_SEQ')::TEXT, 5, '0'))
  </select>

  <select id="getMsfResNo" resultType="java.lang.String" parameterType="java.lang.Long">
      SELECT RES_NO FROM MSF_REQUEST_TEMP WHERE REQUEST_KEY = #{requestKey}
    <!--SELECT LPAD(RES_NO, 14, '0') FROM MSF_REQUEST_TEMP WHERE REQUEST_KEY = #{requestKey}-->
  </select>

  <select id="getMsfMvnoOrdNo" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT MVNO_ORD_NO FROM MSF_REQUEST_OSST WHERE MVNO_ORD_NO = LPAD(#{resNo}, 14, '0')
  </select>

  <select id="generateSmartRequestStateSeq" resultType="java.lang.Long">
    SELECT NEXTVAL('SQ_REQUEST_STATE_SEQ')
    <!--SELECT ( TO_CHAR(NOW(), 'YYYYMMDD') || LPAD(NEXTVAL('SQ_REQUEST_STATE_SEQ')::TEXT, 5, '0'))-->
  </select>

  <select id="selectMsfRequestInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
          resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestVo">
    /** MSF_REQUEST 단건 조회 **/
    SELECT
      <if test='"Y".equals(showAll)'>
        <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartIdentityColumns" />
      </if>
        <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestColumns" />
      <if test='"Y".equals(tempYn)'>
        , TMP_STEP_CD
      </if>
      <choose>
        <when test='"Y".equals(tempYn)'>
          FROM MSF_REQUEST_TEMP
        </when>
        <otherwise>
          FROM MSF_REQUEST
        </otherwise>
      </choose>
    WHERE REQUEST_KEY = #{requestKey}
      <if test='"Y".equals(tempYn)'>
        AND TMP_STEP_CD != '4'
      </if>
  </select>

  <select id="selectMsfRequestCstmrInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCstmrVo">
        /** MSF_REQUEST_CSTMR 단건 조회 **/
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestCstmrColumns" />
        FROM MSF_REQUEST_CSTMR_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfRequestAgentInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAgentVo">
        /** MSF_REQUEST_AGENT 단건 조회 **/
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestAgentColumns" />
        FROM MSF_REQUEST_AGENT_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfRequestSaleInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSaleVo">
        /** MSF_REQUEST_SALE 단건조회 **/
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestSaleColumns" />
        FROM MSF_REQUEST_SALE_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfRequestBillReqInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestBillReqVo">
        /** MSF_REQUEST_BILL_REQ 단건조회 **/
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestBillReqColumns" />
        FROM MSF_REQUEST_BILL_REQ_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfRequestMoveInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMoveVo">
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestMoveColumns" />
        FROM MSF_REQUEST_MOVE_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfRequestDvcChgInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDvcChgVo">
        SELECT
          <include refid="com.ktmmobile.msf.domains.form.form.newchange.repository.smartform.NewChangeWriteMapper.smartRequestDvcChgColumns" />
        FROM MSF_REQUEST_DVC_CHG_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <!-- /** MSF_REQUEST_ADDITION 부가서비스 조회 **/ -->
    <select id="selectMsfRequestAdditionInfo" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAdditionVo">
        SELECT
            REQUEST_KEY
            , ADDITION_ID
            , ADDITION_NM
            , RANTAL
            , REQUEST_SVC_CHG_DTL_SEQ
        FROM MSF_REQUEST_ADDITION_TEMP
        WHERE REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMsfUploadPhoneInfo" parameterType="java.lang.Long" resultType="com.ktmmobile.msf.domains.form.form.common.vo.MsfUploadPhoneInfoVo">
      SELECT /* NewChangeReadMapper.selectMsfUploadPhoneInfo :: eSIM 휴대폰 이미지 업로드 데이타 조회 */
        UPLOAD_PHONE_SRL_NO
        , EID
        , IMEI1
        , IMEI2
        , MODEL_ID
        , REQ_PHONE_SN
        , PRNTS_CONTRACT_NUM
      FROM MSF_UPLOAD_PHONE_INFO
      WHERE UPLOAD_PHONE_SRL_NO = #{uploadPhoneSrlNo}
    </select>

    <select id="checkNewChangeFormUser" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="java.lang.Integer">
      SELECT COUNT(1)
      FROM MSF_REQUEST_TEMP
      WHERE REQUEST_KEY = #{requestKey}
        <if test='preCheck == null or preCheck.toString() == ""'>
          AND SHOP_CD = #{shopCd}
          <if test='tmpStepCd.toString() != "" and tmpStepCd!=null'>
            AND TMP_STEP_CD = #{tmpStepCd}
          </if>
        </if>
    </select>

    <select id="checkNewChangeForm" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="java.lang.Integer">
      SELECT COUNT(1)
      FROM MSF_REQUEST_TEMP
      WHERE REQUEST_KEY = #{requestKey}
        AND MANAGER_CD = #{managerCd}
        AND TMP_STEP_CD != #{tmpStepCd}
    </select>

    <select id="selectNewChangeFormStep" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.NewChangeRequest"
            resultType="java.lang.String">
      SELECT TMP_STEP_CD
      FROM MSF_REQUEST_TEMP
      WHERE REQUEST_KEY = #{requestKey}
        AND SHOP_CD = #{shopCd}
      <!--SELECT TMP_STEP_CD-->
      <!--FROM MSF_REQUEST_TEMP-->
      <!--WHERE REQUEST_KEY = #{requestKey}-->
      <!--  AND MANAGER_CD = #{managerCd}-->
      <!--  AND AGENT_CD = #{agentCd}-->
      <!--  AND SHOP_CD = #{shopCd}-->
    </select>

    <select id="getMsfResNoByMoveMobileNum" parameterType="java.util.HashMap" resultType="java.lang.String">
      /* AppformMapper.getResNoByMoveMobileNum */
      SELECT
            A.RES_NO
      FROM MSF_REQUEST_TEMP A, MSF_REQUEST_MOVE_TEMP B
      WHERE A.REQUEST_KEY = B.REQUEST_KEY
        AND A.REQ_IN_DT <![CDATA[>=]]> (CURRENT_DATE - #{limitDay})::timestamp
        AND A.OPER_TYPE_CD = 'MNP3'
        <!--AND A.ON_OFF_TYPE IN ('5', '7')-->
        AND B.move_mobile_fn_no || B.move_mobile_mn_no || B.move_mobile_rn_no = #{moveMobileNo}
    </select>

    <select id="getMsfPreCheckTryCnt" parameterType="java.util.HashMap" resultType="java.lang.Integer">
      /* AppformMapper.getPreCheckTryCnt */
      SELECT COUNT(MVNO_ORD_NO)
      FROM MSF_REQUEST_OSST
      WHERE PRGR_STAT_CD = #{prgrStatCd}
      AND CRET_DT <![CDATA[>=]]> (CURRENT_DATE - #{limitDay})::timestamp
      AND MVNO_ORD_NO IN
      <foreach item="item" collection="resNoList" open="(" separator="," close=")">
        LPAD(#{item}, 14, '0')
      </foreach>
    </select>

    <select id="existsResNo" resultType="boolean">
      SELECT EXISTS (
          SELECT 1
          FROM MSF_REQUEST_TEMP
          WHERE RES_NO = #{resNo}
      )
  </select>

  <select id="selectCorporateLimitQnty" resultType="com.ktmmobile.msf.domains.form.form.newchange.dto.BulkCorporateInfoResponse" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.BulkCorporateInfoRequest">
    SELECT SBSC_LMT_QNTY, USE_START_DATE, USE_END_DATE
    FROM MSF_STOR_OPEN_LIMIT_TXN
    WHERE USE_YN = 'Y'
        AND CNTPNT_SHOP_CD = #{agentCd} -- 화면에서 선택한 대리점코드
        AND CPNT_ID = #{cpntId} -- 로그인사용자의 판매점코드
        AND USE_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        AND USE_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
  </select>

  <select id="selectCorporateOpenInfo" resultType="com.ktmmobile.msf.domains.form.form.newchange.dto.BulkCorporateInfoResponse" parameterType="com.ktmmobile.msf.domains.form.form.newchange.dto.BulkCorporateInfoRequest">
    SELECT COUNT(CASE WHEN (PROC_CD = 'CP' or PROC_CD = 'RQ' or PROC_CD = '' or PROC_CD is NULL) THEN 1 END) AS "totalCnt"
        ,COUNT(CASE WHEN (PROC_CD = 'CP') THEN 1 END) AS "openCount"
        ,COUNT(CASE WHEN (PROC_CD = 'RQ' or PROC_CD = '' or PROC_CD is NULL) THEN 1 END) AS "completeCount"
    FROM MSF_REQUEST A
    WHERE CPNT_ID = #{cpntId}
        AND CNTPNT_SHOP_CD = #{agentCd}
        AND CSTMR_TYPE_CD = #{cstmrTypeCd}
        AND OPER_TYPE_CD = #{operTypeCd}
        AND REQ_IN_DT <![CDATA[>=]]> TO_DATE(#{useStartDate}, 'YYYYMMDDHH24MISS')
        AND REQ_IN_DT <![CDATA[<]]> TO_DATE(#{useEndDate}, 'YYYYMMDDHH24MISS')
  </select>

  <select id="selectBulkCorporateOpenYnList" resultType="com.ktmmobile.msf.domains.form.form.newchange.dto.AgentInfoResponse">
    SELECT
      cntpnt_shop_cd AS orgnId, -- 메인 DTO의 orgnId와 매핑하기 위함
      'Y' AS canBulkCorporateOpenYn
    FROM MSF_STOR_OPEN_LIMIT_TXN
    WHERE use_yn = 'Y'
      AND use_start_date &lt; TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
      AND use_end_date &gt;= TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
      AND cpnt_id = #{shopOrgnId}
      AND cntpnt_shop_cd IN
      <foreach collection="orgnIds" item="id" open="(" separator="," close=")">
        #{id}
      </foreach>
  </select>

</mapper>
