<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.extra.tempsave.adapter.repository.mybatis.smartform.mapper.TempSavePageMapper">

  <sql id="sqlCondition">
    <if test='searchWord != null and searchWord != ""'>
      and 1=1
    </if>
  </sql>

  <select id="countTempSaveList" resultType="java.lang.Integer">
    select count(1)
    from msf_request_temp a
    left join msf_request b
    on a.request_key = b.request_key
    where 1=1
    <include refid="sqlCondition"/>
  </select>

  <select id="selectTempSaveList" resultType="com.ktmmobile.msf.domains.form.extra.tempsave.domain.vo.TempSaveVo">
    select ROW_NUMBER() OVER (ORDER BY a.cret_dt DESC) AS row_num
      , a.request_key
      , a.cret_dt
      , a.open_type_cd
      , (SELECT dtl_cd_nm FROM msf_cd_dtl WHERE cd_group_id = 'OPEN_TYPE_CD' AND dtl_cd = a.open_type_cd) AS openTypeNm
      , a.service_type_cd
      , (SELECT dtl_cd_nm FROM msf_cd_dtl WHERE cd_group_id = 'service_type_cd' AND dtl_cd = a.cstmr_type_cd) AS serviceTypeNm
      , a.cstmr_type_cd
      , (SELECT dtl_cd_nm FROM msf_cd_dtl WHERE cd_group_id = 'CSTMR_TYPE_CD' AND dtl_cd = a.cstmr_type_cd) AS cstmrTypeNm
      , COALESCE(b.request_key::text, 'N') AS modify_yn
      , cs.cstmr_nm AS cstmrNm
    from msf_request_temp a
    left join msf_request_cstmr_temp cs
    on a.request_key = cs.request_key
    left join msf_request b
    on a.request_key = b.request_key
    where 1=1
    <include refid="sqlCondition"/>
    order by a.cret_dt desc
    <if test='page.pageEnabled'>
      LIMIT #{page.rowSize} OFFSET #{page.offset}
    </if>
  </select>

</mapper>
