<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktmmobile.msf.domains.form.form.common.repository.smartform.MsfRequestWriteMapper">

    <insert id="insertMsfRequestCancel"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCancelVo">
        INSERT INTO MSF_REQUEST_CANCEL (
            REQUEST_KEY,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            IDENTITY_CERT_TYPE_CD,
            CANCEL_MOBILE_NO,
            CONTRACT_NUM,
            SCAN_ID,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            RECEIVE_WAY_CD,
            CANCEL_USE_COMPANY_CD,
            PAY_AMT,
            PNLT_AMT,
            LAST_SUM_AMT,
            INSTAMT_MNTH_CNT,
            INSTAMT_MNTH_AMT,
            BENEFIT_AGREE_YN,
            CLAUSE_CNTR_DEL_YN,
            ETC_AGREE_YN,
            MEMO,
            OPEN_REQ_DT,
            REGST_ID,
            REQ_IN_DT,
            PROC_DT,
            PROC_CD,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            PARENT_SCAN_ID
        ) VALUES (
            #{requestKey},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{identityCertTypeCd},
            #{cancelMobileNo},
            #{contractNum},
            #{scanId},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{receiveWayCd},
            #{cancelUseCompanyCd},
            #{payAmt},
            #{pnltAmt},
            #{lastSumAmt},
            #{instamtMnthCnt},
            #{instamtMnthAmt},
            #{benefitAgreeYn},
            #{clauseCntrDelYn},
            #{etcAgreeYn},
            #{memo},
            NOW(),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{parentScanId}
        )
    </insert>


    <insert id="insertMsfRequestCstmr"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCstmrVo">
        INSERT INTO MSF_REQUEST_CSTMR (
            REQUEST_KEY,
            CSTMR_NM,
            CSTMR_NATIVE_RRN,
            CSTMR_NATIVE_BIRTH,
            CSTMR_NATIVE_GENDER_CD,
            CSTMR_PRIVATE_CNAME,
            CSTMR_PRIVATE_BIZ_NO,
            CSTMR_FOREIGNER_RRN,
            CSTMR_FOREIGNER_BIRTH,
            CSTMR_FOREIGNER_GENDER_CD,
            CSTMR_FOREIGNER_PN,
            CSTMR_FOREIGNER_COUNTRY_CD,
            CSTMR_FOREIGNER_NATION,
            CSTMR_FOREIGNER_VISA_NO,
            CSTMR_FOREIGNER_VDATE_START_DATE,
            CSTMR_FOREIGNER_VDATE_END_DATE,
            CSTMR_JURIDICAL_CNAME,
            CSTMR_JURIDICAL_RRN,
            CSTMR_JURIDICAL_BIZ_NO,
            CSTMR_JURIDICAL_REP_NM,
            CSTMR_PRIVATE_BIZ_NO_ISSU_DATE,
            CSTMR_JURIDICAL_BIZ_NO_ISSU_DATE,
            UPJN_CD,
            BCU_SBST,
            CSTMR_JURIDICAL_USER_NM,
            CSTMR_JURIDICAL_BIRTH,
            CSTMR_VISIT_TYPE_CD,
            CSTMR_TEL_FN_NO,
            CSTMR_TEL_MN_NO,
            CSTMR_TEL_RN_NO,
            CSTMR_MOBILE_FN_NO,
            CSTMR_MOBILE_MN_NO,
            CSTMR_MOBILE_RN_NO,
            CSTMR_ZIPCD,
            CSTMR_ADR,
            CSTMR_ADR_DTL,
            CSTMR_ADR_BJD,
            CSTMR_EMAIL_ADR,
            CSTMR_EMAIL_RECEIVE_YN,
            CSTMR_RECEIVE_TEL_FN_NO,
            CSTMR_RECEIVE_TEL_NM_NO,
            CSTMR_RECEIVE_TEL_RN_NO
        ) VALUES (
            #{requestKey},
            #{cstmrNm},
            #{cstmrNativeRrn},
            #{cstmrNativeBirth},
            #{cstmrNativeGenderCd},
            #{cstmrPrivateCname},
            #{cstmrPrivateBizNo},
            #{cstmrForeignerRrn},
            #{cstmrForeignerBirth},
            #{cstmrForeignerGenderCd},
            #{cstmrForeignerPn},
            #{cstmrForeignerCountryCd},
            #{cstmrForeignerNation},
            #{cstmrForeignerVisaNo},
            #{cstmrForeignerVdateStartDate},
            #{cstmrForeignerVdateEndDate},
            #{cstmrJuridicalCname},
            #{cstmrJuridicalRrn},
            #{cstmrJuridicalBizNo},
            #{cstmrJuridicalRepNm},
            #{cstmrPrivateBizNoIssuDate},
            #{cstmrJuridicalBizNoIssuDate},
            #{upjnCd},
            #{bcuSbst},
            #{cstmrJuridicalUserNm},
            #{cstmrJuridicalBirth},
            #{cstmrVisitTypeCd},
            #{cstmrTelFnNo},
            #{cstmrTelMnNo},
            #{cstmrTelRnNo},
            #{cstmrMobileFnNo},
            #{cstmrMobileMnNo},
            #{cstmrMobileRnNo},
            #{cstmrZipcd},
            #{cstmrAdr},
            #{cstmrAdrDtl},
            #{cstmrAdrBjd},
            #{cstmrEmailAdr},
            #{cstmrEmailReceiveYn},
            #{cstmrReceiveTelFnNo},
            #{cstmrReceiveTelNmNo},
            #{cstmrReceiveTelRnNo}
        )
    </insert>


    <insert id="insertMsfRequestAgent"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAgentVo">
        INSERT INTO MSF_REQUEST_AGENT (
            REQUEST_KEY,
            MINOR_AGENT_NM,
            MINOR_AGENT_RRN,
            MINOR_AGENT_BIRTH,
            MINOR_AGENT_GENDER_CD,
            MINOR_AGENT_REL_TYPE_CD,
            MINOR_AGENT_TEL_FN_NO,
            MINOR_AGENT_TEL_MN_NO,
            MINOR_AGENT_TEL_RN_NO,
            MINOR_AGENT_AGRM_YN,
            MINOR_AGENT_SELF_INQRY_AGRM_YN,
            MINOR_AGENT_SELF_CERT_TYPE_CD,
            MINOR_AGENT_CI_INFO,
            JRDCL_AGENT_NM,
            JRDCL_AGENT_RRN,
            JRDCL_AGENT_REL_TYPE_CD,
            JRDCL_AGENT_TEL_FN_NO,
            JRDCL_AGENT_TEL_MN_NO,
            JRDCL_AGENT_TEL_RN_NO
        ) VALUES (
            #{requestKey},
            #{minorAgentNm},
            #{minorAgentRrn},
            #{minorAgentBirth},
            #{minorAgentGenderCd},
            #{minorAgentRelTypeCd},
            #{minorAgentTelFnNo},
            #{minorAgentTelMnNo},
            #{minorAgentTelRnNo},
            #{minorAgentAgrmYn},
            #{minorAgentSelfInqryAgrmYn},
            #{minorAgentSelfCertTypeCd},
            #{minorAgentCiInfo},
            #{jrdclAgentNm},
            #{jrdclAgentRrn},
            #{jrdclAgentRelTypeCd},
            #{jrdclAgentTelFnNo},
            #{jrdclAgentTelMnNo},
            #{jrdclAgentTelRnNo}
        )
    </insert>


    <insert id="insertMsfRequestAddition"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAdditionVo">
        INSERT INTO MSF_REQUEST_ADDITION (
            REQUEST_KEY,
            ADDITION_ID,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            ADDITION_KEY,
            ADDITION_NM,
            SVC_CHG_TYPE_CD,
            PROD_ID,
            PROD_NM,
            ADDTION_INFO,
            RANTAL,
            PROC_YN
        ) VALUES (
            #{requestKey},
            #{additionId},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{additionKey},
            #{additionNm},
            #{svcChgTypeCd},
            #{prodId},
            #{prodNm},
            #{addtionInfo},
            #{rantal},
            #{procYn}
        )
    </insert>

    <!-- others_payment_agr_yn: DB NOT NULL이지만 VO 미포함 → 기본값 'N' -->
    <insert id="insertMsfRequestBillReq"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestBillReqVo">
        INSERT INTO MSF_REQUEST_BILL_REQ (
            REQUEST_KEY,
            REQ_PAY_TYPE_CD,
            REQ_BANK_CD,
            REQ_ACCOUNT_NM,
            REQ_ACCOUNT_RRN,
            REQ_ACCOUNT_REL_TYPE_CD,
            REQ_ACCOUNT_NO,
            REQ_CARD_NM,
            REQ_CARD_RRN,
            REQ_CARD_COMPANY_CD,
            REQ_CARD_NO,
            REQ_CARD_YY,
            REQ_CARD_MM,
            REQ_WIRE_TYPE_CD,
            OTHERS_PAYMENT_YN,
            OTHERS_PAYMENT_TEL_FN_NO,
            OTHERS_PAYMENT_TEL_MN_NO,
            OTHERS_PAYMENT_TEL_RN_NO,
            OTHERS_PAYMENT_NM,
            OTHERS_PAYMENT_RRN,
            OTHERS_PAYMENT_REL_TYPE_CD,
            OTHERS_PAYMENT_REQ_NM,
            OTHERS_PAYMENT_AGR_YN,
            PRNTS_BILL_NO,
            CSTMR_BILL_SEND_TYPE_CD,
            CSTMR_EMAIL_ADR
        ) VALUES (
            #{requestKey},
            #{reqPayTypeCd},
            #{reqBankCd},
            #{reqAccountNm},
            #{reqAccountRrn},
            #{reqAccountRelTypeCd},
            #{reqAccountNo},
            #{reqCardNm},
            #{reqCardRrn},
            #{reqCardCompanyCd},
            #{reqCardNo},
            #{reqCardYy},
            #{reqCardMm},
            #{reqWireTypeCd},
            #{othersPaymentYn},
            #{othersPaymentTelFnNo},
            #{othersPaymentTelMnNo},
            #{othersPaymentTelRnNo},
            #{othersPaymentNm},
            #{othersPaymentRrn},
            #{othersPaymentRelTypeCd},
            #{othersPaymentReqNm},
            #{othersPaymentAgrYn},
            #{prntsBillNo},
            #{cstmrBillSendTypeCd},
            #{cstmrEmailAdr}
        )
    </insert>


    <!-- REQUEST_DOC_SEQ: DB sequence 채번 -->
    <insert id="insertMsfRequestDoc"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDocVo">
        INSERT INTO MSF_REQUEST_DOC (
            REQUEST_DOC_SEQ,
            REQUEST_KEY,
            FILE_TYPE_CD,
            FILE_PATH_NM,
            FILE_NM,
            FILE_PAGE_NO
        ) VALUES (
            nextval('sq_request_doc_seq'),
            #{requestKey},
            #{fileTypeCd},
            #{filePathNm},
            #{fileNm},
            #{filePageNo}
        )
    </insert>

    <!-- REG_DT: 이 테이블은 CRET_DT 없이 REG_DT 사용 -->
    <insert id="insertMsfRequestDvcChg"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDvcChgVo">
        INSERT INTO MSF_REQUEST_DVC_CHG (
            REQUEST_KEY,
            CRET_IP,
            REG_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            DVC_CHG_TYPE_CD,
            DVC_CHG_RSN_CD,
            DVC_CHG_RSN_DTL_CD,
            INSTAMT_PAY_MTHD_CD
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{dvcChgTypeCd},
            #{dvcChgRsnCd},
            #{dvcChgRsnDtlCd},
            #{instamtPayMthdCd}
        )
    </insert>

    <!-- REQUEST_RECV_SEQ: 호출 전 시퀀스 채번 후 VO에 세팅 필요 -->
    <insert id="insertMsfRequestJoinForm"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestJoinFormVo">
        INSERT INTO MSF_REQUEST_JOIN_FORM (
            REQUEST_RECV_SEQ,
            REQUEST_KEY,
            <!--CRET_IP,-->
            <!--CRET_DT,-->
            <!--CRET_ID,-->
            <!--AMD_IP,-->
            <!--AMD_ID,-->
            <!--AMD_DT,-->
            RECV_TYPE_CD,
            FAX_NO,
            CSTMR_ZIPCD,
            CSTMR_ADR,
            CSTMR_ADR_DTL,
            CSTMR_EMAIL_ADR,
            CSTMR_MOBILE_NO,
            PROC_CD,
            ETC_MEMO
        ) VALUES (
            #{requestRecvSeq},
            #{requestKey},
            <!--#{cretIp},-->
            <!--NOW(),-->
            <!--#{cretId},-->
            <!--#{amdIp},-->
            <!--#{amdId},-->
            <!--NOW(),-->
            #{recvTypeCd},
            #{faxNo},
            #{cstmrZipcd},
            #{cstmrAdr},
            #{cstmrAdrDtl},
            #{cstmrEmailAdr},
            #{cstmrMobileNo},
            #{procCd},
            #{etcMemo}
        )
    </insert>

    <!-- REG_DT: 이 테이블은 CRET_DT 없이 REG_DT 사용 -->
    <insert id="insertMsfRequestMove"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMoveVo">
        INSERT INTO MSF_REQUEST_MOVE (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_ID,
            AMD_DT,
            MOVE_COMPANY_CD,
            MOVE_MOBILE_FN_NO,
            MOVE_MOBILE_MN_NO,
            MOVE_MOBILE_RN_NO,
            MOVE_AUTH_TYPE_CD,
            MOVE_AUTH_NO,
            MOVE_THISMONTH_PAY_TYPE_CD,
            MOVE_ALLOTMENT_STTUS_CD,
            MOVE_REFUND_AGREE_YN,
            REQ_GUIDE_YN,
            REQ_GUIDE_FN_NO,
            REQ_GUIDE_RN_NO,
            REQ_GUIDE_MN_NO,
            OSST_PAY_DATE,
            OSST_PAY_TYPE_CD,
            MOVE_PENALTY
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            #{amdId},
            NOW(),
            #{moveCompanyCd},
            #{moveMobileFnNo},
            #{moveMobileMnNo},
            #{moveMobileRnNo},
            #{moveAuthTypeCd},
            #{moveAuthNo},
            #{moveThismonthPayTypeCd},
            #{moveAllotmentSttusCd},
            #{moveRefundAgreeYn},
            #{reqGuideYn},
            #{reqGuideFnNo},
            #{reqGuideRnNo},
            #{reqGuideMnNo},
            #{osstPayDate},
            #{osstPayTypeCd},
            #{movePenalty}
        )
    </insert>

    <insert id="insertMsfRequestNameChg">
        INSERT INTO MSF_REQUEST_NAME_CHG (
            REQUEST_KEY,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            MCN_RES_NO,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            REQ_INFO_CHG_YN,
            SOC,
            SOC_NM,
            SOC_BASE_CHRG_AMT,
            JEHU_PROD_TYPE_CD,
            USIM_SUCC_YN,
            USIM_SN,
            USIM_NM,
            ICC_ID,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            REMAIN_PAY_DIV_CD,
            CLAUSE_CNTR_DEL_YN,
            CLAUSE_PRI_COLLECT_YN,
            CLAUSE_PRI_OFFER_YN,
            CLAUSE_ESS_COLLECT_YN,
            CLAUSE_CONFIDENCE_YN,
            CLAUSE_PRI_AD_YN,
            CLAUSE_JEHU_YN,
            CLAUSE_FINANCE_YN,
            CLAUSE_PRI_TRUST_YN,
            CLAUSE_SENSI_COLLECT_YN,
            CLAUSE_SENSI_OFFER_YN,
            PERSONAL_INFO_COLLECT_AGREE_YN,
            OTHERS_TRNS_AGREE_YN,
            OTHERS_TRNS_KT_AGREE_YN,
            OTHERS_TRNS_ALL_AGREE_YN,
            OTHERS_AD_RECEIVE_AGREE_YN,
            CLAUSE_5G_COVERAGE_YN,
            NW_BLCK_AGRM_YN,
            APP_BLCK_AGRM_YN,
            INDV_LOCA_PRV_AGREE_YN,
            CLAUSE_FATH_YN,
            MCN_STAT_RSN_CD,
            MEMO,
            OPEN_REQ_DT,
            REGST_ID,
            REQ_IN_DT,
            PROC_DT,
            PROC_CD,
            MCN_STATE_CD,
            RCV_CUST_NO,
            RCV_BILL_ACNT_NO,
            REC_YN,
            RES_CD,
            RES_MSG,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            PARENT_SCAN_ID,
            DIS_PRMT_ID
        ) VALUES (
            #{requestKey},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{mcnResNo},
            #{teIdentityCertTypeCd},
            #{knoteIdentityScanCstmrNm},
            #{knoteIdentityEssNo},
            #{knoteIdentityTypeCd},
            #{knoteIdentityScanDt},
            #{knoteScanId},
            #{teFathTrgYn},
            #{teFathTrgIdentityCertTypeCd},
            #{teFathTransacId},
            #{teFathCmpltNtfyDate},
            #{teFathTelNo},
            #{teFathMobileFnNo},
            #{teFathMobileMnNo},
            #{teFathMobileRnNo},
            #{teAuthInfo},
            #{teIdentityTypeCd},
            #{teIdentityIssuDate},
            #{teIdentityIssuRegion},
            #{teSelfIssuNo},
            #{teDriveLicnsNo},
            #{reqInfoChgYn},
            #{soc},
            #{socNm},
            #{socBaseChrgAmt},
            #{jehuProdTypeCd},
            #{usimSuccYn},
            #{usimSn},
            #{usimNm},
            #{iccId},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{remainPayDivCd},
            #{clauseCntrDelYn},
            #{clausePriCollectYn},
            #{clausePriOfferYn},
            #{clauseEssCollectYn},
            #{clauseConfidenceYn},
            #{clausePriAdYn},
            #{clauseJehuYn},
            #{clauseFinanceYn},
            #{clausePriTrustYn}, /* clausePriTrustYn */
            'Y', /* clauseSensiCollectYn */
            'Y', /* clauseSensiOfferYn */
            #{personalInfoCollectAgreeYn},
            #{othersTrnsAgreeYn},
            #{othersTrnsKtAgreeYn},
            #{othersTrnsAllAgreeYn},
            #{othersAdReceiveAgreeYn},
            #{clause5gCoverageYn},
            #{nwBlckAgrmYn},
            #{appBlckAgrmYn},
            #{indvLocaPrvAgreeYn},
            #{clauseFathYn},
            #{mcnStatRsnCd},
            #{memo},
            NOW(),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            '00',
            #{rcvCustNo},
            #{rcvBillAcntNo},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{parentScanId},
            #{disPrmtId}
        )
    </insert>

    <insert id="insertMsfRequestNameTrns">
        INSERT INTO MSF_REQUEST_NAME_TRNS (
            REQUEST_KEY,
            NFL_CHG_TRNS_SEQ,
            TRNS_SEQ,
            TRNS_CSTMR_TYPE_CD,
            TRNS_TRNSFE_MOBILE_NO,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            TRNS_NM,
            TRNS_MOBILE_NO,
            TRNS_PHONE_NO,
            TRNS_PWD,
            TRNS_MYSLF_CONF_METH_CD,
            TRNS_TRNSFE_NM,
            CSTMR_VISIT_TYPE_CD,
            MINOR_AGENT_NM,
            MINOR_AGENT_RRN,
            MINOR_AGENT_BIRTH,
            MINOR_AGENT_GENDER_CD,
            MINOR_AGENT_REL_TYPE_CD,
            MINOR_AGENT_TEL_FN_NO,
            MINOR_AGENT_TEL_MN_NO,
            MINOR_AGENT_TEL_RN_NO,
            MINOR_AGENT_AGRM_YN,
            MINOR_AGENT_SELF_INQRY_AGRM_YN,
            MINOR_AGENT_SELF_CERT_TYPE_CD,
            MINOR_AGENT_SELF_ISSU_EXPR_DATE,
            MINOR_AGENT_SELF_ISSU_NO,
            TRNS_STTUS_CD,
            AUTH_DEL_YN,
            CONFIRM_MEMO,
            TRNS_BIRTH,
            TRNS_GENDER_CD,
            TRNS_CNAME,
            TRNS_BIZ_NO,
            TRNS_JURIDICAL_RRN,
            TRNS_JURIDICAL_REP_NM
        ) VALUES (
          #{requestKey},
          nextVal('sq_nfl_chg_trns_seq'),
          currVal('sq_nfl_chg_trns_seq'),
          #{trnsCstmrTypeCd},
          #{trnsTrnsfeMobileNo},
          #{trIdentityCertTypeCd},
          null,
          null,
          null,
          null,
          null,
          #{trFathTrgYn},
          #{trFathTrgIdentityCertTypeCd},
          #{trFathTransacId},
          #{trFathCmpltNtfyDate},
          #{trFathTelNo},
          #{trFathMobileFnNo},
          #{trFathMobileMnNo},
          #{trFathMobileRnNo},
          #{trAuthInfo},
          #{trIdentityTypeCd},
          #{trIdentityIssuDate},
          #{trIdentityIssuRegion},
          #{trSelfIssuNo},
          #{trDriveLicnsNo},
          #{trnsNm},
          #{trnsMobileNo},
          #{trnsPhoneNo},
          #{trnsPwd},
          #{trnsMyslfConfMethCd},
          #{trnsTrnsfeNm},
          #{trCstmrVisitTypeCd},
          #{trMinorAgentNm},
          #{trMinorAgentRrn},
          #{trMinorAgentBirth},
          #{trMinorAgentGenderCd},
          #{trMinorAgentRelTypeCd},
          #{trMinorAgentTelFnNo},
          #{trMinorAgentTelMnNo},
          #{trMinorAgentTelRnNo},
          #{trMinorAgentAgrmYn},
          #{trMinorAgentSelfInqryAgrmYn},
          #{trMinorAgentSelfCertTypeCd},
          #{trMinorAgentSelfIssuExprDate},
          #{trMinorAgentSelfIssuNo},
          #{trnsSttusCd},
          #{authDelYn},
          #{confirmMemo},
          #{trnsBirth},
          #{trnsGenderCd},
          #{trnsCname},
          #{trnsBizNo},
          #{trnsJuridicalRrn},
          #{trnsJuridicalRepNm}
        )
    </insert>

    <insert id="insertMsfRequestRec"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestRecVo">
        INSERT INTO MSF_REQUEST_REC (
            REQUEST_KEY,
            <!--CRET_IP,-->
            <!--CRET_DT,-->
            <!--CRET_ID,-->
            <!--AMD_IP,-->
            <!--AMD_DT,-->
            <!--AMD_ID,-->
            REC_FILE_PATH_NM,
            REC_FILE_NM
        ) VALUES (
            #{requestKey},
            <!--#{cretIp},-->
            <!--NOW(),-->
            <!--#{cretId},-->
            <!--#{amdIp},-->
            <!--NOW(),-->
            <!--#{amdId},-->
            #{recFilePathNm},
            #{recFileNm}
        )
    </insert>

    <insert id="insertMsfRequestSale"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSaleVo">
        INSERT INTO MSF_REQUEST_SALE (
            REQUEST_KEY,
            MODEL_ID,
            MODEL_MONTHLY,
            MODEL_INSTAMT,
            MODEL_SALE_POLICY_CD,
            MODEL_PRICE_VAT,
            MODEL_DISCOUNT1,
            MODEL_SPRT,
            MODEL_PRICE,
            MODEL_DISCOUNT3,
            REAL_MDL_INSTAMT,
            HNDSET_SALE_PRICE,
            SPRT_TYPE_CD,
            DC_AMT,
            MAX_APD_SPRT,
            ADD_DC_AMT,
            ENGG_MNTH_CNT,
            USIM_PRICE_TYPE_CD,
            USIM_PRICE,
            USIM_PAY_MTHD_CD,
            JOIN_PRICE_TYPE_CD,
            JOIN_PAY_MTHD_CD,
            JOIN_PRICE,
            SOC_CODE,
            SOC_NM,
            SOC_BASE_CHRG_AMT,
            DIS_PRMT_AMT
        ) VALUES (
            #{requestKey},
            #{modelId},
            #{modelMonthly},
            #{modelInstamt},
            #{modelSalePolicyCd},
            #{modelPriceVat},
            #{modelDiscount1},
            #{modelSprt},
            #{modelPrice},
            #{modelDiscount3},
            #{realMdlInstamt},
            #{hndsetSalePrice},
            #{sprtTypeCd},
            #{dcAmt},
            #{maxApdSprt},
            #{addDcAmt},
            #{enggMnthCnt},
            #{usimPriceTypeCd},
            #{usimPrice},
            #{usimPayMthdCd},
            #{joinPriceTypeCd},
            #{joinPayMthdCd},
            #{joinPrice},
            #{socCode},
            #{socNm},
            #{socBaseChrgAmt},
            #{disPrmtAmt}
        )
    </insert>

    <!-- REQUEST_STATE_KEY: 호출 전 시퀀스 채번 후 VO에 세팅 필요 / CRET_IP NOT NULL -->
    <insert id="insertMsfRequestState"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestStateVo">
        INSERT INTO MSF_REQUEST_STATE (
            REQUEST_STATE_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            REQUEST_KEY,
            RES_NO,
            SBSC_PRO_CD,
            OPEN_NO,
            MEMO,
            VIEW_YN
        ) VALUES (
            #{requestStateKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{requestKey},
            #{resNo},
            #{sbscProCd},
            #{openNo},
            #{memo},
            #{viewYn}
        )
    </insert>

    <!-- REQUEST_SVC_CHG_DTL_SEQ: 호출 전 시퀀스 채번 후 VO에 세팅 필요 -->
    <insert id="insertMsfRequestSvcChgDtl"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgDtlVo">
        INSERT INTO MSF_REQUEST_SVC_CHG_DTL (
            REQUEST_SVC_CHG_DTL_SEQ,
            REQUEST_KEY,
            SVC_TGT_CD,
            SVC_CHG_TYPE_CD,
            PROC_TYPE_CD,
            PROC_DT,
            PROC_CD,
            RES_CD,
            RES_MSG,
            RES_NO,
            SOC_CD,
            SOC_NM,
            ADDTION_INFO,
            PROD_AMT,
            INSR_CD,
            CLAUSE_INSURANCE_YN,
            CLAUSE_INSR_PROD_YN,
            INSR_AUTH_INFO,
            USIM_BUY_TYPE_CD,
            REQ_USIM_SN,
            REQ_USIM_NM,
            ICC_ID,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            PRNTS_TGT_TYPE_CD,
            PRNTS_MOBILE_NO,
            PRNTS_CONTRACT_NUM,
            PRNTS_CSTMR_NM,
            PRNTS_CSTMR_BIRTH,
            PRNTS_CSTMR_GENDER_CD,
            PRNTS_SOC_CD,
            PRNTS_SOC_NM,
            PRNTS_PROD_ID,
            PRNTS_PROD_NM,
            COMBINE_ID,
            COMBINE_SOLO_TYPE_YN,
            COMBINE_SOLO_YN,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            PARENT_SCAN_ID
        ) VALUES (
            #{requestSvcChgDtlSeq},
            #{requestKey},
            #{svcTgtCd},
            #{svcChgTypeCd},
            #{procTypeCd},
            NOW(),
            #{procCd},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{socCd},
            #{socNm},
            #{addtionInfo},
            #{prodAmt},
            #{insrCd},
            #{clauseInsuranceYn},
            #{clauseInsrProdYn},
            #{insrAuthInfo},
            #{usimBuyTypeCd},
            #{reqUsimSn},
            #{reqUsimNm},
            #{iccId},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{prntsTgtTypeCd},
            #{prntsMobileNo},
            #{prntsContractNum},
            #{prntsCstmrNm},
            #{prntsCstmrBirth},
            #{prntsCstmrGenderCd},
            #{prntsSocCd},
            #{prntsSocNm},
            #{prntsProdId},
            #{prntsProdNm},
            #{combineId},
            #{combineSoloTypeYn},
            #{combineSoloYn},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{parentScanId}
        )
    </insert>

    <insert id="insertMsfRequestSvcChg"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgVo">
        INSERT INTO MSF_REQUEST_SVC_CHG (
            REQUEST_KEY,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            CSTMR_TYPE_CD,
            CHG_MOBILE_NO,
            CHG_CONTRACT_NUM,
            MEMO,
            OPEN_REQ_DT,
            REGST_ID,
            REQ_IN_DT,
            PROC_DT,
            PROC_CD,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            PARENT_SCAN_ID,
            SIGN_TGT_SBST
        ) VALUES (
            #{requestKey},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{cstmrTypeCd},
            #{chgMobileNo},
            #{chgContractNum},
            #{memo},
            NOW(),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{parentScanId},
            #{signTgtSbst}
        )
    </insert>

    <update id="updateMsfRequestSvcChgProcCd"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgVo">
        UPDATE MSF_REQUEST_SVC_CHG
        SET PROC_DT = NOW(),
            PROC_CD = #{procCd},
            RES_CD = #{resCd},
            RES_MSG = #{resMsg},
            RES_NO = #{resNo}
        WHERE REQUEST_KEY = #{requestKey}
    </update>

    <!-- 서비스변경 후처리 업로드: 이폼서버 업로드 완료 후 SCAN_ID 업데이트 -->
    <update id="updateMsfRequestSvcChgScanId"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgVo">
        UPDATE MSF_REQUEST_SVC_CHG
        SET SCAN_ID = #{scanId},
            SIGN_TGT_SBST = COALESCE(NULLIF(#{signTgtSbst}, ''), SIGN_TGT_SBST)
            <if test="fileNm != null and fileNm != ''">
            , FILE_NM = #{fileNm}
            , FILE_MASK_NM = #{fileMaskNm}
            </if>
        WHERE REQUEST_KEY = #{requestKey}
    </update>

    <!-- 서비스변경 후처리 업로드: DTL 행별 SCAN_ID 업데이트 (SVC_TGT_CD 기준) -->
    <update id="updateMsfRequestSvcChgDtlScanId"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgDtlVo">
        UPDATE MSF_REQUEST_SVC_CHG_DTL
        SET SCAN_ID = #{scanId}
        <if test="fileNm != null and fileNm != ''">
          , FILE_NM = #{fileNm}
          , FILE_MASK_NM = #{fileMaskNm}
        </if>
        WHERE REQUEST_KEY = #{requestKey}
          AND SVC_TGT_CD = #{svcTgtCd}
    </update>

    <!-- 서비스변경 후처리 업로드: R11/R12 DTL 행별 SCAN_ID 업데이트 (SVC_TGT_CD + SOC_CD 기준) -->
    <update id="updateMsfRequestSvcChgDtlSocScanId"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgDtlVo">
        UPDATE MSF_REQUEST_SVC_CHG_DTL
        SET SCAN_ID = #{scanId}
        <if test="fileNm != null and fileNm != ''">
          , FILE_NM = #{fileNm}
          , FILE_MASK_NM = #{fileMaskNm}
        </if>
        WHERE REQUEST_KEY = #{requestKey}
          AND SVC_TGT_CD = #{svcTgtCd}
          AND SOC_CD = #{socCd}
        <if test="procTypeCd != null and procTypeCd != ''">
          AND PROC_TYPE_CD = #{procTypeCd}
        </if>
    </update>

    <update id="updateMsfRequestSvcChgDtlProcResult"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgDtlVo">
        UPDATE MSF_REQUEST_SVC_CHG_DTL
        SET PROC_DT = NOW(),
            PROC_CD = #{procCd},
            RES_CD = #{resCd},
            RES_MSG = #{resMsg},
            RES_NO = #{resNo}
        WHERE REQUEST_KEY = #{requestKey}
          AND SVC_TGT_CD = #{svcTgtCd}
        <if test="socCd != null and socCd != ''">
          AND SOC_CD = #{socCd}
        </if>
        <if test="procTypeCd != null and procTypeCd != ''">
          AND PROC_TYPE_CD = #{procTypeCd}
        </if>
    </update>

    <insert id="insertMsfRequest"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestVo">
        INSERT INTO MSF_REQUEST (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            REQ_BUY_TYPE_CD,
            OPEN_TYPE_CD,
            SERVICE_TYPE_CD,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            OPEN_NO,
            CONTRACT_NUM,
            PROD_TYPE_CD,
            PROD_ID,
            PROD_NM,
            REQ_PHONE_SN,
            REQ_MODEL_NM,
            SNTY_CAPAC_CD,
            SNTY_COLOR_CD,
            REQ_MODEL_COLOR,
            SHOP_USM_ID,
            USIM_KINDS_CD,
            REQ_USIM_SN,
            REQ_USIM_NM,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            REQ_WANT_FN_NO,
            REQ_WANT_MN_NO,
            REQ_WANT_RN_NO,
            INSR_CD,
            INSR_PROD_CD,
            CLAUSE_INSURANCE_YN,
            CLAUSE_INSR_PROD_YN,
            INSR_AUTH_INFO,
            PRNTS_CONTRACT_NUM,
            PRNTS_MOBILE_NO,
            JEHU_PARTNER_TYPE_CD,
            JEHU_PROD_TYPE_CD,
            REQ_ADDITION_LIST_NM,
            REQ_ADDITION_PRICE,
            PHONE_PAYMENT_YN,
            ON_OFF_TYPE_CD,
            SO_CD,
            OPEN_REQ_DT,
            REQ_IN_DAY,
            CLAUSE_PRI_COLLECT_YN,
            CLAUSE_PRI_OFFER_YN,
            CLAUSE_ESS_COLLECT_YN,
            CLAUSE_PRI_TRUST_YN,
            CLAUSE_PRI_AD_YN,
            CLAUSE_CONFIDENCE_YN,
            CLAUSE_FATH_YN,
            NW_BLCK_AGRM_YN,
            APP_BLCK_AGRM_YN,
            BLCK_APP_DIV_CD,
            SO_TRNS_AGRM_YN,
            CLAUSE_JEHU_YN,
            CLAUSE_RENTAL_MODEL_CP_YN,
            CLAUSE_RENTAL_MODEL_CP_PR_YN,
            CLAUSE_RENTAL_SERVICE_YN,
            CLAUSE_MPPS35_YN,
            CLAUSE_FINANCE_YN,
            CLAUSE_5G_COVERAGE_YN,
            PERSONAL_INFO_COLLECT_AGREE_YN,
            OTHERS_TRNS_AGREE_YN,
            CLAUSE_SENSI_COLLECT_YN,
            CLAUSE_SENSI_OFFER_YN,
            CLAUSE_PARTNER_OFFER_YN,
            OTHERS_TRNS_KT_AGREE_YN,
            OTHERS_AD_RECEIVE_AGREE_YN,
            KT_COUNSEL_AGREE_YN,
            COMBINE_SOLO_TYPE_YN,
            COMBINE_SOLO_YN,
            ETC_SPECIAL_SBST,
            MEMO,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            PROC_DT,
            PROC_CD,
            PRO_STTUS_CD,
            SBSC_PRO_CD,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            FAX_YN,
            FAX_NO
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{reqBuyTypeCd},
            #{openTypeCd},
            #{serviceTypeCd},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{identityCertTypeCd},
            #{knoteIdentityScanCstmrNm},
            #{knoteIdentityEssNo},
            #{knoteIdentityTypeCd},
            #{knoteIdentityScanDt},
            #{knoteScanId},
            #{fathTrgYn},
            #{fathTrgIdentityCertTypeCd},
            #{fathTransacId},
            #{fathCmpltNtfyDate},
            #{fathTelNo},
            #{fathMobileFnNo},
            #{fathMobileMnNo},
            #{fathMobileRnNo},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{openNo},
            #{contractNum},
            #{prodTypeCd},
            #{prodId},
            #{prodNm},
            #{reqPhoneSn},
            #{reqModelNm},
            #{sntyCapacCd},
            #{sntyColorCd},
            #{reqModelColor},
            #{shopUsmId},
            #{usimKindsCd},
            #{reqUsimSn},
            #{reqUsimNm},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{reqWantFnNo},
            #{reqWantMnNo},
            #{reqWantRnNo},
            #{insrCd},
            #{insrProdCd},
            #{clauseInsuranceYn},
            #{clauseInsrProdYn},
            #{insrAuthInfo},
            #{prntsContractNum},
            #{prntsMobileNo},
            #{jehuPartnerTypeCd},
            #{jehuProdTypeCd},
            #{reqAdditionListNm},
            #{reqAdditionPrice},
            #{phonePaymentYn},
            #{onOffTypeCd},
            #{soCd},
            #{openReqDt},
            #{reqInDay},
            #{clausePriCollectYn},
            #{clausePriOfferYn},
            #{clauseEssCollectYn},
            #{clausePriTrustYn},
            #{clausePriAdYn},
            #{clauseConfidenceYn},
            #{clauseFathYn},
            #{nwBlckAgrmYn},
            #{appBlckAgrmYn},
            #{blckAppDivCd},
            #{soTrnsAgrmYn},
            #{clauseJehuYn},
            #{clauseRentalModelCpYn},
            #{clauseRentalModelCpPrYn},
            #{clauseRentalServiceYn},
            #{clauseMpps35Yn},
            #{clauseFinanceYn},
            #{clause5GCoverageYn},
            #{personalInfoCollectAgreeYn},
            #{othersTrnsAgreeYn},
            #{clauseSensiCollectYn},
            #{clauseSensiOfferYn},
            #{clausePartnerOfferYn},
            #{othersTrnsKtAgreeYn},
            #{othersAdReceiveAgreeYn},
            #{ktCounselAgreeYn},
            #{combineSoloTypeYn},
            #{combineSoloYn},
            #{etcSpecialSbst},
            #{memo},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            NOW(),
            #{procCd},
            #{proSttusCd},
            #{sbscProCd},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{faxYn},
            #{faxNo}
        )
    </insert>

  <insert id="insertMsfRequestOsst"
          parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestOsstVo">
    INSERT INTO MSF_REQUEST_OSST
    (
      MVNO_ORD_NO
      , SEQ
      , OSST_ORD_NO
      , PRGR_STAT_CD
      , RSLT_CD
      , RSLT_MSG
      , RSLT_DATE
      , NSTEP_GLOBAL_ID
      , PRDC_CHK_NOTI_MSG
      , IF_TYPE_CD
      , SVC_CNTR_NO
    )
    VALUES (
      LPAD(#{mvnoOrdNo}, 14, '0')
      , COALESCE((SELECT MAX(SEQ+1) FROM MSF_REQUEST_OSST WHERE MVNO_ORD_NO = LPAD(#{mvnoOrdNo}, 14, '0')), 1)
      , #{osstOrdNo}
      , CASE WHEN LENGTH(#{prgrStatCd}) >= 4 THEN RIGHT(#{prgrStatCd},3) ELSE #{prgrStatCd} END
      , #{rsltCd}
      , #{rsltMsg}
      , TO_CHAR(NOW(),'YYYYMMDDHH24MISS')
      , #{nstepGlobalId}
      , #{prdcChkNotiMsg}
      , COALESCE(#{ifTypeCd}, 'WEB')
      , COALESCE(#{svcCntrNo},0)
    )
  </insert>

  <delete id="deleteMsfRequestNameChg">
    DELETE FROM MSF_REQUEST_NAME_CHG
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestNameTrns">
    DELETE FROM MSF_REQUEST_NAME_TRNS
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestCstmr">
    DELETE FROM MSF_REQUEST_CSTMR
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestAgent">
    DELETE FROM MSF_REQUEST_AGENT
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestBillReq">
    DELETE FROM MSF_REQUEST_BILL_REQ
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestJoinForm">
    DELETE FROM MSF_REQUEST_JOIN_FORM
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

  <delete id="deleteMsfRequestDoc">
    DELETE FROM MSF_REQUEST_DOC
    WHERE REQUEST_KEY = #{requestKey}
  </delete>
  <delete id="deleteMsfRequestRec">
    DELETE FROM MSF_REQUEST_REC
    WHERE REQUEST_KEY = #{requestKey}
  </delete>

</mapper>
