<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.common.repository.smartform.MsfRequestReadMapper">

    <select id="selectMcpCancelRequest"
            parameterType="java.lang.Long"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.McpCancelRequestVo">
        SELECT
            T1.REQUEST_KEY AS CUST_REQ_SEQ
            , T1.CRET_IP AS RIP
            , T1.AMD_DT AS RVISN_DTTM
            , T1.AMD_ID AS RVISN_ID
            , T1.CANCEL_MOBILE_NO AS CANCEL_MOBILE_NO
            , T1.CONTRACT_NUM AS CONTRACT_NUM
            , NULL AS ONLINE_AUTH_TYPE
            , T1.AUTH_INFO AS ONLINE_AUTH_INFO
            , T2.CSTMR_NM AS CSTMR_NAME
            , T2.CSTMR_RECEIVE_TEL_FN_NO || T2.CSTMR_RECEIVE_TEL_NM_NO || T2.CSTMR_RECEIVE_TEL_RN_NO AS RECEIVE_MOBILE_NO
            , T1.BENEFIT_AGREE_YN AS BENEFIT_AGREE_FLAG
            , T1.CLAUSE_CNTR_DEL_YN AS CLAUSE_CNTR_DEL_FLAG
            , T1.ETC_AGREE_YN AS ETC_AGREE_FLAG
            , NULL AS SURVEY1_CD
            , NULL AS SURVEY1_TEXT
            , NULL AS SURVEY2_CD
            , NULL AS SURVEY2_TEXT
            , NULL AS SURVEY_SCORE
            , NULL AS SURVEY_SUGGESTION
            , T1.MEMO AS MEMO
            , T1.REG_DATE AS SYS_RDATE_DD
            , T1.REGST_ID AS REGST_ID
            , T1.REG_DT AS REGST_DTTM
            , T1.PROC_CD AS PROC_CD
            , T1.SCAN_ID AS SCAN_ID
        FROM MSF_REQUEST_CANCEL T1
        INNER JOIN MSF_REQUEST_CSTMR T2
            ON T2.REQUEST_KEY = T1.REQUEST_KEY
        WHERE 1 = 1
          AND T1.REQUEST_KEY = #{requestKey}
          AND T2.REQUEST_KEY = #{requestKey}
    </select>

    <select id="selectMcpCancelRequestCstmr"
            parameterType="java.lang.Long"
            resultType="com.ktmmobile.msf.domains.form.form.common.vo.McpRequestCstmrVo">
        SELECT
            T1.REQUEST_KEY AS REQUEST_KEY
            , T2.CRET_DT AS SYS_RDATE
            , T2.AMD_DT AS RVISN_DTTM
            , T2.AMD_ID AS RVISN_ID
            , T2.CSTMR_NM AS CSTMR_NAME
            , T2.CSTMR_NATIVE_RRN AS CSTMR_NATIVE_RRN
            , T2.CSTMR_PRIVATE_CNAME AS CSTMR_PRIVATE_CNAME
            , T2.CSTMR_PRIVATE_BIZ_NO AS CSTMR_PRIVATE_NUMBER
            , T2.CSTMR_FOREIGNER_RRN AS CSTMR_FOREIGNER_RRN
            , T2.CSTMR_FOREIGNER_BIRTH AS CSTMR_FOREIGNER_BIRTH
            , T2.CSTMR_FOREIGNER_PN AS CSTMR_FOREIGNER_PN
            , T2.CSTMR_FOREIGNER_NATION AS CSTMR_FOREIGNER_NATION
            , T2.CSTMR_FOREIGNER_VISA_NO AS VISA_CD
            , T2.CSTMR_FOREIGNER_VDATE_START_DATE AS CSTMR_FOREIGNER_SDATE
            , T2.CSTMR_FOREIGNER_VDATE_END_DATE AS CSTMR_FOREIGNER_EDATE
            , T2.CSTMR_FOREIGNER_RRN AS CSTMR_FOREIGNER_DOD
            , T2.CSTMR_JURIDICAL_CNAME AS CSTMR_JURIDICAL_CNAME
            , T2.CSTMR_JURIDICAL_RRN AS CSTMR_JURIDICAL_RRN
            , T2.CSTMR_JURIDICAL_BIZ_NO AS CSTMR_JURIDICAL_NUMBER
            , T2.UPJN_CD AS UPJN_CD
            , T2.BCU_SBST AS BCU_SBST
            , T2.CSTMR_VISIT_TYPE_CD AS CSTMR_VISIT_TYPE
            , NULL AS FATH_MOBILE_FN
            , NULL AS FATH_MOBILE_MN
            , NULL AS FATH_MOBILE_RN
            , 'Y' AS SELF_INQRY_AGRM_YN
            , NULL AS SELF_CERT_TYPE
            , NULL AS SELF_CSTMR_CI
            , T1.IDENTITY_ISSU_DATE AS SELF_ISSU_EXPR_DT
            , T1.SELF_ISSU_NO AS SELF_ISSU_NUM
            , T2.CSTMR_TEL_FN_NO AS CSTMR_TEL_FN
            , T2.CSTMR_TEL_MN_NO AS CSTMR_TEL_MN
            , T2.CSTMR_TEL_RN_NO AS CSTMR_TEL_RN
            , T2.CSTMR_MOBILE_FN_NO AS CSTMR_MOBILE_FN
            , T2.CSTMR_MOBILE_MN_NO AS CSTMR_MOBILE_MN
            , T2.CSTMR_MOBILE_RN_NO AS CSTMR_MOBILE_RN
            , T2.CSTMR_ZIPCD AS CSTMR_POST
            , T2.CSTMR_ADR AS CSTMR_ADDR
            , T2.CSTMR_ADR_DTL AS CSTMR_ADDR_DTL
            , T2.CSTMR_ADR_BJD AS CSTMR_ADDR_BJD
            , NULL AS CSTMR_BILL_SEND_CODE
            , T2.CSTMR_EMAIL_ADR AS CSTMR_MAIL
            , T2.CSTMR_EMAIL_RECEIVE_YN AS CSTMR_MAIL_RECEIVE_FLAG
            , T2.CSTMR_RECEIVE_TEL_FN_NO AS CSTMR_RECEIVE_TEL_FN
            , T2.CSTMR_RECEIVE_TEL_NM_NO AS CSTMR_RECEIVE_TEL_NM
            , T2.CSTMR_RECEIVE_TEL_RN_NO AS CSTMR_RECEIVE_TEL_RN
            , NULL AS OTHERS_PAYMENT_AG
            , NULL AS OTHERS_PAYMENT_NM
            , NULL AS OTHERS_PAYMENT_RRN
            , NULL AS OTHERS_PAYMENT_RELATION
            , NULL AS OTHERS_PAYMENT_RNM
            , NULL AS PRNTS_CTN
            , NULL AS CSTMR_JEJU_ID
            , NULL AS RECOMMEND_FLAG_CD
            , NULL AS RECOMMEND_INFO
        FROM MSF_REQUEST_CANCEL T1
        INNER JOIN MSF_REQUEST_CSTMR T2
            ON T2.REQUEST_KEY = T1.REQUEST_KEY
        WHERE T1.REQUEST_KEY = #{requestKey}
          AND T2.REQUEST_KEY = #{requestKey}
    </select>
</mapper>
