<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktmmobile.msf.domains.form.form.common.repository.smartform.MsfRequestWriteMapper">

    <insert id="insertMsfRequestCancel"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCancelVo">
        INSERT INTO MSF_REQUEST_CANCEL (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            IDENTITY_CERT_TYPE_CD,
            CANCEL_MOBILE_NO,
            CONTRACT_NUM,
            SCAN_ID,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            RECEIVE_WAY_CD,
            CANCEL_USE_COMPANY_CD,
            PAY_AMT,
            PNLT_AMT,
            LAST_SUM_AMT,
            INSTAMT_MNTH_CNT,
            INSTAMT_MNTH_AMT,
            BENEFIT_AGREE_YN,
            CLAUSE_CNTR_DEL_YN,
            ETC_AGREE_YN,
            MEMO,
            REG_DATE,
            REGST_ID,
            REG_DT,
            PROC_DT,
            PROC_CD,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{identityCertTypeCd},
            #{cancelMobileNo},
            #{contractNum},
            #{scanId},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{receiveWayCd},
            #{cancelUseCompanyCd},
            #{payAmt},
            #{pnltAmt},
            #{lastSumAmt},
            #{instamtMnthCnt},
            #{instamtMnthAmt},
            #{benefitAgreeYn},
            #{clauseCntrDelYn},
            #{etcAgreeYn},
            #{memo},
            TO_CHAR(NOW(), 'YYYYMMDD'),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm}
        )
    </insert>


    <insert id="insertMsfRequestCstmr"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestCstmrVo">
        INSERT INTO MSF_REQUEST_CSTMR (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            CSTMR_NM,
            CSTMR_NATIVE_RRN,
            CSTMR_NATIVE_BIRTH,
            CSTMR_NATIVE_GENDER_CD,
            CSTMR_PRIVATE_CNAME,
            CSTMR_PRIVATE_BIZ_NO,
            CSTMR_FOREIGNER_RRN,
            CSTMR_FOREIGNER_BIRTH,
            CSTMR_FOREIGNER_GENDER_CD,
            CSTMR_FOREIGNER_PN,
            CSTMR_FOREIGNER_COUNTRY_CD,
            CSTMR_FOREIGNER_NATION,
            CSTMR_FOREIGNER_VISA_NO,
            CSTMR_FOREIGNER_VDATE_START_DATE,
            CSTMR_FOREIGNER_VDATE_END_DATE,
            CSTMR_JURIDICAL_CNAME,
            CSTMR_JURIDICAL_RRN,
            CSTMR_JURIDICAL_BIZ_NO,
            CSTMR_JURIDICAL_REP_NM,
            UPJN_CD,
            BCU_SBST,
            CSTMR_JURIDICAL_USER_NM,
            CSTMR_JURIDICAL_BIRTH,
            CSTMR_VISIT_TYPE_CD,
            CSTMR_TEL_FN_NO,
            CSTMR_TEL_MN_NO,
            CSTMR_TEL_RN_NO,
            CSTMR_MOBILE_FN_NO,
            CSTMR_MOBILE_MN_NO,
            CSTMR_MOBILE_RN_NO,
            CSTMR_ZIPCD,
            CSTMR_ADR,
            CSTMR_ADR_DTL,
            CSTMR_ADR_BJD,
            CSTMR_EMAIL_ADR,
            CSTMR_EMAIL_RECEIVE_YN,
            CSTMR_RECEIVE_TEL_FN_NO,
            CSTMR_RECEIVE_TEL_NM_NO,
            CSTMR_RECEIVE_TEL_RN_NO
        ) VALUES (
            #{requestKey},
            '127.0.0.1',
            NOW(),
            'MSF_FORM',
            '127.0.0.1',
            NOW(),
            'MSF_FORM',
            #{cstmrNm},
            #{cstmrNativeRrn},
            #{cstmrNativeBirth},
            #{cstmrNativeGenderCd},
            #{cstmrPrivateCname},
            #{cstmrPrivateBizNo},
            #{cstmrForeignerRrn},
            #{cstmrForeignerBirth},
            #{cstmrForeignerGenderCd},
            #{cstmrForeignerPn},
            #{cstmrForeignerCountryCd},
            #{cstmrForeignerNation},
            #{cstmrForeignerVisaNo},
            #{cstmrForeignerVdateStartDate},
            #{cstmrForeignerVdateEndDate},
            #{cstmrJuridicalCname},
            #{cstmrJuridicalRrn},
            #{cstmrJuridicalBizNo},
            #{cstmrJuridicalRepNm},
            #{upjnCd},
            #{bcuSbst},
            #{cstmrJuridicalUserNm},
            #{cstmrJuridicalBirth},
            #{cstmrVisitTypeCd},
            #{cstmrTelFnNo},
            #{cstmrTelMnNo},
            #{cstmrTelRnNo},
            #{cstmrMobileFnNo},
            #{cstmrMobileMnNo},
            #{cstmrMobileRnNo},
            #{cstmrZipcd},
            #{cstmrAdr},
            #{cstmrAdrDtl},
            #{cstmrAdrBjd},
            #{cstmrEmailAdr},
            #{cstmrEmailReceiveYn},
            #{cstmrReceiveTelFnNo},
            #{cstmrReceiveTelNmNo},
            #{cstmrReceiveTelRnNo}
        )
    </insert>


    <insert id="insertMsfRequestAgent"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAgentVo">
        INSERT INTO MSF_REQUEST_AGENT (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MINOR_AGENT_NM,
            MINOR_AGENT_RRN,
            MINOR_AGENT_BIRTH,
            MINOR_AGENT_GENDER_CD,
            MINOR_AGENT_REL_TYPE_CD,
            MINOR_AGENT_TEL_FN_NO,
            MINOR_AGENT_TEL_MN_NO,
            MINOR_AGENT_TEL_RN_NO,
            MINOR_AGENT_AGRM_YN,
            MINOR_AGENT_SELF_INQRY_AGRM_YN,
            MINOR_AGENT_SELF_CERT_TYPE_CD,
            MINOR_AGENT_CI_INFO,
            JRDCL_AGENT_NM,
            JRDCL_AGENT_RRN,
            JRDCL_AGENT_REL_TYPE_CD,
            JRDCL_AGENT_TEL_FN_NO,
            JRDCL_AGENT_TEL_MN_NO,
            JRDCL_AGENT_TEL_RN_NO
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{minorAgentNm},
            #{minorAgentRrn},
            #{minorAgentBirth},
            #{minorAgentGenderCd},
            #{minorAgentRelTypeCd},
            #{minorAgentTelFnNo},
            #{minorAgentTelMnNo},
            #{minorAgentTelRnNo},
            #{minorAgentAgrmYn},
            #{minorAgentSelfInqryAgrmYn},
            #{minorAgentSelfCertTypeCd},
            #{minorAgentCiInfo},
            #{jrdclAgentNm},
            #{jrdclAgentRrn},
            #{jrdclAgentRelTypeCd},
            #{jrdclAgentTelFnNo},
            #{jrdclAgentTelMnNo},
            #{jrdclAgentTelRnNo}
        )
    </insert>


    <insert id="insertMsfRequestAddition"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestAdditionVo">
        INSERT INTO MSF_REQUEST_ADDITION (
            REQUEST_KEY,
            ADDITION_ID,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            ADDITION_KEY,
            ADDITION_NM,
            SVC_CHG_TYPE_CD,
            PROD_ID,
            PROD_NM,
            ADDTION_INFO,
            RANTAL,
            PROC_YN
        ) VALUES (
            #{requestKey},
            #{additionId},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{additionKey},
            #{additionNm},
            #{svcChgTypeCd},
            #{prodId},
            #{prodNm},
            #{addtionInfo},
            #{rantal},
            #{procYn}
        )
    </insert>

    <!-- others_payment_agr_yn: DB NOT NULL이지만 VO 미포함 → 기본값 'N' -->
    <insert id="insertMsfRequestBillReq"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestBillReqVo">
        INSERT INTO MSF_REQUEST_BILL_REQ (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_ID,
            AMD_DT,
            REQ_PAY_TYPE_CD,
            REQ_BANK_CD,
            REQ_ACCOUNT_NM,
            REQ_ACCOUNT_RRN,
            REQ_ACCOUNT_REL_TYPE_CD,
            REQ_ACCOUNT_NO,
            REQ_CARD_NM,
            REQ_CARD_RRN,
            REQ_CARD_COMPANY_CD,
            REQ_CARD_NO,
            REQ_CARD_YY,
            REQ_CARD_MM,
            REQ_WIRE_TYPE_CD,
            OTHERS_PAYMENT_YN,
            OTHERS_PAYMENT_TEL_FN_NO,
            OTHERS_PAYMENT_TEL_MN_NO,
            OTHERS_PAYMENT_TEL_RN_NO,
            OTHERS_PAYMENT_NM,
            OTHERS_PAYMENT_RRN,
            OTHERS_PAYMENT_REL_TYPE_CD,
            OTHERS_PAYMENT_REQ_NM,
            OTHERS_PAYMENT_AGR_YN,
            PRNTS_BILL_NO,
            CSTMR_BILL_SEND_TYPE_CD,
            CSTMR_EMAIL_ADR
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            #{amdId},
            NOW(),
            #{reqPayTypeCd},
            #{reqBankCd},
            #{reqAccountNm},
            #{reqAccountRrn},
            #{reqAccountRelTypeCd},
            #{reqAccountNo},
            #{reqCardNm},
            #{reqCardRrn},
            #{reqCardCompanyCd},
            #{reqCardNo},
            #{reqCardYy},
            #{reqCardMm},
            #{reqWireTypeCd},
            #{othersPaymentYn},
            #{othersPaymentTelFnNo},
            #{othersPaymentTelMnNo},
            #{othersPaymentTelRnNo},
            #{othersPaymentNm},
            #{othersPaymentRrn},
            #{othersPaymentRelTypeCd},
            #{othersPaymentReqNm},
            'N',
            #{prntsBillNo},
            #{cstmrBillSendTypeCd},
            #{cstmrEmailAdr}
        )
    </insert>

    <insert id="insertMsfRequestClause"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestClauseVo">
        INSERT INTO MSF_REQUEST_CLAUSE (
            REQUEST_KEY,
            CD_GROUP_ID,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            VERSION
        ) VALUES (
            #{requestKey},
            #{cdGroupId},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{version}
        )
    </insert>

    <!-- REQUEST_DOC_SEQ: 호출 전 시퀀스 채번 후 VO에 세팅 필요 -->
    <insert id="insertMsfRequestDoc"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDocVo">
        INSERT INTO MSF_REQUEST_DOC (
            REQUEST_DOC_SEQ,
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            FILE_TYPE_CD,
            FILE_PATH_NM,
            FILE_NM
        ) VALUES (
            #{requestDocSeq},
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{fileTypeCd},
            #{filePathNm},
            #{fileNm}
        )
    </insert>

    <!-- REG_DT: 이 테이블은 CRET_DT 없이 REG_DT 사용 -->
    <insert id="insertMsfRequestDvcChg"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestDvcChgVo">
        INSERT INTO MSF_REQUEST_DVC_CHG (
            REQUEST_KEY,
            CRET_IP,
            REG_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            DVC_CHG_TYPE_CD,
            DVC_CHG_RSN_CD,
            DVC_CHG_RSN_DTL_CD,
            INSTAMT_PAY_MTHD_CD
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{dvcChgTypeCd},
            #{dvcChgRsnCd},
            #{dvcChgRsnDtlCd},
            #{instamtPayMthdCd}
        )
    </insert>

    <!-- REQUEST_RECV_SEQ: 호출 전 시퀀스 채번 후 VO에 세팅 필요 -->
    <insert id="insertMsfRequestJoinForm"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestJoinFormVo">
        INSERT INTO MSF_REQUEST_JOIN_FORM (
            REQUEST_RECV_SEQ,
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_ID,
            AMD_DT,
            RECV_TYPE_CD,
            FAX_NO,
            CSTMR_ZIPCD,
            CSTMR_ADR,
            CSTMR_ADR_DTL,
            CSTMR_EMAIL_ADR,
            CSTMR_MOBILE_NO,
            PROC_CD,
            ETC_MEMO
        ) VALUES (
            #{requestRecvSeq},
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            #{amdId},
            NOW(),
            #{recvTypeCd},
            #{faxNo},
            #{cstmrZipcd},
            #{cstmrAdr},
            #{cstmrAdrDtl},
            #{cstmrEmailAdr},
            #{cstmrMobileNo},
            #{procCd},
            #{etcMemo}
        )
    </insert>

    <!-- REG_DT: 이 테이블은 CRET_DT 없이 REG_DT 사용 -->
    <insert id="insertMsfRequestMove"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMoveVo">
        INSERT INTO MSF_REQUEST_MOVE (
            REQUEST_KEY,
            CRET_IP,
            REG_DT,
            CRET_ID,
            AMD_IP,
            AMD_ID,
            AMD_DT,
            MOVE_COMPANY_CD,
            MOVE_MOBILE_FN_NO,
            MOVE_MOBILE_MN_NO,
            MOVE_MOBILE_RN_NO,
            MOVE_AUTH_TYPE_CD,
            MOVE_AUTH_NO,
            MOVE_THISMONTH_PAY_TYPE_CD,
            MOVE_ALLOTMENT_STTUS_CD,
            MOVE_REFUND_AGREE_YN,
            REQ_GUIDE_YN,
            REQ_GUIDE_FN_NO,
            REQ_GUIDE_RN_NO,
            REQ_GUIDE_MN_NO,
            OSST_PAY_DATE,
            OSST_PAY_TYPE_CD,
            MOVE_PENALTY
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            #{amdId},
            NOW(),
            #{moveCompanyCd},
            #{moveMobileFnNo},
            #{moveMobileMnNo},
            #{moveMobileRnNo},
            #{moveAuthTypeCd},
            #{moveAuthNo},
            #{moveThismonthPayTypeCd},
            #{moveAllotmentSttusCd},
            #{moveRefundAgreeYn},
            #{reqGuideYn},
            #{reqGuideFnNo},
            #{reqGuideRnNo},
            #{reqGuideMnNo},
            #{osstPayDate},
            #{osstPayTypeCd},
            #{movePenalty}
        )
    </insert>

    <insert id="insertMsfRequestMst"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestMstVo">
        INSERT INTO MSF_REQUEST_MST (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            REQ_TYPE_CD,
            USER_ID,
            CSTMR_NM,
            MOBILE_NO,
            CSTMR_NATIVE_RRN,
            CONTRACT_NUM,
            CSTMR_TYPE_CD,
            ONLINE_AUTH_TYPE_CD,
            ONLINE_AUTH_INFO,
            ETC_MOBILE_NO
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{reqTypeCd},
            #{userId},
            #{cstmrNm},
            #{mobileNo},
            #{cstmrNativeRrn},
            #{contractNum},
            #{cstmrTypeCd},
            #{onlineAuthTypeCd},
            #{onlineAuthInfo},
            #{etcMobileNo}
        )
    </insert>

    <insert id="insertMsfRequestNameChg"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestNameChgVo">
        INSERT INTO MSF_REQUEST_NAME_CHG (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            MCN_RES_NO,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            REQ_INFO_CHG_YN,
            SOC,
            SOC_NM,
            SOC_BASE_CHRG_AMT,
            JEHU_PROD_TYPE_CD,
            USIM_SUCC_YN,
            USIM_SN,
            ICC_ID,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            REMAIN_PAY_DIV_CD,
            CLAUSE_CNTR_DEL_YN,
            CLAUSE_PRI_COLLECT_YN,
            CLAUSE_PRI_OFFER_YN,
            CLAUSE_ESS_COLLECT_YN,
            CLAUSE_CONFIDENCE_YN,
            CLAUSE_PRI_AD_YN,
            CLAUSE_JEHU_YN,
            CLAUSE_FINANCE_YN,
            PERSONAL_INFO_COLLECT_AGREE_YN,
            OTHERS_TRNS_AGREE_YN,
            OTHERS_TRNS_KT_AGREE_YN,
            OTHERS_AD_RECEIVE_AGREE_YN,
            CLAUSE_FATH_YN,
            MCN_STAT_RSN_CD,
            MEMO,
            REG_DATE,
            REGST_ID,
            REG_DT,
            PROC_DT,
            PROC_CD,
            MCN_STATE_CD,
            RCV_CUST_NO,
            RCV_BILL_ACNT_NO,
            REC_YN,
            RES_CD,
            RES_MSG,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{mcnResNo},
            #{identityCertTypeCd},
            #{knoteIdentityScanCstmrNm},
            #{knoteIdentityEssNo},
            #{knoteIdentityTypeCd},
            #{knoteIdentityScanDt},
            #{knoteScanId},
            #{fathTrgYn},
            #{fathTrgIdentityCertTypeCd},
            #{fathTransacId},
            #{fathCmpltNtfyDate},
            #{fathTelNo},
            #{fathMobileFnNo},
            #{fathMobileMnNo},
            #{fathMobileRnNo},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{reqInfoChgYn},
            #{soc},
            #{socNm},
            #{socBaseChrgAmt},
            #{jehuProdTypeCd},
            #{usimSuccYn},
            #{usimSn},
            #{iccId},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{remainPayDivCd},
            #{clauseCntrDelYn},
            #{clausePriCollectYn},
            #{clausePriOfferYn},
            #{clauseEssCollectYn},
            #{clauseConfidenceYn},
            #{clausePriAdYn},
            #{clauseJehuYn},
            #{clauseFinanceYn},
            #{personalInfoCollectAgreeYn},
            #{othersTrnsAgreeYn},
            #{othersTrnsKtAgreeYn},
            #{othersAdReceiveAgreeYn},
            #{clauseFathYn},
            #{mcnStatRsnCd},
            #{memo},
            TO_CHAR(NOW(), 'YYYYMMDD'),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            #{mcnStateCd},
            #{rcvCustNo},
            #{rcvBillAcntNo},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm}
        )
    </insert>

    <insert id="insertMsfRequestNameTrns"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestNameTrnsVo">
        INSERT INTO MSF_REQUEST_NAME_TRNS (
            REQUEST_KEY,
            NFL_CHG_TRNS_SEQ,
            TRNS_SEQ,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            TRNS_CSTMR_TYPE_CD,
            TRNS_TRNSFE_MOBILE_NO,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            TRNS_NM,
            TRNS_MOBILE_NO,
            TRNS_PHONE_NO,
            TRNS_PWD,
            TRNS_MYSLF_CONF_METH_CD,
            TRNS_TRNSFE_NM,
            CSTMR_VISIT_TYPE_CD,
            MINOR_AGENT_NM,
            MINOR_AGENT_RRN,
            MINOR_AGENT_BIRTH,
            MINOR_AGENT_GENDER_CD,
            MINOR_AGENT_REL_TYPE_CD,
            MINOR_AGENT_TEL_FN_NO,
            MINOR_AGENT_TEL_MN_NO,
            MINOR_AGENT_TEL_RN_NO,
            MINOR_AGENT_AGRM_YN,
            MINOR_AGENT_SELF_INQRY_AGRM_YN,
            MINOR_AGENT_SELF_CERT_TYPE_CD,
            MINOR_AGENT_SELF_ISSU_EXPR_DATE,
            MINOR_AGENT_SELF_ISSU_NO,
            TRNS_STTUS_CD,
            AUTH_DEL_YN,
            CONFIRM_MEMO
        ) VALUES (
            #{requestKey},
            #{nflChgTrnsSeq},
            #{trnsSeq},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{trnsCstmrTypeCd},
            #{trnsTrnsfeMobileNo},
            #{identityCertTypeCd},
            #{knoteIdentityScanCstmrNm},
            #{knoteIdentityEssNo},
            #{knoteIdentityTypeCd},
            #{knoteIdentityScanDt},
            #{knoteScanId},
            #{fathTrgYn},
            #{fathTrgIdentityCertTypeCd},
            #{fathTransacId},
            #{fathCmpltNtfyDate},
            #{fathTelNo},
            #{fathMobileFnNo},
            #{fathMobileMnNo},
            #{fathMobileRnNo},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{trnsNm},
            #{trnsMobileNo},
            #{trnsPhoneNo},
            #{trnsPwd},
            #{trnsMyslfConfMethCd},
            #{trnsTrnsfeNm},
            #{cstmrVisitTypeCd},
            #{minorAgentNm},
            #{minorAgentRrn},
            #{minorAgentBirth},
            #{minorAgentGenderCd},
            #{minorAgentRelTypeCd},
            #{minorAgentTelFnNo},
            #{minorAgentTelMnNo},
            #{minorAgentTelRnNo},
            #{minorAgentAgrmYn},
            #{minorAgentSelfInqryAgrmYn},
            #{minorAgentSelfCertTypeCd},
            #{minorAgentSelfIssuExprDate},
            #{minorAgentSelfIssuNo},
            #{trnsSttusCd},
            #{authDelYn},
            #{confirmMemo}
        )
    </insert>

    <insert id="insertMsfRequestRec"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestRecVo">
        INSERT INTO MSF_REQUEST_REC (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            REC_FILE_PATH_NM,
            REC_FILE_NM
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{recFilePathNm},
            #{recFileNm}
        )
    </insert>

    <insert id="insertMsfRequestSale"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSaleVo">
        INSERT INTO MSF_REQUEST_SALE (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_ID,
            AMD_DT,
            MODEL_ID,
            MODEL_MONTHLY,
            MODEL_INSTAMT,
            MODEL_SALE_POLICY_CD,
            MODEL_PRICE_VAT,
            MODEL_DISCOUNT1,
            MODEL_SPRT,
            MODEL_PRICE,
            MODEL_DISCOUNT3,
            REAL_MDL_INSTAMT,
            HNDSET_SALE_PRICE,
            SPRT_TYPE_CD,
            DC_AMT,
            MAX_APD_SPRT,
            ADD_DC_AMT,
            ENGG_MNTH_CNT,
            RECYCLE_YN,
            USIM_PRICE_TYPE_CD,
            USIM_PRICE,
            USIM_PAY_MTHD_CD,
            SESPLS_YN,
            JOIN_PRICE_TYPE_CD,
            JOIN_PAY_MTHD_CD,
            JOIN_PRICE,
            SOC_CODE,
            SOC_NM,
            SOC_BASE_CHRG_AMT
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            #{amdId},
            NOW(),
            #{modelId},
            #{modelMonthly},
            #{modelInstamt},
            #{modelSalePolicyCd},
            #{modelPriceVat},
            #{modelDiscount1},
            #{modelSprt},
            #{modelPrice},
            #{modelDiscount3},
            #{realMdlInstamt},
            #{hndsetSalePrice},
            #{sprtTypeCd},
            #{dcAmt},
            #{maxApdSprt},
            #{addDcAmt},
            #{enggMnthCnt},
            #{recycleYn},
            #{usimPriceTypeCd},
            #{usimPrice},
            #{usimPayMthdCd},
            #{sesplsYn},
            #{joinPriceTypeCd},
            #{joinPayMthdCd},
            #{joinPrice},
            #{socCode},
            #{socNm},
            #{socBaseChrgAmt}
        )
    </insert>

    <!-- REQUEST_STATE_KEY: 호출 전 시퀀스 채번 후 VO에 세팅 필요 / CRET_IP NOT NULL -->
    <insert id="insertMsfRequestState"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestStateVo">
        INSERT INTO MSF_REQUEST_STATE (
            REQUEST_STATE_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            REQUEST_KEY,
            RES_NO,
            SBSC_PRO_CD,
            OPEN_NO,
            MEMO,
            VIEW_YN
        ) VALUES (
            #{requestStateKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{requestKey},
            #{resNo},
            #{sbscProCd},
            #{openNo},
            #{memo},
            #{viewYn}
        )
    </insert>

    <!-- REQUEST_SVC_CHG_DTL_SEQ: 호출 전 시퀀스 채번 후 VO에 세팅 필요 -->
    <insert id="insertMsfRequestSvcChgDtl"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgDtlVo">
        INSERT INTO MSF_REQUEST_SVC_CHG_DTL (
            REQUEST_SVC_CHG_DTL_SEQ,
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            SVC_TGT_CD,
            PROC_TYPE_CD,
            SOC_CD,
            SOC_NM,
            ADDTION_INFO,
            PROD_AMT,
            INSR_CD,
            CLAUSE_INSURANCE_YN,
            CLAUSE_INSR_PROD_YN,
            INSR_AUTH_INFO,
            USIM_BUY_TYPE_CD,
            REQ_USIM_SN,
            REQ_USIM_NM,
            ICC_ID,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            PRNTS_TGT_TYPE_CD,
            PRNTS_MOBILE_NO,
            PRNTS_CONTRACT_NUM,
            PRNTS_CSTMR_NM,
            PRNTS_CSTMR_BIRTH,
            PRNTS_CSTMR_GENDER_CD,
            PRNTS_SOC_CD,
            PRNTS_SOC_NM,
            PRNTS_PROD_ID,
            PRNTS_PROD_NM,
            COMBINE_ID,
            COMBINE_SOLO_TYPE_YN,
            COMBINE_SOLO_YN,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM
        ) VALUES (
            #{requestSvcChgDtlSeq},
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{svcTgtCd},
            #{procTypeCd},
            #{socCd},
            #{socNm},
            #{addtionInfo},
            #{prodAmt},
            #{insrCd},
            #{clauseInsuranceYn},
            #{clauseInsrProdYn},
            #{insrAuthInfo},
            #{usimBuyTypeCd},
            #{reqUsimSn},
            #{reqUsimNm},
            #{iccId},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{prntsTgtTypeCd},
            #{prntsMobileNo},
            #{prntsContractNum},
            #{prntsCstmrNm},
            #{prntsCstmrBirth},
            #{prntsCstmrGenderCd},
            #{prntsSocCd},
            #{prntsSocNm},
            #{prntsProdId},
            #{prntsProdNm},
            #{combineId},
            #{combineSoloTypeYn},
            #{combineSoloYn},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm}
        )
    </insert>

    <insert id="insertMsfRequestSvcChg"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestSvcChgVo">
        INSERT INTO MSF_REQUEST_SVC_CHG (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            CSTMR_TYPE_CD,
            CHG_MOBILE_NO,
            CHG_CONTRACT_NUM,
            MEMO,
            REG_DATE,
            REGST_ID,
            REG_DT,
            PROC_DT,
            PROC_CD,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{cstmrTypeCd},
            #{chgMobileNo},
            #{chgContractNum},
            #{memo},
            TO_CHAR(NOW(), 'YYYYMMDD'),
            #{regstId},
            NOW(),
            NOW(),
            #{procCd},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm}
        )
    </insert>

    <insert id="insertMsfRequest"
            parameterType="com.ktmmobile.msf.domains.form.form.common.vo.MsfRequestVo">
        INSERT INTO MSF_REQUEST (
            REQUEST_KEY,
            CRET_IP,
            CRET_DT,
            CRET_ID,
            AMD_IP,
            AMD_DT,
            AMD_ID,
            MANAGER_CD,
            MANAGER_NM,
            AGENT_CD,
            AGENT_NM,
            SHOP_CD,
            SHOP_NM,
            REAL_SHOP_NM,
            CPNT_ID,
            CPNT_NM,
            CNTPNT_SHOP_CD,
            CNTPNT_SHOP_NM,
            REQ_BUY_TYPE_CD,
            OPEN_TYPE_CD,
            SERVICE_TYPE_CD,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            IDENTITY_CERT_TYPE_CD,
            KNOTE_IDENTITY_SCAN_CSTMR_NM,
            KNOTE_IDENTITY_ESS_NO,
            KNOTE_IDENTITY_TYPE_CD,
            KNOTE_IDENTITY_SCAN_DT,
            KNOTE_SCAN_ID,
            FATH_TRG_YN,
            FATH_TRG_IDENTITY_CERT_TYPE_CD,
            FATH_TRANSAC_ID,
            FATH_CMPLT_NTFY_DATE,
            FATH_TEL_NO,
            FATH_MOBILE_FN_NO,
            FATH_MOBILE_MN_NO,
            FATH_MOBILE_RN_NO,
            AUTH_INFO,
            IDENTITY_TYPE_CD,
            IDENTITY_ISSU_DATE,
            IDENTITY_ISSU_REGION,
            SELF_ISSU_NO,
            DRIVE_LICNS_NO,
            OPEN_NO,
            CONTRACT_NUM,
            PROD_TYPE_CD,
            PROD_ID,
            PROD_NM,
            REQ_PHONE_SN,
            REQ_MODEL_NM,
            SNTY_CAPAC_CD,
            SNTY_COLOR_CD,
            REQ_MODEL_COLOR,
            SHOP_USM_ID,
            USIM_KINDS_CD,
            REQ_USIM_SN,
            REQ_USIM_NM,
            EID,
            IMEI1,
            IMEI2,
            ESIM_PHONE_ID,
            UPLOAD_PHONE_SRL_NO,
            REQ_WANT_FN_NO,
            REQ_WANT_MN_NO,
            REQ_WANT_RN_NO,
            INSR_CD,
            INSR_PROD_CD,
            CLAUSE_INSURANCE_YN,
            CLAUSE_INSR_PROD_YN,
            INSR_AUTH_INFO,
            PRNTS_CONTRACT_NUM,
            PRNTS_MOBILE_NO,
            JEHU_PARTNER_TYPE_CD,
            JEHU_PROD_TYPE_CD,
            REQ_ADDITION_LIST_NM,
            REQ_ADDITION_PRICE,
            PHONE_PAYMENT_YN,
            ON_OFF_TYPE_CD,
            SO_CD,
            OPEN_REQ_DT,
            REQ_IN_DAY,
            CLAUSE_PRI_COLLECT_YN,
            CLAUSE_PRI_OFFER_YN,
            CLAUSE_ESS_COLLECT_YN,
            CLAUSE_PRI_TRUST_YN,
            CLAUSE_PRI_AD_YN,
            CLAUSE_CONFIDENCE_YN,
            CLAUSE_FATH_YN,
            NW_BLCK_AGRM_YN,
            APP_BLCK_AGRM_YN,
            BLCK_APP_DIV_CD,
            SO_TRNS_AGRM_YN,
            CLAUSE_JEHU_YN,
            CLAUSE_RENTAL_MODEL_CP_YN,
            CLAUSE_RENTAL_MODEL_CP_PR_YN,
            CLAUSE_RENTAL_SERVICE_YN,
            CLAUSE_MPPS35_YN,
            CLAUSE_FINANCE_YN,
            CLAUSE_5G_COVERAGE_YN,
            PERSONAL_INFO_COLLECT_AGREE_YN,
            OTHERS_TRNS_AGREE_YN,
            CLAUSE_SENSI_COLLECT_YN,
            CLAUSE_SENSI_OFFER_YN,
            CLAUSE_PARTNER_OFFER_YN,
            OTHERS_TRNS_KT_AGREE_YN,
            OTHERS_AD_RECEIVE_AGREE_YN,
            KT_COUNSEL_AGREE_YN,
            COMBINE_SOLO_TYPE_YN,
            COMBINE_SOLO_YN,
            ETC_SPECIAL_SBST,
            MEMO,
            REC_YN,
            RES_CD,
            RES_MSG,
            RES_NO,
            PROC_DT,
            PROC_CD,
            PRO_STTUS_CD,
            SBSC_PRO_CD,
            SCAN_ID,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            FILE_NM,
            FILE_MASK_NM,
            FAX_YN,
            FAX_NO
        ) VALUES (
            #{requestKey},
            #{cretIp},
            NOW(),
            #{cretId},
            #{amdIp},
            NOW(),
            #{amdId},
            #{managerCd},
            #{managerNm},
            #{agentCd},
            #{agentNm},
            #{shopCd},
            #{shopNm},
            #{realShopNm},
            #{cpntId},
            #{cpntNm},
            #{cntpntShopCd},
            #{cntpntShopNm},
            #{reqBuyTypeCd},
            #{openTypeCd},
            #{serviceTypeCd},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{identityCertTypeCd},
            #{knoteIdentityScanCstmrNm},
            #{knoteIdentityEssNo},
            #{knoteIdentityTypeCd},
            #{knoteIdentityScanDt},
            #{knoteScanId},
            #{fathTrgYn},
            #{fathTrgIdentityCertTypeCd},
            #{fathTransacId},
            #{fathCmpltNtfyDate},
            #{fathTelNo},
            #{fathMobileFnNo},
            #{fathMobileMnNo},
            #{fathMobileRnNo},
            #{authInfo},
            #{identityTypeCd},
            #{identityIssuDate},
            #{identityIssuRegion},
            #{selfIssuNo},
            #{driveLicnsNo},
            #{openNo},
            #{contractNum},
            #{prodTypeCd},
            #{prodId},
            #{prodNm},
            #{reqPhoneSn},
            #{reqModelNm},
            #{sntyCapacCd},
            #{sntyColorCd},
            #{reqModelColor},
            #{shopUsmId},
            #{usimKindsCd},
            #{reqUsimSn},
            #{reqUsimNm},
            #{eid},
            #{imei1},
            #{imei2},
            #{esimPhoneId},
            #{uploadPhoneSrlNo},
            #{reqWantFnNo},
            #{reqWantMnNo},
            #{reqWantRnNo},
            #{insrCd},
            #{insrProdCd},
            #{clauseInsuranceYn},
            #{clauseInsrProdYn},
            #{insrAuthInfo},
            #{prntsContractNum},
            #{prntsMobileNo},
            #{jehuPartnerTypeCd},
            #{jehuProdTypeCd},
            #{reqAdditionListNm},
            #{reqAdditionPrice},
            #{phonePaymentYn},
            #{onOffTypeCd},
            #{soCd},
            #{openReqDt},
            #{reqInDay},
            #{clausePriCollectYn},
            #{clausePriOfferYn},
            #{clauseEssCollectYn},
            #{clausePriTrustYn},
            #{clausePriAdYn},
            #{clauseConfidenceYn},
            #{clauseFathYn},
            #{nwBlckAgrmYn},
            #{appBlckAgrmYn},
            #{blckAppDivCd},
            #{soTrnsAgrmYn},
            #{clauseJehuYn},
            #{clauseRentalModelCpYn},
            #{clauseRentalModelCpPrYn},
            #{clauseRentalServiceYn},
            #{clauseMpps35Yn},
            #{clauseFinanceYn},
            #{clause5GCoverageYn},
            #{personalInfoCollectAgreeYn},
            #{othersTrnsAgreeYn},
            #{clauseSensiCollectYn},
            #{clauseSensiOfferYn},
            #{clausePartnerOfferYn},
            #{othersTrnsKtAgreeYn},
            #{othersAdReceiveAgreeYn},
            #{ktCounselAgreeYn},
            #{combineSoloTypeYn},
            #{combineSoloYn},
            #{etcSpecialSbst},
            #{memo},
            #{recYn},
            #{resCd},
            #{resMsg},
            #{resNo},
            NOW(),
            #{procCd},
            #{proSttusCd},
            #{sbscProCd},
            #{scanId},
            #{appFormYn},
            #{appFormXmlYn},
            #{fileNm},
            #{fileMaskNm},
            #{faxYn},
            #{faxNo}
        )
    </insert>

</mapper>
