<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.form.common.repository.smartform.ProductSmartInfoReadMapper">

    <select id="selectProductCategoryList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.CategoryMstRequest"
          resultType="com.ktmmobile.msf.domains.form.form.common.dto.CategoryInfoDto">
        /* 요금제/부가서비스/안심보험 등의 카테고리 조회 */
        SELECT CTG_CD, CTG_NM
        FROM MSF_RATE_ADSVC_CTG_BAS A
        WHERE 1=1
            AND A.RATE_ADSVC_DIV_CD=#{prodCtgTypeCd}
            AND A.USE_YN='Y'
            AND PSTNG_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
            AND PSTNG_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        ORDER BY A.SORT_ODRG
    </select>

    <select id="selectProductCategoryDetailList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.CategoryMstRequest"
          resultType="com.ktmmobile.msf.domains.form.form.common.dto.CategoryInfoDto">
    /* 요금제/부가서비스/안심보험 등의 카테고리 상세 조회 */
    SELECT DISTINCT B.PROD_ID
    FROM MSF_RATE_ADSVC_CTG_PROD_REL B
    WHERE 1=1
        AND CTG_CD in (
            SELECT CTG_CD
            FROM MSF_RATE_ADSVC_CTG_BAS A
            WHERE A.RATE_ADSVC_DIV_CD=#{prodCtgTypeCd}
            AND A.USE_YN='Y'
            AND A.CTG_CD=#{prodCtgId}
            AND PSTNG_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
            AND PSTNG_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        )
        AND USE_YN='Y'
        AND PSTNG_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        AND PSTNG_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        <if test='prodCtgTypeCd == "R"'><!-- 부가서비스 조회일 경우에만 공통코드에서 등록된 정보인지 확인함 -->
        AND PROD_ID IN (SELECT DTL_CD FROM MSF_CD_DTL
                        WHERE CD_GROUP_ID = 'SVCCHG_RATE_CD'
                            AND USE_YN = 'Y'
                            AND TO_CHAR(NOW(),'yyyymmddhh24miss') BETWEEN PSTNG_START_DATE AND PSTNG_END_DATE )
        </if>
        <if test='prodCtgTypeCd == "I"'><!-- 안심보험 목록 조회 -->
        </if>
    </select>

    <select id="selectPhoneInventoryList" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneSerialCondition"
            resultType="com.ktmmobile.msf.domains.form.form.common.dto.CategoryInfoDto">
        /* 휴대폰 매장 재고 조회 */
        SELECT PROD_ID
        FROM MSF_PROD_STOR_INVENTORY_TXN
        WHERE 1=1
            AND USE_YN = 'Y'
            AND STOR_CD = #{orgnId}
            AND PSTNG_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
            AND PSTNG_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
        GROUP BY PROD_ID
    </select>

    <select id="selectPhoneInventory" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.PhoneSerialCondition"
            resultType="String">
        /* 휴대폰 일련번호 조회 시 매장재고조회 */
        SELECT IMEI
        FROM MSF_PROD_STOR_INVENTORY_TXN
        WHERE 1=1
            AND USE_YN = 'Y'
            AND STOR_CD = #{orgnId}
            AND PROD_SN = #{prodSn}
            AND PROD_ID = #{prodId}
            AND PSTNG_START_DATE <![CDATA[<]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
            AND PSTNG_END_DATE <![CDATA[>=]]> TO_CHAR(NOW(), 'YYYYMMDDHH24MISS')
    </select>


</mapper>
