<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

    <delete id="deleteRateResChgAccessTrace"   parameterType="String">
        DELETE FROM  NMCP_RATE_RES_CHG_BAS@DL_MCP WHERE RATE_RES_CHG_SEQ =#{rateResChgSeq}
    </delete>

    <select id="selectRateResChgAccessTrace"   parameterType="com.ktmmobile.msf.domains.form.common.dto.McpIpStatisticDto"   resultType="String">
        SELECT RATE_RES_CHG_SEQ
        FROM (
                 SELECT RATE_RES_CHG_SEQ
                 FROM NMCP_RATE_RES_CHG_BAS@DL_MCP
                 WHERE SVC_CNTR_NO =#{svcCntrNo}
                   AND MOBILE_NO =#{mobileNo}
                   AND BATCH_RSLT_CD IS NULL
                 ORDER BY RES_CHG_APY_DATE DESC
             )
        WHERE ROWNUM =1
    </select>


    <insert id="insertIpStat" parameterType="com.ktmmobile.msf.domains.form.common.dto.McpIpStatisticDto">
        INSERT INTO MCP_ACCESS_TRACE@DL_MCP (
            PARAMETER,
            ACCESS_IP,
            SYS_DT,
            SYS_RDATE,
            ACCESS_URL,
            USER_ID,
            PRCS_MDL_IND,
            PRCS_SBST,
            TRTM_RSLT_SMST,
            LOGIN_DIV_CD,
            LOGIN_SEQ,
            PLATFORM_CD,
            MENU_SEQ,
            URL_SEQ,
            YY ,
            MM ,
            DD
        ) VALUES (
                     #{parameter},
                     #{accessIp},
                     TO_CHAR(SYSDATE, 'YYYYMMDD'),
                     SYSDATE,
                     #{accessUrl},
                     SUBSTRB(#{userid},0,20),
                     #{prcsMdlInd},
                     #{prcsSbst},
                     #{trtmRsltSmst},
                     #{loginDivCd},
                     #{loginSeq},
                     #{platformCd},
                     #{menuSeq},
                     #{urlSeq},
                     TO_CHAR(SYSDATE, 'YYYY'),
                     TO_CHAR(SYSDATE, 'MM'),
                     TO_CHAR(SYSDATE, 'DD')
                 )
    </insert>

    <insert id="insertIpStatAdmin" parameterType="com.ktmmobile.msf.domains.form.common.dto.McpIpStatisticDto">
        INSERT INTO MCP_ADMIN_ACCESS_TRACE@DL_MCP (
            PARAMETER,
            ACCESS_IP,
            SYS_DT,
            SYS_RDATE,
            ACCESS_URL,
            USER_ID,
            PRCS_MDL_IND,
            PRCS_SBST,
            TRTM_RSLT_SMST
        ) VALUES (
                     #{parameter},
                     #{accessIp},
                     TO_CHAR(SYSDATE, 'YYYYMMDD'),
                     SYSDATE,
                     #{accessUrl},
                     SUBSTRB(#{userid},0,20),
                     #{prcsMdlInd},
                     SUBSTRB(#{prcsSbst},0,1000),
                     #{trtmRsltSmst}
                 )
    </insert>

</mapper>
