<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommCodeMapper">

    <resultMap id="getCodeListOneMap" type="com.ktmmobile.msf.domains.form.common.commCode.dto.CommCodeInstDTO">
        <id property="cdGroupId" column="CD_GROUP_ID"/>
        <result property="cdGroupName" column="CD_GROUP_NM"/>
        <result property="cdGroupDesc" column="CD_GROUP_DESC"/>
        <result property="status" column="USE_YN"/>
        <result property="cretDtFst" column="CRET_DT"/>
    </resultMap>

    <resultMap id="listCodeMap" type="com.ktmmobile.msf.domains.form.common.dto.CdGroupBean">
        <id property="cdGroupId" column="CD_GROUP_ID"/>
        <result property="cdGroupNm" column="CD_GROUP_NM"/>
        <collection property="listCdBean" ofType="com.ktmmobile.msf.domains.form.common.dto.NmcpCdDtlDto">
            <id property="dtlCd" column="DTL_CD"/>
            <result property="cdGroupId" column="CD_GROUP_ID"/>
            <result property="cdGroupNm" column="CD_GROUP_NM"/>
            <result property="cdGroupDesc" column="CD_GROUP_DESC"/>
            <result property="dtlCdNm" column="DTL_CD_NM"/>
            <result property="dtlCdDesc" column="DTL_CD_DESC"/>
            <result property="indcOdrg" column="INDC_ODRG"/>
            <result property="expnsnStrVal1" column="EXPNSN_STR_VAL1"/>
            <result property="expnsnStrVal2" column="EXPNSN_STR_VAL2"/>
            <result property="expnsnStrVal3" column="EXPNSN_STR_VAL3"/>
            <result property="cdGroupCd" column="CD_GROUP_CD"/>
            <result property="gexpnsnStrVal1" column="GRP_EXPNSN_STR_VAL1"/>
            <result property="gexpnsnStrVal2" column="GRP_EXPNSN_STR_VAL2"/>
            <result property="gexpnsnStrVal3" column="GRP_EXPNSN_STR_VAL3"/>
            <result property="pstngStartDate" column="PSTNG_START_DATE"/>
            <result property="pstngEndDate" column="PSTNG_END_DATE"/>
            <result property="imgNm" column="IMG_NM"/>
        </collection>
    </resultMap>

</mapper>
