<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommCodeMapper">

    <!-- 코드디테일 페이지  -->
    <resultMap id="getCodeListOneMap" type="com.ktmmobile.mcp.common.commCode.dto.CommCodeInstDTO">
        <id		property="cdGroupId" column="CD_GROUP_ID" />
        <result property="cdGroupName" column="CD_GROUP_NM" />
        <result property="cdGroupDesc" column="CD_GROUP_DESC" />
        <result property="status" column="USE_YN" />
        <result property="cretDtFst" column="CRET_DT" />
    </resultMap>

    <select id="commCodeSelectOneByFstTble" resultMap="getCodeListOneMap">
        SELECT	CD_GROUP_ID
                , CD_GROUP_NM
                , CD_GROUP_DESC
                , USE_YN
                , CRET_DT
        FROM	NMCP_CD_GROUP_BAS
        WHERE	CD_GROUP_ID = #{idx}
    </select>

    <!-- 아이디 중복체크 -->
    <select id="commCodeIdDupCheckAjax" resultType="int"  parameterType="string">
        SELECT COUNT(*) AS DUPID
          FROM NMCP_CD_GROUP_BAS
         WHERE CD_GROUP_ID = UPPER(#{cdGroupId})
    </select>

    <!-- 2차 코드 테이블 update -->
    <update id="updateBySndTable" parameterType="java.util.HashMap">
        MERGE INTO  NMCP_CD_DTL
        USING 		DUAL
        ON         (DTL_CD = #{dtlCd}
                    AND CD_GROUP_ID =#{cdGroupId} )
        WHEN MATCHED THEN
                UPDATE SET
                            DTL_CD_NM = #{dtlCdNm}
                            , INDC_ODRG = #{indcOdrg}
                            , USE_YN = #{useYN}
                            , EXPNSN_STR_VAL1 = #{expandStrOne}
                            , EXPNSN_STR_VAL2 = #{expandStrTwo}
                            , EXPNSN_STR_VAL3 = #{expandStrThree}
                            , DTL_CD_DESC = #{dtlCdDesc}
                            , AMD_ID = #{amdId}
                            , AMD_DT = SYSDATE
        WHEN NOT MATCHED THEN
            INSERT    (
                            CD_GROUP_ID
                            , DTL_CD
                            , DTL_CD_NM
                            , INDC_ODRG
                            , USE_YN
                            , EXPNSN_STR_VAL1
                            , EXPNSN_STR_VAL2
                            , EXPNSN_STR_VAL3
                            , DTL_CD_DESC
                            , CRET_ID
                            , CRET_DT
                )
            VALUES    (
                            #{cdGroupId}
                            , #{dtlCd}
                            , #{dtlCdNm}
                            , #{indcOdrg}
                            , #{useYN}
                            , #{expandStrOne}
                            , #{expandStrTwo}
                            , #{expandStrThree}
                            , #{dtlCdDesc}
                            , #{cretId}
                            , SYSDATE
                )
    </update>

    <select id="getCodeList" resultType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
        SELECT
            CD_GROUP_ID
            ,DTL_CD
            ,DTL_CD_NM
            ,DTL_CD_DESC
            ,INDC_ODRG
            ,USE_YN
            ,EXPNSN_STR_VAL1
            ,EXPNSN_STR_VAL2
            ,EXPNSN_STR_VAL3
            ,CRET_ID
            ,AMD_ID
            ,CRET_DT
            ,AMD_DT
            ,UP_GRP_CD
        FROM NMCP_CD_DTL
        WHERE 1=1
            <choose>
                <when test="cdGroupId == 'UserPromotion'">
                      AND CRET_DT = (
                        SELECT MAX(CRET_DT)
                        FROM NMCP_CD_DTL
                        WHERE CD_GROUP_ID = #{cdGroupId}
                        AND USE_YN = 'Y'
                        AND TO_DATE(PSTNG_END_DATE, 'yyyymmddhh24miss') <![CDATA[>]]> SYSDATE
                        AND TO_DATE(PSTNG_START_DATE, 'yyyymmddhh24miss') <![CDATA[<=]]> SYSDATE
                          )
                </when>
                <otherwise>
                     AND CD_GROUP_ID = #{cdGroupId}
                     AND USE_YN = 'Y'
                     AND TO_DATE(PSTNG_END_DATE, 'yyyymmddhh24miss') <![CDATA[>]]> SYSDATE
                </otherwise>
            </choose>
            <if test="expnsnStrVal1 != null and expnsnStrVal1 != ''">
                AND EXPNSN_STR_VAL1 = #{expnsnStrVal1}
            </if>
            ORDER BY INDC_ODRG
    </select>

    <resultMap id="listCodeMap" type="com.ktmmobile.mcp.common.dto.CdGroupBean">
        <id property="cdGroupId" column="CD_GROUP_ID"/>  <!--그룹코드-->
        <result property="cdGroupNm" column="CD_GROUP_NM"/>  <!--그룹코드명-->
        <collection property="listCdBean" ofType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
            <id property="dtlCd" column="DTL_CD"/>
            <result property="cdGroupId" column="CD_GROUP_ID"/>
            <result property="cdGroupNm" column="CD_GROUP_NM"/>
            <result property="cdGroupDesc" column="CD_GROUP_DESC"/>
            <result property="dtlCdNm" column="DTL_CD_NM"/>
            <result property="dtlCdDesc" column="DTL_CD_DESC"/>
            <result property="indcOdrg" column="INDC_ODRG"/>
            <result property="expnsnStrVal1" column="EXPNSN_STR_VAL1"/>
            <result property="expnsnStrVal2" column="EXPNSN_STR_VAL2"/>
            <result property="expnsnStrVal3" column="EXPNSN_STR_VAL3"/>
            <result property="cdGroupCd" column="CD_GROUP_CD"/>
            <result property="gexpnsnStrVal1" column="GRP_EXPNSN_STR_VAL1"/>
            <result property="gexpnsnStrVal2" column="GRP_EXPNSN_STR_VAL2"/>
            <result property="gexpnsnStrVal3" column="GRP_EXPNSN_STR_VAL3"/>
            <result property="pstngStartDate" column="PSTNG_START_DATE"/>
            <result property="pstngEndDate" column="PSTNG_END_DATE"/>
            <result property="imgNm" column="IMG_NM"/>
        </collection>
    </resultMap>

    <select id="getCodeAllList" resultMap="listCodeMap" >
         SELECT /*CommCodeMapper.getCodeAllList*/
            T1.CD_GROUP_ID
            ,T1.CD_GROUP_NM
            ,T1.CD_GROUP_DESC
            ,T1.EXPNSN_STR_VAL1 AS GRP_EXPNSN_STR_VAL1
            ,T1.EXPNSN_STR_VAL2 AS GRP_EXPNSN_STR_VAL2
            ,T1.EXPNSN_STR_VAL3 AS GRP_EXPNSN_STR_VAL3
            ,T2.DTL_CD
            ,T2.DTL_CD_NM
            ,T2.DTL_CD_DESC
            ,T2.INDC_ODRG
            ,T2.EXPNSN_STR_VAL1
            ,T2.EXPNSN_STR_VAL2
            ,T2.EXPNSN_STR_VAL3
            ,T1.CD_GROUP_CD
            ,T2.PSTNG_START_DATE
            ,T2.PSTNG_END_DATE
            ,T2.IMG_NM
        FROM NMCP_CD_GROUP_BAS T1, NMCP_CD_DTL T2
        WHERE T1.CD_GROUP_ID = T2.CD_GROUP_ID
        AND T1.USE_YN = 'Y'
        AND T2.USE_YN = 'Y'
        AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN T1.PSTNG_START_DATE AND T1.PSTNG_END_DATE
        ORDER BY T1.CD_GROUP_ID, T2.INDC_ODRG
    </select>


    <select id="getCodeNm" resultType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
        SELECT DTL_CD_NM FROM NMCP_CD_DTL
        WHERE 1=1
            AND CD_GROUP_ID = #{cdGroupId}
            AND DTL_CD = #{dtlCd}
    </select>


    <select id="listLinkInfo" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpLinkInfoDto"  resultType="com.ktmmobile.mcp.common.dto.db.NmcpLinkInfoDto" >
        SELECT /*CommCodeMapper.listLinkInfo 고객포탈 링크 정보 */
            LINK_ID
            ,LINK_NM
            ,LINK_URL
            ,LINK_DESC
            ,LINK_TYPE
            ,CRET_ID
            ,AMD_ID
            ,CRET_DT
            ,AMT_DT
        FROM
            NMCP_LINK_INFO
        WHERE 1=1
            <if test="linkId > 0 ">
                AND LINK_ID = #{linkId}
            </if>
        ORDER BY CRET_DT DESC
    </select>

    <update id="updateLinkInfo" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpLinkInfoDto" >
        UPDATE /*CommCodeMapper.updateLinkInfo 고객포탈 링크 정보  수정   */
            NMCP_LINK_INFO
        SET
             AMD_ID = #{cretId}
             , AMT_DT = SYSDATE
             <if test="linkNm != null and linkNm != ''">, LINK_NM = #{linkNm}</if>
            <if test="linkUrl != null and linkUrl != ''">, LINK_URL = #{linkUrl}</if>
            <if test="linkDesc != null and linkDesc != ''">, LINK_DESC = #{linkDesc} </if>
            <if test="linkType != null and linkType != ''">, LINK_TYPE = #{linkType} </if>
        WHERE
            LINK_ID = #{linkId}
    </update>



    <update id="updateMnpCmpnListInit"  >
        UPDATE /*CommCodeMapper.upMnpCmpnListInit 번호이동 사업자 조회 후 공통코드 초기화 처리    */
            NMCP_CD_DTL
        SET
            PSTNG_END_DATE = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
        WHERE 1=1
                AND CD_GROUP_ID = 'NSC'
    </update>

    <update id="updateMnpCmpn" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
        MERGE INTO  NMCP_CD_DTL
            USING   DUAL
               ON      (DTL_CD = #{dtlCd}
                AND CD_GROUP_ID ='NSC' )
            WHEN MATCHED THEN
                UPDATE SET
                     AMD_ID = 'SYSTEM'
                    , AMD_DT = SYSDATE
            WHEN NOT MATCHED THEN
                INSERT    (
                    CD_GROUP_ID
                    , DTL_CD
                    , DTL_CD_NM
                    , INDC_ODRG
                    , USE_YN
                    , EXPNSN_STR_VAL1
                    , EXPNSN_STR_VAL2
                    , EXPNSN_STR_VAL3
                    , DTL_CD_DESC
                    , CRET_ID
                    , CRET_DT
                    , AMD_ID
                    , AMD_DT
                    , PSTNG_START_DATE
                    , PSTNG_END_DATE
                ) VALUES (
                     'NSC'
                    , #{dtlCd}
                    , #{dtlCdNm}
                    , #{indcOdrg}
                    , 'N'
                    , #{expnsnStrVal1}
                    , ''
                    , ''
                    , ''
                    , 'SYSTEM'
                    , SYSDATE
                    , 'SYSTEM'
                    , SYSDATE
                    , TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
                    , '99991231235959'
                )
    </update>

    <select id="getDtlCodeWithNm" parameterType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto" resultType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
        /*CommCodeMapper.getDtlCodeWithNm*/
        SELECT A.CD_GROUP_ID
              ,B.DTL_CD
              ,B.DTL_CD_NM
              ,B.PSTNG_START_DATE
              ,B.PSTNG_END_DATE
        FROM NMCP_CD_GROUP_BAS A, NMCP_CD_DTL B
        WHERE A.CD_GROUP_ID = B.CD_GROUP_ID
          AND A.CD_GROUP_ID = #{cdGroupId}
          AND B.DTL_CD_NM = #{dtlCdNm}
          AND A.USE_YN = 'Y'
          AND B.USE_YN = 'Y'
          AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN A.PSTNG_START_DATE AND A.PSTNG_END_DATE
          AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN B.PSTNG_START_DATE AND B.PSTNG_END_DATE
          AND ROWNUM= 1
    </select>

    <select id="getAllDtlCdList" parameterType="java.lang.String" resultType="com.ktmmobile.mcp.common.dto.db.NmcpCdDtlDto">
        /*CommCodeMapper.getAllDtlCdList*/
        SELECT A.CD_GROUP_ID
              ,B.DTL_CD
              ,B.DTL_CD_NM
              ,B.USE_YN
              ,B.EXPNSN_STR_VAL1
              ,B.PSTNG_START_DATE
              ,B.PSTNG_END_DATE
        FROM NMCP_CD_GROUP_BAS A, NMCP_CD_DTL B
        WHERE A.CD_GROUP_ID = B.CD_GROUP_ID
          AND A.CD_GROUP_ID = #{cdGroupId}
          AND A.USE_YN = 'Y'
          AND TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') BETWEEN A.PSTNG_START_DATE AND A.PSTNG_END_DATE
        ORDER BY B.INDC_ODRG
    </select>


</mapper>