<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustRequestMapper">

    <!-- NMCP_CUST_REQUEST_SEQ 가져오기 -->
    <select id="getCustRequestSeq" resultType="java.lang.Long">
      SELECT /*CustRequestMapper.getCustRequestSeq*/
        TO_NUMBER(TO_CHAR(SYSDATE, 'YYYYMMDD') || TRIM(TO_CHAR(NMCP_CUST_REQUEST_SEQ.NEXTVAL, '00000')))
      FROM DUAL
       </select>

    <!-- NMCP_CUST_REQUEST_MST(고객요청마스터테이블) insert -->
    <insert id="insertCustRequestMst" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto" >
        INSERT INTO /*CustRequestMapper.insertCustRequestMst*/
            NMCP_CUST_REQUEST_MST
        (
            CUST_REQ_SEQ,
            REQ_TYPE,
            USERID,
            CSTMR_NAME,
            MOBILE_NO,
            CSTMR_NATIVE_RRN,
            CONTRACT_NUM,
            CSTMR_TYPE,
            ONLINE_AUTH_TYPE,
            ONLINE_AUTH_INFO,
            CRET_ID,
            SYS_RDATE
        )
        VALUES
        (
            #{custReqSeq},
            #{reqType},
            #{userId},
            #{cstmrName},
            #{mobileNo},
            #{cstmrNativeRrn},
            #{contractNum},
            #{cstmrType},
            #{onlineAuthType},
            #{onlineAuthInfo},
            #{userId},
            SYSDATE
        )
    </insert>

    <!-- 통화내역열람신청 테이블 insert -->
    <insert id="insertCustRequestCallList" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto" >
        INSERT INTO /*CustRequestMapper.insertCustRequestCallList*/
            NMCP_CUST_REQUEST_CALL_LIST
        (
            CUST_REQ_SEQ,
            START_DATE,
            END_DATE,
            CALL_TYPE,
            TYPE_VOICE,
            TYPE_TEXT,
            TYPE_DATA,
            TYPE_VOICE_TEXT,
            TYPE_ALL,
            REQ_RSN,
            RECV_TYPE,
            RECV_TEXT,
            CALL_NUM,
            MAIL_ADDR,
            ETC_MEMO,
            CRET_ID,
            SYS_RDATE,
            PROC_CD
        )
        VALUES
        (
            #{custReqSeq},
            #{startDate},
            #{endDate},
            #{callType},
            #{typeVoice},
            #{typeText},
            #{typeData},
            #{typeVoiceText},
            #{typeAll},
            #{reqRsn},
            #{recvType},
            #{recvText},
            #{callNum},
            #{mailAddr},
            #{etcMemo},
            #{cretId},
            SYSDATE,
            'RQ'
        )
    </insert>

    <!-- 통화내역열람신청 데이터 조회 -->
    <select id="getReqCallListData" parameterType="java.lang.Long"  resultType="java.util.Map">
        SELECT
            A.CUST_REQ_SEQ,
            A.REQ_TYPE,
            A.USERID,
            A.CSTMR_NAME,
            A.MOBILE_NO,
            CASE
                WHEN A.CSTMR_TYPE = 'FN' THEN A.CSTMR_NATIVE_RRN
                ELSE ''
            END AS CSTMR_FOREIGNER_RRN,
            CASE
                WHEN A.CSTMR_TYPE = 'FN' THEN ''
                ELSE A.CSTMR_NATIVE_RRN
            END AS CSTMR_NATIVE_RRN,
            A.CONTRACT_NUM,
            A.CSTMR_TYPE,
            A.ONLINE_AUTH_TYPE,
            A.ONLINE_AUTH_INFO,
            A.CRET_ID,
            A.SYS_RDATE,
            B.SCAN_ID,
            B.START_DATE,
            B.END_DATE,
            B.CALL_TYPE,
            B.TYPE_VOICE,
            B.TYPE_TEXT,
            B.TYPE_DATA,
            B.TYPE_VOICE_TEXT,
            B.TYPE_ALL,
            B.REQ_RSN,
            B.RECV_TYPE,
            B.RECV_TEXT,
            B.CALL_NUM,
            B.MAIL_ADDR,
            B.ETC_MEMO,
            B.UPDT_ID,
            B.SYS_UDATE,
            B.START_DATE || '-' || B.END_DATE AS REQUEST_DATE,
            REGEXP_REPLACE(A.MOBILE_NO, '(.{3})(.+)(.{4})', '\1-\2-\3') AS REQUEST_MOBILE_NO,
            REGEXP_REPLACE(B.CALL_NUM, '(.{3})(.+)(.{4})', '\1-\2-\3') AS CALL_MOBILE_NO,
            TO_CHAR(A.SYS_RDATE, 'yyyy') AS REQUEST_YEAR,
            TO_CHAR(A.SYS_RDATE, 'mm') AS REQUEST_MONTH,
            TO_CHAR(A.SYS_RDATE, 'dd') AS REQUEST_DAY,
            A.CSTMR_NAME AS REQUEST_CSTMR_NAME,
            CASE
                WHEN B.CALL_TYPE = 'NA' THEN 'V'
                WHEN (B.TYPE_VOICE = 'Y' OR B.TYPE_TEXT = 'Y' OR B.TYPE_DATA = 'Y' OR B.TYPE_VOICE_TEXT = 'Y' OR B.TYPE_ALL = 'Y') THEN 'V'
                ELSE ''
            END CALL_TYPE_NA,
            CASE
                WHEN B.CALL_TYPE = 'IN' THEN 'V'
                ELSE ''
            END CALL_TYPE_IN
        FROM
            NMCP_CUST_REQUEST_MST A, NMCP_CUST_REQUEST_CALL_LIST B
        WHERE 1 = 1
            AND A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
            AND A.CUST_REQ_SEQ = #{custRequestSeq}
    </select>

    <!-- 통화내역열람신청 테이블의 스캔아이디 update -->
    <update id="updateCustRequestCallListScanId" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto" >
        UPDATE /*CustRequestMapper.updateCustRequestCallListScanId */
            NMCP_CUST_REQUEST_CALL_LIST
        SET
            SCAN_ID = #{scanId}
        WHERE 1 = 1
            AND CUST_REQ_SEQ = #{custReqSeq}
    </update>

    <!-- EMV_SCAN_MST 테이블의 work_id, doc_title update -->
    <update id="updateEmvScanMstCL" parameterType="java.lang.String" >
        UPDATE /*CustRequestMapper.updateEmvScanMstCL */
            EMV_SCAN_MST
        SET
            WORK_ID = 'S0010',
            DOC_TITLE = CUST_NM || '_통화내역열람신청'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- EMV_SCAN_FILE 테이블의 doc_id update -->
    <update id="updateEmvScanFileCL" parameterType="java.lang.String" >
        UPDATE /*CustRequestMapper.updateEmvScanFileCL */
            EMV_SCAN_FILE
        SET
            DOC_ID = 'E0010'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- 명의변경 데이터 가져오기 -->
    <select id="getReqNmChgData" parameterType="java.lang.Long"  resultType="java.util.Map">
        SELECT /*CustRequestMapper.getReqNmChgData */
            A.CUST_REQ_SEQ
            , A.REQ_TYPE
            , A.USERID
            , A.CSTMR_NAME AS GR_CSTMR_NAME
            , A.MOBILE_NO AS GR_MOBILE_NO
            , A.CSTMR_NATIVE_RRN AS GR_CSTMR_NATIVE_RRN
            , A.CONTRACT_NUM
            , A.CSTMR_TYPE
            , A.ONLINE_AUTH_TYPE AS GR_ONLINE_AUTH_TYPE
            , A.ONLINE_AUTH_INFO AS GR_RES_NO
            , B.SCAN_ID
            , B.CSTMR_NAME
            , B.CSTMR_TYPE AS AS_CSTMR_TYPE
            , CASE
                WHEN B.CSTMR_TYPE = 'FN' THEN B.CSTMR_NATIVE_RRN
                ELSE ''
            END AS CSTMR_FOREIGNER_RRN
            , CASE
                WHEN B.CSTMR_TYPE = 'FN' THEN ''
                ELSE B.CSTMR_NATIVE_RRN
            END AS CSTMR_NATIVE_RRN
            , B.CSTMR_NATIVE_RRN
            , DECODE(B.CSTMR_TYPE,'NM',C.NEE_AGENT_ONLINE_AUTH_TYPE,B.ONLINE_AUTH_TYPE) AS ONLINE_AUTH_TYPE
            , DECODE(B.CSTMR_TYPE,'NM',C.NEE_AGENT_ONLINE_AUTH_INFO,B.ONLINE_AUTH_INFO) AS RES_NO
            , B.CLAUSE_CNTR_DEL_FLAG
            , B.CLAUSE_PRI_COLLECT_FLAG
            , B.CLAUSE_PRI_OFFER_FLAG
            , B.CLAUSE_ESS_COLLECT_FLAG
            , B.CLAUSE_CONFIDENCE_FLAG
            , B.CLAUSE_PRI_AD_FLAG
            , B.CLAUSE_JEHU_FLAG
            , B.CLAUSE_FINANCE_FLAG
            , B.REQ_INFO_CHG_YN
            , B.SOC_NM AS RATE_NAME
            , B.CSTMR_POST
            , B.CSTMR_ADDR || '  ' || B.CSTMR_ADDR_DTL AS CSTMR_ADDR
            , B.CSTMR_BILL_SEND_CODE
            , B.CSTMR_MAIL
            , B.REQ_PAY_TYPE
            , (SELECT DTL_CD_NM FROM NMCP_CD_DTL WHERE CD_GROUP_ID = 'BNK' AND DTL_CD = B.REQ_BANK) AS REQ_BANK
            , B.REQ_ACCOUNT_NUMBER
            , B.REQ_CARD_COMPANY
            , B.REQ_CARD_NO
            , B.REQ_CARD_YY
            , B.REQ_CARD_MM
            , DECODE(B.CSTMR_TYPE,'NM',C.NEE_AGENT_SELF_CERT_TYPE,B.SELF_CERT_TYPE) AS SELF_CERT_TYPE
            , DECODE(B.CSTMR_TYPE,'NM',C.NEE_AGENT_SELF_ISSU_EXPR_DT,B.SELF_ISSU_EXPR_DT) AS SELF_ISSU_EXPR_DT
            , DECODE(B.CSTMR_TYPE,'NM',C.NEE_AGENT_SELF_ISSU_NUM,B.SELF_ISSU_NUM) AS SELF_ISSU_NUM
            , B.CSTMR_RECEIVE_TEL_FN || '-' || B.CSTMR_RECEIVE_TEL_MN || '-' || B.CSTMR_RECEIVE_TEL_RN AS CSTMR_RECEIVE_TEL_FN
            , 'ICN3' AS OPER_TYPE
            , SUBSTR (TO_CHAR(SYSDATE, 'YYYYMMDD'), 1, 4) AS REQ_IN_DAY_YYYY
            , SUBSTR (TO_CHAR(SYSDATE, 'YYYYMMDD'), 5, 2) AS REQ_IN_DAY_MM
            , SUBSTR (TO_CHAR(SYSDATE, 'YYYYMMDD'), 7, 2) AS REQ_IN_DAY_DD
            , 'V' AS GR_REFUND_AGREE_FLAG  --핸드폰 할부금 명의받는 고객에게 승계
            , B.JEHU_PROD_TYPE
            , B.PERSONAL_INFO_COLLECT_AGREE
            , B.OTHERS_TRNS_AGREE
            , 'N' AS CLAUSE_5G_COVERAGE_FLAG
            , 'N' AS CLAUSE_PARTNER_OFFER_FLAG		--명의변경 시 제휴사 동의는 항상 'N'
            , B.OTHERS_TRNS_KT_AGREE
            , B.OTHERS_AD_RECEIVE_AGREE
            , NVL(( SELECT DTL_CD_NM
                                            FROM NMCP_CD_DTL
                                           WHERE DTL_CD = B.CSTMR_FOREIGNER_NATION
                                             AND CD_GROUP_ID = 'NATIONLIST' ),  B.CSTMR_FOREIGNER_NATION) AS CSTMR_FOREIGNER_NATION
            , C.NEE_AGENT_NAME AS MINOR_AGENT_NAME
            , (SELECT CODE_NAME FROM MCP_CODE WHERE CODE_SYS = 'AGR' AND CODE = C.NEE_AGENT_TYPE_CD) AS MINOR_AGENT_RELATION
            , C.NEE_AGENT_RRN AS MINOR_AGENT_RRN
            , C.NEE_AGENT_TEL_NO AS MINOR_AGENT_TEL_FN
            , NVL(B.CLAUSE_FATH_FLAG , 'N') AS CLAUSE_FATH_FLAG
            , NVL(B.CLAUSE_FATH_FLAG , 'N') AS CLAUSE_FATH_FLAG2
        FROM
            NMCP_CUST_REQUEST_MST A
            , NMCP_CUST_REQUEST_NAME_CHG B
            , NMCP_CUST_REQ_NAME_CHG_AGENT C
        WHERE 1 = 1
          AND A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
          AND A.CUST_REQ_SEQ = C.CUST_REQ_SEQ(+)
          AND A.CUST_REQ_SEQ = #{custRequestSeq}
    </select>

    <!-- 명의변경 테이블의 scan_id update -->
    <update id="updateReqNmChgScanId" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto" >
        UPDATE /*CustRequestMapper.updateReqNmChgScanId */
            NMCP_CUST_REQUEST_NAME_CHG
        SET
            SCAN_ID = #{scanId}
        WHERE 1 = 1
            AND CUST_REQ_SEQ = #{custReqSeq}
    </update>

    <!-- EMV_SCAN_MST 테이블의 work_id, doc_title update -->
    <update id="updateEmvScanMstNC" parameterType="java.lang.String" >
        UPDATE /*CustRequestMapper.updateEmvScanMstNC */
            EMV_SCAN_MST
        SET
            WORK_ID = 'S0003',
            DOC_TITLE = CUST_NM || '_명의변경'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- EMV_SCAN_FILE 테이블의 doc_id update -->
    <update id="updateEmvScanFileNC" parameterType="java.lang.String" >
        UPDATE /*CustRequestMapper.updateEmvScanFileNC */
            EMV_SCAN_FILE
        SET
            DOC_ID = 'E0003'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- 서식지 위치정보 가져오기-->
    <select id="getAppFormGroupPointList" parameterType="java.lang.String" resultType="map">
        SELECT
            A.GROUP_CODE,
            B.PAGE_SEQ,
            C.PAGE_CODE,
            C.COLUMN_NAME,
            C.METAROW,
            C.METALINE,
            C.CODEDATA,
            C.CODEDATA_YN,
            C.DELETECOLUMNYN,
            C.APP_KEY
        FROM
            NMCP_APP_GROUP_MST A,
            NMCP_APP_GROUP_INFO B,
            NMCP_APP_FORM_INFO C
        WHERE
            A.STATUS = 'A'
            AND A.GROUP_CODE = #{groupCode}
            AND A.GROUP_CODE = B.GROUP_CODE
            AND B.STATUS = 'A'
            AND B.PAGE_CODE = C.PAGE_CODE
        ORDER BY B.PAGE_SEQ, C.APP_KEY
    </select>

    <!-- 가입신청서 출력요청(NMCP_CUST_REQUEST_JOIN_FORM) insert -->
    <insert id="insertCustRequestJoinForm" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto" >
        INSERT INTO /*CustRequestMapper.insertCustRequestJoinForm*/
            NMCP_CUST_REQUEST_JOIN_FORM
        (
            CUST_REQ_SEQ,
            RECV_TYPE,
            FAX_NO,
            CSTMR_POST,
            CSTMR_ADDR,
            CSTMR_ADDR_DTL,
            PROC_CD,
            CRET_ID,
            SYS_RDATE
        )
        VALUES
        (
            #{custReqSeq},
            #{recvType},
            #{faxNo},
            #{cstmrPost},
            #{cstmrAddr},
            #{cstmrAddrDtl},
            'RQ',
            #{cretId},
            SYSDATE
        )
    </insert>

    <!-- EMV_SCAN_MST 테이블의 work_id, doc_title update -->
    <update id="updateEmvScanMst" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto">
        UPDATE /*CustRequestMapper.updateEmvScanMst */
            EMV_SCAN_MST
        SET
            <if test="reqType == 'CL'">
                WORK_ID = 'S0010',
                DOC_TITLE = CUST_NM || '_통화내역열람신청'
            </if>
            <if test="reqType == 'IS'">
                WORK_ID = 'S0008',
                DOC_TITLE = CUST_NM || '_휴대폰안심보험가입'
            </if>
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- EMV_SCAN_FILE 테이블의 doc_id update -->
    <update id="updateEmvScanFile" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto">
        UPDATE /*CustRequestMapper.updateEmvScanFile */
            EMV_SCAN_FILE
        SET
            <if test="reqType == 'CL'">
                DOC_ID = 'E0010'
            </if>
            <if test="reqType == 'IS'">
                DOC_ID = 'E0008'
            </if>
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- EMV_SCAN_FILE에서 fil_num max 구하기 -->
    <select id="getMaxFileNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        /* CustRequestMapper.getMaxFileNum */
        SELECT NVL(MAX(FILE_NUMBER) + 1, 1) AS FILE_NUM
            FROM EMV_SCAN_FILE
        WHERE SCAN_ID = #{orgScanId}
    </select>

    <!-- EMV_SCAN_FILE 테이블에 insert 해서 서식지 합본처리 -->
    <update id="insertEmvScanFile" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto">
        /* CustRequestMapper.insertEmvScanFile */
        INSERT INTO EMV_SCAN_FILE
        ( FILE_ID, SCAN_ID, FILE_NUMBER, FILE_SIZE, FILE_EXT, DOC_ID, MAIN_DOC_CD, USE_YN, ORIGIN_DIR, RGST_DT, RGST_PRSN_ID )
        SELECT
            FILE_ID,
            #{scanIdOrg} AS SCAN_ID,
            #{maxFileNum}+(ROWNUM-1) FILE_NUMBER,
            FILE_SIZE,
            FILE_EXT,
            DOC_ID,
            MAIN_DOC_CD,
            'Y',
            ORIGIN_DIR,
            RGST_DT,
            #{userId}
        FROM EMV_SCAN_FILE
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- 안심보험 가입신청 내역 조회(서식지만들기용)(wooki 2022.10.12) -->
    <select id="getReqInsrData" parameterType="java.lang.Long" resultType="java.util.Map">
        /*CustRequestMapper.getReqInsrData 안심보험 가입신청 내역 조회(서식지만들기용) */
        SELECT
            A.REQ_TYPE,
            A.CONTRACT_NUM,
            A.CSTMR_NAME,
            A.CSTMR_NATIVE_RRN,
            A.ONLINE_AUTH_INFO AS INSR_AUTH_INFO,
            TO_CHAR(A.SYS_RDATE, 'YYYY') AS REQ_IN_DAY_YYYY,
            TO_CHAR(A.SYS_RDATE, 'MM') AS REQ_IN_DAY_MM,
            TO_CHAR(A.SYS_RDATE, 'DD') AS REQ_IN_DAY_DD,
            B.INSR_CD AS INSR_PROD_CD
        FROM NMCP_CUST_REQUEST_MST A, NMCP_CUST_REQUEST_INSR B
        WHERE 1 = 1
            AND A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
            AND A.CUST_REQ_SEQ = #{custRequestSeq}
            AND A.REQ_TYPE = 'IS'
    </select>

    <!-- 가입신청서 출력요청(NMCP_CUST_REQUEST_INSR) insert -->
    <insert id="insertCustRequestInsr" parameterType="com.ktmmobile.mcp.mypage.dto.CustRequestDto" >
        INSERT INTO /*CustRequestMapper.insertCustRequestInsr*/
            NMCP_CUST_REQUEST_INSR
        (
            CUST_REQ_SEQ,
            INSR_CD,
            ETC_MEMO,
            CRET_ID,
            SYS_RDATE
        )
        VALUES
        (
            #{custReqSeq},
            #{insrProdCd},
            #{etcMobile},
            #{cretId},
            SYSDATE
        )
    </insert>

    <!-- 해지상담신청 데이터 조회 -->
    <select id="getCancelConsultData" parameterType="java.lang.Long"  resultType="java.util.Map">
        SELECT
            A.REQ_TYPE,
            A.CONTRACT_NUM,
            A.CSTMR_NAME,
            A.CSTMR_NATIVE_RRN,
            A.ONLINE_AUTH_INFO AS RES_NO,
            'V' AS BENEFIT_AGREE_FLAG,
            REGEXP_REPLACE(B.RECEIVE_MOBILE_NO, '(.{3})(.+)(.{4})', '\1-\2-\3') AS RECEIVE_MOBILE_NO,
            REGEXP_REPLACE(B.CANCEL_MOBILE_NO, '(.{3})(.+)(.{4})', '\1-\2-\3') AS CANCEL_MOBILE_NO,
            TO_CHAR(A.SYS_RDATE, 'YYYY') AS REQ_IN_DAY_YYYY,
            TO_CHAR(A.SYS_RDATE, 'MM') AS REQ_IN_DAY_MM,
            TO_CHAR(A.SYS_RDATE, 'DD') AS REQ_IN_DAY_DD
        FROM NMCP_CUST_REQUEST_MST A, MCP_CANCEL_REQUEST B
        WHERE 1 = 1
            AND A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
            AND A.CUST_REQ_SEQ = #{custRequestSeq}
            AND A.REQ_TYPE = 'CC'
    </select>

    <!-- 해지상담신청 scan_id update -->
    <update id="updateCancelReqScanId" parameterType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto" >
        UPDATE
            MCP_CANCEL_REQUEST
        SET
            SCAN_ID = #{scanId}
        WHERE 1 = 1
            AND CUST_REQ_SEQ = #{custReqSeq}
    </update>

    <!-- EMV_SCAN_MST 테이블의 work_id, doc_title update -->
    <update id="updateEmvScanMstCC" parameterType="java.lang.String" >
        UPDATE
            EMV_SCAN_MST
        SET
            WORK_ID = 'S0005',
            DOC_TITLE = CUST_NM || '_해지'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

    <!-- EMV_SCAN_FILE 테이블의 doc_id update -->
    <update id="updateEmvScanFileCC" parameterType="java.lang.String" >
        UPDATE
            EMV_SCAN_FILE
        SET
            DOC_ID = 'E0005'
        WHERE 1 = 1
            AND SCAN_ID = #{scanId}
    </update>

</mapper>