<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ktDcMapper">

    <!-- 트리플할인 마이페이지 이력조회 -->
    <select id="selectKtDc" parameterType="com.ktmmobile.mcp.content.dto.KtDcDto" resultType="com.ktmmobile.mcp.content.dto.KtDcDto">
        SELECT /*KtDcMapper.selectKtDc  */
            KT_INTERNET_ID
             , RATE_CD
             , ADDITION_CD
             , CONTRACT_NUM
             , INSTALL_DD
             , APP_ROUTE
             , PRCS_MDL_IND
             , CRET_DD
             , CRET_ID
             , AMD_ID
             , CRET_DT
             , AMD_DT
             , RIP
        FROM MCP_TRIPLE_DISCOUNT
        WHERE 1=1
        <if test="ktInternetId != null and ktInternetId != ''">
             AND KT_INTERNET_ID = #{ktInternetId}
        </if>
        <if test="contractNum != null and contractNum != ''">
            AND CONTRACT_NUM = #{contractNum}
        </if>
    </select>

     <!-- 트리플할인 마이페이지 등록 -->
    <insert id="insertKtDc" parameterType="com.ktmmobile.mcp.content.dto.KtDcDto">
    INSERT INTO MCP_TRIPLE_DISCOUNT
    (
           KT_INTERNET_ID           --KT인터넷ID
         , RATE_CD                  --신청 시 요금제 코드
         , ADDITION_CD              --혜택(부가서비스)코드
         , CONTRACT_NUM             --계약번호
         , INSTALL_DD               --인터넷 설치 일자
         , PRCS_MDL_IND             --처리 모듈 구분
         , CRET_DD                  --신청일
         , CRET_ID                  --생성자아이디
         , AMD_ID                   --수정자아이디
         , RIP                      --등록아이피
         , SUCC_YN                  -- 성공/실패 여부(Y/N)
         , REASON_FAIL              -- 실패사유
    ) VALUES (
           #{ktInternetId}
         , #{rateCd}
         , #{additionCd}
         , #{contractNum}
         , #{installDd}
         , #{prcsMdlInd}
         , TO_CHAR(SYSDATE, 'YYYYMMDD')
         , #{cretId}
         , #{amdId}
         , #{rip}
         , #{succYn}
         , #{reasonFail}
    )

    </insert>

</mapper>
