@use '@/assets/styles/abstracts' as *;

// =========================================
// _rest.scss 기본 설정
// =========================================

// body
$min-width: 320px;
$body-font-size: var(--font-size-16);
$body-font-family: var(--font-family-base);
$body-font-weight: var(--font-weight-regular);
$body-line-height: var(--line-height-base);
$body-letter-spacing: var(--letter-spacing-base);
$body-color: var(--color-gray-900);
$body-background: null;

// link
$link-color: inherit;
$link-decoration: underline;

// heading
$heading-font-family: var(--font-family-heading);
$heading-font-weight: var(--font-weight-bold);
$heading-line-height: var(--line-height-heading);
$heading-color: inherit;

// code
$code-font-family: var(--font-family-mono);
$code-font-size: 1em;

// emphasis
$strong-font-weight: var(--font-weight-bold);
$em-font-weight: var(--font-weight-bold);
$th-font-weight: var(--font-weight-regular);

// placeholder
$placeholder-font-color: var(--color-gray-500);
$placeholder-font-weight: var(--font-weight-regular);

// selection
$selection-color: null; //var(--color-foreground)
$selection-background-color: null; //var(--color-accent-1)
$caret-color: var(--color-accent-caret); // 커서 컬러지정

/* Reset */

// 브라우저 간의 일관성을 유지하기 위해 기본 스타일을 재설정합니다.
// 여기서 모든 스타일의 속성을 초기화하지는 않습니다.
// 스타일의 완전한 제거는 커스텀 요소에 따라 CSS 클래스를 통해 설정합니다.

// 1. 모든 요소의 크기가 `padding` 또는 `border`에 영향을 받지 않도록 조정
*,
*:before,
*:after {
  box-sizing: border-box; // 1
}

// 모든 요소의 포커스링 여백 설정
:focus-visible {
  outline-offset: 0;
}

// 모든 요소의 텍스트 선택(드래그) 스타일 설정
@if $selection-background-color != null {
  ::selection {
    color: $selection-color;
    background-color: $selection-background-color;
  }
}

// 기본 여백이 있는 태그에 대한 여백 제거
:where(p, ol, ul, dl, dd, pre, table, th, td, figure) {
  margin: 0;
  padding: 0;
}

// 1. 부드러운 스크롤 효과
// 2. Webkit 브라우저의 폰트 렌더링 품질 개선
// 3. iOS 가로 모드 글꼴 크기 조정 방지
// 4. iOS 터치 색상을 투명으로 설정
html {
  height: 100%;
  // scroll-behavior: smooth; // 1
  -webkit-font-smoothing: antialiased; // 2
  -webkit-text-size-adjust: 100%; // 3
  -webkit-tap-highlight-color: transparent; // 4
  // overflow-y: auto;
  // overflow: hidden;
  font-size: 16px;
}

// 문서의 기본 설정
body {
  min-width: $min-width;
  height: 100%;
  margin: 0;
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  font-variant-numeric: tabular-nums;
  line-height: $body-line-height;
  @if $body-letter-spacing != null {
    letter-spacing: $body-letter-spacing;
  }
  @if $body-background != null {
    background-color: $body-background;
  }
  word-break: keep-all;
  overflow-wrap: anywhere;
  touch-action: manipulation;
}

// HTML5 태그에 대한 IE 호환성 설정
header,
footer,
main,
section,
article,
nav,
aside {
  display: block;
}

// 제목 태그의 기본 설정
:where(h1, h2, h3, h4, h5, h6, [role='heading']) {
  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0;
  padding: 0;
}
:where(h1, h2, h3, h4, h5, h6, [role='heading']):first-child {
  margin-top: 0;
}

// 코드 태그의 기본 설정
pre,
code,
kbd,
samp {
  font-family: $code-font-family;
  font-size: $code-font-size;
}

// 링크 태그의 기본 설정
a {
  display: inline-block;
  color: $link-color;
  text-decoration: underline;
  text-underline-position: under;
  background-color: transparent;
  &:where([class], [role='button']) {
    color: inherit;
    text-decoration: none;
  }
}

// 이미지의 원본사이즈까지 확장되도록 설정
img {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

// fieldset의 기본 설정
fieldset {
  margin: 0;
  padding: 1em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
}

// iframe의 border 제거
iframe {
  border: 0;
}

// textarea의 사이즈 조정 방지
textarea {
  resize: none;
}

// table의 스타일 초기화
table {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  transform: translateZ(0); // 윈도우 크롬에서 sub-pixel 라인 방지에 자주 쓰는 트릭
}
caption {
  caption-side: bottom;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
th {
  font-weight: $th-font-weight;
}

// text 요소의 기본 설정
ul,
ol {
  list-style: none;
}

em,
address,
i {
  font-style: normal;
}

u {
  text-underline-position: under;
}

sub {
  line-height: 1;
  vertical-align: bottom;
}

sup {
  line-height: 1;
  vertical-align: top;
}

em {
  font-weight: $em-font-weight;
}

strong,
b {
  font-weight: $strong-font-weight;
}

abbr {
  text-decoration: none;
}

// action 요소의 기본 설정

label {
  vertical-align: middle;
  cursor: pointer;
}

summary {
  display: list-item;
  cursor: pointer;
}

button {
  position: relative;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  cursor: default;
}

input,
textarea,
select {
  color: inherit;
  font: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  vertical-align: middle;
  @if $caret-color != null {
    caret-color: $caret-color;
  }
  &::placeholder {
    color: $placeholder-font-color;
    font-weight: $placeholder-font-weight;
  }
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s 0s;
    -webkit-text-fill-color: black !important;
  }
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

:where(button, input, textarea, select):where([class]) {
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: 0;
  box-shadow: none;
}

:where(input[type='number']):where([class]) {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// 숨김 속성
[hidden] {
  display: none !important;
}

[tabindex='-1']:focus-visible {
  outline: none;
}

// 바디스크롤 숨김 클래스
html.no-scroll {
  overflow: hidden;
  height: 100%;
  touch-action: none;
}
.no-scroll {
  overflow: hidden !important;
}

// vue-datepicker(캘린더) centerd 모드사용시 Dim처리
html:has(body.datepicker-open) {
  overflow: hidden;
}
body.datepicker-open::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-alpha-dim); /* 딤 처리 농도 */
  // z-index: 999; /* 데이트피커 메뉴보다는 낮아야 함 */
  z-index: 1001; /* 데이트피커 메뉴보다는 낮아야 함 */
  transition: opacity 0.3s ease;
}
.dp__menu {
  z-index: 9999 !important;
}

// 선택 팝업 높이 지정
.select-dialog {
  max-height: rem(440px) !important;
}
