//_roots.scss에서 한번 컴파일
@use '@/assets/styles/abstracts/functions' as *;
@use '@/assets/styles/abstracts/tokens' as *;
@use '@/assets/styles/abstracts/icons' as *;
@use '@/assets/styles/abstracts/mixins' as *;

/* Root */

:root {
  @include generate-cssVars($tokens);
  // icons.scss에서 사용할 아이콘 변수에 담기
  // : MsfIcon 외에 다른데서 사용시 불필요한 icons.scss임포트 제거를 위함
  --icon-checkbox-set: #{icon('checkbox')}; // MsfCheckbox: default
  --icon-checkbox-set2: #{icon('check2')}; // MsfCheckbox outline

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);

  --layout-max-width: 100%; // 레이아웃 최대 넓이
  --layout-header-height: #{rem(50px)};
  --layout-padding-x: 24px;
  --layout-padding-y: 32px;
  --layout-padding-y2: 40px;
  --layout-gutter-x: 8px;
  --layout-gutter-x2: 16px;
  --layout-gutter-y: 24px; // 레이아웃 세로축 기본 간격

  --formgroup-inner-inline-width: #{rem(140px)}; // formgroup 내부 input,select 등 너비 고정값
}
