<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="McpMplatformMapper">

  <!-- /mPlatform/checkMpCallCount - 당일 MP호출 수 (SELECT(MCP) : MCP_MPLATFORM_LOG@DL_MCP) -->
  <select id="selectCheckMpCallCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT   /* /appform/checkMpCallCount : McpMplatformMapper.selectCheckMpCallCount 당일 MP호출 수 */
            count(*)
        FROM MCP_MPLATFORM_LOG@DL_MCP
        WHERE 1=1
          AND EVENT_CODE = #{eventCd, jdbcType=VARCHAR}
          AND USER_ID = #{userId, jdbcType=VARCHAR}
          AND SYS_DT = TO_CHAR(sysdate , 'YYYYMMDD')
          AND ACCESS_URL IS NOT NULL
    </select>

  <!-- 명의변경 사전체크 - 양수자가 미성년자가 아닐 때-->
  <select id="getXmlMessageMC0" parameterType="java.util.Map" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.MplatFormFMC0InfoResponse">
    /* mPlatformMapper.getXmlMessageMC0 */
    SELECT
    'osst:osstMcnPrechk' as operationName
    , 'OsstMcnPrechkInVO' as voName
    , 'OsstMcnChgPrcService' AS serviceName
    , 'MC0' AS appEventCd
    , (SELECT KT_ORG_ID FROM ORG_ORGN_INFO_MST WHERE ORGN_ID = '1100011741' AND ROWNUM = 1) AS asgnAgncId
    /*양도인정보*/
    , LPAD(A.MCN_RES_NO, 14, '0') AS mvnoOrdNo  /* MVNO 오더번호 */
    , 'KIS' AS slsCmpnCd                        /* 판매회사코드 */
    , A.CSTMR_TYPE AS cstmrType                 /* 고객타입(NA,FN,NA,JP) */
    , SUB.CUSTOMER_ID AS custNo                 /* 고객번호 */
    , SUB.SVC_CNTR_NO AS svcContId              /* 계약번호 */
    , B.MOBILE_NO AS tlphNo                     /* 전화번호 */
    , A.MCN_STAT_RSN_CD AS mcnStatRsnCd         /* 명변 사유코드 */
    , A.USIM_SUCC_YN AS usimSuccYn              /* USIM 승계여부 */
    , A.ICC_ID AS iccId                         /* USIM 일련번호 */
    /*양수인고객정보*/
    , (SELECT ETC2 FROM CMN_GRP_CD_MST WHERE GRP_ID = 'RCP9007' AND CD_VAL = A.CSTMR_TYPE) AS custTypeCd  /* 고객유형코드 */
    , GCM1.ETC1 AS custIdntNoIndCd              /* 고객식별번호구분코드 */
    --    , CRYPTO_AES256.DEC_AES(TRIM(A.CSTMR_NATIVE_RRN)) AS custIdntNo     /* 고객식별번호 */
    , TRIM(A.CSTMR_NATIVE_RRN) AS custIdntNo     /* 고객식별번호 */
    , UPPER(A.CSTMR_NAME) AS custNm             /* 고객명 */
    , 'Y' AS myslAgreYn                         /* 본인동의여부 */
    , GCM1.ETC2 AS nativeRlnamAthnEvdnPprCd     /* 실명인증증빙서류코드 */
    , NVL(A.CSTMR_RECEIVE_TEL_FN || A.CSTMR_RECEIVE_TEL_MN || A.CSTMR_RECEIVE_TEL_RN, '') AS athnRqstcustCntplcNo   /* 인증요청고객연락처번호 */
    , A.SELF_ISSU_EXPR_DT AS rsdcrtIssuDate     /* 주민등록증발급일자 */
    , (CASE WHEN GCM1.ETC2 = 'DRIVE' THEN SUBSTR(A.SELF_ISSU_NUM, 3) ELSE '' END) AS lcnsNo           /* 면허번호 */
    , (CASE WHEN GCM1.ETC2 = 'DRIVE' THEN SUBSTR(A.SELF_ISSU_NUM, 0, 2) ELSE '' END) AS lcnsRgnCd     /* 면허지역코드 */
    , (CASE WHEN GCM1.ETC2 = 'MERIT' THEN A.SELF_ISSU_NUM ELSE '' END) AS mrtrPrsnNo                  /* 유공자번호 */
    , (CASE WHEN A.CSTMR_TYPE = 'FN' THEN A.CSTMR_FOREIGNER_NATION ELSE '' END) AS nationalityCd      /* 외국인국적코드 */
    , (CASE WHEN A.CSTMR_TYPE = 'FN' THEN
    CASE
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('5', '6') THEN
    '19' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('7', '8') THEN
    '20' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    END
    END) AS fornBrthDate                        /* 외국인생일일자 */
    , 'Y' AS crdtInfoAgreYn                     /* 신용정보동의여부 */
    , 'Y' AS indvInfoInerPrcuseAgreYn           /* 개인정보활용동의여부 */
    , DECODE(A.CLAUSE_JEHU_FLAG, 'Y', 'Y', 'N') AS cnsgInfoAdvrRcvAgreYn                /* 위탁정보광고수신동의 */
    , DECODE(A.PERSONAL_INFO_COLLECT_AGREE, 'Y', 'Y', 'N') AS othcmpInfoAdvrRcvAgreYn   /* 타사정보광고수신동의 */
    , DECODE(A.CLAUSE_PRI_AD_FLAG, 'Y', 'Y', 'N') AS othcmpInfoAdvrCnsgAgreYn           /* 타사정보광고위탁동의 */
    , DECODE(A.OTHERS_TRNS_KT_AGREE, 'Y', 'Y', 'N') AS grpAgntBindSvcSbscAgreYn         /* 그룹사결합서비스가입동의 */
    , DECODE(A.OTHERS_AD_RECEIVE_AGREE, 'Y', 'Y', 'N') AS cardInsrPrdcAgreYn            /* 카드보험상품동의 */
    , DECODE(A.INDV_LOCA_PRV_AGREE, 'Y', 'Y', 'N') AS indvLoInfoPrvAgreeYn              /* 개인위치정보제공동의여부 */
    , 'N' AS olngDscnHynmtrAgreYn               /* 주유할인여부 */
    , 'N' AS wlfrDscnAplyAgreYn                 /* 복지할인신청동의 */
    , 'N' AS spamPrvdAgreYn                     /* 스팸제공동의 */
    , 'N' AS prttlpStlmUseAgreYn                /* 이동전화결제이용동의 */
    , 'N' AS prttlpStlmPwdUseAgreYn             /* 이동전화결제비밀번호동의 */
    , B.ETC_MOBILE AS wrlnTlphNo                /* 유선전화번호 */
    , (CASE
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('1', '2', '5', '6') THEN
    '19' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('3', '4', '7', '8') THEN
    '20' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    END) AS brthDate                            /* 생일일자 */
    , A.REQ_INFO_CHG_YN AS custInfoChngYn       /* 고객정보변경여부 */
    , 'Y' AS myslfAthnYn                        /* 본인인증여부 */
    , A.SELF_CSTMR_CI as ipinCi                 /* 본인인증CI */
    , (SELECT ETC5 FROM CMN_GRP_CD_MST WHERE GRP_ID = 'RCP2001' AND CD_VAL = A.ONLINE_AUTH_TYPE) AS onlineAthnDivCd  /* 본인인증 수단 */
    , DECODE(A.OTHERS_TRNS_AGREE, 'Y', 'Y', 'N') AS fnncDealAgreeYn     /* 금융거래시 KT 고객 추가 금융 혜택을 위한 정보 제공 동의 */
    , A.FATH_TRANSAC_ID AS fathTransacId        /* 안면인증 트랜잭션 아이디 */
    , '1100011741' AS cpntId                    /* 접점아이디 */
    /*양수인청구계정정보*/
    , A.CSTMR_BILL_SEND_CODE AS rqsshtPprfrmCd  /* 청구서양식코드 */
    , DECODE(A.CSTMR_BILL_SEND_CODE, 'MB', B.MOBILE_NO, '') AS rqsshtTlphNo         /* 청구서발송전화번호 */
    , DECODE(A.CSTMR_BILL_SEND_CODE, 'CB', A.CSTMR_MAIL, '') AS rqsshtEmlAdrsNm     /* 청구서이메일주소명 */
    , A.CSTMR_POST AS billZipNo                 /* 청구우편번호 */
    , A.CSTMR_ADDR AS billFndtCntplcSbst        /* 청구기본연락처내용 - 주소 */
    , A.CSTMR_ADDR_DTL AS billMntCntplcSbst     /* 청구기본연락처내용 - 상세 */
    , A.REQ_PAY_TYPE AS blpymMthdCd             /* 납부방법코드 C: 신용카드, D: 계좌자동이체, R: 지로 */
    , DECODE(A.REQ_PAY_TYPE, 'C', '99', '21') AS duedatDateIndCd                            /* 납기일자구분코드 */
    , DECODE(A.REQ_PAY_TYPE, 'C', A.REQ_CARD_YY || A.REQ_CARD_MM, '') AS crdtCardExprDate   /* 신용카드만기일자 */
    , DECODE(A.REQ_PAY_TYPE, 'C', (SELECT EXPNSN_STR_VAL1 FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID = 'CRD' AND DTL_CD = A.REQ_CARD_COMPANY), '') AS crdtCardKindCd    /* 신용카드종류코드 */
    , DECODE(A.REQ_PAY_TYPE, 'D', (SELECT EXPNSN_STR_VAL1 FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID = 'BNK' AND DTL_CD = A.REQ_BANK), '') AS bankCd     /* 은행코드 */
    , (CASE
    WHEN A.REQ_PAY_TYPE = 'C' THEN A.REQ_CARD_NO
    WHEN A.REQ_PAY_TYPE = 'D' THEN A.REQ_ACCOUNT_NUMBER
    ELSE ''
    END) AS blpymMthdIdntNo                     /* 납부방법식별번호 */
    , UPPER(A.CSTMR_NAME) AS blpymCustNm        /* 납부고객명 */
    , (CASE
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('1', '2', '5', '6') THEN
    '19' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('3', '4', '7', '8') THEN
    '20' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    END) AS blpymCustIdntNo                     /* 납부고객식별번호 */
    , '03' AS agreIndCd                         /* 동의자료코드 */
    , (CASE WHEN A.ONLINE_AUTH_TYPE = 'S' THEN '01'
    WHEN A.ONLINE_AUTH_TYPE = 'C' THEN '03'
    WHEN A.ONLINE_AUTH_TYPE = 'X' THEN '04'
    ELSE '03'
    END) AS myslAthnTypeCd                      /* 본인인증타입코드 */
    /*상품정보*/
    , A.SOC AS prdcCd                           /* 상품코드 */
    , 'P' AS prdcTypeCd                         /* 상품타입코드 */
    FROM NMCP_CUST_REQUEST_NAME_CHG@DL_MCP A
    , NMCP_CUST_REQUEST_MST@DL_MCP B
    , CMN_GRP_CD_MST GCM1
    , MSP_JUO_SUB_INFO SUB
    WHERE A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
    AND A.SELF_CERT_TYPE = GCM1.CD_VAL
    AND GCM1.GRP_ID = 'RCP2006'
    AND A.MCN_RES_NO = #{mcnResNo}
    AND B.CONTRACT_NUM = SUB.CONTRACT_NUM
  </select>

  <!-- 명의변경 사전체크 - 양수자가 미성년자-->
  <select id="getXmlMessageMC0Nm" parameterType="java.util.Map" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.MplatFormFMC0InfoResponse">
    /* mPlatformMapper.getXmlMessageMC0Nm */
    SELECT
    'osst:osstMcnPrechk' as operationName
    , 'OsstMcnPrechkInVO' as voName
    , 'OsstMcnChgPrcService' AS serviceName
    , 'MC0' AS appEventCd
    , (SELECT KT_ORG_ID FROM ORG_ORGN_INFO_MST WHERE ORGN_ID = '1100011741' AND ROWNUM = 1) AS asgnAgncId
    /*작업기준정보*/
    , LPAD(A.MCN_RES_NO, 14, '0') AS mvnoOrdNo  /* MVNO 오더번호 */
    , 'KIS' AS slsCmpnCd                        /* 판매회사코드 */
    , A.CSTMR_TYPE AS cstmrType                 /* 고객타입(NA,FN,NA,JP) */
    , SUB.CUSTOMER_ID AS custNo                 /* 고객번호 */
    , SUB.SVC_CNTR_NO AS svcContId              /* 계약번호 */
    , B.MOBILE_NO AS tlphNo                     /* 전화번호 */
    , A.MCN_STAT_RSN_CD AS mcnStatRsnCd         /* 명변 사유코드 */
    , A.USIM_SUCC_YN AS usimSuccYn              /* USIM 승계여부 */
    , A.ICC_ID AS iccId                         /* USIM 일련번호 */
    /*양수인 고객정보*/
    , 'I' AS custTypeCd                         /* 양수인 고객유형코드 */
    , '01' AS custIdntNoIndCd                   /* 고객식별번호구분코드 */
    , TRIM(A.CSTMR_NATIVE_RRN) AS custIdntNo     /* 고객식별번호 */
    , UPPER(A.CSTMR_NAME) AS custNm             /* 고객명 */
    , A.SELF_INQRY_AGRM_YN AS myslAgreYn        /* 본인동의여부 */
    , 'COURT' AS nativeRlnamAthnEvdnPprCd       /* 실명인증증빙서류코드 - 미성년자는 COURT 고정*/
    , NVL(A.CSTMR_RECEIVE_TEL_FN || A.CSTMR_RECEIVE_TEL_MN || A.CSTMR_RECEIVE_TEL_RN, '') AS athnRqstcustCntplcNo   /* 인증요청고객연락처번호 */
    , '' AS rsdcrtIssuDate     /* 주민등록증발급일자 */
    , '' AS lcnsNo             /* 면허번호 */
    , '' AS lcnsRgnCd          /* 면허지역코드 */
    , '' AS mrtrPrsnNo         /* 유공자번호 */
    , (CASE WHEN A.CSTMR_TYPE = 'FN' THEN A.CSTMR_FOREIGNER_NATION ELSE '' END) AS nationalityCd      /* 외국인국적코드 */
    , (CASE WHEN A.CSTMR_TYPE = 'FN' THEN
    CASE
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('5', '6') THEN
    '19' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('7', '8') THEN
    '20' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    END
    END) AS fornBrthDate                        /* 외국인생일일자 */
    , 'Y' AS crdtInfoAgreYn                     /* 신용정보동의여부 */
    , 'Y' AS indvInfoInerPrcuseAgreYn           /* 개인정보활용동의여부 */
    , DECODE(A.CLAUSE_JEHU_FLAG, 'Y', 'Y', 'N') AS cnsgInfoAdvrRcvAgreYn                /* 위탁정보광고수신동의 */
    , DECODE(A.PERSONAL_INFO_COLLECT_AGREE, 'Y', 'Y', 'N') AS othcmpInfoAdvrRcvAgreYn   /* 타사정보광고수신동의 */
    , DECODE(A.CLAUSE_PRI_AD_FLAG, 'Y', 'Y', 'N') AS othcmpInfoAdvrCnsgAgreYn           /* 타사정보광고위탁동의 */
    , DECODE(A.OTHERS_TRNS_KT_AGREE, 'Y', 'Y', 'N') AS grpAgntBindSvcSbscAgreYn         /* 그룹사결합서비스가입동의 */
    , DECODE(A.OTHERS_AD_RECEIVE_AGREE, 'Y', 'Y', 'N') AS cardInsrPrdcAgreYn            /* 카드보험상품동의 */
    , DECODE(A.INDV_LOCA_PRV_AGREE, 'Y', 'Y', 'N') AS indvLocaPrvAgree                  /* 개인위치정보제공동의여부 */
    , 'N' AS olngDscnHynmtrAgreYn               /* 주유할인여부 */
    , 'N' AS wlfrDscnAplyAgreYn                 /* 복지할인신청동의 */
    , 'N' AS spamPrvdAgreYn                     /* 스팸제공동의 */
    , 'N' AS prttlpStlmUseAgreYn                /* 이동전화결제이용동의 */
    , 'N' AS prttlpStlmPwdUseAgreYn             /* 이동전화결제비밀번호동의 */
    , B.ETC_MOBILE AS wrlnTlphNo                /* 유선전화번호 */
    , (CASE
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('1', '2', '5', '6') THEN
    '19' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    WHEN SUBSTR(A.CSTMR_NATIVE_RRN, 7, 1) IN ('3', '4', '7', '8') THEN
    '20' || SUBSTR(A.CSTMR_NATIVE_RRN, 1, 6)
    END) AS brthDate                            /* 생일일자 */
    , A.REQ_INFO_CHG_YN AS custInfoChngYn       /* 고객정보변경여부 */
    /*미성년자일 때 법정대리인정보*/
    , C.NEE_AGENT_NAME as agntCustNm            /* 법정대리인 성명 */
    , (CASE
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('1', '2', '3', '4') THEN '1'
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('5', '6', '7', '8') THEN '4'
    ELSE ''
    END) AS agntCustIdfyNoType                  /* 법정대리인 식별번호 종류 1 (주민번호) , 4(외국인등록번호) */
    , C.NEE_AGENT_RRN as agntIdfyNoVal      /* 법정대리인 고객식별번호 */
    , (CASE WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('1', '3', '5', '7') THEN '1'
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('2', '4', '6', '8') THEN '2'
    END) agntPersonSexDiv                       /* 법정대리인 성별 1(남자), 2(여자) */
    , 'Y' as agntAgreYn                         /* 법정대리인 정보조회 동의여부 */
    , 'M' AS agntTelAthn                        /* 법정대리인 연락처 종류 M(모바일) , I(자택)*/
    , C.NEE_AGENT_TEL_NO AS agntTelNo           /* 대리인연락처 */
    , C.NEE_AGENT_TYPE_CD AS agntTypeCd         /* 법정대리인 유형 01(부), 02(모), 03(후견인), 04(연대보증인) */
    , C.NEE_AGENT_SELF_ISSU_EXPR_DT AS agntRsdcrtIssuDate /* 법정대리인 식별번호 발급일자 */
    , '03' AS agntRltnCd                        /* 대리인관계코드 03: 법정대리인(미성년일 경우), 04: 위탁대리인, 06: 일회성대리인 */
    , (CASE
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('1', '2', '5', '6') THEN
    '19' || SUBSTR(C.NEE_AGENT_RRN, 1, 6)
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('3', '4', '7', '8') THEN
    '20' || SUBSTR(C.NEE_AGENT_RRN, 1, 6)
    ELSE ''
    END) AS agntBrthDate                        /* 대리인생일일자 */
    , (SELECT ETC2 FROM CMN_GRP_CD_MST WHERE GRP_ID = 'RCP2006' AND CD_VAL = C.NEE_AGENT_SELF_CERT_TYPE) as agntRlnamAthnEvdnPprCd      /* 법정대리인실명인증증빙서류코드 */
    , (CASE WHEN C.NEE_AGENT_SELF_CERT_TYPE = '02' THEN SUBSTR(C.NEE_AGENT_SELF_ISSU_NUM, 0, 2) ELSE '' END) AS agntLicnsRgnCd     /* 법정대리인 면허지역코드 */
    , (CASE WHEN C.NEE_AGENT_SELF_CERT_TYPE = '02' THEN SUBSTR(C.NEE_AGENT_SELF_ISSU_NUM, 3) ELSE '' END) AS agntLicnsNo           /* 법정대리인 면허번호 */
    , (CASE WHEN C.NEE_AGENT_SELF_CERT_TYPE = '06' THEN C.NEE_AGENT_FOREIGNER_NATION ELSE '' END) AS agntNationalityCd             /* 법정대리인 국적코드 */
    , 'Y' AS myslfAthnYn                        /* 본인인증여부 */
    , C.NEE_AGENT_SELF_CSTMR_CI as ipinCi       /* 본인인증CI */
    , (SELECT ETC5 FROM CMN_GRP_CD_MST WHERE GRP_ID = 'RCP2001' AND CD_VAL = C.NEE_AGENT_ONLINE_AUTH_TYPE) AS onlineAthnDivCd    /* 본인인증 수단 */
    , DECODE(A.OTHERS_TRNS_AGREE, 'Y', 'Y', 'N') AS fnncDealAgreeYn     /* 금융거래시 KT 고객 추가 금융 혜택을 위한 정보 제공 동의 */
    , A.FATH_TRANSAC_ID AS fathTransacId        /* 안면인증 트랜잭션 아이디 */
    , '1100011741' AS cpntId                    /* 접점아이디 */
    /*미성년자일 때 청구계정정보*/
    , A.CSTMR_BILL_SEND_CODE AS rqsshtPprfrmCd  /* 청구서양식코드 */
    , DECODE(A.CSTMR_BILL_SEND_CODE, 'MB', B.MOBILE_NO, '') AS rqsshtTlphNo         /* 청구서발송전화번호 */
    , DECODE(A.CSTMR_BILL_SEND_CODE, 'CB', A.CSTMR_MAIL, '') AS rqsshtEmlAdrsNm     /* 청구서이메일주소명 */
    , A.CSTMR_POST AS billZipNo                 /* 청구우편번호 */
    , A.CSTMR_ADDR AS billFndtCntplcSbst        /* 청구기본연락처내용 - 주소 */
    , A.CSTMR_ADDR_DTL AS billMntCntplcSbst     /* 청구상세연락처내용 - 상세주소*/
    , A.REQ_PAY_TYPE AS blpymMthdCd             /* 납부방법코드 C: 신용카드, D: 계좌자동이체, R: 지로 */
    , DECODE(A.REQ_PAY_TYPE, 'C', '99', '21') AS duedatDateIndCd                            /* 납기일자구분코드 */
    , DECODE(A.REQ_PAY_TYPE, 'C', A.REQ_CARD_YY || A.REQ_CARD_MM, '') AS crdtCardExprDate   /* 신용카드만기일자 */
    , DECODE(A.REQ_PAY_TYPE, 'C', (SELECT EXPNSN_STR_VAL1 FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID = 'CRD' AND DTL_CD = A.REQ_CARD_COMPANY), '') AS crdtCardKindCd    /* 신용카드종류코드 */
    , DECODE(A.REQ_PAY_TYPE, 'D', (SELECT EXPNSN_STR_VAL1 FROM NMCP_CD_DTL@DL_MCP WHERE CD_GROUP_ID = 'BNK' AND DTL_CD = A.REQ_BANK), '') AS bankCd                    /* 은행코드 */
    , (CASE
    WHEN A.REQ_PAY_TYPE = 'C' THEN A.REQ_CARD_NO
    WHEN A.REQ_PAY_TYPE = 'D' THEN A.REQ_ACCOUNT_NUMBER
    ELSE ''
    END) AS blpymMthdIdntNo      /* 납부방법식별번호 */
    , C.NEE_AGENT_NAME as blpymCustNm    /* 납부고객명 */
    , (CASE
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('1', '2', '5', '6') THEN
    '19' || SUBSTR(C.NEE_AGENT_RRN, 1, 6)
    WHEN SUBSTR(C.NEE_AGENT_RRN, 7, 1) IN ('3', '4', '7', '8') THEN
    '20' || SUBSTR(C.NEE_AGENT_RRN, 1, 6)
    ELSE ''
    END) AS blpymCustIdntNo      /* 납부고객식별번호 */
    , '03' AS agreIndCd          /* 동의자료코드 */
    , (CASE
    WHEN C.NEE_AGENT_ONLINE_AUTH_TYPE = 'S' THEN '01'
    WHEN C.NEE_AGENT_ONLINE_AUTH_TYPE = 'C' THEN '03'
    WHEN C.NEE_AGENT_ONLINE_AUTH_TYPE = 'X' THEN '04'
    ELSE '03'
    END) AS myslAthnTypeCd      /* 본인인증타입코드 */
    /*상품정보*/
    , A.SOC AS prdcCd           /* 상품코드 */
    , 'P' AS prdcTypeCd         /* 상품타입코드 */
    FROM NMCP_CUST_REQUEST_NAME_CHG@DL_MCP A
    , NMCP_CUST_REQUEST_MST@DL_MCP B
    , NMCP_CUST_REQ_NAME_CHG_AGENT@DL_MCP C
    , MSP_JUO_SUB_INFO SUB
    WHERE A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
    AND A.CUST_REQ_SEQ = C.CUST_REQ_SEQ
    AND B.CONTRACT_NUM = SUB.CONTRACT_NUM
    AND A.MCN_RES_NO = #{mcnResNo}
  </select>

  <!-- 명의변경 -->
  <select id="getXmlMessageMcnMP0" parameterType="java.util.Map" resultType="com.ktmmobile.msf.domains.form.common.mplatform.vo.MplatFormFMC0InfoResponse">>
    /* mPlatformMapper.getXmlMessageMcnMP0 */
    SELECT
    'osst:osstMcnChg' as operationName
    , 'OsstMcnChgInVO' as voName
    , 'OsstMcnChgPrcService' AS serviceName
    , 'MP0' AS appEventCd
    , (SELECT KT_ORG_ID FROM ORG_ORGN_INFO_MST WHERE ORGN_ID = '1100011741' AND ROWNUM = 1) AS asgnAgncId         /* 대리점코드 */
    , '1100011741' AS cntpntCd              /* 접점코드 */
    , OSST.OSST_ORD_NO AS osstOrdNo        /* OSST 오더 번호 */
    , SUB.CUSTOMER_ID AS custNo            /* 양도인고객번호 */
    , SUB.SUBSCRIBER_NO AS tlphNo          /* 양도인 전화번호 */
    , SUB.SVC_CNTR_NO AS svcContId         /* 서비스계약번호(양도인 계약번호) */
    , A.RCV_CUST_NO AS rcvCustNo           /* 양수인고객번호 */
    , A.RCV_BILL_ACNT_NO AS rcvBillAcntNo  /* 양수인청구계정번호 */
    , A.MCN_STAT_RSN_CD AS mcnStatRsnCd    /* 명변 사유코드 */
    , A.ICC_ID AS iccId                    /* USIM 일련번호 */
    , 'N' AS usimPymnMthdCd                /* USIM 수납방법 코드 */
    , 'Y' AS docConfirmYn                  /* 증빙서류 확인 여부 */
    , 'Y' AS followupYn                    /* 사후점검 이행 여부 */
    , 'KIS' AS slsCmpnCd                   /* 판매회사코드 */
    , B.ETC_MOBILE AS cntplcNo             /* 연락처번호 - 양도인미납을위한연락처 */
    FROM NMCP_CUST_REQUEST_NAME_CHG@DL_MCP A
    , NMCP_CUST_REQUEST_MST@DL_MCP B
    , MCP_REQUEST_OSST@DL_MCP OSST
    , MSP_JUO_SUB_INFO SUB
    WHERE A.CUST_REQ_SEQ = B.CUST_REQ_SEQ
    AND B.CONTRACT_NUM = SUB.CONTRACT_NUM
    AND LPAD(A.MCN_RES_NO, 14, '0') = OSST.MVNO_ORD_NO
    AND OSST.SEQ = (SELECT MAX(SEQ) FROM MCP_REQUEST_OSST@DL_MCP WHERE MVNO_ORD_NO = LPAD(#{mcnResNo}, 14, '0') AND PRGR_STAT_CD = 'MC2' AND RSLT_CD = '0000')
    AND A.MCN_RES_NO = #{mcnResNo}
    AND ROWNUM = 1
  </select>

</mapper>
