<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.mcp.app.mapper.AppMapper">

	<select id="selectUsrRateInfo" parameterType="java.lang.String" resultType="java.util.Map">
	<!-- 사용자 요금제 정보를 가지고 온다. -->
		<![CDATA[
		SELECT A.USERID
			 , A.CNTR_MOBILE_NO
			 , A.SVC_CNTR_NO
			 , B.SOC
			 , C.RATE_NM
			 , C.RATE_CD
			 , C.DATA_TYPE
		FROM MCP_USER_CNTR_MNG A
			,MSP_JUO_FEATURE_INFO@DL_MSP B
			,MSP_RATE_MST@DL_MSP C
	 	WHERE A.SVC_CNTR_NO = #{contractNum}
	    AND B.CONTRACT_NUM = A.SVC_CNTR_NO
	   	AND B.SERVICE_TYPE = 'P'
	   	AND B.EXPIRATION_DATE > TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')
	   	AND B.SOC = C.RATE_CD
	   	]]>		
	</select>

</mapper>
