<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.mcp.etc.mapper.EventCodeMapper">

    <select id="selectEventCodeRateList" parameterType="com.ktmmobile.mcp.etc.dto.EventCodeRateDto" resultType="com.ktmmobile.mcp.etc.dto.EventCodeRateDto">
        /*EventCodeMapper.selectEventCodeRateList*/
        SELECT
        RATE_CD,
        RATE_NM
        FROM MSP_RATE_MST@DL_MSP
        WHERE PAY_CL_CD = 'PO'
        AND SERVICE_TYPE = 'P'
        AND APPL_END_DT = '99991231'
        <if test="searchNm != null and searchNm != ''">
            <if test="selectOpt == '01'" >
                AND RATE_CD = #{searchNm}
            </if>
            <if test="selectOpt == '02'" >
                AND RATE_NM LIKE '%'||#{searchNm}||'%'
            </if>
        </if>
    </select>

    <select id="selectEventCodeRateListByEcpSeq" parameterType="java.lang.Integer" resultType="com.ktmmobile.mcp.etc.dto.EventCodeRateDto">
        /*EventCodeMapper.selectEventCodeRateListByEcpSeq*/
        SELECT
            REL.RATE_CD,
            MST.RATE_NM
        FROM NMCP_EVENT_CODE_RATE_REL REL,
             MSP_RATE_MST@DL_MSP MST
        WHERE REL.RATE_CD = MST.RATE_CD
          AND REL.ECP_SEQ = #{ecpSeq}
          AND REL.DEL_YN = 'N'
    </select>

    <select id="selectEventCodePrmtListByEcpSeq" parameterType="java.lang.Integer" resultType="com.ktmmobile.mcp.etc.dto.EventCodePrmtDto">
        /*EventCodeMapper.selectEventCodePrmtListByEcpSeq*/
        SELECT
            REL.SEQ,
            REL.PRMT_ID,
            PRMT.PRMT_NM,
            REL.GIFT_TEXT,
            REL.MAIN_PRDT_ID,
            REL.GIFT_PRICE / 10000 AS GIFT_PRICE,
            TO_CHAR(TO_DATE(REL.PSTNG_START_DATE, 'YYYYMMDDHH24MISS'),'YYYY.MM.DD') AS PSTNG_PRMT_START_DATE,
            TO_CHAR(TO_DATE(REL.PSTNG_START_DATE, 'YYYYMMDDHH24MISS'),'HH24') AS PSTNG_PRMT_START_HOUR,
            TO_CHAR(TO_DATE(REL.PSTNG_END_DATE, 'YYYYMMDDHH24MISS'),'YYYY.MM.DD') AS PSTNG_PRMT_END_DATE,
            TO_CHAR(TO_DATE(REL.PSTNG_END_DATE, 'YYYYMMDDHH24MISS'),'HH24') AS PSTNG_PRMT_END_HOUR
        FROM NMCP_EVENT_CODE_PRMT_REL REL,
             MSP_GIFT_PRMT@DL_MSP PRMT
        WHERE REL.PRMT_ID = PRMT.PRMT_ID
          AND REL.ECP_SEQ = #{ecpSeq}
          AND REL.DEL_YN = 'N'
        ORDER BY REL.INDC_ODRG
    </select>

    <select id="selectRateEventCodePrmtMstXmlList" resultType="com.ktmmobile.mcp.etc.dto.RateEventCodePrmtDto">
        /*EventCodeMapper.selectRateEventCodePrmtMstXmlList*/
        SELECT
            ECP_SEQ,
            EVNT_CD,
            EVNT_NM,
            TO_CHAR(TO_DATE(PSTNG_START_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_START_DATE,
            TO_CHAR(TO_DATE(PSTNG_END_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_END_DATE,
            USE_YN,
            RECO_USE_YN,
            EXPOSED_TEXT
        FROM NMCP_EVENT_CODE_MST
        WHERE USE_YN = 'Y' AND DEL_YN = 'N'
    </select>

    <select id="selectRateEventCodePrmtXmlList" resultType="com.ktmmobile.mcp.etc.dto.RateEventCodePrmtDto">
        /*EventCodeMapper.selectRateEventCodePrmtXmlList*/
        SELECT
            A.ECP_SEQ
             , A.EVNT_CD
             , TO_CHAR(TO_DATE(A.PSTNG_START_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_START_DATE
             , TO_CHAR(TO_DATE(A.PSTNG_END_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_END_DATE
             , B.PRMT_ID
             , B.GIFT_TEXT
             , B.MAIN_PRDT_ID
             , (SELECT PRDT_NM FROM MSP_GIFT_PRDT@DL_MSP WHERE PRDT_ID = B.MAIN_PRDT_ID) AS MAIN_PRDT_NM
             , (SELECT WEB_URL FROM MSP_GIFT_PRDT@DL_MSP WHERE PRDT_ID = B.MAIN_PRDT_ID) AS MAIN_PRDT_IMG_URL
             , B.GIFT_PRICE
             , TO_CHAR(TO_DATE(B.PSTNG_START_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_START_DATE_PRMT
             , TO_CHAR(TO_DATE(B.PSTNG_END_DATE, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD HH24:MI:SS') AS PSTNG_END_DATE_PRMT
             , A.EXPOSED_TEXT
        FROM NMCP_EVENT_CODE_MST A, NMCP_EVENT_CODE_PRMT_REL B
        WHERE A.ECP_SEQ = B.ECP_SEQ(+)
          AND A.USE_YN = 'Y'
          AND A.DEL_YN = 'N'
          AND B.DEL_YN(+) = 'N'
        ORDER BY A.ECP_SEQ, B.INDC_ODRG
    </select>

    <select id="selectEventPrmtPrdtList" parameterType="java.lang.Integer" resultType="com.ktmmobile.mcp.etc.dto.EventCodePrmtDto">
        /*EventCodeMapper.selectEventPrmtPrdtList*/
        SELECT
            REL.SEQ,
            REL.PRMT_ID,
            PRDTREL.PRDT_ID,
            CASE
                WHEN PRDTREL.PRDT_ID = REL.MAIN_PRDT_ID THEN 'Y'
                ELSE 'N'
                END PRDT_MAIN_YN,
            PRDT.PRDT_NM,
            PRDT.USE_YN AS PRDT_USE_YN,
            PRDT.WEB_URL AS PRDT_WEB_URL
        FROM NMCP_EVENT_CODE_PRMT_REL REL,
             MSP_GIFT_PRMT_PRDT@DL_MSP PRDTREL,
             MSP_GIFT_PRDT@DL_MSP PRDT
        WHERE REL.PRMT_ID = PRDTREL.PRMT_ID
          AND PRDTREL.PRDT_ID = PRDT.PRDT_ID
          AND REL.ECP_SEQ = #{ecpSeq}
          AND REL.DEL_YN = 'N'
        ORDER BY REL.INDC_ODRG
    </select>

</mapper>