<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.mcp.payinfo.mapper.PayInfoMapper">

	<select id="selectSeq" resultType="java.lang.String">
		<!--  -->
		SELECT /*페이인포 시퀀스 채번*/
        TO_CHAR(SYSDATE, 'YYYYMMDD') || TRIM(TO_CHAR(SQ_MSP_PAYINFO_01.NEXTVAL@DL_MSP, '000000000000000000000')) AS RECSEQ
        FROM DUAL
	</select>

	<select id="selectMspJuoSubinfo" parameterType="com.ktmmobile.mcp.payinfo.dto.PayInfoDto" resultType="com.ktmmobile.mcp.payinfo.dto.EvidenceDto">
		<!--  -->
		SELECT
            BAN ,CONTRACT_NUM, SVC_CNTR_NO
        FROM MSP_JUO_SUB_INFO@DL_MSP
        WHERE SUBSCRIBER_NO = #{ctn}
        AND SUB_STATUS  <![CDATA[<>]]> 'C'
	</select>

	<select id="selectCheckEvidenceCount" parameterType="com.ktmmobile.mcp.payinfo.dto.EvidenceDto" resultType="java.lang.Integer">
		<!--  -->
		SELECT
            COUNT(CONTRACT_NUM)
        FROM CMN_KFTC_EVIDENCE@DL_MSP
        WHERE CONTRACT_NUM = #{contractNum}
	</select>

	<update id="updateEvidence" parameterType="com.ktmmobile.mcp.payinfo.dto.EvidenceDto">
		<!--  -->
		UPDATE
            CMN_KFTC_EVIDENCE@DL_MSP
        SET
            EXT = #{ext}
            , REAL_FILE_NM = #{realFileNm}
            , REAL_FILE_PATH = #{realFilePath}
            , RGST_DT = #{rgstDt}
            , VALID_DT = #{validDt}
            , RVISN_DTTM=  SYSDATE
            , RVISN_ID  = #{rvisnId}
            , APPROVAL_ID =''
            , APPROVAL_DT  =''
            , APPROVAL_MSG =''
            , APPROVAL_CD =''
        WHERE CONTRACT_NUM = #{contractNum}
	</update>

	<insert id="insertEvidence" parameterType="com.ktmmobile.mcp.payinfo.dto.EvidenceDto">
		<!--  -->
		<selectKey keyProperty="kftcEvidenceSeq" resultType="java.lang.String" order="BEFORE">
            SELECT CMN_KFTC_EVIDENCE_SEQ.NEXTVAL@DL_MSP FROM DUAL
        </selectKey>
        INSERT INTO CMN_KFTC_EVIDENCE@DL_MSP ( /*CMN_KFTC_EVIDENCE 테이블 데이터 등록*/
           BAN
           , CONTRACT_NUM
           , EXT
           , KFTC_EVIDENCE_SEQ
           , REAL_FILE_NM
           , REAL_FILE_PATH
           , REGST_DTTM
           , REGST_ID
           , REG_YN
           , RGST_DT
           , RGST_ID
           , RVISN_ID
           , RGST_INFLOW_CD
           , VALID_DT
           , EVIDENCE_TYPE_CD
        ) VALUES (
          #{ban}
          , #{contractNum}
          , #{ext}
          , #{kftcEvidenceSeq , jdbcType=NUMERIC}
          , #{realFileNm}
          , #{realFilePath}
          , SYSDATE
          , #{regstId}
          , #{regYn}
          , #{rgstDt}
          , #{rgstId}
          , #{rvisnId}
          , '0003'
          , #{validDt}
          , '0001'
         )
	</insert>

	<select id="callMspPayinfoImg" statementType="CALLABLE" parameterType="java.util.HashMap" resultType="java.util.Map">
		<!--  -->
        {CALL MSP_PAYINFO_IMG@DL_MSP(#{contractNum},#{reqBank},#{reqAccountNumber},#{ext},#{result})}
    </select>

</mapper>
