@charset "utf-8";
@import url("notosans.css");


ol, ul { list-style: none; }
* { margin: 0; padding: 0; }
html, body { height: 100%; }

input[type=checkbox] {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    padding: 0;
    cursor: pointer;
}

input.inputTxt { border: 1px solid #707070; height: 30px; }


/* //셀렉트 */
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:14px;cursor:pointer;line-height:20px;padding:5px 30px 5px 10px;border:1px solid #707070;color:#555555;background-image:url(../../images/wire/bul_select_arrow.png);background-repeat:no-repeat;;min-width:70px;background-position:right 10px top 50%;
    background-position-x: 96%;
    background-position-y: center;
    background-position: calc(100% - 10px) center;
    background-position: -webkit-calc(100% - 10px) center;
    background-position: -moz-calc(100% - 10px) center;
}
select {
 position:relative;
 z-index:1;
 width: 100%; /* 원하는 너비설정 */
 height: 30px;
 padding:0 31px 0 20px;
 padding:0 5px 0 5px\9;
 border: 0 none;
 border-radius: 0px; /* iOS 둥근모서리 제거 */
 -webkit-appearance: none; /* 네이티브 외형 감추기 */
 -moz-appearance: none;
 appearance: none;
 text-align:center;
 background: none;
 color:#555;

 height: auto\9;
 margin-top: 6px\9;
}
select:focus::-ms-value {background-color: transparent; color:#555;}

select option { color: #555; background: #fff; }
/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
 display: none;
}
.comm_sel { position:relative; display:inline-block; width: 185px; height:30px; vertical-align:middle; cursor:pointer; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 5; }
.comm_sel label { position:absolute; left:1px; top:1px; display:block; width:100%; height:28px; text-indent: -9999px; font-size: 1px; border: 1px solid #707070; color:#555; background: url("../../images/wire/bul_select_arrow.png") no-repeat 95% center; background-image: none\9; z-index: 0; }

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
select { padding:1px 31px 1px 20px; margin-top: 6px; height: auto; }
.comm_sel:after  { display:block !important; }
}

select:disabled {background:#ddd; color: #000;}
/* //셀렉트 */

#wireContainer { height: 100%; }
#wireHeader { position: relative; height: 139px; }
#wireContents { min-height: 100%; margin: -142px 0 -180px; }
#wireContents .contentsWrap { width: 100%; height: 100%; padding: 142px 0 180px; }
#wireContents .contentsWrap.subPage { padding: 142px 0 301px; }
#wireContents .contentsWrap .pageWrap { width: 1100px; margin: 0 auto; }
#wireFooter { position: relative; }

/* 레이아웃 */
#wireHeader { width: 100%; border-bottom: 3px solid #eb2227; }
#wireHeader .headerWrap { width: 1100px; margin: 0 auto; }
#wireHeader .wireLogo { padding-top: 30px; overflow: hidden; }
#wireHeader .wireLogo a { display: inline-block; margin: 1px; }
#wireHeader .wireLogo img { vertical-align: top; }
.wireGnb { position: relative; width: 100%; margin-top: 17px; }
.wireGnb .wireTotalMenu { position: absolute; left: 10px; top: 6px; }
.wireGnb .wireTotalMenu a { text-decoration: none; }
.wireGnb .wireTotalMenu .btnAll { display: block; width: 17px; height: 16px; text-indent: -9999px; font-size: 1px; background: url(../../images/wire/btn_gnb_category.png) 0 0 no-repeat; }
.wireGnb .wireTotalMenu .btnAll.on { background-position: 0 -340px; }
.wireGnb .wireTotalMenu .wireTotalList { position: absolute; left:-10px; top:34px; display:table; width: 1100px; padding: 20px 20px 38px; border: 3px solid #eb2227; background: #fff; z-index: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.wireGnb .wireTotalMenu .wireTotalList:before { content: ""; position: absolute; left: 20px; top: 62px; display: block; width: 1056px; height: 1px; background: #dddddd; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth { display:table-cell;  padding: 0 10px 0 10px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li { margin-top: 5px; padding-bottom: 16px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li > a { font-weight: bold; font-size: 16px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li .ttSubDepth { padding-top: 16px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li .ttSubDepth > li { margin-top: 16px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li .ttSubDepth > li a { font-size: 14px; }
.wireGnb .wireTotalMenu .wireTotalList .categoryDepth > li .ttSubDepth > li a:hover { color: #eb2227; }
.wireGnb .wireTotalMenu .wireTotalList .btnTotalX { position: absolute; right: 20px; bottom: 20px; display: block; width: 14px; height: 14px; text-indent: -9999px; font-size: 1px; background: url(../../images/wire/btn_x.png) 0 0 no-repeat; }
/*.wireGnb .wireMenu { display: table; width: 980px; margin-left: 120px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } */
.wireGnb .wireMenu {display: table;width: 1100px;margin-left: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.wireGnb .wireMenu:after { content: ""; display: block; height: 0; clear: both; }
.wireGnb .wireMenu a { text-decoration: none; vertical-align: top; }
.wireGnb .wireMenu > li { display: table-cell; height: 40px; padding-right: 90px; }
/*.wireGnb .wireMenu > li > a { font-size: 18px; font-weight: bold; color: #222; }*/
.wireGnb .wireMenu > li > a { font-size: 20px;  color: #222; }
.wireGnb .wireMenu > li > a:hover,
.wireGnb .wireMenu > li > a.on { color: #eb2227; }
.wireGnb .wireMenu > li .subDepth { display: none; position: absolute; left: 0; top: 40px; width: 100%; padding: 20px 40px; border-top: 3px solid #eb2227; border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; background: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 5; }
.wireGnb .wireMenu > li .subDepth .subDepthList { padding: 0 22px; }
.wireGnb .wireMenu > li .subDepth .subDepthList > li { float: left; margin: 0 15px; line-height: 25px; }
.wireGnb .wireMenu > li .subDepth .subDepthList > li > a { font-size: 15px; font-weight: bold; }
.wireGnb .wireMenu > li .subDepth .subDepthList > li > a.on,
.wireGnb .wireMenu > li .subDepth .subDepthList > li > a:hover { color: #eb2227; }

.wireBnr { position: relative; width: 100%; }
.wireBnr .swipe .swipe-wrap .clri img {/*  width: 100%; */ vertical-align: top; }
.wireBnr .btn_stop {position:absolute; bottom:20px; right:48%; padding:0; border:0; margin:0; margin-right:10px; width:30px; height:30px; background:url(../../images/wire/stop.png) no-repeat;cursor:pointer;margin:0;text-indent: -9999px;}
.wireBnr .btn_start {position:absolute; bottom:20px; right:48%; padding:0; border:0; margin:0; margin-right:10px; width:30px; height:30px; background:url(../../images/wire/play.png) no-repeat;cursor:pointer;margin:0;text-indent: -9999px;}
.wireBnr .banner_index { width:100%; position:absolute; bottom:25px; right:50%; text-align:right; box-sizing:border-box; }
.wireBnr .banner_index .btn_index { padding:0; border:0; margin-right:5px; width:16px; height:16px; background: transparent url(../../images/wire/btn_slide.png) 0 0 no-repeat; cursor:pointer;text-indent: -9999px; vertical-align: middle;}
.wireBnr .banner_index .active { width:35px; height:13px; background: transparent url(../../images/wire/btn_slide_on.png) 0 0 no-repeat; }
.wireBnr .banner_index { content:"";display:block; clear:both; }
.wireBnr .swipe .arrow_right {display: block;width:20px;height:37px;position:absolute;top:50%;right:20px;margin-top:-18px;cursor:pointer;text-indent:-9999px;font-size: 1px;overflow:hidden;background: url("../../images/wire/arw_right.png") no-repeat;}
.wireBnr .swipe .arrow_left {display: block;width:20px;height:37px;position:absolute;top:50%;left:20px;margin-top:-18px;cursor:pointer;text-indent:-9999px;font-size: 1px;overflow:hidden;background: url("../../images/wire/arw_left.png") no-repeat;}


/* 푸터 */
.foot_link { position:relative; width: 100%; }
.foot_link:after { content: ""; display: block; clear: both; height: 0; }
.foot_link .link_grp { float:left; padding-top: 3px; }
.foot_link .link_grp a { font-size: 12px; color: #ddd; vertical-align: middle; text-decoration: none; margin-right: 5px; }
.foot_link .link_grp .point_ft {color: #ed1c24; font-weight: bold;}
.foot_link .link_grp span { font-size: 12px; color: #ddd; vertical-align: middle; margin-right: 5px; }
.foot_link .comm_sel { float:right; }
/* 셀렉트 */
.foot_link select {
 position:relative;
 z-index:1;
 width: 100%; /* 원하는 너비설정 */
 height: 30px;
 padding:0 31px 0 20px;
 padding:0 5px 0 5px\9;
 border: 0 none;
 border-radius: 0px; /* iOS 둥근모서리 제거 */
 -webkit-appearance: none; /* 네이티브 외형 감추기 */
 -moz-appearance: none;
 appearance: none;
 text-align:center;
 background: none;
 color:#dddddd;

 height: auto\9;
 margin-top: 6px\9;
}
#family_site:focus::-ms-value {background-color: transparent; color:#dddddd;}

.foot_link option { color: #ddd; background: #636363; }
/* IE 10, 11의 네이티브 화살표 숨기기 */
.foot_link select::-ms-expand {
 display: none;
}
.foot_link .comm_sel { position:relative; display:inline-block; width: 185px; height:30px; vertical-align:middle; cursor:pointer; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; z-index: 5; }
.foot_link .comm_sel label { position:absolute; left:1px; top:1px; display:block; width:183px; height:28px; text-indent: -9999px; font-size: 1px; border: 1px solid #d3d3d3; background:#636363 url("../../images/wire/foot_select_arrow.png") no-repeat 95% center; background-image: none\9; z-index: 0; }

 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 .foot_link select { padding:1px 31px 1px 20px; margin-top: 6px; height: auto; }
 .foot_link .comm_sel:after  { display:block !important; }
}
.comp_info { width: 100%; margin-top: 10px; padding-top: 25px; border-top: 1px solid #939393; }
.comp_info:after { content: ""; display: block; clear: both; height: 0; }
.comp_info p { margin: 0; padding: 0; font-size: 12px; color: #dddddd; line-height: 1.7; }
.comp_info .info_txt { float: left; }
.comp_info .logo_grp { float: right; }
.comp_info .logo_grp a { margin-left: 17px; }
.comp_info .logo_grp span { margin-left: 17px; }
.comp_info .logo_grp .logo_grp_mark a { margin-left: 0px; }
.logo_grp .logo_grp_mark {float:left; width:440px; }
.logo_grp .logo_grp_kt {float:right;}
#wireFooter .foot_link .comm_sel label { top:0; }
#wireFooter { border-top: 3px solid #757575; padding-bottom: 30px; }
#wireFooter .foot_link { width: 1100px; margin: 0 auto; }
#wireFooter .foot_link .link_grp { padding-top: 12px; }
#wireFooter .foot_link .link_grp a { display: inline-block; font-family: "NotoKrR"; font-size: 13px; color: #555555; }
#wireFooter .foot_link .link_grp span { display: inline-block; font-family: "NotoKrR"; font-size: 13px; color: #555555; margin-top: -3px; }
#wireFooter .foot_link .link_grp .point_ft { color: #eb2227; font-weight: normal; }
#wireFooter .foot_link select { font-family: "Arial"; font-size: 13px; color: #555; }
#wireFooter .foot_link option { color: #555; background: #fff; }
#wireFooter .foot_link .comm_sel { margin-top: 8px; }
#wireFooter .foot_link .comm_sel label { background:#fff url("../../images/wire/foot_select_arrow.png") no-repeat 95% center; }
#wireFooter .comp_info { border-top: 1px solid #dddddd; }
#wireFooter .comp_info .foot_wrap { width: 1100px; margin: 0 auto; }
#wireFooter .comp_info .foot_wrap .foot_logo { float: right; padding-top: 25px; }
#wireFooter .comp_info .foot_wrap .info_txt { /* margin-left: 30px; */ padding-top: 5px; }
#wireFooter .comp_info .foot_wrap .info_txt p { font-family: "NotoKrR"; color: #555; font-size: 13px; line-height: 1.9; }
#wireFooter .logo_grp { float: left; margin-left: 20px; padding-left: 20px; border-left: 1px solid #dddddd; height: 72px;}
#wireFooter .logo_grp span { margin-left: 0; }
#wireFooter .logo_grp .logo_grp_mark { float: none; width: auto;margin-top: 10px; }
#wireFooter .logo_grp .logo_grp_mark a { display: inline-block; text-decoration: none; margin-top: 10px; }
#wireFooter .logo_grp .logo_grp_mark a span { vertical-align: middle; font-family: "NotoKrR"; color: #555; font-size: 13px; }
#wireFooter .logo_grp .logo_grp_mark a .img_fgr { display: inline-block; text-align: center; width: 36px; margin-right: 5px; }
#wireFooter .logo_grp .logo_grp_mark a .img_fgr img { vertical-align: top; }

/* wire 메인 */
.wireMdContnt { width: 1100px; margin: 0 auto; padding-bottom: 80px; }
.wireTitle { padding-top: 52px; font-family: "NotoKrM"; font-size: 25px; color: #111; text-align: center; font-weight: normal; }
.wireTitle .addMsg { font-family: "NotoKrM"; font-size: 17px; color: #777; }
.wirePdtList { margin-top: 23px; text-align: center; }
.wirePdtList a { margin-right: 17px; }
.wirePdtList a.lastCld { margin-right: 0; }
.wirePdtList a img { vertical-align: middle; }
.wireMainAd { width: 100%; margin-top: 60px; }
.wireMainAd:after { content: ''; display: block; height: 0; clear: both; }
.wireMainAd .imgAd { float: left; }
.wireMainAd .wireContact { float: right; width: 540px; height: 122px; padding: 20px 0; background: #f0f9ff; }
.wireMainAd .wireContact .contactTitle { float: left; width: 145px; padding-top: 71px; font-family: "NotoKrM"; text-align: center; color: #111; font-size: 25px; background: url(../../images/wire/icon_join.png) center 19px no-repeat; }
.wireMainAd .wireContact .contactInfo { float: left; width: 334px; padding: 0 30px; border-left: 1px solid #dddddd; }
.wireMainAd .wireContact .contactInfo .tellN b { font-family: "NotoKrB"; color: #000; font-size: 30px; font-weight: normal; line-height: 1; vertical-align: middle; }
.wireMainAd .wireContact .contactInfo .tellN span { margin-left: 7px; font-family: "NotoKrR"; color: #777777; font-size: 15px; font-weight: normal; line-height: 1; vertical-align: middle; }
.wireMainAd .wireContact .contactInfo .contactMsg { margin-top: 10px; font-family: "NotoKrR"; color: #777777; font-size: 15px; font-weight: normal; line-height: 1.4; }
.wireMainAd .wireContact .contactInfo .joinBtn { display: block; margin-top: 10px; text-align: center; font-family: "NotoKrM"; color: #fff; font-size: 20px; background: #000; }
.wireMainAd .wireContact .contactInfo .joinBtn span { display: inline-block; padding-right: 20px; font-family: inherit; color: inherit; font-size: inherit; background: url(../../images/wire/bul_arr_r.png) right center no-repeat; }

.wireBtmContnt { width: 100%; padding-bottom: 80px; background: #f7f7f7; }
.wireJoinStep { width: 1100px; margin: 0 auto; }
.stepList { width: 100%; margin-top: 22px; }
.stepList:after { content: ''; display: block; height: 0; clear: both; }
.stepList > li { float: left; position: relative; width: 188px; height: 218px; margin-right: 37px; padding: 25px 0 30px; text-align: center; background:#fff url(../../images/wire/bg_rd_box.png) 0 0 no-repeat; }
.stepList > li:after { content: ''; display: block; position: absolute; right:-26px; top:50%; width: 14px; height: 13px; margin-top: -7px; background: url(../../images/wire/bul_join_step_arr.png) 0 0 no-repeat; }
.stepList > li.lastCld { margin-right: 0; }
.stepList > li.lastCld:after { display: none; }
.stepList > li .stepListTitle { font-size: 20px; color: #000; font-family: "NotoKrM"; font-weight: normal; }
.stepList > li .stepListSmry { margin-top: 14px; padding-top: 100px; font-size: 16px; color: #777777; font-family: "NotoKrR"; line-height: 1.5; }
.stepList > li .stepListSmry.wireStep01 { background: url(../../images/wire/icon_join_step_01.png) center 0 no-repeat; }
.stepList > li .stepListSmry.wireStep02 { background: url(../../images/wire/icon_join_step_02.png) center 0 no-repeat; }
.stepList > li .stepListSmry.wireStep03 { background: url(../../images/wire/icon_join_step_03.png) center 0 no-repeat; }
.stepList > li .stepListSmry.wireStep04 { background: url(../../images/wire/icon_join_step_04.png) center 0 no-repeat; }
.stepList > li .stepListSmry.wireStep05 { background: url(../../images/wire/icon_join_step_05.png) center 0 no-repeat; }

/* 컨텐츠 */
.lineBox { width: 1100px; margin: 60px auto 0; border: 1px solid #d3d3d3; }
.lineBox .titleLn { width: 100%; padding: 16px 30px; border-bottom: 1px solid #d3d3d3; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.lineBox .titleLn:after { content: ''; display: block; height: 0; clear: both; }
.lineBox .titleLn .titleTxt { float: left; margin-top: 3px; }
.lineBox .titleLn .titleTxt b { font-size: 20px; font-weight: bold; color: #000; }
.lineBox .titleLn .titleTxt span { font-size: 14px; color: #000; }
.lineBox .titleLn .btnAllView { float: right; padding: 7px 25px 9px; border: 1px solid #000; color: #fff; font-size: 14px; font-weight: bold; text-decoration: none; background: #4d4d4d; }

.listContents { position: relative; padding: 30px; }
.tabMenu { position: relative; width: 100%; }
.tabMenu:before { content: ''; display: block; width: 100%; height: 1px; clear: both; position: absolute; left:0; bottom:0; background: #ed1c24; }
.tabMenu:after { content: ''; display: block; height: 0; clear: both; }
.tabMenu > a { position: relative; float: left; width: 258px; height: 37px; padding-top: 13px; border: 1px solid #d3d3d3; border-bottom: 1px solid #ed1c24; text-decoration: none; text-align: center; font-size: 16px; color: #333333; font-weight: bold; background: #f9f9f9; }
.tabMenu > a.on { border: 1px solid #ed1c24; border-bottom: 1px solid #fff; color: #ed1c24; background: #fff; }
.tabMenu > a.tbaBtn02 { text-indent: -9999px; overflow: hidden; background: #f9f9f9 url(../../images/wire/btn_wire_tab_01.png) center 16px no-repeat; }
.tabMenu > a.tbaBtn02.on { background-color: #fff; background-position: center -466px; }
.tabMenu > a.tbaBtn03 { text-indent: -9999px; overflow: hidden; background: #f9f9f9 url(../../images/wire/btn_wire_tab_02.png) center 16px no-repeat; }
.tabMenu > a.tbaBtn03.on { background-color: #fff; background-position: center -466px; }
.tabMenu > a.tbaBtn04 { text-indent: -9999px; overflow: hidden; background: #f9f9f9 url(../../images/wire/btn_wire_tab_03.png) center 16px no-repeat; }
.tabMenu > a.tbaBtn04.on { background-color: #fff; background-position: center -465px; }
.listContents .check.topR { position: absolute; right:40px; top:45px; }
.listContents .check label { font-size: 14px; color: #000; }

.listBox { margin-top: 30px; border-top: 1px solid #d3d3d3; }
.listSort { display:table; width: 100%; padding: 20px 0; border-bottom: 1px solid #d3d3d3; }
.listSort > a { display: table-cell; width: 20%; padding: 13px 0; border-right: 1px solid #d3d3d3; color: #777777; font-size: 15px; font-weight: bold; text-align: center; }
.listSort > a span { display: inline-block; height: 23px; padding: 3px 0 0 35px; color: inherit; font-size: inherit; font-weight: inherit; }
.listSort > a.btnSort01 span { background: url(../../images/wire/icon_sort_01.png) 0 0 no-repeat; }
.listSort > a.btnSort02 span { background: url(../../images/wire/icon_sort_02.png) 0 0 no-repeat; }
.listSort > a.btnSort03 span { background: url(../../images/wire/icon_sort_03.png) 0 0 no-repeat; }
.listSort > a.btnSort04 span { background: url(../../images/wire/icon_sort_04.png) 0 0 no-repeat; }
.listSort > a.btnSort05 span { padding-left: 45px; background: url(../../images/wire/icon_sort_05.png) 0 0 no-repeat; }
.listSort > a.last {  border-right: 0 !important; }
.listSort > a.btnSort01:hover span,
.listSort > a.btnSort01.on span { color: #ed1c24; background-position: 0 -474px; }
.listSort > a.btnSort02:hover span,
.listSort > a.btnSort02.on span { color: #ed1c24; background-position: 0 -472px; }
.listSort > a.btnSort03:hover span,
.listSort > a.btnSort03.on span { color: #ed1c24; background-position: 0 -472px; }
.listSort > a.btnSort04:hover span,
.listSort > a.btnSort04.on span { color: #ed1c24; background-position: 0 -474px; }
.listSort > a.btnSort05:hover span,
.listSort > a.btnSort05.on span { color: #ed1c24; background-position: 0 -476px; }

.listSection > li { width: 100%; display: table; padding: 28px 30px; border-bottom: 1px solid #d3d3d3; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.listSection > li .imgFgr,
.listSection > li .pdtInfo,
.listSection > li .priceTxt,
.listSection > li .utilSection { display: table-cell; vertical-align: top; }
.listSection > li .imgFgr { width: 235px; text-align: left; vertical-align: middle;}
.listSection > li .pdtInfo { width: 405px; }
.listSection > li .pdtInfo .infoLnk { display: block; text-decoration: none; }
.listSection > li .pdtInfo .titleBox { display: block; }
.listSection > li .pdtInfo .titleBox .titleTxt { color: #111; margin-right: 3px; font-size: 25px; font-weight: bold; vertical-align: bottom; }
.listSection > li .pdtInfo .titleBox .optBox01,
.listSection > li .pdtInfo .titleBox .optBox02,
.listSection > li .pdtInfo .titleBox .optBox03 { display: inline-block; min-width: 55px; height: 19px; margin-left: 3px; padding: 3px 5px 0; font-size: 14px; vertical-align:bottom; text-align: center; }
.listSection > li .pdtInfo .titleBox .optBox01 { border: 1px solid #ed1c24; color: #ed1c24; font-family: "Arial"; }
.listSection > li .pdtInfo .titleBox .optBox02 { height: 20px; padding-top: 2px; border: 1px solid #a952ec; color: #a952ec; font-family: "NotoKrR"; font-size: 12px; }
.listSection > li .pdtInfo .titleBox .optBox03 { border: 1px solid #ff7800; color: #ff7800; font-family: "Arial"; }
.listSection > li .pdtInfo .titleBox .sticker { display: block; margin-bottom: 8px; vertical-align: middle; }
.listSection > li .pdtInfo .titleBox .sticker img { margin-right: 3px; }
.listSection > li .pdtInfo .txtBox { display: block; margin-top: 12px; color: #333333; font-size: 16px; line-height: 1.5; }
.listSection > li .priceTxt { width: 190px; text-align: center; vertical-align: middle; }
.listSection > li .priceTxt .priceNm { display: block; color: #ed1c24; font-size: 20px; }
.listSection > li .priceTxt .priceNm b { font-size: 28px; }
.listSection > li .priceTxt .vatTxt { display: block; color: #555; font-size: 14px; }
.listSection > li .utilSection { text-align: center; vertical-align: middle; }
.listSection > li .utilSection .check label { margin-right: 6px; }
.listSection > li .utilSection .btnGrp { padding-top: 3px; }
.listSection > li .utilSection .btnGrp a { margin-top: 10px; text-decoration: none; font-weight: bold; }
.listSection > li.lastCld { border-bottom: 0 none; padding-bottom: 0; }

.btnRed { display: inline-block; width: 105px; height: 29px; padding-top: 7px; border: 1px solid #db1d1d; font-size: 14px; color: #fff; text-align: center; background: #f41f1f; text-decoration: none; font-weight: bold; }
.btnBlue { display: inline-block; width: 105px; height: 29px; padding-top: 7px; border: 1px solid #1b63ab; font-size: 14px; color: #fff; text-align: center; background: #2074c9; text-decoration: none; font-weight: bold; }

/* 팝업 */
.blkPopup .popTitle { position: relative; height: 48px; padding: 12px 30px 0; background: #505050 url(../../images/wire/bg_pop_title.png) 0 0 no-repeat; }
.blkPopup .popTitle h1 { font-size: 24px; font-weight: bold; color: #fff; }
.blkPopup .popTitle .btnX { position: absolute; right:30px; top:20px; display: block; width: 21px; height: 21px; overflow: hidden; font-size: 0; text-indent: -9999px; background: url(../../images/wire/btn_pop_x.png) 0 0 no-repeat; }

.dim-layer.blkPopup .pop-layer .pop-container .popup_top2 { position: relative; height: 48px; padding: 12px 30px 0; background: #505050 url(../../images/wire/bg_pop_title.png) 0 0 no-repeat; }
.dim-layer.blkPopup .pop-layer .pop-container .popup_top2 .popup_title_h4 { font-size: 24px; font-weight: bold; color: #fff; line-height: 1.4; }

.blkPopup .popContents { padding: 0 0 15px; }
.subjectTxt { position: relative; margin-top: 22px; padding: 0 0 0 14px; font-size: 20px; font-weight: bold; color: #000; }
.subjectTxt:after { content: ''; display: block; position: absolute; left:0; top:5px; width: 4px; height: 19px;background: #000; }
.subjectTxt *  { font-size: inherit; font-weight: inherit; color: inherit; }
.subjectTxt span { font-weight: normal; font-size: 14px; }
.blkPopup .lineTable { margin-top: 10px; }

.lineTable { width: 100%; }
.lineTable table { width: 100%; border-left: 1px solid #d3d3d3; border-top: 1px solid #d3d3d3; border-collapse:collapse; border-spacing:0; }
.lineTable table caption { visibility:hidden; height:0; width:0; }
.lineTable table th { padding: 6px 15px; border-right: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; font-size: 14px; color: #000; background: #f9f9f9; }
.lineTable table th * { font-size: inherit; color: inherit; }
.lineTable table th.vaT { padding-top: 15px; vertical-align: top; }
.lineTable table th.vaT.vatTxt.completeTxt { font-size:30px; display: block; margin-left: auto; margin-right: auto; height:600px; top: 50%; transform: translateY(40%);  }
.lineTable table th span { line-height: 1; }
.lineTable table tbody th { text-align: left; }
.lineTable table th .compulsory { color: #ed1c24; font-size: inherit; }
.lineTable table td { padding: 6px 10px; border-right: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; }
.lineTable.type2 table thead th { padding: 9px 25px; }
.lineTable.type2 table td { padding: 9px 25px; }
.lineTable table .wishPdt .comm_sel { width: 150px; margin-right: 5px; }
.lineTable table .nameGrp .inputTxt { width: 150px; }
.lineTable table .usrPhoneGrp .inputTxt { width: 98px; }
.lineTable table .usrPhoneGrp span { vertical-align: baseline; }
.lineTable table .memoTxtArea .txtarea { height: 60px; border: 1px solid #707070; line-height: 1.3; color: #555555; letter-spacing: -1px; }
.lineTable table .secretBox { width: 100%; }
.lineTable table .secretBox:after { content: ''; display: block; height: 0; clear: both; }
.lineTable table .secretBox .secretFgr { float: left; border: 1px solid #d3d3d3; }
.lineTable table .secretBox .secretBtn { float: left; margin-left: 7px; }
.lineTable table .secretBox .secretBtn a { display: block; }
.lineTable table .secretBox .secretBtn a.lastEl { margin-top: 5px; }
.lineTable table .secretBox .secretBtn a img { vertical-align: middle; }
.lineTable table .secretBox .secretInpGrp { float: left; margin-left: 7px; }
.lineTable table .secretBox .secretInpGrp .inputTxt { border: 1px solid #707070; width: 175px; height: 53px; }
@media \0screen {
.lineTable table .secretBox .secretInpGrp .inputTxt { line-height: 42px; }
}
.wishPdtBox { width: 100%; }
.wishPdtBox:after { content: ''; display: block; height: 0; clear: both; }
.wishPdtBox .pdtInfo { float: left; width: 100px; margin-right: 8px; padding: 10px 5px 10px; border: 1px solid #e4e4e4; text-align: center; background: #f9f9f9; }
.wishPdtBox .pdtInfo .pdtTxt { height: 33px; }
.wishPdtBox .pdtInfo .pdtTxt b { display: block; font-size: 14px; color: #000; line-height: 1.1; }
.wishPdtBox .pdtInfo .pdtTxt span { font-size: 12px; color: #555555; line-height: 1.1; }
.wishPdtBox .pdtInfo .addTxt { font-weight: bold; font-size: 15px; color: #ed1c24; line-height: 1.1; }
.wishPdtBox .pdtInfo.lastChd { margin-right: 0; }
.tabBtmMsg { margin: 15px 0 0 10px; }
#joinProdInfo {height: 89px;}

.popBtnCt { margin-top: 20px; text-align: center; }
.popBtnCt .btnRed { width: 180px; height: 35px; text-decoration: none; font-weight: bold; color: #fff; font-size: 18px; text-align: center; }

/* redPopup */
.dim-layer.redPopup .pop-layer_red .red_top { position: relative; padding: 16px 40px 0 40px; height: 46px; }
.dim-layer.redPopup .pop-layer_red .red_top .red_title { margin-top: -2px; font-size: 30px; line-height: 1; }
.dim-layer.redPopup .pop-layer_red .red_top .red_title.ftSize { margin-top: 0; font-size: 24px; }
.dim-layer.redPopup .pop-layer_red .red_top .rTitle { position: absolute; right: 81px; top:50%; margin-top: -14px; font-size: 20px; font-weight: bold; color: #fff; text-align: right; }
.dim-layer.redPopup .pop-layer_red a.popup_cancel { right:40px; }
.dim-layer.redPopup .pop-layer_red .popup_content { padding: 0 40px 40px; border: 2px solid #ed1c24; border-top: 0 none; }
.dim-layer.redPopup .pop-layer_red .subjectTxt { margin-top: 40px; padding: 0 0 0 14px; }
.dim-layer.redPopup .pop-layer_red .subjectTxt.mtStyle { margin-top: 20px; }

.wrapBox { width: 816px; }
.wrapBox.wideBox { width: 876px; }
.topArticle { width: 100%; }
.topArticle:after { content: ''; display: block; height: 0; clear: both; }
.topArticle .boxGrp { float: left; margin-right: 10px; }
.topArticle .boxGrp.pdtType { width: 153px; }
.topArticle .boxGrp.pdtNm { width: 321px; }
.topArticle .boxGrp.memBenefit { width: 321px; margin-right: 0; }
.topArticle .boxGrp.memBenefit .lnBox { padding-top: 32px; height: 84px; border-color: #ed1c24; }
.topArticle .infoGrp { margin-top: 13px; }
.topArticle .infoGrp .lnBox { padding-top: 40px; height: 76px; border: 1px solid #999999; font-size: 22px; color: #000; font-weight: bold; text-align: center; }
.topArticle .infoGrp .lnBox .pointMsg { color: #ed1c24; }
.topArticle .infoGrp .lnBox .addMsg { color: #555555; font-size: 14px; }

.topArticle.union .boxGrp.pdtType .infoGrp { position: relative; }
.topArticle.union .boxGrp.pdtType .infoGrp:after { content: ''; display: block; position: absolute; left:50%; top:50%; width: 27px; height: 27px; margin: -13px 0 0 -13px; background: url(../../images/wire/bg_plus.png) 0 0 no-repeat; }
.topArticle.union .boxGrp.pdtType .lnBox,
.topArticle.union .boxGrp.pdtNm .lnBox { padding-top: 10px; height: 42px; }
.topArticle.union .boxGrp .lnBox + .lnBox { margin-top: 10px; }

/* 테이블 */
.dataLnTb { width: 100%; margin-top: 14px; }
.dataLnTb table { width: 100%; border-left: 1px solid #d3d3d3; border-top: 1px solid #d3d3d3; border-collapse: collapse;}
.dataLnTb table caption { display: none; }
.dataLnTb table th { line-height: 1.3; font-weight: bold; background: #f9f9f9; }
.dataLnTb table th span { display: block; font-weight: normal; font-size: 14px; color: #777777; }
.dataLnTb table th,
.dataLnTb table td { padding: 6px 10px 8px; font-size: 16px; color: #333; border-right: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; text-align: center; }
.dataLnTb table td span { font-size: 14px; color: #777777; }
.dataLnTb table .bgR td { background: #fff3f2; }
.dataLnTb table .taL { text-align: left; }
.dataLnTb table ul li { line-height: 1.4; }
.dataLnTb table .txtBox p { line-height: 1.5; }
.dataLnTb table .txtBox p.mt { margin-top: 12px; }
.dataLnTb.type2 table thead th { padding: 10px 0 14px; font-size: 14px; }
.dataLnTb.type2 table td { padding: 8px 10px 10px; font-size: 14px; }

.dataLnTb.type3 table th { font-size: 14px; color: #333; }
.dataLnTb.type3 table thead .hPadd th { padding: 14px 0 17px; }
.dataLnTb.type3 table thead th b { font-size: 16px; }
.dataLnTb.type3 table thead th span { color: #333; }
.dataLnTb.type3 table td { font-size: 14px; padding-bottom: 3px; }
.dataLnTb.type3 table td b { font-size: 16px; line-height: 1; }
.dataLnTb.type3 table td .lnThrough { display: block; color: #777777; text-decoration: line-through; line-height: 1; }

.dim-layer .pop-layer_red .referMsg { margin-top: 10px; text-align: right; color: #666; }

.listStyle { margin-top: 21px; font-size: 16px; color: #333;  }
.listStyle * { font-size: inherit; color: inherit; }
.listStyle li { text-indent: -12px; padding-left: 12px; }
.listStyle .redFt { color: #ed1c24; }

/* 간편가입 고정바 */
.MoveBar { width:100%; position:fixed; bottom:0; left:0; z-index:1000; overflow-x:hidden; min-width:1100px; }
.wireJoinBar {position:fixed;  min-width:1100px; border-top:1px solid #333333; border-bottom:1px solid #333333; background-color:#222222; padding:0; margin:0;}
.wireJoinBar H2 { position:absolute; left:-9999px; width:1px; height:1px; font-size:0; over-flow:hidden;}
.JoinBarInner { position:relative; display:block; width:1100px; height: 99px; margin:0 auto; padding: 0; color:#fff; }
.JoinBarInner p { position:absolute; display:inline-block; width:280px; float:left; }
.JoinBarInner p strong { display:block; font-family: "NotoKrM"; font-size: 22px; font-weight: normal;  margin:19px 0 5px 0; }
.JoinBarInner p span { font-family: "NotoKrL"; font-size: 14px; font-weight: normal;  letter-spacing:normal;}
.JoinBarInner .input-area { position:relative; display:inline-block; width:820px; float:right; margin-top:20px; }
.JoinBarInner .input-area .left {display:inline-block; float:left; }
.JoinBarInner .input-area .right {display:inline-block; float:right; }
.JoinBarTxt { padding:0; margin:0; }
.JoinBarTxt input::placeholder { color:#999999; }
.JoinBarTxt input.name { border: none; width: 120px; height: 31px; font-family:'맑은 고딕', 'Malgun-Gothic', Sans-serif; font-size: 13px; font-weight: normal;   letter-spacing :-0.0625em; margin:0 5px 0 0; padding:0 10px; }
.JoinBarTxt input.phone { border: none; width: 150px; height: 31px; font-family:'맑은 고딕', 'Malgun-Gothic', Sans-serif; font-size: 13px; font-weight: normal;   letter-spacing :-0.0625em; margin:0 5px 0 0; padding:0 10px; }
.JoinBarTxt input.txt { border: none; width: 370px; height: 31px; font-family:'맑은 고딕', 'Malgun-Gothic', Sans-serif; font-size: 13px; font-weight: normal;   letter-spacing :-0.0625em; margin:0; padding:0 10px; }
.JoinBarCheck {  font-family: "NotoKrR"; font-size: 13px; font-weight: normal; color:#c4c4c4; margin-top: 7px; letter-spacing:0.001em; }
.JoinBarCheck .detailView { font-family: "NotoKrR"; font-size: 13px; font-weight: normal;  color:#c4c4c4; border:0; background-color: #222; margin-left:10px; }
.btnJoinbar {display:block; width:151px; height:61px; background-image: url(../../images/wire/btn_joinbar.png); font-size:0; }

