<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"
                    defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %-50.50logger{50}:%4line : %m%n"/>
    <springProperty scope="context" name="ROOT_LOG_LEVEL" source="logging.level.root" defaultValue="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <appender name="RESULTSET_CONSOLE" class="com.ktmmobile.msf.appboot.logging.TruncatingResultSetTableAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
            <appender-ref ref="RESULTSET_CONSOLE"/>
        </logger>
    </springProfile>

    <root level="${ROOT_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
