<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.commoncode.adapter.repository.mybatis.msp.mapper.McpCommonCodeMapper">

  <select id="selectList" resultType="com.ktmmobile.msf.domains.commoncode.domain.entity.CommonCode">
    SELECT
      cd_group_id AS groupId,
      dtl_cd AS code,
      dtl_cd_nm AS codeName,
      use_yn AS useYn
    FROM NMCP_CD_DTL@DL_MCP
    ORDER BY cd_group_id, dtl_cd
  </select>

</mapper>
