<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.commoncode.adapter.repository.mybatis.msp.mapper.MspCommonCodeMapper">

  <select id="selectList" resultType="com.ktmmobile.msf.domains.commoncode.domain.entity.CommonCode">
    SELECT
      GRP_ID AS groupId,
      CD_VAL AS code,
      CD_DSC AS title,
      USG_YN AS useYn,
      ETC1 AS "detail.etcValue1",
      ETC2 AS "detail.etcValue2",
      ETC3 AS "detail.etcValue3"
    FROM CMN_GRP_CD_MST
    ORDER BY GRP_ID, CD_VAL
  </select>

</mapper>
