<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktmmobile.msf.domains.form.login.adapter.repository.mybatis.smartform.mapper.LoginMapper">

  <insert id="insertUserHistory">
    INSERT INTO msf_user_hst (
      user_id, cret_ip, cret_dt, cret_id, amd_ip, amd_dt, amd_id,
      user_nm, pwd, agent_cd, shop_cd, mobile_no, ip, email_adr,
      email_receive_yn, user_sttus_cd, access_limit_yn,
      access_limit_dt, login_chk_cnt, pwd_chg_yn, pwd_chg_dt, chg_dt
    )
    SELECT
      user_id, cret_ip, cret_dt, cret_id, amd_ip, amd_dt, amd_id,
      user_nm, pwd, COALESCE(agent_cd, 'NONE'),
      shop_cd, mobile_no, ip, email_adr,
      email_receive_yn, user_sttus_cd, access_limit_yn,
      access_limit_dt, login_chk_cnt, pwd_chg_yn, pwd_chg_dt, chg_dt
    FROM msf_user_info
    WHERE user_id = #{userId}
  </insert>

  <update id="updateUserPass">
    update msf_user_info
    set pwd = #{newPassword}
      , pwd_chg_dt = now()
      , pwd_chg_yn = 'Y'
      , login_chk_cnt = 0
    where 1=1
    and user_id = #{userId}
  </update>

  <select id="selectUserInfo" resultType="com.ktmmobile.msf.domains.form.login.application.dto.LoginResponse">
    select user_id
      , user_nm
      , agent_cd
      , shop_cd
      , mobile_no
      , ip
      , user_sttus_cd
      , access_limit_yn
      , COALESCE(login_chk_cnt, 0) + 1 as login_chk_cnt
      , pwd
      , case when pwd_chg_dt <![CDATA[<]]> now() - interval '3 months' then 'Y' else 'N' end as pwdChgYn
    from msf_user_info
    where 1=1
    and user_id = #{userId}
  </select>

  <select id="selectUserHstInfo" resultType="com.ktmmobile.msf.domains.form.login.application.dto.LoginResponse">
    select pwd
    from msf_user_hst
    where user_id = #{userId}
    and pwd_chg_yn = 'Y'
    order by amd_dt desc
    limit 1
  </select>

  <insert id="insertAdminUserHistory">
    INSERT INTO msf_admin_user_hst (
    admin_seq, cret_ip, cret_dt, cret_id, amd_ip, amd_dt, amd_id,
    orgn_type_cd, agent_cd, shop_cd, team_nm, admin_id, admin_nm,
    admin_pwd, tel_no, mobile_no, email_adr, email_receive_yn,
    ip, role_cd, user_sttus_cd, access_dt, pwd_chg_dt, pwd_chg_yn,
    otp_auth_yn, login_chk_cnt, otp_chk_cnt, stack_count
    )
    SELECT
    admin_seq, cret_ip, cret_dt, cret_id, amd_ip, amd_dt, amd_id,
    orgn_type_cd, agent_cd, shop_cd, team_nm, admin_id, admin_nm,
    admin_pwd, tel_no, mobile_no, email_adr, email_receive_yn,
    ip, role_cd, user_sttus_cd, access_dt, pwd_chg_dt, pwd_chg_yn,
    otp_auth_yn, login_chk_cnt, otp_chk_cnt, stack_count
    FROM msf_admin_user_info
    WHERE admin_id = #{userId}
  </insert>

  <update id="updateAdminUserPass">
    update msf_admin_user_info
    set admin_pwd = #{newPassword}
      , pwd_chg_dt = now()
      , pwd_chg_yn = 'Y'
      , login_chk_cnt = 0
    where 1=1
    and admin_id = #{userId}
  </update>

</mapper>
