<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:configuration/properties/*.properties</value>
			</list>
		</property>
	</bean>

	<!-- WAS에 jdbc pool 에서 Datasource 를 가져온다. -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="${jndi.name}"/>
    	<property name="lookupOnStartup" value="false"/>
		<property name="cache" value="false"/>
		<property name="proxyInterface" value="javax.sql.DataSource"/>
	</bean>

	<!-- sqlSession 팩토리 bean Datasource 당 한개만 설정해야됨  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:/mappers/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:/mappers/*Mapper.xml" />
	</bean>

	<!-- sqlSession bean -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

	<!-- Transaction manager 설정-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>


	<!--dataSource2 설정 -->
	<bean id="dataSource2" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="${evtjndi.name}"/>
    	<property name="lookupOnStartup" value="false"/>
		<property name="cache" value="false"/>
		<property name="proxyInterface" value="javax.sql.DataSource"/>
	</bean>

	<bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource2"/>
		<property name="configLocation" value="classpath:/eventMappers/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:/eventMappers/*Mapper.xml" />
	</bean>

	<bean id="sqlSession2" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory2" />
	</bean>

	<bean id="transactionManager2" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource2"/>
	</bean>

	<!-- annotation기반 트랜잭션 설정 -->
	<tx:annotation-driven />
</beans>