<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktmmobile.msf.commons.mybatis.mapper.CommonMapper">
	<resultMap id="simpleAuditingRowMapper" type="com.ktmmobile.msf.commons.auditing.data.vo.SimpleAuditing">
		<result property="registeredDate" column="cret_dt" />
		<result property="registeredIp" column="cret_ip" />
		<result property="modifiedDate" column="amd_dt" />
		<result property="modifiedIp" column="amd_ip" />
	</resultMap>

	<resultMap id="simpleAuditingAsAuditingRowMapper" type="com.ktmmobile.msf.commons.auditing.data.vo.Auditing">
    <result property="registeredDate" column="cret_dt" />
  		<result property="registeredIp" column="cret_ip" />
  		<result property="modifiedDate" column="amd_dt" />
  		<result property="modifiedIp" column="amd_ip" />
	</resultMap>

	<resultMap id="auditingRowMapper" type="com.ktmmobile.msf.commons.auditing.data.vo.Auditing">
    <result property="registeredDate" column="cret_dt" />
  		<result property="registeredIp" column="cret_ip" />
  		<result property="modifiedDate" column="amd_dt" />
  		<result property="modifiedIp" column="amd_ip" />

		<association property="registerer" javaType="com.ktmmobile.msf.commons.auditing.data.vo.Auditing$AuditTrail">
			<constructor>
				<arg column="regAdminUser_id" javaType="String" />
				<arg column="regAdminUser_nm" javaType="String" />
				<arg column="regFormUser_id" javaType="String" />
				<arg column="regFormUser_nm" javaType="String" />
				<arg column="cret_id" javaType="String" />
			</constructor>
		</association>

		<association property="modifier" javaType="com.ktmmobile.msf.commons.auditing.data.vo.Auditing$AuditTrail">
			<constructor>
				<arg column="modAdminUser_id" javaType="String" />
				<arg column="modAdminUser_nm" javaType="String" />
				<arg column="modFormUser_id" javaType="String" />
				<arg column="modFormUser_nm" javaType="String" />
				<arg column="amd_id" javaType="String" />
			</constructor>
		</association>
	</resultMap>

	<sql id="selectAuditColumns">
    ${regAdminUserAlias:regAdminUser}.admin_id AS ${regAdminUserAlias:regAdminUser}_id,
    ${regAdminUserAlias:regAdminUser}.admin_nm AS ${regAdminUserAlias:regAdminUser}_nm,
    ${regFormUserAlias:regFormUser}.user_id AS ${regFormUserAlias:regFormUser}_id,
    ${regFormUserAlias:regFormUser}.user_nm AS ${regFormUserAlias:regFormUser}_nm,
    ${auditTable}.cret_id,
    ${auditTable}.cret_dt,
    ${auditTable}.cret_ip,
    ${modAdminUserAlias:modAdminUser}.admin_id AS ${modAdminUserAlias:modAdminUser}_id,
    ${modAdminUserAlias:modAdminUser}.admin_nm AS ${modAdminUserAlias:modAdminUser}_nm,
    ${modFormUserAlias:modFormUser}.user_id AS ${modFormUserAlias:modFormUser}_id,
    ${modFormUserAlias:modFormUser}.user_nm AS ${modFormUserAlias:modFormUser}_nm,
    ${auditTable}.amd_id,
    ${auditTable}.amd_dt,
    ${auditTable}.amd_ip
	</sql>

	<sql id="selectSimpleAuditColumns">
    ${auditTable}.cret_dt,
    ${auditTable}.cret_ip,
    ${auditTable}.amd_dt,
    ${auditTable}.amd_ip
	</sql>

	<sql id="joiningAuditTables">
    LEFT JOIN msf_admin_user_info AS ${regAdminUserAlias:regAdminUser}
      ON (SPLIT_PART(${auditTable}.cret_id, '|', 1) = 'A'
        AND ${regAdminUserAlias:regAdminUser}.admin_id = SPLIT_PART(${auditTable}.cret_id, '|', 2))
    LEFT JOIN msf_admin_user_info AS ${modAdminUserAlias:modAdminUser}
      ON (SPLIT_PART(${auditTable}.amd_id, '|', 1) = 'A'
        AND ${modAdminUserAlias:modAdminUser}.admin_id = SPLIT_PART(${auditTable}.amd_id, '|', 2))
    LEFT JOIN msf_user_info AS ${regFormUserAlias:regFormUser}
      ON (SPLIT_PART(${auditTable}.cret_id, '|', 1) = 'F'
        AND ${regFormUserAlias:regFormUser}.user_id = SPLIT_PART(${auditTable}.cret_id, '|', 2))
    LEFT JOIN msf_user_info AS ${modFormUserAlias:modFormUser}
      ON (SPLIT_PART(${auditTable}.amd_id, '|', 1) = 'F'
        AND ${modFormUserAlias:modFormUser}.user_id = SPLIT_PART(${auditTable}.amd_id, '|', 2))
	</sql>

	<sql id="insertRegisteredAuditColumns">
    cret_dt,
    cret_id,
    cret_ip
	</sql>

  <sql id="insertModifiedAuditColumns">
     amd_dt,
     amd_id,
     amd_ip
 	</sql>

	<sql id="insertAuditColumns">
    <include refid="com.ktmmobile.msf.commons.mybatis.mapper.CommonMapper.insertRegisteredAuditColumns" />,
    <include refid="com.ktmmobile.msf.commons.mybatis.mapper.CommonMapper.insertModifiedAuditColumns" />
	</sql>

	<sql id="insertRegisteredAuditValues">
    NOW(),
    #{auditModifier},
    #{auditIp}
	</sql>

	<sql id="insertModifiedAuditValues">
    NOW(),
    #{auditModifier},
    #{auditIp}
	</sql>

	<sql id="insertAuditValues">
    <include refid="com.ktmmobile.msf.commons.mybatis.mapper.CommonMapper.insertRegisteredAuditValues" />,
    <include refid="com.ktmmobile.msf.commons.mybatis.mapper.CommonMapper.insertModifiedAuditValues" />
	</sql>

	<sql id="updateModifiedAuditSet">
    amd_dt = NOW(),
    amd_id = #{auditModifier},
    amd_ip = #{auditIp}
	</sql>
</mapper>
