<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktmmobile.msf.formSvcChg.mapper.SvcChgDataSharingApplyMapper">

    <!--
        데이터쉐어링 신규개통 신청서 저장.
        ASIS: AppformMapper.insertMcpRequest (MCP_REQUEST) → TOBE: MSF_REQUEST.
        SQ_REQUEST_KEY 로 requestKey 생성. RES_NO = requestKey 를 14자리 좌패딩.
        NOT NULL 필드 기본값:
          MANAGER_CD = '0', REQ_BUY_TYPE_CD = 'UU', SERVICE_TYPE_CD = 'PO',
          OPER_TYPE_CD = 'NAC3', CSTMR_TYPE_CD = 'NA', IDENTITY_CERT_TYPE_CD = 'S',
          ON_OFF_TYPE_CD = '7', PRO_STTUS_CD = '00', SBSC_PRO_CD = '00'.
    -->
    <insert id="insertMsfRequest" parameterType="map">
        <selectKey keyProperty="requestKey" resultType="long" order="BEFORE">
            SELECT nextval('SQ_REQUEST_KEY')
        </selectKey>
        INSERT INTO MSF_REQUEST (
            REQUEST_KEY,
            RES_NO,
            MANAGER_CD,
            AGENT_CD,
            CNTPNT_SHOP_CD,
            REQ_BUY_TYPE_CD,
            SERVICE_TYPE_CD,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            IDENTITY_CERT_TYPE_CD,
            ON_OFF_TYPE_CD,
            PRO_STTUS_CD,
            SBSC_PRO_CD,
            CONTRACT_NUM,
            PRNTS_CONTRACT_NUM,
            REQ_USIM_SN,
            CRET_DT,
            APP_FORM_YN,
            APP_FORM_XML_YN,
            REC_YN
        ) VALUES (
            #{requestKey},
            LPAD(#{requestKey}::text, 14, '0'),
            '0',
            #{agentCode, jdbcType=VARCHAR},
            #{cntpntShopId, jdbcType=VARCHAR},
            'UU',
            'PO',
            'NAC3',
            'NA',
            'S',
            '7',
            '00',
            '00',
            #{ncn, jdbcType=VARCHAR},
            #{ncn, jdbcType=VARCHAR},
            #{reqUsimSn, jdbcType=VARCHAR},
            NOW(),
            'N',
            'N',
            'N'
        )
    </insert>


    <!--
        OSST 연동 레코드 초기 생성.
        ASIS: AppformMapper.insertMcpRequestOsst (MCP_REQUEST_OSST) → TOBE: MSF_REQUEST_OSST.
        MSF_REQUEST_OSST PK = REQUEST_KEY (단일 레코드 per 신청서).
    -->
    <insert id="insertMsfRequestOsst"
            parameterType="com.ktmmobile.msf.formSvcChg.dto.SvcChgDataSharingOsstDto">
        INSERT INTO MSF_REQUEST_OSST (
            REQUEST_KEY,
            MVNO_ORD_NO,
            SVC_CNTR_NO,
            PRGR_STAT_CD,
            CRET_DT
        ) VALUES (
            #{requestKey},
            #{mvnoOrdNo},
            #{svcCntrNo},
            #{prgrStatCd},
            NOW()
        )
    </insert>


    <!--
        OSST 진행상태·결과 업데이트.
        NULL 이 아닌 필드만 SET.
    -->
    <update id="updateMsfRequestOsst"
            parameterType="com.ktmmobile.msf.formSvcChg.dto.SvcChgDataSharingOsstDto">
        UPDATE MSF_REQUEST_OSST
        SET AMD_DT = NOW()
        <if test="prgrStatCd != null">, PRGR_STAT_CD    = #{prgrStatCd}</if>
        <if test="osstOrdNo   != null">, OSST_ORD_NO    = #{osstOrdNo}</if>
        <if test="rsltCd      != null">, RSLT_CD        = #{rsltCd}</if>
        <if test="rsltMsg     != null">, RSLT_MSG       = #{rsltMsg}</if>
        <if test="tlphNo      != null">, TLPH_NO        = #{tlphNo}</if>
        <if test="tlphNoStatCd  != null">, TLPH_NO_STAT_CD     = #{tlphNoStatCd}</if>
        <if test="encdTlphNo    != null">, ENCD_TLPH_NO        = #{encdTlphNo}</if>
        <if test="tlphNoOwnCmpnCd != null">, TLPH_NO_OWN_CMPN_CD = #{tlphNoOwnCmpnCd}</if>
        <if test="asgnAgncId    != null">, ASGN_AGNC_ID        = #{asgnAgncId}</if>
        <if test="openSvcIndCd  != null">, OPEN_SVC_IND_CD     = #{openSvcIndCd}</if>
        <if test="nstepGlobalId != null">, NSTEP_GLOBAL_ID     = #{nstepGlobalId}</if>
        WHERE REQUEST_KEY = #{requestKey}
    </update>


    <!--
        OSST 레코드 단건 조회.
    -->
    <select id="getMsfRequestOsst"
            parameterType="long"
            resultType="com.ktmmobile.msf.formSvcChg.dto.SvcChgDataSharingOsstDto">
        SELECT
            REQUEST_KEY        AS requestKey,
            MVNO_ORD_NO        AS mvnoOrdNo,
            OSST_ORD_NO        AS osstOrdNo,
            PRGR_STAT_CD       AS prgrStatCd,
            SVC_CNTR_NO        AS svcCntrNo,
            RSLT_CD            AS rsltCd,
            RSLT_MSG           AS rsltMsg,
            TLPH_NO            AS tlphNo,
            TLPH_NO_STAT_CD    AS tlphNoStatCd,
            ENCD_TLPH_NO       AS encdTlphNo,
            TLPH_NO_OWN_CMPN_CD AS tlphNoOwnCmpnCd,
            ASGN_AGNC_ID       AS asgnAgncId,
            NSTEP_GLOBAL_ID    AS nstepGlobalId
        FROM MSF_REQUEST_OSST
        WHERE REQUEST_KEY = #{requestKey}
    </select>


    <!--
        신청서 마스터 단건 조회 (단계 연계용).
    -->
    <select id="getMsfRequest"
            parameterType="long"
            resultType="java.util.Map">
        SELECT
            REQUEST_KEY        AS "requestKey",
            RES_NO             AS "resNo",
            CONTRACT_NUM       AS "contractNum",
            PRNTS_CONTRACT_NUM AS "prntsContractNum",
            REQ_USIM_SN        AS "reqUsimSn",
            AGENT_CD           AS "agentCode",
            CNTPNT_SHOP_CD     AS "cntpntShopId"
        FROM MSF_REQUEST
        WHERE REQUEST_KEY = #{requestKey}
    </select>


    <!--
        신청서 마스터 업데이트 (개통번호, SCAN_ID 등).
    -->
    <update id="updateMsfRequest" parameterType="map">
        UPDATE MSF_REQUEST
        SET AMD_DT = NOW()
        <if test="openNo   != null">, OPEN_NO   = #{openNo}</if>
        <if test="scanId   != null">, SCAN_ID   = #{scanId}</if>
        <if test="proCd    != null">, PRO_STTUS_CD = #{proCd}</if>
        WHERE REQUEST_KEY = #{requestKey}
    </update>

</mapper>
