<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MaskingMapper">

  <insert id="insertMaskingRelease" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.MaskingDto">
    <selectKey keyProperty="maskingReleaseSeq" resultType="long" order="BEFORE">
      SELECT nextval('smartform.sq_masking_release_sqe')
    </selectKey>

    INSERT INTO smartform.msf_masking_release
    (
      masking_release_seq
      , cret_ip
      , cret_dt
      , cret_id
      , amd_ip
      , amd_id
      , amd_dt
      , user_id
      , auth_type_cd
      , ci
      , unmasking_start_dt
      , access_ip
      , unmasking_info
      , access_url
    )
    VALUES
    (
      #{maskingReleaseSeq}
      , #{accessIp}
      , now()
      , #{cretId}
      , #{accessIp}
      , #{amdId}
      , now()
      , #{userId}
      , #{authType}
      , #{ci}
      , now()
      , #{accessIp}
      , #{unmaskingInfo}
      , #{accessUrl}
    )
  </insert>

  <insert id="insertMaskingReleaseHist" parameterType="com.ktmmobile.msf.domains.form.form.common.dto.MaskingDto">
    <selectKey keyProperty="maskingReleaseSeq" resultType="long" order="BEFORE">
      SELECT nextval('smartform.sq_masking_release_sqe')
    </selectKey>

    INSERT INTO smartform.msf_masking_release
    (
      masking_release_seq
      , cret_ip
      , cret_dt
      , cret_id
      , amd_ip
      , amd_id
      , amd_dt
      , user_id
      , auth_type_cd
      , ci
      , unmasking_start_dt
      , access_ip
      , unmasking_info
      , access_url
    )
    VALUES
    (
      #{maskingReleaseSeq}
      , #{accessIp}
      , now()
      , #{cretId}
      , #{accessIp}
      , #{amdId}
      , now()
      , #{userId}
      , #{authType}
      , #{ci}
      , now()
      , #{accessIp}
      , #{unmaskingInfo}
      , #{accessUrl}
    )
  </insert>

</mapper>
