<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="NiceLogMapper">
    <!--<insert id="insertLog" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto">
    INSERT INTO NMCP_NICE_LOG (
       N_CERTIFY, N_AUTH_TYPE, N_IP,
       N_NAME, N_GENDER, N_BIRTH_DATE,
       N_BANK_CODE, N_ACCOUNT_NO, N_RESULT,
       N_ERROR_CODE, N_CRET_DT, N_REFERER)
    VALUES (
     #{nCertify} ,#{nAuthType} , #{nIp} ,
     #{nName} ,#{nGender} , #{nBirthDate} ,
     #{nBankCode} , #{nAccountNo} , #{nResult} ,
     #{nErrorCode} ,SYSDATE, #{nReferer}
     )
    </insert>-->


    <!--<insert id="insertMcpNiceHist" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" >
        <selectKey keyProperty="niceHistSeq" resultType="Long" order="BEFORE">
            SELECT SQ_HIST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MCP_NICE_HIST (
              NICE_HIST_SEQ            - -PK
            , REQ_SEQ                  - -?쇰젴踰덊샇 湲곕낯??            , RES_SEQ                  - -?붿껌 ?쇰젴踰덊샇
            , AUTH_TYPE                 - -?붿껌 援щ텇
            , NAME                     - -?몄쬆?깅챸
            , BIRTH_DATE               - -?몄쬆?앸뀈?붿씪
            , GENDER                   - -GENDER
            , NATIONAL_INFO            - -NATIONAL_INFO
            , DUP_INFO                 - -DUP_INFO
            , CONN_INFO                - -CONN_INFO
            , PARAM_R1                 - -?뚮씪硫뷀꽣 1
            , PARAM_R2                 - -?뚮씪硫뷀꽣 2
            , PARAM_R3                 - -?뚮씪硫뷀꽣 3
            , END_YN                   - -醫낅즺?щ?
            , N_REFERER                - -referer
            , RIP                      - -?깅줉?꾩씠??            , SYS_RDATE_DT             - -?깅줉??            , SYS_RDATE                - -?깅줉?쇱떆
            , RVISN_DTTM               - -?섏젙??            , COMPL_DTTM               - -?몄쬆 ?꾨즺??            , MOBILE_CO                - - ?대룞?ш뎄遺?紐⑤컮???몄쬆)
            , MOBILE_NO                - - ?대???踰덊샇(紐⑤컮???몄쬆)
        ) VALUES (
            #{niceHistSeq}
            , #{reqSeq}
            , #{resSeq}
            , #{authType}
            , #{name}
            , #{birthDate}
            , #{gender}
            , #{nationalInfo}
            , #{dupInfo}
            , #{connInfo}
            , #{paramR1}
            , #{paramR2}
            , #{paramR3}
            , 'N'
            , #{nReferer}
            , #{rip}
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            <choose>
                 <when test="sysRdate != null">
                    , #{sysRdate}
                 </when>
                 <otherwise>
                    , SYSDATE
                 </otherwise>
             </choose>
            , SYSDATE
            , SYSDATE
            , #{sMobileCo}
            , #{sMobileNo}
        )
    </insert>-->

    <!--<update id="updateMcpNiceHist" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" >
        UPDATE MCP_NICE_HIST SET
             RVISN_DTTM = SYSDATE                                      - -?섏젙??            <if test="reqSeq != null and reqSeq != ''">
               , REQ_SEQ = #{reqSeq}                                            - -?쇰젴踰덊샇 湲곕낯??            </if>
            <if test="resSeq != null and resSeq != ''">
               , RES_SEQ = #{resSeq}                                            - -?붿껌 ?쇰젴踰덊샇
            </if>
            <if test="authType != null and authType != ''">
               , AUTH_TYPE = #{authType}                                          - -?붿껌 援щ텇
            </if>
            <if test="gender != null and gender != ''">
              , GENDER = #{gender}                                             - -GENDER
            </if>
            <if test="nationalInfo != null and nationalInfo != ''">
               , NATIONAL_INFO = #{nationalInfo}                                - -NATIONAL_INFO
            </if>
             <if test="dupInfo != null and dupInfo != ''">
               , DUP_INFO = #{dupInfo}                                          - -DUP_INFO
            </if>
            <if test="connInfo != null and connInfo != ''">
               , CONN_INFO = #{connInfo}                                        - -CONN_INFO
            </if>
            <if test="endYn != null and endYn != ''">
                , END_YN = #{endYn}                                              - -醫낅즺?щ?
            </if>
            <if test='complYn != null and complYn == "Y"'>
                , COMPL_DTTM = SYSDATE                                           - -?몄쬆 ?꾨즺?쒓컙
            </if>
            <if test="toName != null and toName != ''">
                , NAME = #{toName}
            </if>
            <if test="toName != null and toName != ''">
                , BIRTH_DATE = #{toBirthDate}
            </if>
            <if test="paramR3 != null and paramR3 != ''">
                , PARAM_R3 = #{paramR3}
            </if>
            <if test="sysRdate != null">
                , SYS_RDATE = #{sysRdate}
            </if>
            <if test="nReferer != null">
                , N_REFERER = #{nReferer}
            </if>
        WHERE 1=1
            <if test="niceHistSeq != null and niceHistSeq > -1">
                AND NICE_HIST_SEQ = #{niceHistSeq}
            </if>
            <if test="name != null and name != ''">
                AND NAME = #{name}
            </if>
            <if test="birthDate != null and birthDate != ''">
                AND BIRTH_DATE = #{birthDate}
                AND END_YN = 'N' - -?쒖꽦???곹깭留?.
            </if>
            <if test="paramR3 != null and paramR3 != '' and -1 == niceHistSeq">
                AND PARAM_R3 = #{paramR3}
            </if>
    </update>-->

    <!--<select id="getMcpNiceHist"  parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto"  resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        SELECT
            NICE_HIST_SEQ
            , REQ_SEQ
            , RES_SEQ
            , AUTH_TYPE
            , NAME
            , BIRTH_DATE
            , GENDER
            , NATIONAL_INFO
            , DUP_INFO
            , CONN_INFO
            , PARAM_R1
            , PARAM_R2
            , PARAM_R3
            , END_YN
            , N_REFERER
            , RIP
            , SYS_RDATE_DT
            , SYS_RDATE
            , RVISN_DTTM
        FROM (
            SELECT
                NICE_HIST_SEQ
                , REQ_SEQ
                , RES_SEQ
                , AUTH_TYPE
                , NAME
                , BIRTH_DATE
                , GENDER
                , NATIONAL_INFO
                , DUP_INFO
                , CONN_INFO
                , PARAM_R1
                , PARAM_R2
                , PARAM_R3
                , END_YN
                , N_REFERER
                , RIP
                , SYS_RDATE_DT
                , SYS_RDATE
                , RVISN_DTTM
            FROM MCP_NICE_HIST
            WHERE 1=1
                <if test="niceHistSeq != null and niceHistSeq > -1">
                    AND NICE_HIST_SEQ = #{niceHistSeq}
                </if>
                <if test="name != null and name != ''">
                    AND NAME = #{name}
                </if>
                <if test="birthDate != null and birthDate != ''">
                    AND BIRTH_DATE = #{birthDate}
                </if>
                <if test="endYn != null and endYn != ''">
                    AND END_YN = #{endYn}
                </if>
                <if test="paramR3 != null and paramR3 != ''">
                    AND PARAM_R3 = #{paramR3}
                </if>
                <if test="resSeq != null and resSeq != ''">
                    AND RES_SEQ = #{resSeq}
                </if>
                AND SYS_RDATE >= (SYSDATE-1/24) - - 1?쒓컙 ??DATA留??좏슚
            ORDER BY SYS_RDATE DESC
        ) WHERE  ROWNUM =1
    </select>-->

    <!--<select id="getMcpNiceHistWithSeq" parameterType="java.lang.Long" resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        SELECT
             NICE_HIST_SEQ
            ,CONN_INFO
        FROM MCP_NICE_HIST
        WHERE NICE_HIST_SEQ = #{niceHistSeq}
        AND SYS_RDATE <![CDATA[>=]]> (SYSDATE-30/24/60) - - 30遺꾩쟾 DATA留??좏슚
    </select>-->

    <!--<select id="getMcpNiceHistTMP"  parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto"  resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        select /*李멸퀬 */
            sysdate,
                 (sysdate-1/24/60) "1遺???,
                 (sysdate-1/24/30) "2遺???,
                 (sysdate-1/24/12) "5遺???,
                 (sysdate-1/24/6) "10遺???,
                 (sysdate-1/144) "10遺???,
                 (sysdate-30/1440) "30遺???,
                 (sysdate-1/24) "1?쒓컙 ??,
                 trunc(sysdate-1) "1????,
                 trunc(sysdate-7) "7????,
                 trunc(sysdate-30) "30????,
                 trunc(sysdate+1)-6/24 "6AM ??,
                 trunc(sysdate+1)-2/24 "2PM ??
        from dual
    </select>-->

    <!-- ??꾧컻???좉퇋 SMS 蹂몄씤?몄쬆 ?뺣낫 以묐났 泥댄겕 -->
    <!--<select id="dupChkSelfSmsAuth" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" resultType="int">
        SELECT COUNT(*)
          FROM NMCP_SELF_SMS_AUTH
         WHERE REQUEST_KEY = #{requestKey}
    </select>-->

    <!-- ??꾧컻???좉퇋 SMS 蹂몄씤?몄쬆 ?뺣낫 -->
    <!--<insert id="insertSelfSmsAuth" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" >
        <selectKey keyProperty="selfSmsAuthSeq" resultType="Long" order="BEFORE">
            SELECT NMCP_SELF_SMS_AUTH_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO NMCP_SELF_SMS_AUTH (
              SELF_SMS_AUTH_SEQ        /*PK*/
            , REQUEST_KEY			   /*REQUEST_KEY*/
            , REQ_SEQ                  /*?쇰젴踰덊샇 湲곕낯??/
            , RES_SEQ                  /*?붿껌 ?쇰젴踰덊샇*/
            , AUTH_TYPE                /*?붿껌 援щ텇*/
            , NAME                     /*?몄쬆?깅챸*/
            , BIRTH_DATE               /*?몄쬆?앸뀈?붿씪*/
            , GENDER                   /*GENDER*/
            , NATIONAL_INFO            /*NATIONAL_INFO*/
            , DUP_INFO                 /*DUP_INFO*/
            , CONN_INFO                /*CONN_INFO*/
            , PARAM_R3                 /*smsAuth*/
            , N_REFERER                /*referer*/
            , RIP                      /*?깅줉?꾩씠??/
            , MOBILE_NO                /*?몄쬆?대??곕쾲??/
            , MOBILE_CO                /*?몄쬆?대??고넻?좎궗*/
            , AUTH_TIME                /*?몄쬆?쒓컙*/
        ) VALUES (
            #{selfSmsAuthSeq}
            , #{requestKey}
            , #{reqSeq}
            , #{resSeq}
            , #{authType}
            , #{name}
            , #{birthDate}
            , #{gender}
            , #{nationalInfo}
            , #{dupInfo}
            , #{connInfo}
            , #{paramR3}
            , #{nReferer}
            , #{rip}
            , #{sMobileNo}
            , #{sMobileCo}
            <choose>
                 <when test="sysRdate != null">
                    , #{sysRdate}
                 </when>
                 <otherwise>
                    , SYSDATE
                 </otherwise>
             </choose>
        )
    </insert>-->

    <!--<insert id="insertMcpNiceTryHist" parameterType="com.ktmmobile.mcp.common.dto.NiceTryLogDto" >
        <selectKey keyProperty="niceTryHistSeq" resultType="Long" order="BEFORE">
            SELECT SQ_NICE_TRY_HIST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MCP_NICE_TRY_HIST (
              NICE_TRY_HIST_SEQ       /*?쒕쾲 (PK)*/
            , REQ_SEQ                 /*?붿껌 ?쇰젴踰덊샇*/
            , RES_SEQ                 /*?묐떟 ?쇰젴踰덊샇*/
            , AUTH_TYPE               /*蹂몄씤?몄쬆 ?좏삎 (N: ?ㅼ씠踰꾩씤利앹꽌, A:?⑥뒪?몄쬆?? T: ?좎뒪?몄쬆??*/
            , NAME                    /*?몄쬆?깅챸*/
            , BIRTH_DATE              /*?몄쬆 ?앸뀈?붿씪*/
            , CONN_INFO               /*CID*/
            , N_REFERER               /*REFERER*/
            , RIP                     /*IP*/
            , SYS_RDATE_DT            /*?앹꽦??/
            , SYS_RDATE               /*?몄쬆 ?쒖옉 ?쇱떆*/
            , SUCC_YN                 /*?깃났,?ㅽ뙣?щ?*/
            , FNL_SUCC_YN             /*理쒖쥌 ?깃났,?ㅽ뙣 ?щ? (蹂몄씤?몄쬆???ъ슜???뺣낫? 怨좉컼?뺣낫 ?쇱튂 ?щ?)*/
        ) VALUES (
              #{niceTryHistSeq}
            , #{reqSeq}
            , #{resSeq}
            , #{authType}
            , #{name}
            , #{birthDate}
            , #{connInfo}
            , #{nReferer}
            , #{rip}
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            <choose>
                <when test="sysRdate != null">
                    , #{sysRdate}
                </when>
                <otherwise>
                    , SYSDATE
                </otherwise>
            </choose>
            , #{succYn}
            , 'N'
        )
    </insert>-->

    <!--<select id="getMcpNiceTryHist"  parameterType="com.ktmmobile.mcp.common.dto.NiceTryLogDto"  resultType="com.ktmmobile.mcp.common.dto.NiceTryLogDto">
        SELECT
            NICE_TRY_HIST_SEQ       /*?쒕쾲 (PK)*/
          , REQ_SEQ                 /*?붿껌 ?쇰젴踰덊샇*/
          , RES_SEQ                 /*?묐떟 ?쇰젴踰덊샇*/
          , AUTH_TYPE               /*蹂몄씤?몄쬆 ?좏삎*/
          , NAME                    /*?몄쬆?깅챸*/
          , BIRTH_DATE              /*?몄쬆 ?앸뀈?붿씪*/
          , CONN_INFO               /*CID*/
          , N_REFERER               /*?묒냽 URL*/
          , RIP                     /*?묒냽 IP*/
          , SYS_RDATE_DT            /*?앹꽦??/
          , SYS_RDATE               /*?몄쬆 ?쒖옉?쇱떆*/
          , RVISN_DTTM              /*?섏젙?쇱떆*/
          , SUCC_YN                 /*?깃났,?ㅽ뙣?щ?*/
          , FNL_SUCC_YN             /*理쒖쥌 ?깃났,?ㅽ뙣 ?щ? (蹂몄씤?몄쬆???ъ슜???뺣낫? 怨좉컼?뺣낫 ?쇱튂 ?щ?)*/
        FROM MCP_NICE_TRY_HIST
        WHERE 1=1
        AND SYS_RDATE_DT BETWEEN TO_CHAR(SYSDATE-1, 'YYYYMMDD') AND TO_CHAR(SYSDATE, 'YYYYMMDD')
        AND REQ_SEQ = #{reqSeq}
        AND RES_SEQ = #{resSeq}
        AND SYS_RDATE <![CDATA[>=]]> (SYSDATE-5/24/60) - - 5遺꾩쟾 DATA留??좏슚
        AND ROWNUM = 1
    </select>-->

    <!--<update id="updateMcpNiceTryHist" parameterType="com.ktmmobile.mcp.common.dto.NiceTryLogDto">
        UPDATE MCP_NICE_TRY_HIST SET
            RVISN_DTTM = SYSDATE
        <if test="reqSeq != null and reqSeq != ''">
            , REQ_SEQ = #{reqSeq}
        </if>
        <if test="resSeq != null and resSeq != ''">
            , RES_SEQ = #{resSeq}
        </if>
        <if test="name != null and name != ''">
            , NAME = #{name}
        </if>
        <if test="birthDate != null and birthDate != ''">
            , BIRTH_DATE = #{birthDate}
        </if>
        <if test="connInfo != null and connInfo != ''">
            , CONN_INFO = #{connInfo}
        </if>
        <if test="nReferer != null and nReferer != ''">
            , N_REFERER = #{nReferer}
        </if>
        <if test="sysRdate != null and sysRdate != ''">
            , SYS_RDATE = #{sysRdate}
        </if>
        <if test="fnlSuccYn != null and fnlSuccYn != ''">
            , FNL_SUCC_YN = #{fnlSuccYn}
        </if>
        WHERE 1=1
        AND NICE_TRY_HIST_SEQ = #{niceTryHistSeq}
    </update>-->


    <!--<select id="getMcpNiceHistWithReqSeq" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        SELECT
            NICE_HIST_SEQ            - -PK
            , REQ_SEQ                  - -?쇰젴踰덊샇 湲곕낯??             , RES_SEQ                  - -?붿껌 ?쇰젴踰덊샇
             , AUTH_TYPE                 - -?붿껌 援щ텇
             , NAME                     - -?몄쬆?깅챸
             , BIRTH_DATE               - -?몄쬆?앸뀈?붿씪
             , GENDER                   - -GENDER
             , NATIONAL_INFO            - -NATIONAL_INFO
             , DUP_INFO                 - -DUP_INFO
             , CONN_INFO                - -CONN_INFO
             , PARAM_R1                 - -?뚮씪硫뷀꽣 1
             , PARAM_R2                 - -?뚮씪硫뷀꽣 2
             , PARAM_R3                 - -?뚮씪硫뷀꽣 3
             , END_YN                   - -醫낅즺?щ?
             , N_REFERER                - -referer
             , RIP                      - -?깅줉?꾩씠??             , SYS_RDATE_DT             - -?깅줉??             , SYS_RDATE                - -?깅줉?쇱떆
             , RVISN_DTTM               - -?섏젙??             , COMPL_DTTM               - -?몄쬆 ?꾨즺??             , MOBILE_CO  as sMobileCo              - - ?대룞?ш뎄遺?紐⑤컮???몄쬆)
             , MOBILE_NO  as sMobileNo              - - ?대???踰덊샇(紐⑤컮???몄쬆)
        FROM MCP_NICE_HIST
        WHERE 1=1
          AND SYS_RDATE_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
          AND REQ_SEQ = #{reqSeq}
          AND RES_SEQ = #{resSeq}
          AND SYS_RDATE >= (SYSDATE-2/24/60) - - 2遺꾩쟾 DATA留??좏슚
          AND ROWNUM =1
    </select>-->

    <!--<select id="getMcpNiceHistWithReqSeq2" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        SELECT
            NICE_HIST_SEQ            - -PK
             , REQ_SEQ                  - -?쇰젴踰덊샇 湲곕낯??             , RES_SEQ                  - -?붿껌 ?쇰젴踰덊샇
             , AUTH_TYPE                 - -?붿껌 援щ텇
             , NAME                     - -?몄쬆?깅챸
             , BIRTH_DATE               - -?몄쬆?앸뀈?붿씪
             , GENDER                   - -GENDER
             , NATIONAL_INFO            - -NATIONAL_INFO
             , DUP_INFO                 - -DUP_INFO
             , CONN_INFO                - -CONN_INFO
             , PARAM_R1                 - -?뚮씪硫뷀꽣 1
             , PARAM_R2                 - -?뚮씪硫뷀꽣 2
             , PARAM_R3                 - -?뚮씪硫뷀꽣 3
             , END_YN                   - -醫낅즺?щ?
             , N_REFERER                - -referer
             , RIP                      - -?깅줉?꾩씠??             , SYS_RDATE_DT             - -?깅줉??             , SYS_RDATE                - -?깅줉?쇱떆
             , RVISN_DTTM               - -?섏젙??             , COMPL_DTTM               - -?몄쬆 ?꾨즺??             , MOBILE_CO  as sMobileCo              - - ?대룞?ш뎄遺?紐⑤컮???몄쬆)
             , MOBILE_NO  as sMobileNo              - - ?대???踰덊샇(紐⑤컮???몄쬆)
        FROM MCP_NICE_HIST
        WHERE 1=1
          AND SYS_RDATE_DT = TO_CHAR(SYSDATE-1, 'YYYYMMDD')
          AND REQ_SEQ = #{reqSeq}
          AND RES_SEQ = #{resSeq}
          AND SYS_RDATE >= (SYSDATE-2/24/60) - - 2遺꾩쟾 DATA留??좏슚
          AND ROWNUM =1
    </select>-->

    <!--<select id="getMcpNiceHistWithTime" parameterType="com.ktmmobile.mcp.common.dto.NiceLogDto" resultType="com.ktmmobile.mcp.common.dto.NiceLogDto">
        SELECT
               NICE_HIST_SEQ            - -PK
             , REQ_SEQ                  - -?쇰젴踰덊샇 湲곕낯??             , RES_SEQ                  - -?붿껌 ?쇰젴踰덊샇
             , AUTH_TYPE                 - -?붿껌 援щ텇
             , NAME                     - -?몄쬆?깅챸
             , BIRTH_DATE               - -?몄쬆?앸뀈?붿씪
             , GENDER                   - -GENDER
             , NATIONAL_INFO            - -NATIONAL_INFO
             , DUP_INFO                 - -DUP_INFO
             , CONN_INFO                - -CONN_INFO
             , PARAM_R1                 - -?뚮씪硫뷀꽣 1
             , PARAM_R2                 - -?뚮씪硫뷀꽣 2
             , PARAM_R3                 - -?뚮씪硫뷀꽣 3
             , END_YN                   - -醫낅즺?щ?
             , N_REFERER                - -referer
             , RIP                      - -?깅줉?꾩씠??             , SYS_RDATE_DT             - -?깅줉??             , SYS_RDATE                - -?깅줉?쇱떆
             , RVISN_DTTM               - -?섏젙??             , COMPL_DTTM               - -?몄쬆 ?꾨즺??             , MOBILE_CO  as sMobileCo              - - ?대룞?ш뎄遺?紐⑤컮???몄쬆)
             , MOBILE_NO  as sMobileNo              - - ?대???踰덊샇(紐⑤컮???몄쬆)
        FROM MCP_NICE_HIST
        WHERE 1=1
          AND SYS_RDATE_DT BETWEEN TO_CHAR(SYSDATE-1, 'YYYYMMDD') AND TO_CHAR(SYSDATE, 'YYYYMMDD')
          AND REQ_SEQ = #{reqSeq}
          AND RES_SEQ = #{resSeq}
          AND SYS_RDATE <![CDATA[>=]]> (SYSDATE-#{limitMinute}/24/60)
          AND ROWNUM = 1
    </select>-->

</mapper>
