<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CancelConsultMapper">
    <select id="countCancelConsult" parameterType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto" resultType="int">
        SELECT COUNT(*)
        FROM MCP_CANCEL_REQUEST
        WHERE 1=1
        AND (PROC_CD IS NULL OR PROC_CD != 'BK')
        <choose>
            <when test="contractNum == 'manual'">
                <if test="cancelMobileNo != null and cancelMobileNo != ''">
                    AND CANCEL_MOBILE_NO = #{cancelMobileNo}
                </if>
            </when>
            <otherwise>
                <if test="contractNum != null and contractNum != ''">
                    AND CONTRACT_NUM = #{contractNum}
                </if>
            </otherwise>
        </choose>
    </select>

    <!--<insert id="insertNmcpCustReqMst" parameterType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto">
        <!--<selectKey keyProperty="custReqSeq" resultType="java.lang.String" order="BEFORE">
            SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(NMCP_CUST_REQUEST_SEQ.NEXTVAL, 5, '0') FROM DUAL
        </selectKey>
        INSERT INTO NMCP_CUST_REQUEST_MST (
            CUST_REQ_SEQ
            , REQ_TYPE
            , USERID
            , CSTMR_NAME
            , MOBILE_NO
            , CSTMR_NATIVE_RRN
            , CONTRACT_NUM
            , CSTMR_TYPE
            , ONLINE_AUTH_TYPE
            , ONLINE_AUTH_INFO
            , CRET_ID
            , SYS_RDATE
        ) VALUES (
            #{custReqSeq}
            , 'CC'
            , #{regstId}
            , #{cstmrName}
            , #{cancelMobileNo}
            , #{cstmrNativeRrn}
            , #{contractNum}
            , #{cstmrType}
            , #{onlineAuthType}
            , #{onlineAuthInfo}
            , #{regstId}
            , SYSDATE
        )
    </insert>-->

    <!--<insert id="insertCancelConsult" parameterType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto">
        INSERT INTO MCP_CANCEL_REQUEST (
            CUST_REQ_SEQ
            , CSTMR_NAME
            , CONTRACT_NUM
            , ONLINE_AUTH_TYPE
            , ONLINE_AUTH_INFO
            , BENEFIT_AGREE_FLAG
            , CLAUSE_CNTR_DEL_FLAG
            , ETC_AGREE_FLAG
            , RECEIVE_MOBILE_NO
            , CANCEL_MOBILE_NO
            , SURVEY1_CD
            , SURVEY1_TEXT
            , SURVEY2_CD
            , SURVEY2_TEXT
            , SURVEY_SCORE
            , SURVEY_SUGGESTION
            , SYS_RDATE_DD
            , RIP
            , REGST_ID
            , REGST_DTTM
            , PROC_CD
        ) VALUES (
            #{custReqSeq}
            , #{cstmrName}
            , #{contractNum}
            , #{onlineAuthType}
            , #{onlineAuthInfo}
            , 'Y'
            , 'Y'
            , 'Y'
            , #{receiveMobileNo}
            , #{cancelMobileNo}
            , #{survey1Cd}
            , #{survey1Text}
            , #{survey2Cd}
            , #{survey2Text}
            , #{surveyScore}
            , #{surveySuggestion}
            , TO_CHAR(SYSDATE, 'YYYYMMDD')
            , #{rip}
            , #{regstId}
            , SYSDATE
            , 'RC'
        )
    </insert>-->

    <!--<select id="selectCancelConsultList" parameterType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto" resultType="com.ktmmobile.mcp.mypage.dto.CancelConsultDto">
        SELECT
            CSTMR_NAME,
            CANCEL_MOBILE_NO,
            REGST_DTTM,
            PROC_CD
        FROM MCP_CANCEL_REQUEST
        WHERE REGST_ID = #{regstId}
    </select>-->

    <select id="nextRequestKey" resultType="java.lang.Long">
        SELECT nextval('SQ_REQUEST_KEY')
    </select>

    <insert id="insertRequestCancel" parameterType="com.ktmmobile.msf.domains.form.form.termination.dto.TerminationInsertDto">
        INSERT INTO MSF_REQUEST_CANCEL (
            REQUEST_KEY,
            AGENT_CD,
            OPER_TYPE_CD,
            CSTMR_TYPE_CD,
            CANCEL_MOBILE_NO,
            CONTRACT_NUM,
            CSTMR_NM,
            RECEIVE_MOBILE_NO,
            RECEIVE_WAY_CD,
            CANCEL_USE_COMPANY_CD,
            PAY_AMT,
            PNLT_AMT,
            LAST_SUM_AMT,
            INSTAMT_MNTH_CNT,
            INSTAMT_MNTH_AMT,
            BENEFIT_AGREE_YN,
            CLAUSE_CNTR_DEL_YN,
            ETC_AGREE_YN,
            MEMO,
            REG_DATE,
            REGST_ID,
            REG_DT,
            PROC_CD,
            CRET_IP,
            CRET_ID,
            CRET_DT,
            AMD_IP,
            AMD_ID,
            AMD_DT
        ) VALUES (
            #{requestKey},
            #{agentCd},
            #{operTypeCd},
            #{cstmrTypeCd},
            #{cancelMobileNo},
            #{contractNum},
            #{cstmrNm},
            #{receiveMobileNo},
            #{receiveWayCd},
            #{cancelUseCompanyCd},
            #{payAmt},
            #{pnltAmt},
            #{lastSumAmt},
            #{instamtMnthCnt},
            #{instamtMnthAmt},
            #{benefitAgreeYn},
            #{clauseCntrDelYn},
            #{etcAgreeYn},
            #{memo},
            TO_CHAR(NOW(), 'YYYYMMDD'),
            #{regstId},
            NOW(),
            'RC',
            #{cretIp},
            #{cretId},
            NOW(),
            #{amdIp},
            #{amdId},
            NOW()
        )
    </insert>

</mapper>
