<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.commons.logincore.adapter.repository.mybatis.smartform.mapper.LoginCoreMapper">

  <select id="existsLimitedAccessIp" resultType="boolean">
    SELECT EXISTS (
      SELECT 1
      FROM msf_ip_limit
      WHERE access_ip = #{clientIp}
        AND limit_type_cd = 'LOGIN'
        AND (
          user_id IS NULL
          OR TRIM(user_id) = ''
          OR user_id = #{userId}
        )
    )
  </select>

</mapper>
