@import './base.css';

/* globals.css */
html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Noto Sans KR Variable', sans-serif;
}

#app {
  font-family: 'Noto Sans KR Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* 이미지 드래그 및 선택 막기 */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */

  /* 마우스 클릭/드래그 이벤트 자체를 막음 (선택 사항, 더 강력함) */
  pointer-events: none;
}

h3 {
  @apply text-lg font-semibold;
}

button {
  @apply cursor-pointer;
}

.page-center {
  @apply min-h-full flex flex-col items-center justify-center;
}

.page-step-panel {
  @apply w-full p-4 border-1 rounded-md bg-card text-card-foreground;
}
