<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyNameChgMapper">
    <insert id="insertNmcpCustReqMst" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto">
        <selectKey keyProperty="custReqSeq" resultType="java.lang.String" order="BEFORE">
            SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(NMCP_CUST_REQUEST_SEQ.NEXTVAL, 5, '0') FROM DUAL
        </selectKey>
        INSERT INTO NMCP_CUST_REQUEST_MST (
            CUST_REQ_SEQ
            , REQ_TYPE
            , USERID
            , CSTMR_NAME
            , MOBILE_NO
            , CSTMR_NATIVE_RRN
            , CONTRACT_NUM
            , CSTMR_TYPE
            , ONLINE_AUTH_TYPE
            , ONLINE_AUTH_INFO
            , CRET_ID
            , SYS_RDATE
            , ETC_MOBILE
        ) VALUES (
            #{custReqSeq}
            , 'NC'
            , #{userid}
            , #{grCstmrName}
            , #{mobileNo}
            , #{grCstmrNativeRrn}
            , #{contractNum}
            , #{grCstmrType}
            , #{grOnlineAuthType}
            , #{grOnlineAuthInfo}
            , #{userid}
            , SYSDATE
            , #{etcMobile}
        )
    </insert>


    <insert id="insertNmcpCustReqNameChg" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto">
        INSERT INTO NMCP_CUST_REQUEST_NAME_CHG (
            CUST_REQ_SEQ
            , CSTMR_NAME
            , CSTMR_TYPE
            , CSTMR_NATIVE_RRN
            , ONLINE_AUTH_TYPE
            , ONLINE_AUTH_INFO
            , CLAUSE_CNTR_DEL_FLAG
            , CLAUSE_PRI_COLLECT_FLAG
            , CLAUSE_PRI_OFFER_FLAG
            , CLAUSE_ESS_COLLECT_FLAG
            , CLAUSE_PRI_AD_FLAG
            , CLAUSE_JEHU_FLAG
            , REQ_INFO_CHG_YN
            , SOC
            , SOC_NM
            , CSTMR_POST
            , CSTMR_ADDR
            , CSTMR_ADDR_DTL
            , CSTMR_BILL_SEND_CODE
            , CSTMR_MAIL
            , REQ_PAY_TYPE
            , REQ_BANK
            , REQ_ACCOUNT_NUMBER
            , REQ_CARD_COMPANY
            , REQ_CARD_NO
            , REQ_CARD_YY
            , REQ_CARD_MM
            , SELF_CERT_TYPE
            , SELF_ISSU_EXPR_DT
            , SELF_ISSU_NUM
            , CSTMR_RECEIVE_TEL_FN
            , CSTMR_RECEIVE_TEL_MN
            , CSTMR_RECEIVE_TEL_RN
            , PROC_CD
            , CRET_ID
            , CRET_DTTM
            , JEHU_PROD_TYPE
            , PERSONAL_INFO_COLLECT_AGREE
            , OTHERS_TRNS_AGREE
            , OTHERS_TRNS_KT_AGREE
            , OTHERS_AD_RECEIVE_AGREE
            , CSTMR_FOREIGNER_NATION
            , SELF_INQRY_AGRM_YN
            , MCN_STAT_RSN_CD
            , USIM_SUCC_YN
            , ICC_ID
            , MCN_RES_NO
            , MCN_STATE_CODE
            , AGNT_TEL_NO
            , CLAUSE_FATH_FLAG
            , SELF_CSTMR_CI
            , FATH_TRANSAC_ID
            , FATH_CMPLT_NTFY_DT
            , FATH_TRG_YN
            , FATH_TEL_NO
        ) VALUES (
            #{custReqSeq}
            , #{cstmrName}
            , #{cstmrType}
            , #{cstmrNativeRrn}
            , #{onlineAuthType}
            , #{onlineAuthInfo}
            , #{clauseCntrDelFlag}
            , #{clausePriCollectFlag}
            , #{clausePriOfferFlag}
            , #{clauseEssCollectFlag}
            , #{clausePriAdFlag}
            , #{clauseJehuFlag}
            , #{reqInfoChgYn}
            , #{soc}
            , #{socNm}
            , #{cstmrPost}
            , #{cstmrAddr}
            , #{cstmrAddrDtl}
            , #{cstmrBillSendCode}
            , #{cstmrMail}
            , #{reqPayType}
            , #{reqBank}
            , #{reqAccountNumber}
            , #{reqCardCompany}
            , #{reqCardNo}
            , #{reqCardYy}
            , #{reqCardMm}
            , #{selfCertType}
            , #{selfIssuExprDt}
            , #{selfIssuNum}
            , #{cstmrReceiveTelFn}
            , #{cstmrReceiveTelMn}
            , #{cstmrReceiveTelRn}
            , 'RQ'
            , #{userid}
            , SYSDATE
            , #{jehuProdType}
            , #{personalInfoCollectAgree}
            , #{othersTrnsAgree}
            , #{othersTrnsKtAgree}
            , #{othersAdReceiveAgree}
            , #{cstmrForeignerNation}
            , #{selfInqryAgrmYn}
            , #{mcnStatRsnCd}
            , #{usimSuccYn}
            , #{iccId}
            , #{mcnResNo}
            , '00'
            , #{agntTelNo}
            , #{clauseFathFlag}
            , #{selfCstmrCi}
            , #{fathTransacId}
            , #{fathCmpltNtfyDt}
            , #{fathTrgYn}
            , #{fathTelNo}
        )
    </insert>

    <insert id="insertNmcpCustReqNameChgAgent" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto">
        INSERT INTO NMCP_CUST_REQ_NAME_CHG_AGENT (
            CUST_REQ_SEQ
        <if test="cstmrType == 'NM'">
            , NEE_AGENT_NAME
            , NEE_AGENT_RRN
            , NEE_AGENT_ONLINE_AUTH_TYPE
            , NEE_AGENT_ONLINE_AUTH_INFO
            , NEE_AGENT_TYPE_CD
            , NEE_AGENT_SELF_INQRY_AGRM_YN
            , NEE_AGENT_SELF_CERT_TYPE
            , NEE_AGENT_SELF_ISSU_EXPR_DT
            , NEE_AGENT_SELF_ISSU_NUM
            , NEE_AGENT_FOREIGNER_NATION
            , NEE_AGENT_TEL_NO
            , NEE_AGENT_SELF_CSTMR_CI
        </if>
        <if test="grCstmrType == 'NM'">
            , NOR_AGENT_NAME
            , NOR_AGENT_RRN
            , NOR_AGENT_ONLINE_AUTH_TYPE
            , NOR_AGENT_ONLINE_AUTH_INFO
            , NOR_AGENT_TYPE_CD
            , NOR_AGENT_SELF_INQRY_AGRM_YN
            , NOR_AGENT_TEL_NO
        </if>
            , CRET_ID
            , CRET_DTTM
        ) VALUES (
            #{custReqSeq}
        <if test="cstmrType == 'NM'">
            , #{minorAgentName}
            , #{minorAgentRrn}
            , #{onlineAuthType}
            , #{onlineAuthInfo}
            , #{minorAgentRelation}
            , #{minorAgentAgrmYn}
            , #{selfCertType}
            , #{selfIssuExprDt}
            , #{selfIssuNum}
            , #{cstmrForeignerNation}
            , #{minorAgentTel}
            , #{selfCstmrCi}
        </if>
        <if test="grCstmrType == 'NM'">
            , #{grMinorAgentName}
            , #{grMinorAgentRrn}
            , #{grOnlineAuthType}
            , #{grOnlineAuthInfo}
            , #{grMinorAgentRelation}
            , #{grMinorAgentAgrmYn}
            , #{grMinorAgentTel}
        </if>
            , #{userid}
            , SYSDATE
        )
    </insert>
    
    <update id="updateNmcpCustReqMst" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto">
        UPDATE NMCP_CUST_REQUEST_MST
        SET ONLINE_AUTH_TYPE = #{grOnlineAuthType}
          , ONLINE_AUTH_INFO = #{grOnlineAuthInfo}
        WHERE CUST_REQ_SEQ = #{custReqSeq}
    </update>

    <update id="updateNmcpCustReqNameChg" parameterType="com.ktmmobile.mcp.mypage.dto.MyNameChgReqDto">
        UPDATE NMCP_CUST_REQUEST_NAME_CHG
        SET ONLINE_AUTH_TYPE = #{onlineAuthType}
          , ONLINE_AUTH_INFO = #{onlineAuthInfo}
          , SELF_CERT_TYPE = #{selfCertType}
          , SELF_ISSU_EXPR_DT = #{selfIssuExprDt}
          , SELF_ISSU_NUM = #{selfIssuNum}
          , SELF_CSTMR_CI = #{selfCstmrCi}
        WHERE CUST_REQ_SEQ = #{custReqSeq}
    </update>
</mapper>
