<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktmmobile.msf.domains.form.main.adapter.repository.mybatis.smartform.mapper.FormMainMapper">

  <sql id="with_form_status">
    with nwchg as (
      select proc_cd
        from msf_request
       where cret_dt >= to_date(to_char(now(), 'YYYYMMDD'), 'YYYYMMDD')
         and cret_id = #{value}
    ), svchg as (
      select proc_cd
        from msf_request_svc_chg
       where cret_dt >= to_date(to_char(now(), 'YYYYMMDD'), 'YYYYMMDD')
         and cret_id = #{value}
    ), nmchg as (
      select proc_cd
        from msf_request_name_chg
       where cret_dt >= to_date(to_char(now(), 'YYYYMMDD'), 'YYYYMMDD')
         and cret_id = #{value}
    ), svcnl as (
      select proc_cd
        from msf_request_cancel
       where cret_dt >= to_date(to_char(now(), 'YYYYMMDD'), 'YYYYMMDD')
         and cret_id = #{value}
    )
  </sql>
  <select id="selectCountFormStatus" parameterType="string" resultType="com.ktmmobile.msf.domains.form.main.domain.entity.ChartCount">
    <include refid="with_form_status" />
    select 'RQ' as code, '신청완료' as name, sum(cnt) as count
      from (
            select count(*) as cnt from nwchg where proc_cd = 'RQ'
             union all
            select count(*) as cnt from svchg where proc_cd = 'RQ'
             union all
            select count(*) as cnt from nmchg where proc_cd = 'RQ'
             union all
            select count(*) as cnt from svcnl where proc_cd = 'RQ'
           )
     union all
    select 'CP' as code, '처리완료' as name, sum(cnt) as count
      from (
            select count(*) as cnt from nwchg where proc_cd = 'CP'
             union all
            select count(*) as cnt from svchg where proc_cd = 'CP'
             union all
            select count(*) as cnt from nmchg where proc_cd = 'CP'
             union all
            select count(*) as cnt from svcnl where proc_cd = 'CP'
           )
     union all
    select 'BK' as code, '신청취소' as name, sum(cnt) as count
      from (
            select count(*) as cnt from nwchg where proc_cd = 'BK'
             union all
            select count(*) as cnt from svchg where proc_cd = 'BK'
             union all
            select count(*) as cnt from nmchg where proc_cd = 'BK'
             union all
            select count(*) as cnt from svcnl where proc_cd = 'BK'
           )
  </select>

  <select id="selectCountFormService" parameterType="string" resultType="com.ktmmobile.msf.domains.form.main.domain.entity.ChartCount">
    <include refid="with_form_status" />
    select a.code, b.dtl_cd_nm as name, a.count
      from (
            select '1' as code, count(*) as count from nwchg
             union all
            select '2' as code, count(*) as count from svchg
             union all
            select '3' as code, count(*) as count from nmchg
             union all
            select '4' as code, count(*) as count from svcnl
           ) a
         , msf_cd_dtl b
     where a.code = b.dtl_cd
       and b.cd_group_id = 'FORM_TYPE_CD'
     order by a.code
  </select>

  <sql id="whereListNotice">
     where board_ctg_cd = 'NOTI'
       and view_yn = 'Y'
       and to_char(current_timestamp, 'YYYYMMDDHH24MISS') between start_date and end_date
    <if test="@org.springframework.util.StringUtils@hasText(category)">
       and sbst_ctg_cd = #{category}
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(startDate)">
       and board_write_dt <![CDATA[>=]]> to_timestamp(#{startDate} || ' 00:00:00.000', 'YYYY-MM-DD HH24:MI:SS.MS')
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(endDate)">
       and board_write_dt <![CDATA[<=]]> to_timestamp(#{endDate} || ' 23:59:59.999', 'YYYY-MM-DD HH24:MI:SS.MS')
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(value)">
       and (
               board_title ilike concat('%', #{value}, '%')
            or board_contents_sbst ilike concat('%', #{value}, '%')
           )
    </if>
  </sql>

  <select id="selectCountNotice" resultType="int">
    select count(board_seq)
      from msf_board_bas
    <include refid="whereListNotice" />
  </select>

  <select id="selectListNotice" resultType="com.ktmmobile.msf.domains.form.main.domain.entity.Board">
    select board_seq
         , board_ctg_cd
         , sbst_ctg_cd
         , sbst_sub_ctg_cd
         , board_title
         , view_yn
         , noti_yn
         , board_contents_sbst
         , board_writer_id
         , board_writer_nm
         , board_write_dt
         , img_nm
         , board_att_yn
         , board_hit_cnt
         , start_date
         , end_date
      from msf_board_bas
    <include refid="whereListNotice" />
     order by board_write_dt desc, board_seq desc
     limit #{page.rowSize} offset #{page.offset}
  </select>

  <update id="updateAddNoticeHits" parameterType="com.ktmmobile.msf.domains.form.main.application.dto.NoticeHitsRequest">
    update msf_board_bas
       set board_hit_cnt = coalesce(board_hit_cnt, 0) + 1
     where board_seq <foreach collection="ids" item="item" index="index" open="in (" separator="," close=")">#{item}</foreach>
  </update>

  <sql id="whereListQna">
     where del_yn != 'Y'
       and view_yn = 'Y'
       and (
               cret_view_yn = 'Y'
            or (cret_view_yn != 'Y' and qna_writer_id = #{loginId})
           )
    <if test="@org.springframework.util.StringUtils@hasText(category)">
       and qna_ctg_cd = #{category}
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(startDate)">
       and write_dt <![CDATA[>=]]> to_timestamp(#{startDate} || ' 00:00:00.000', 'YYYY-MM-DD HH24:MI:SS.MS')
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(endDate)">
       and write_dt <![CDATA[<=]]> to_timestamp(#{endDate} || ' 23:59:59.999', 'YYYY-MM-DD HH24:MI:SS.MS')
    </if>
    <if test="@org.springframework.util.StringUtils@hasText(value)">
       and (
               qna_title ilike concat('%', #{value}, '%')
            or qna_content_sbst ilike concat('%', #{value}, '%')
           )
    </if>
  </sql>

  <select id="selectCountQna" resultType="int">
    select count(qna_seq)
      from msf_qna_board_bas
    <include refid="whereListQna" />
  </select>

  <select id="selectListQna" resultType="com.ktmmobile.msf.domains.form.main.domain.entity.Qna">
    select qna_seq
         , qna_ctg_cd
         , qna_sub_ctg_cd
         , qna_title
         , qna_writer_id
         , qna_nm
         , write_dt
         , qna_content_sbst
         , ans_title
         , ans_content_sbst
         , cret_view_yn
         , ans_sttus_cd
         , ans_id
         , ans_nm
         , ans_org_id
         , ans_org_nm
         , ans_dt
         , board_hit_cnt
      from msf_qna_board_bas
    <include refid="whereListQna" />
     order by write_dt desc, qna_seq desc
     limit #{page.rowSize} offset #{page.offset}
  </select>

  <update id="updateAddQnaHits" parameterType="com.ktmmobile.msf.domains.form.main.application.dto.QnaHitsRequest">
    update msf_qna_board_bas
       set board_hit_cnt = coalesce(board_hit_cnt, 0) + 1
     where qna_seq <foreach collection="ids" item="item" index="index" open="in (" separator="," close=")">#{item}</foreach>
  </update>

  <insert id="insertQna" parameterType="com.ktmmobile.msf.domains.form.main.domain.entity.Qna">
    <selectKey keyProperty="qnaSeq" resultType="long" order="BEFORE">
      select nextval('sq_qna_board_seq'::regclass)
    </selectKey>
    insert into msf_qna_board_bas (
      qna_seq,
      qna_ctg_cd,
      qna_title,
      qna_writer_id,
      qna_nm,
      write_dt,
      qna_content_sbst,
      cret_view_yn,
      ans_sttus_cd,
      del_yn,
      view_yn,
      board_hit_cnt
    ) values (
      #{qnaSeq},
      #{qnaCtgCd},
      #{qnaTitle},
      #{qnaWriterId},
      #{qnaNm},
      current_timestamp,
      #{qnaContentSbst},
      #{cretViewYn},
      'R',
      'N',
      'Y',
      0
    )
  </insert>
</mapper>